{namespace browse}

/**
 * @param? pageType
 */
{template .pageType autoescape="false"}
  <input class="pagetype" type="hidden" name="pageType" value="{if $pageType}{$pageType}{else}SEARCH{/if}" />
{/template}