{namespace browse}

/**
 * @param? titleBar titleBar
 */
{template .titleBarWrapper autoescape="false"}
  {if $titleBar}
    <div class="browse-titlebar">
    	{call .titleBar data="all" /}
    </div>
  {/if}
{/template}

/**
 * @param? titleBar titleBar
 */
{template .titleBar autoescape="false"}
  {if $titleBar}
    <img src="{$titleBar}" alt="">
  {/if}
{/template}

