{namespace browse}
/**
 * @param? carousel1 carousel1
 * @param? carousel2 carousel2
 * @param? carouselPosition position
 * @param? carouselRatio ratio
 */
{template .topCarousels autoescape="false"}
  {if $carouselPosition == 'TOP'}
    {call browse.classedCarousels}
      {param carousel1:$carousel1 /}
      {param carousel2:$carousel2 /}
      {param cssclass:$carouselRatio?$carouselRatio:'top' /}
    {/call}
  {/if}
{/template}

