.yui-button{display:-moz-inline-box;display:inline-block;vertical-align:text-bottom}
.yui-button .first-child{display:block;*display:inline-block}
.yui-button button,.yui-button a{display:block;*display:inline-block;border:0;margin:0}
.yui-button button{background-color:transparent;*overflow:visible;cursor:pointer}
.yui-button a{text-decoration:none}