@font-face {
    font-family: 'Brandon Text';
    src: url('/assets/css/fonts/BrandonTextWeb-Bold.eot') format('embedded-opentype'),
         url('/assets/css/fonts/BrandonTextWeb-Bold.woff') format('woff'),
         url('/assets/css/fonts/BrandonTextWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('/assets/css/fonts/BrandonTextWeb-Regular.eot') format('embedded-opentype'),
         url('/assets/css/fonts/BrandonTextWeb-Regular.woff') format('woff'),
         url('/assets/css/fonts/BrandonTextWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('/assets/css/fonts/BrandonTextWeb-Medium.eot') format('embedded-opentype'),
         url('/assets/css/fonts/BrandonTextWeb-Medium.woff') format('woff'),
         url('/assets/css/fonts/BrandonTextWeb-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
