.contentModules .content-module:nth-child(n + 2) {
  margin-top: 35px;
}

.contentModules .content-module [data-component="carousel"] [data-component="carousel-mask"] {
  background-color: white;
  margin: 0 2px 36px;
}

.contentModules .content-module .module-header,
.contentModules .content-module .content .content-header {
  display: flex;
}

.contentModules .content-module .content .content-header {
  align-items: center;
  background-image: none;
  justify-content: space-between;
  background: #F2F3F4;
  margin: 0;
  margin-bottom: 10px;
  min-height: 40px;
  padding: 0 10px;
}

.contentModules .content-module h1 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}

.contentModules .content-module h3 {
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  margin: 0;
}

.contentModules .content-module .module-header {
  align-items: center;
  font-size: 25px;
  font-family: Verdana, Arial, sans-serif;
  text-transform: uppercase;
  padding: 10px;
}

.contentModules .content-module .module-header .module-text-banner {
  background-color: #eb202a;
  color: white;
  padding-left: 10px;
  padding-right: 15px;
  position: relative;
  text-transform: none;
}

.contentModules .content-module .module-header .module-text-banner::after {
  border-bottom: 13px solid #eb202a;
  border-top: 13px solid #eb202a;
  border-left: none;
  border-right: 10px solid transparent;
  content: '';
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
}

.contentModules .content-module .content .content-header h2 {
  margin: 0;
  font-family: Verdana, Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.contentModules .content-module .content-header .view-all {
  margin-left: 15px;
  align-items: center;
}

.contentModules .content-module .content-header .view-all a {
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.contentModules .content-module .module-header .module-title {
  margin-right: 15px;
}

.contentModules .content-module .content.hide-burst [data-component="carousel"] .burst {
  display: none;
}
