[data-component="drawer"] {
  width: 100%;
  position: relative;
}

[data-component="drawer"][data-drawer-columns="1"]{
	max-width: 500px;
    margin: auto;
}

[data-component="drawer"][data-drawer-columns="1"] li{
	list-style: none;
	padding: 0px 85px;
}
[data-component="drawer"][data-drawer-columns="1"] .drawer-content > ul{
	padding: 0;
	margin: 0;
}

[data-component="drawer"] .drawer-header {
    background-color: #fafafa;
    border-bottom: 1px solid #dcdcdc;
}

[data-component="drawer"] .drawer-header > li > div {
    text-align: center;
    color: #575860;
    font-size: 16px;
    line-height: 40px;
}
[data-component="drawer"] .drawer-header > li.active > div {
	line-height: 60px;
}
[data-component="drawer"] .drawer-header li+li {
   border-left: 2px solid #dcdcdc;
}

.drawer-content-loading {
	min-height: 62px;
}
.drawer-content-loading:before{
	content: url(/media_stat/images/navigation/spinner.gif);
}
.drawer-content > ul{
	background-image: linear-gradient(to top, #f3f3f3, #ffffff);
	border-bottom: 1px solid #dcdcdc;
    display: flex;
}
.drawer-content > ul li {
	min-height: 215px;
	width: 100%;
}
.drawer-content > ul li+li {
	border-left: 2px solid #dcdcdc;
}
.drawer-content .padding-bottom-15{
	padding-bottom: 15px;
}
[data-drawer-content],
[data-drawer-default] {
  overflow: hidden;
  display: block;
}

[data-component="drawer"] .drawer-header button.cancel, 
[data-component="drawer"] .drawer-header button.cancel span.offscreen {
  display: none;
}

[data-component="drawer"][data-drawer-columns="3"] [data-drawer-default] {
  padding: 0;
  margin: 0;
}

[data-component="drawer"][data-drawer-columns="3"] [data-drawer-default] > li,
[data-component="drawer"][data-drawer-columns="3"] .drawer-header > li {
  display: inline-block;
  padding: 0;
  vertical-align: top;
}

[data-component="drawer"][data-drawer-columns="3"] [data-drawer-default] > [data-drawer-default-content="address"], 
[data-component="drawer"][data-drawer-columns="3"] .drawer-header > #address-tab,
[data-component="drawer"][data-drawer-columns="3"] [data-drawer-default] > [data-drawer-default-content="timeslot"], 
[data-component="drawer"][data-drawer-columns="3"] .drawer-header > #timeslot-tab 
{
    width: 31.75%;
}

[data-component="drawer"][data-drawer-columns="3"] [data-drawer-default] > li, [data-component="drawer"][data-drawer-columns="3"] .drawer-header > li {
    width: 36%;
}

[data-component="drawer"] [data-drawer-default] > li.active, 
[data-component="drawer"] .drawer-header > li.active {
	width: 100% !important;
	border-left: none;
	height: 63px;
}
[data-component="drawer"] .drawer-header > li.active .close,
[data-component="drawer"] .drawer-row.active .close,
[data-component="drawer"] .drawer-header > li.active .cancel,
[data-component="drawer"] .drawer-row.active .cancel
{
    top: 0;
    display: inline-block;
    position: absolute;
}
[data-component="drawer"] .drawer-header > li.active .close,
[data-component="drawer"] .drawer-row.active .close{
	right: 10px;
}
[data-component="drawer"] .drawer-header > li.active .cancel,
[data-component="drawer"] .drawer-row.active .cancel {
	right: 145px;
}
[data-component="drawer"] .drawer-header > li.active .close .close-button,
[data-component="drawer"] .drawer-row.active .close .close-button{
	width: 120px;
}
[data-component="drawer"] .drawer-header > li.active .cancel .cancel-button,
[data-component="drawer"] .drawer-row.active .cancel .cancel-button{
	width: 80px;
    padding: 16px 0 16px 0;
    font-size: 14px;
}
[data-component="drawer"] [data-drawer-content] {
  position: relative;
  max-height: 0;
  margin-top: -1px;
  z-index: 1001;
  visibility: hidden;
}

[data-drawer-active] [data-drawer-default] {
  display: none;
}

/* active drawers */
[data-drawer-active="address"]  [data-drawer-content="address"] ,
[data-drawer-active="timeslot"] [data-drawer-content="timeslot"],
[data-drawer-active="payment"]  [data-drawer-content="payment"]  {
  max-height:10000px;
  visibility: visible;
}

[data-drawer-id],
[data-drawer-disabled] {
  position: relative;
}

[data-drawer-id]:before,
[data-drawer-disabled]:before {
  content: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: .8;
  z-index: 1000;
}

[data-drawer-active] [data-drawer-id]:before,
[data-drawer-active] [data-drawer-disabled]:before {
  content: '';
}

[data-drawer-active="address"]  [data-drawer-id="address"]:before,
[data-drawer-active="timeslot"] [data-drawer-id="timeslot"]:before,
[data-drawer-active="payment"]  [data-drawer-id="payment"]:before {
  content: none;
}

[data-drawer-content-prerender] {
  display: none;
}

.timeslot-force-order{
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 15px 0;
  display: block;
}

#checkout-drawer-footer
{
  height: 12px;
  background-color: #dcdcdc;
  margin-bottom: 60px;
}
#expresscheckout.deliverypasscheckout #checkout-drawer-footer{
	max-width: 500px;
	margin: 0 auto 60px;
}