[data-component="drawer"] {
  width: 100%;
  position: relative;
}

[data-component="drawer"] .drawer-header {
  font-size: 0;
}

[data-component="drawer"] .drawer-header > li {
  border-bottom: 1px solid #e9e9e9;
  position: relative;
  font-size: 11px;
}

[data-component="drawer"] .drawer-header h2 {
  float: left;
  margin-bottom: 5px;
  font-weight: bold;
}

[data-component="drawer"] .drawer-header button {
  float: right;
  font-size: 14px;
  margin-top: 3px;
}

[data-drawer-content],
[data-drawer-default] {
  overflow: hidden;
  max-height: 10000px;
  transition: max-height .2s linear .2s;
}

[data-component="drawer"] .drawer-header button.cancel, 
[data-component="drawer"] .drawer-header button.cancel span.offscreen {
  display: none;
}

[data-component="drawer"][data-drawer-columns="3"] [data-drawer-default] {
  padding: 0;
  margin: 0;
}

[data-component="drawer"][data-drawer-columns="3"] [data-drawer-default] > li,
[data-component="drawer"][data-drawer-columns="3"] .drawer-header > li {
  display: inline-block;
  width: 300px;
  margin-left: 35px;
  padding: 0;
  vertical-align: top;
}

[data-component="drawer"][data-drawer-columns="3"] [data-drawer-default] > li:first-child,
[data-component="drawer"][data-drawer-columns="3"] .drawer-header > li:first-child {
  margin-left: 0;
}

[data-component="drawer"] [data-drawer-content] {
  position: relative;
  max-height: 0;
  transition: max-height .2s linear;
  margin-top: -1px;
  z-index: 1001;
}

[data-component="drawer"] [data-drawer-content] > div,
[data-component="drawer"] [data-drawer-content] > form {
  max-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #bdbdbd;
  background: #f7f7f7;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

[data-component="drawer"] [data-drawer-content]:before,
[data-component="drawer"] [data-drawer-content]:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 94px;
  border: 12px solid transparent;
  border-top: 12px solid #bdbdbd;
}

[data-component="drawer"] [data-drawer-content]:after {
  left: 96px;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
}

[data-component="drawer"] [data-drawer-content="address"]:before {
  left: 94px;
}

[data-component="drawer"] [data-drawer-content="address"]:after {
  left: 96px;
}

[data-component="drawer"] [data-drawer-content="timeslot"]:before {
  left: 430px;
}

[data-component="drawer"] [data-drawer-content="timeslot"]:after {
  left: 432px;
}

[data-component="drawer"] [data-drawer-content="payment"]:before {
  left: 772px;
}

[data-component="drawer"] [data-drawer-content="payment"]:after {
  left: 774px;
}

[data-drawer-active] [data-drawer-default] {
  max-height: 0;
  transition: max-height .2s linear;
}

/* active drawers */
[data-drawer-active="address"]  [data-drawer-id="address"]  button.cancel,
[data-drawer-active="timeslot"] [data-drawer-id="timeslot"] button.cancel,
[data-drawer-active="payment"]  [data-drawer-id="payment"]  button.cancel,
[data-drawer-active="address"]  [data-drawer-id="address"]  button.cancel span.offscreen,
[data-drawer-active="timeslot"] [data-drawer-id="timeslot"] button.cancel span.offscreen,
[data-drawer-active="payment"]  [data-drawer-id="payment"]  button.cancel span.offscreen {
  display: block;
}

.drawer-header [data-drawer-locked] button,
[data-drawer-active="address"]  [data-drawer-id="address"]  button.change,
[data-drawer-active="timeslot"] [data-drawer-id="timeslot"] button.change,
[data-drawer-active="payment"]  [data-drawer-id="payment"]  button.change,
[data-drawer-active="address"]  [data-drawer-id="address"]  button.change span.offscreen,
[data-drawer-active="timeslot"] [data-drawer-id="timeslot"] button.change span.offscreen,
[data-drawer-active="payment"]  [data-drawer-id="payment"]  button.change span.offscreen {
  display: none;
}

[data-drawer-active="address"]  [data-drawer-content="address"] ,
[data-drawer-active="timeslot"] [data-drawer-content="timeslot"],
[data-drawer-active="payment"]  [data-drawer-content="payment"]  {
  max-height: 10000px;
  transition: max-height .2s linear .2s;
}

[data-drawer-id],
[data-drawer-disabled] {
  position: relative;
}

[data-drawer-id]:before,
[data-drawer-disabled]:before {
  content: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: .8;
  z-index: 1000;
}

[data-drawer-active] [data-drawer-id]:before,
[data-drawer-active] [data-drawer-disabled]:before {
  content: '';
}

[data-drawer-active="address"]  [data-drawer-id="address"]:before,
[data-drawer-active="timeslot"] [data-drawer-id="timeslot"]:before,
[data-drawer-active="payment"]  [data-drawer-id="payment"]:before {
  content: none;
}

[data-drawer-content-prerender] {
  display: none;
}

.timeslot-force-order{
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 15px 0;
  display: block;
}
