.contentModules .content-module.editorial-module.product-carousel .editorial-content,
.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header {
  display: flex;
  max-width: 100%;
  max-height: 480px;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .left-side {
  min-height: 480px;
  min-width: 480px;
  max-height: 480px;
  max-width: 480px;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-body {
  overflow-y: auto;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side,
.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header .header-title {
  display: flex;
  flex-direction: column;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header .header-title {
  justify-content: center;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .left-side,
.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic,
.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .header-title h1,
.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .header-title h2,
.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-body {
  word-wrap: break-word;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .left-side,
.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic {
  margin-right: 10px;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic {
  height: 82px;
  width: 82px;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .header-title {
  text-align: left;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .header-title h2 {
  font-size: 11px;
  margin: 0;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .left-side > img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .left-side > div {
  background-color: rgba(0,0,0,.7);
  bottom: 80px;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
  text-align: left;
  max-height: 80px;
  min-height: 80px;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .left-side > div > h1,
.contentModules .content-module.editorial-module.product-carousel .editorial-content .left-side > div > h2 {
  color: white;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .left-side > div > h2 {
  font-size: 17px;
  margin: 0;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header {
  margin-bottom: 10px;
}

.contentModules .content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header .header-title h1 {
  font-size: 25px;
}
