.content-module.editorial-module.product-carousel .module-header {
  background-color: #F2F3F4;
  border: 0;
  max-height: 52px;
  min-height: 52px;
  margin-bottom: 0;
  padding: 0 20px;
}

.content-module.editorial-module .module-header .module-text-banner::after {
  background-color: #F2F3F4;
  min-width: 20px;
  min-height: 20px;
  content: '';
  display: block;
  position: absolute;
  right: -9px;
  top: 3px;
  transform: rotate(45deg);
}

.content-module.editorial-module.product-carousel .content-module .content-header {
  padding: 0 20px;
}

.content-module.editorial-module.product-carousel .editorial-content {
  background: #F2F3F4;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  padding: 10px 0;
  padding-bottom: 17px;
}
.content-module.editorial-module.product-carousel .editorial-content.no-padding-top {
  padding-top: 0;
}

.content-module.editorial-module.product-carousel .editorial-content .left-side {
  position: relative;
}

.content-module.editorial-module.product-carousel .editorial-content .left-side > * {
  margin-left: 18px;
}

.content-module.editorial-module.product-carousel .editorial-content .left-side,
.content-module.editorial-module.product-carousel .editorial-content .right-side {
  min-height: 80px;
  width: 50%;
  max-width: 480px;
  box-sizing: border-box;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side {
  box-sizing: border-box;
  position: absolute;
  bottom: 17px;
  right: 0;
  margin: 0;
  padding-left: 35px;
  padding-right: 60px;
  top: 0px;
  max-width: 468px;
}

.content-module.editorial-module.product-carousel .editorial-content .learn-more {
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  padding-left: 35px;
  position: absolute;
  width: 100%;
  max-width: 468px;
}

.content-module.editorial-module.product-carousel .editorial-content .learn-more .gradient-space {
  min-height: 8em;
  background: none;
  background: linear-gradient(rgba(255, 255, 255, 0), #F2F3F4);
}

.content-module.editorial-module.product-carousel .editorial-content .learn-more.show-less .gradient-space {
  background: none;
}

.content-module.editorial-module.product-carousel .editorial-content .learn-more.show-less {
  bottom: 0;
  box-sizing: border-box;
  padding-left: 35px;
  width: inherit;
}

.content-module.editorial-module.product-carousel .editorial-content .learn-more button {
  font-weight: bold;
  padding: 0;
}

.content-module.editorial-module.product-carousel .editorial-content .learn-more.visible,
.content-module.editorial-module.product-carousel .editorial-content .learn-more button.visible[learn-more],
.content-module.editorial-module.product-carousel .editorial-content .learn-more button.visible[show-less] {
  display: block;
}

.content-module.editorial-module.product-carousel .editorial-content .learn-more,
.content-module.editorial-module.product-carousel .editorial-content .learn-more button[learn-more],
.content-module.editorial-module.product-carousel .editorial-content .learn-more button[show-less] {
  display: none;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header {
  margin-bottom: 17px;
  max-width: 100%;
}


.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-body {
  font-family: 'Brandon Text';
  font-size: 14px;
  letter-spacing: 1px;
  overflow-y: hidden;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side {
  overflow: hidden;
}

.content-module.editorial-module.product-carousel .editorial-content .left-side,
.content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic,
.content-module.editorial-module.product-carousel .editorial-content .right-side .header-title h1,
.content-module.editorial-module.product-carousel .editorial-content .right-side .header-title h2,
.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-body {
  word-wrap: break-word;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic {
  margin-right: 10px;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic {
  float: left;
  height: 82px;
  width: 82px;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic img {
  max-height: 82px;
  max-width: 82px;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .header-title {
  text-align: left;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .header-title h2 {
  font-size: 11px;
  margin: 0;
}

.content-module.editorial-module.product-carousel .editorial-content .left-side > img {
  display: block;
  height: auto;
  object-fit: scale-down;
  overflow: hidden;
  width: 100%;
}

.content-module.editorial-module.product-carousel .editorial-content .hero-image-description {
  background-color: rgba(0,0,0,.7);
  bottom: 0;
  box-sizing: border-box;
  padding: 15px;
  position: absolute;;
  text-align: left;
  max-height: 80px;
  min-height: 80px;
  width: 100%;
}

.content-module.editorial-module.product-carousel .editorial-content .hero-image-description > h1,
.content-module.editorial-module.product-carousel .editorial-content .hero-image-description > h2 {
  color: white;
  margin: 0;
}

.content-module.editorial-module.product-carousel .editorial-content .hero-image-description > h2 {
  font-size: 17px;
  font-family: 'Brandon Text';
  font-weight: 500;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header .header-title h2.accessibleHeading {
  font-size: 25px;
  font-family: 'Brandon Text';
  font-weight: 500;
  text-transform: uppercase;
  line-height:1;
}

#viewallPopup .content-module.editorial-module.product-carousel .editorial-content .left-side,
#viewallPopup .content-module.editorial-module.product-carousel .editorial-content .right-side,
#viewallPopup .content-module.editorial-module.product-carousel .editorial-content .hero-image-description {
  width: 50%;
}

.content-module.editorial-module.product-carousel .editorial-content .learn-more button {
  background: #F2F3F4;
  color: #4fa157;
  border: 0;
  font-family: 'Brandon Text';
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}

.content-module.editorial-module.product-carousel .editorial-content .learn-more button:hover {
  text-decoration: underline;
}

.content-module.editorial-module.product-carousel.learn-more .editorial-content,
.content-module.editorial-module.product-carousel.learn-more .editorial-content .right-side .editorial-header {
  display: flex;
}

.content-module.editorial-module.product-carousel.learn-more .learn-more.show-less {
  position: static;
  padding: 0;
}
.content-module.editorial-module.product-carousel.learn-more .learn-more.show-less .gradient-space {
  display: none;
}

.content-module.editorial-module.product-carousel.learn-more .editorial-content {
  align-items: flex-start;
  justify-content: space-between;
}

.content-module.editorial-module.product-carousel.learn-more .editorial-content .right-side {
  position: static;
  margin: 0;
  padding-left: 35px;
}
