.content-module.editorial-module.product-carousel .editorial-content {
  position: relative;
  text-align: left;
}

.content-module.editorial-module.product-carousel .editorial-content .left-side,
.content-module.editorial-module.product-carousel .editorial-content .right-side {
  width: 480px;
}
.content-module.editorial-module.product-carousel .editorial-content .right-side {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 50%;
  margin-left: 5px;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header {
  display: flex;
  max-width: 100%;
}


.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-body {
  overflow-y: auto;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side,
.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header .header-title {
  display: flex;
  flex-direction: column;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header {
  min-height: 82px;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header .header-title {
  justify-content: center;
}

.content-module.editorial-module.product-carousel .editorial-content .left-side,
.content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic,
.content-module.editorial-module.product-carousel .editorial-content .right-side .header-title h1,
.content-module.editorial-module.product-carousel .editorial-content .right-side .header-title h2,
.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-body {
  word-wrap: break-word;
}

.content-module.editorial-module.product-carousel .editorial-content .left-side,
.content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic {
  margin-right: 10px;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic {
  height: 82px;
  width: 82px;
  display: flex;
  align-items: center;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .header-graphic img {
  max-height: 82px;
  max-width: 82px;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .header-title {
  text-align: left;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .header-title h2 {
  font-size: 11px;
  margin: 0;
}

.content-module.editorial-module.product-carousel .editorial-content .left-side > img {
  height: 100%;
  object-fit: scale-down;
  overflow: hidden;
  width: 100%;
}

.content-module.editorial-module.product-carousel .editorial-content .hero-image-description {
  background-color: rgba(0,0,0,.7);
  bottom: 0;
  box-sizing: border-box;
  padding: 15px;
  position: absolute;;
  text-align: left;
  max-height: 80px;
  min-height: 80px;
  width: 480px;
}

.content-module.editorial-module.product-carousel .editorial-content .hero-image-description > h1,
.content-module.editorial-module.product-carousel .editorial-content .hero-image-description > h2 {
  color: white;
}

.content-module.editorial-module.product-carousel .editorial-content .hero-image-description > h2 {
  font-size: 17px;
  font-family: 'Brandon Text';
  font-weight: 500;
  margin: 0;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header {
  margin-bottom: 10px;
}

.content-module.editorial-module.product-carousel .editorial-content .right-side .editorial-header .header-title h1 {
  font-size: 25px;
  font-family: 'Brandon Text';
  font-weight: 500;
}

#viewallPopup .content-module.editorial-module.product-carousel .editorial-content .left-side,
#viewallPopup .content-module.editorial-module.product-carousel .editorial-content .right-side,
#viewallPopup .content-module.editorial-module.product-carousel .editorial-content .hero-image-description {
  width: 50%;
}
