[fdform] [invalid] {
  outline: none;
  border-color: #cb2848;
  background: #fcf4f5;
}

[fdform] [invalid]:hover,
[fdform] [invalid]:active,
[fdform] [invalid]:focus {
  border-color: #cb2848;
  background: #fcf4f5;
}

[fdform-error] {
  display: block;
  color: #cb2848;
  font-size: 12px;
}

[fdform-displayerrorafter] span[fdform-error],
[fdform-displayerrorafter]+span[fdform-error] {
    text-align: left;
}

[fdform] [fdform-warning] {
  display: block;
  color: #cb2929;
  font-size: 12px;
}

[fdform] [fdform-error-container][invalid] {
  outline: none;
}

[fdform][fdform-locked] *:disabled {
  background: #e1e1e1;
  color: #fff;
  cursor: not-allowed;
}
[fdform][fdform-locked] *:disabled:before{
	content: none;
}
.ec-popup [fdform] input[fdform-hidden],
[fdform] [fdform-hidden]{
  display:none;
}

[fdform-generated-label] {
  display: none;
}

[fdform] input,
[fdform] input[type="text"],
[fdform] input[type="email"],
[fdform] input[type="password"],
[fdform] input[type="url"],
[fdform] input[type="tel"],
[fdform] input[type="number"],
[fdform] input[type="search"],
[fdform] input[type="file"],
[fdform] input[type="date"],
[fdform] input[type="datetime-local"],
[fdform] input[type="month"],
[fdform] input[type="time"],
[fdform] input[type="week"],
[fdform] textarea,
.select-wrapper > select,
[fdform] select {
	border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2px solid #c2c2c2;
  background: #fefefe;
  border-radius: 0;
  box-sizing: border-box;
  color: #444;
  font-size: 16px;
  font-weight: normal;
  font-family: Verdana, arial, sans-serif;
  box-shadow: none;
  height: auto;
  line-height: 22px;
  outline: none;
  padding: 4px 8px;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[fdform] input[type="radio"],
[fdform] input[type="checkbox"] {
  border-color: #c2c2c2;
  padding: 8px;
}

[fdform] input[type="radio"] {
  border-radius: 100%;
}

[fdform] input[type="radio"]:checked,
[fdform] input[type="checkbox"]:checked {
  background-color: #68aa6d;
}

[fdform] textarea {
	border-top: 2px solid #c2c2c2;
	border-left: 2px solid #c2c2c2;
	border-right: 2px solid #c2c2c2;
}

[fdform] label,
[fdform] textarea {
	font-size: 14px;
}

.select-wrapper > select,
[fdform] select {
	font-size: 16px;
}


[fdform] input:hover,
[fdform] input:focus,
[fdform] textarea:hover,
[fdform] textarea:focus {
  border-color: #68aa6d;
  border-right: 2px solid #68aa6d;
  border-bottom: 2px solid #68aa6d;
  border-left: 2px solid #68aa6d;
  background-color: #fefefe;
  box-shadow: none;
  outline: none;
}

.select-wrapper > select:hover,
.select-wrapper > select:focus,
[fdform] select:hover,
[fdform] select:focus {
  border-color: #68aa6d;
}

[fdform] input:disabled,
[fdform] input[type="text"]:disabled,
.select-wrapper > select:disabled,
[fdform] select:disabled {
	background: #eee;
	cursor: not-allowed;
}

[fdform] input:disabled:hover,
[fdform] input:disabled:focus,
[fdform] input:disabled:active,
[fdform] input[type="text"]:disabled,
[fdform] input[type="text"]:disabled:hover,
[fdform] input[type="text"]:disabled:active,
[fdform] input[type="text"]:disabled:focus,
.select-wrapper > select:disabled:active,
.select-wrapper > select:disabled:hover,
.select-wrapper > select:disabled:focus,
[fdform] select:disabled:hover,
[fdform] select:disabled:active,
[fdform] select:disabled:focus {
	background: #eee;
	cursor: not-allowed;
}

.input-wrapper {
 	margin-bottom: 28px;
}

[fdform] label.normal-label {
    font-weight: normal;
    cursor: pointer;
}

[fdform] input[type="image"] {
	border: none;
	height: auto;
	padding: none;
	font-size: inherit;
}

.select-wrapper > select,
[fdform] select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fefefe;
  padding-right: 27px;
  border: 2px solid #c2c2c2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-wrapper > select::-ms-expand,
[fdform] select::-ms-expand {
    display: none;
}

.select-wrapper {
	display: inline;
	position: relative;
	line-height: 1.7em;
	vertical-align: middle;
}


.select-wrapper:after {
	font-family: 'freshdirect_icons';
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  vertical-align: text-bottom;
  -webkit-font-smoothing: antialiased;
  content: "\e874";
  position: absolute;
  right: 10px;
  top: -2px;
  pointer-events: none;
}

.fake-radio:before {
	background: #fafafa;
	box-shadow: 0 0 0 1px #c2c2c2;
	content: '\a0';
	display: inline-block;
	height: 18px;
	width: 18px;
	border-radius: 9px;
	vertical-align: top;
	margin-right: 10px;
}

input[type="radio"]:checked + .fake-radio:before {
  background: #4fa157;
  box-shadow: 0 0 0 1px #4fa157;
}

input[type="radio"]:focus + .fake-radio:before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #4fa157;
}

input[type="radio"]:disabled + .fake-radio:before {
  background: #ddd;
  box-shadow: 0 0 0 1px #ddd;
  cursor: not-allowed;
}

.fake-radio-wrapper > input[type="radio"],
.fake-checkbox-wrapper > input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  opacity: 0.1;
}

.fake-checkbox {
  position: relative;
  padding-left: 27px;
}

.fake-checkbox:before {
  content: '\a0';
  box-shadow: 0 0 0 1px #c2c2c2;
  position: absolute;
  left:0;
  top: -2px;
  width: 17px;
  height: 17px;
  background: #fafafa;
}

[type="checkbox"]:disabled + .fake-checkbox:before {
  box-shadow: none;
}

[type="checkbox"]:disabled + .fake-checkbox:after {
  content: '\a0';
  position: absolute;
  top: -2px;
  left: 0;
  width: 17px;
  height: 17px;
  background: #ddd;
  border: 1px solid #c2c2c2;
  cursor: not-allowed;
}

.fake-checkbox:after {
  content: '\a0';
  position: absolute;
  top: -2px;
  left: 0;
  width: 17px;
  height: 17px;
  font-size: 17px;
  line-height: 17px;
  color: #09ad7e;
}

[type="checkbox"]:checked + .fake-checkbox:before {
  box-shadow: 0 0 0 1px #4fa157;
}

[type="checkbox"]:focus + .fake-checkbox:before {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #4fa157;
}

[type="checkbox"]:checked + .fake-checkbox:after {
  content: '\2713';
  position: absolute;
  top: -2px;
  left: 0;
  background: #4fa157;
  color: #fafafa;
}

.ec-popup.addpaymentmethodpopup .formselector {
	padding-top: 20px;
}

label.tabs {
  background: #d1d1d1;
  padding: 1.25rem 1.5rem;
  display: inline-block;
  min-width: 120px;
  font-size: 18px;
  /*margin-top: 20px;*/
  text-align: center;
  line-height: 1.75rem;
  margin-left: 4px;
  font-weight: bold;
}


.tabs input[type="radio"] {
/* 	display: none; */
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px;
  width: 1px; 
  margin: -1px; 
  padding: 0; 
  border: 0; 
}

[fdform] label {
	font-weight: bold;
}

span[fdform-error-for] {
	vertical-align: top;
}

span[fdform-error] {
	text-align: right;
}

.formselector {
	background: #e9e9e9;
  text-align: center;
}

/* field sizes */

.medium-fieldset {
	width: 45%;
	display: inline-block;
}

.three-quarter-fieldset {
	width: 65%;
	display: inline-block;
}

.one-quarter-fieldset {
	width: 25%;
	display: inline-block;
}

.small-fieldset {
	width: 30%;
	display: inline-block;
}

[fdform][fdform-hidden] label {
	display: none;
}

/* make checkboxes LOOK like checkboxes by default */
[fdform] input[type="checkbox"]:checked {
	background: #4fa157 url('/media_stat/images/common/check-radio-selected.svg') center center no-repeat;
	box-shadow: 0 0 0 1px #4fa157;
	background-size: 200%;
}
[fdform] input[type="checkbox"]:disabled {
	background: #eee url('/media_stat/images/common/check-radio-disabled-with-checkmark.svg') center center no-repeat;
	box-shadow: 0 0 0 1px #ccc;
	background-size: 200%;
}
.contact_fd-cont{
	text-align:left;
}
.contact_fd-cont label{
	width: 150px;
    padding-right: 10px;
    vertical-align: middle;
    text-align: right;
}
input#search-faq2,input.accessible_search {
    border:2px solid #c2c2c2;
}

input#search-faq2:focus,input#search-faq2:hover {
        border:2px solid #68aa6d;
}