.image-carousel {
  height: 480px;
  width: 480px;
  margin-bottom: 25px;
}

#popupcart .section th>div:first-child {
  border: none;
}

#transactionalPopup .fakeaddtolist,
#transactionalPopup .addtolist {
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  line-height: 1em;
  padding: 9px 11px;
  font-weight: bold;
}

button.purpleborder {
  background-color: #fff;
  border: 1px solid #b07bb7 !important;
  color: #b07bb7 !important;
  box-sizing: border-box;
}

button.purpleborder:hover {
  background-color: #f7f2f8;
}

button.purpleborder:focus {
  box-shadow: 0 0 1px #bbbbbb, 0 0 8px #bbbbbb;
}

/*from freshdiret_icons CSS*/
[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:after {
    font-family: 'freshdirect_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: text-bottom;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    padding-right: 0.3em;
}

.icon-reorder-icon-after:after, .icon-reorder-icon-before:before {
    content: "\e61d";
}

.icon-file2-after:after, .icon-file2-before:before {
    content: "\e612";
}
