.content-module.icon-carousel .content {
  padding: 0 10px;
}

.content-module.icon-carousel [data-component="carousel"] [data-component="carousel-list"] li {
  box-sizing: border-box;
  text-align: center;
  width: 25%;
}

.content-module.icon-carousel [data-component="carousel"] [data-component="carousel-list"] li a{
  display: inline-block;
}

.content-module.icon-carousel [data-component="carousel"] [data-component="carousel-mask"] {
  margin-bottom: 20px;
}

.content-module.icon-carousel [data-component="carousel"] .pager {
  bottom: 10px;
}
