.content-module.image-grid-module .content .image-grid .first-line,
.content-module.image-grid-module .content .image-grid .second-line,
.content-module.image-grid-module .content .small-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-module.image-grid-module .content .small,
.content-module.image-grid-module .content .medium {
  box-sizing: border-box;
  height: 241px;
  text-align: center;
  margin: .9px;
}

.content-module.image-grid-module .content .small {
  width: 241px;
}

.content-module.image-grid-module .content .medium {
  min-width: 484px;
  max-width: 484px;
}

.content-module.image-grid-module .content img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.content-module.image-grid-module .content .image-grid div div .small a > div,
.content-module.image-grid-module .content .image-grid div .medium a > div {
  align-items: center;
  background-color: rgba(255,255,255,.90);
  bottom: 38px;
  color: black;
  display: flex;
  font-family: 'Brandon Text';
  font-size: 18px;
  font-weight: 500;
  height: 38px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.content-module.image-grid-module .content .image-grid div div .small a > div,
.content-module.image-grid-module .content .image-grid div div .small a > div .text {
  width: 211px;
}

.content-module.image-grid-module .content .image-grid div div .medium a > div,
.content-module.image-grid-module .content .image-grid div .medium a > div .text {
  width: 474px;
}

.content-module.image-grid-module .content .image-grid div div .small a > div .text,
.content-module.image-grid-module .content .image-grid div .medium a > div .text {
  text-overflow: ellipsis;
  max-height: 2em;
  overflow: hidden;
}

.content-module.image-grid-module .content .image-grid div div .small a > div:after,
.content-module.image-grid-module .content .image-grid div .medium a > div:after {
  content: '\276F';
  position: relative;
  right: -9px;
}
