.contentModules .content-module.image-grid-module .content .image-grid .first-line,
.contentModules .content-module.image-grid-module .content .image-grid .second-line,
.contentModules .content-module.image-grid-module .content .small-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contentModules .content-module.image-grid-module .content .small,
.contentModules .content-module.image-grid-module .content .medium {
  box-sizing: border-box;
  height: 241px;
  text-align: center;
  margin: .9px;
}

.contentModules .content-module.image-grid-module .content .small {
  width: 241px;
}

.contentModules .content-module.image-grid-module .content .medium {
  width: 484px;
}

.contentModules .content-module.image-grid-module .content img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.contentModules .content-module.image-grid-module .content .image-grid div div .small a > div,
.contentModules .content-module.image-grid-module .content .image-grid div .medium a > div {
  background-color: rgba(255,255,255,.9);
  bottom: 50px;
  color: black;
  font-size: 18px;
  height: 22px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  padding-left: 5px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  top: -30px;
}

.contentModules .content-module.image-grid-module .content .image-grid div div .small a > div:after,
.contentModules .content-module.image-grid-module .content .image-grid div .medium a > div:after {
  content: '\276F';
  position: relative;
  right: -5px;
}
