#informOrderModify .qs-popup-header, #informOrderModify .inform-popup-dontshowagain {
	background-color: #f7f7f7;
}
#informOrderModify .qs-popup-header, #informOrderModify .inform-popup-dontshowagain {
	padding: 20px 40px;
}
#informOrderModify .qs-popup-header {
	text-align: center;
}
#informOrderModify .headerContent {
	font-family: Verdana;
	font-size: 22px;
	font-weight: bold;
}
#informOrderModify .qs-popup-content {
	padding: 30px 40px;
	font-size: 18px;
	width: 400px;
}
#informOrderModify .qs-popup-content div {
	margin-bottom: 20px;
	padding-left: 25px;
	text-indent: -25px;
}
#informOrderModify .inform-popup-dontshowagain {
	font-size: 16px;
}
#informOrderModify .inform-popup-dontshowagain label {
	display: block;
	padding-left: 15px;
	text-indent: -15px;
  }
#informOrderModify .inform-popup-dontshowagain input {
	width: 16px;
	height: 16px;
	margin:0;
	vertical-align: bottom;
	position: relative;
}
#informOrderModify .inform-popup-dontshowagain input[type="checkbox"]+span {
	padding-left: 10px;
	font-weight: normal;
}
#informOrderModify .qs-popup-content div.continueBtn-cont {
	margin-top: 40px;
	padding-left: 0;
	text-indent: 0;
}
#informOrderModify .continueBtn-cont .continueBtn {
	width: 100%;
}
.inform-ghost.centerpopupoverlay {
	display: block; /* fix display */
}

#informOrderModify.mm-page .qs-popup-content {
	width: auto;
	height: 100%;
}