.module-group {
  align-items: center;
  background-image: none;
  display: flex;
  font-family: 'Brandon Text';
  justify-content: space-between;
  margin: 0;
  margin-top: 10px;
  min-height: 52px;
  padding: 20px 0;
  padding: 0 10px;
}

.module-group .module-text {
  display: flex;
}

.module-group .module-text h1 {
  font-family: 'Brandon Text';
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  margin: 0;
  margin-right: 15px;
  text-transform: uppercase;
}

.module-group .module-text h2 {
  font-family: 'Brandon Text';
  font-weight: 500;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  margin: 0;
}

.module-group .module-text .module-group-text-banner {
  background-color: #f68139;
  color: white;
  padding-left: 10px;
  padding-right: 20px;
  position: relative;
  text-transform: none;
}

.module-group .module-text .module-group-text-banner::after {
  background-color: white;
  min-width: 20px;
  min-height: 20px;
  content: '';
  display: block;
  position: absolute;
  right: -9px;
  top: 3px;
  transform: rotate(45deg);
}

.module-group .view-all {
  margin-left: 15px;
  align-items: center;
}

.module-group .view-all a {
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
