.module-group {
  align-items: center;
  background-image: none;
  background: #F2F3F4;
  display: flex;
  font-family: 'Brandon Text';
  justify-content: space-between;
  margin: 0;
  margin-top: 35px;
  margin-bottom: 2px;
  min-height: 40px;
  padding: 0 10px;
}

.module-group .module-text {
  display: flex;
}

.module-group .module-text h1 {
  font-family: 'Brandon Text';
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  margin: 0;
  margin-right: 15px;
  text-transform: uppercase;
}

.module-group .module-text h3 {
  font-family: 'Brandon Text';
  font-weight: 500;
  font-size: 16px;
  height: 26px;
  line-height: 26px;
  margin: 0;
}

.module-group .module-text .module-group-text-banner {
  background-color: #eb202a;
  color: white;
  padding-left: 10px;
  padding-right: 15px;
  position: relative;
  text-transform: none;
}

.module-group .module-text .module-group-text-banner::after {
  border-bottom: 13px solid #eb202a;
  border-top: 13px solid #eb202a;
  border-left: none;
  border-right: 10px solid transparent;
  content: '';
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
}

.module-group .view-all {
  margin-left: 15px;
  align-items: center;
}

.module-group .view-all a {
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
}
