body.overlay-opened {
  overflow: hidden;
}

.overlay {
  animation: fade-in .5s;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
	position:fixed;
	top: 0;
  left: 0;
  right: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align:center;
	vertical-align:middle;
	text-align:left;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.overlay h1:focus {
  outline: none;
  text-decoration: underline;
}

.overlay.overlay-fullscreen {
  animation: fade-in-fullscreen .5s;
}

.overlay .overlay-helper{
  position: fixed;
  top: 0;
  bottom: 0;
}

.overlay .overlay-container {
  display: block;
  position: relative;
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.overlay .overlay-container {
  min-height: 232px;
  width: 400px;
}

.overlay.overlay-medium .overlay-container {
  min-height: 246px;
  width: 480px;
}

.overlay.overlay-large .overlay-container {
  min-height: 514px;
  width: 800px;
}

.overlay.overlay-fullscreen .overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  display: flex;
  flex-direction: column;
}

.overlay.overlay-fullscreen {
  background-color: white;
  overflow: hidden;
  max-height: 100%;
}

.overlay .overlay-header {
  font-family: 'Brandon Text';
  font-size: 25px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
}

.overlay .overlay-content {
  background-color: white;
  box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.3);
  margin: 0 auto 30px;
	padding:0 20px 15px 15px;
}

.overlay.overlay-small .overlay-content {
  padding: 30px;
}

.overlay.overlay-medium  .overlay-content {
  padding: 40px;
}

.overlay.overlay-large .overlay-content {
  padding: 40px;
}

.overlay.overlay-fullscreen .overlay-content {
  box-shadow: none;
  box-sizing: border-box;
  height: 100%;
  padding: 45px 0 0 0;
  max-width: 970px;
  min-width: 970px;
  position: absolute;
  top: 0;
  overflow: auto;
}

.overlay.overlay-fullscreen .overlay-container .overlay-header-helper {
  background-color: #4fa157;
  min-height: 45px;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlay.overlay-fullscreen .overlay-container .overlay-header {
  display: none;
}

.overlay .overlay-close-icon {
  position: fixed;
	top: 120px;
  left: 50%;
	width: 22px;
	height: 22px;
	background: url(/media_stat/images/close.png) no-repeat;
  background-size: 100%;
  border: none;
	text-indent: -9999px;
	overflow: hidden;
  margin-left: 205px;
	cursor: pointer;
}

.overlay.overlay-medium  .overlay-close-icon {
  margin-left: 240px;
}

.overlay.overlay-large .overlay-close-icon {
  margin-left: 400px;
}

.overlay.overlay-fullscreen .overlay-close-icon {
  position: relative;
  display: inline-block;
  top: 10px;
  margin-left: 460px;
  filter: brightness(0) invert(1);
}

.overlay.overlay-fullscreen  .overlay-container .overlay-header-helper .fd-logo {
  background: url(/media_stat/images/logos/fd-logo-white.svg) no-repeat;
  display: inline-block;
  height: 27px;
  margin-right: 352px;
  position: absolute;
  right: 50%;
  top: 10px;
  width: 132px;
}

@media (max-width: 425px) {
  .overlay .overlay-container {
    width: 90%;
    max-width: 90%;
  }

  .overlay .overlay-container .overlay-header {
    padding-right: 25px;
  }

  .overlay .overlay-close-icon {
    position: relative;
    left: 0;
    float: right;
  }

}

@media (max-width: 505px) {
  .overlay.overlay-medium {
    background-color: white;
  }

  .overlay.overlay-medium .overlay-content {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .overlay.overlay-medium .overlay-container {
    margin: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
  }

  .overlay.overlay-medium  .overlay-header-helper {
    height: 50px;
    background-color: #444;
  }

  .overlay.overlay-medium  .overlay-container .overlay-header {
    color: white;
    height: 50px;
    line-height: 50px;
    padding-right: 32px;
    padding-left: 10px;
  }

  .overlay.overlay-medium  .overlay-close-icon {
    background-position: center;
    height: 50px;
    position: relative;
    top: 0;
    left: -10px;
    margin: 0;
    float: right;
    filter: brightness(0) invert(1);
  }

  #selfCreditInit.overlay.overlay-medium.selfcredit-overlay .overlay-header-helper {
    background-color: transparent;
  }

  #selfCreditInit.overlay.overlay-medium.selfcredit-overlay .overlay-close-icon {
    filter: none;
  }

  #selfCreditInit.overlay.overlay-medium.selfcredit-overlay .overlay-close-icon,
  #selfCreditInit.overlay.overlay-medium.selfcredit-overlay .overlay-container {
    top: calc(20% - 50px);
  }

  /* .overlay.overlay-medium.selfcredit-overlay .overlay-container {
    top: calc(20% - 50px);
  } */

  .overlay.overlay-medium.selfcredit-overlay .overlay-content {
    padding: 30px 20px;
    margin: auto 20px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 825px) {
  .overlay.overlay-large {
    background-color: white;
  }

  .overlay.overlay-large .overlay-content {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .overlay.overlay-large .overlay-container {
    margin: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
  }

  .overlay.overlay-large  .overlay-header-helper {
    height: 50px;
    background-color: #444;
  }

  .overlay.overlay-large  .overlay-container .overlay-header {
    color: white;
    height: 50px;
    line-height: 50px;
    padding-right: 32px;
    padding-left: 10px;
  }

  .overlay.overlay-large  .overlay-close-icon {
    background-position: center;
    height: 50px;
    position: relative;
    top: 0;
    left: -10px;
    margin: 0;
    float: right;
    filter: brightness(0) invert(1);
  }
}

@media (max-width: 970px) {
  .overlay.overlay-fullscreen .overlay-container {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  .overlay.overlay-fullscreen  .overlay-container .overlay-header {
    padding-right: 32px;
  }

  .overlay.overlay-fullscreen .overlay-content {
    max-width: 100%;
    min-width: 100%;
  }

  .overlay.overlay-fullscreen  .overlay-close-icon {
    position: relative;
    top: 10px;
    left: -10px;
    margin: 0;
    float: right;
  }
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-40px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fade-in-fullscreen {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}
