@media print {
	/* top nav */
		.container.globalnav_top {
			margin: 12px auto 0;
			width: 970px;
		}
	/* slide show */
		.paginationCont {
			display: none;
		}
		#slides {
			width: 683px;
			height: 250px;
			overflow: hidden;
			border: 1px solid #eee;
			border-radius: 10px;
		}
		#slides .slideCont {
			width: 100%;
			height: 100%;
			margin: 0px auto;
		}
	.noprint { /* generic class to hide from print view */
		display: none !important;
	}
	/* order details */
		[data-printdata="order_details"] .globalnav_top .nav *,
		[data-printdata="order_details"] .nav-container,
		[data-printdata="order_details"] .deptnav-cont,
		[data-printdata="order_details"] #toptoolbar,
		[data-printdata="order_details"] [data-component="footer-cont"],
		[data-printdata="order_details"] #cta2 /* extole */
		{
			display: none;
		}
		
		[data-printdata="order_details"] .globalnav_top .nav .logo,
		[data-printdata="order_details"] .globalnav_top .nav .logo * {
			display: block;
		}
}