.content-module.product-list .content .transactional ul {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align:left;
}

.content-module.product-list .content .transactional li {
  box-sizing: border-box;
  width: 25%;
}
