.content-module.product-list .content .transactional ul {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align:left;
}

.content-module.product-list .content .transactional li {
  box-sizing: border-box;
  width: 25%;
}

.content-module.product-list .content .sections section {
  text-align: left;
}

.content-module.product-list .content .sections section h2 {
  margin: 10px;
  font-family: 'Brandon Text';
  font-weight: 500;
  font-size: 25px;
  height: 25px;
  line-height: 25px;
  text-transform: capitalize;
  padding-bottom: 16px;
  border-bottom: 1px solid #F2F3F4;
}

.content-module.product-list .content .sections section:not(:first-child) {
  margin-top: 30px;
}
