.content-module.product-carousel [data-component="carousel-view-all"] a {
  text-decoration: none;
  text-transform: uppercase;
}

.content-module.product-carousel [data-component="carousel"] ul[data-component="carousel-list"] li {
  box-sizing: border-box;
  width: 25%;
}
