#FDCustomSelect.browse-popup.selectlight {
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #d4d4d4;
}

.selectButton {
  padding-right: 5px;
}

.selectButton.selectlight {
  height: 35px;
  padding: 0;
  padding-left: 10px;
}

.selectButton > span {
  display: inline-block;
  text-align: left;
}

.selectButton.selectlight > span .title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

.selectButton span.popupcontent {
  visibility: hidden;
  display: block;
  max-height: 1px;
  height: 1px;
  overflow: hidden;
  margin-bottom: -1px;
}

select.customselect {
  visibility: hidden;
}

ul.customselect,
.browse-popup-content ul.customselect {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#FDCustomSelect.selectlight ul.customselect {
  width: 100%;
}

#FDCustomSelect li {
  cursor: pointer;
  padding: 0 5px;
  white-space: nowrap;
}

#FDCustomSelect li button {
  font-weight: normal;
  color: inherit;
  background: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
}

#FDCustomSelect li button:focus,
#FDCustomSelect li:hover button {
  text-decoration: underline;
}

#FDCustomSelect.selectlight li button:focus,
#FDCustomSelect.selectlight li:hover button {
  text-decoration: none;
}

#FDCustomSelect li.default {
  font-weight: bold;
}

#FDCustomSelect li.selected {
  background: #f0f5e1;
  border-radius: 3px;
}

.popupcontentghost > .selectButton,
select.selected + .fdselect > .selectButton {
  background-color: #4fa157;
}

.popupcontentghost > .selectButton.selectlight,
select.selected + .fdselect > .selectButton.selectlight {
  background-color: #fff;
  border: solid 2px #d4d4d4;
  border-radius: 0;
  color: #444444;
}

.fdselect .selectButton.selectlight:focus,
.fdselect .selectButton.selectlight:hover,
.popupcontentghost > .selectButton.selectlight:hover,
.popupcontentghost > .selectButton.selectlight:active {
  border: solid 2px #4fa157;
}

.selectButton.selectlight.overlay-open {
  border: solid 2px #4fa157;  
}

.fdselect .selectButton {
  background-color: #999;
  border-color: transparent;
}

.fdselect .selectButton.selectlight {
  background-color: #fff;
  border: solid 2px #d4d4d4;
  color: #444444;
}

.fdselect .selectButton.selectlight span b.title b {
  display: none;
}

.fdselect .selectButton.selectlight::after,
.popupcontentghost > .selectButton.selectlight::after {
  background-color: transparent;
  border-bottom: 2px solid #919191;
  border-right: 2px solid #919191;
  content: "";
  height: 8px;
  position: absolute;
  top: -5px;
  transform: rotate(45deg);
  width: 8px;
}

.popupcontentghost .selectButton.selectlight span .title b {
  display: none;
}

#FDCustomSelect.browse-popup.selectlight .browse-popup-content ul.multiple-options li:first-child {
  display: none;
}

#FDCustomSelect.browse-popup.selectlight .browse-popup-content ul.empty-options:first-child button {
  font-size: 14px;
  font-family: "Verdana", sans-serif;
  height: 100%;
  padding: 0 10px;
}

#FDCustomSelect.browse-popup.selectlight .browse-popup-content ul.empty-options:first-child button:hover,
#FDCustomSelect.browse-popup.selectlight .browse-popup-content ul.empty-options:first-child button:focus {
  text-decoration: none;
}

#FDCustomSelect.browse-popup.selectlight .browse-popup-content ul.customselect {
  margin-left: 0;
}

#FDCustomSelect.browse-popup.selectlight .popupcontent .customselect li {
  border-top: 1px solid #d4d4d4;
  display: flex;
  align-items: center;
  height: 51px;
  padding: 0;
}

#FDCustomSelect.browse-popup.selectlight .popupcontent .customselect li:nth-child(2) {
  border-top: none;
}

#FDCustomSelect.browse-popup.selectlight .popupcontent .customselect li button:focus,
#FDCustomSelect.selectlight li:hover {
  background: #eee;
  text-decoration: none;
}

#FDCustomSelect.browse-popup.selectlight .popupcontent .customselect li button {
  font-size: 14px;
  font-family: "Verdana", sans-serif;
  height: 100%;
  padding: 0 10px;
  width: 100%;
}

#FDCustomSelect.browse-popup.selectlight .popupcontent .customselect li button b {
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .browse-popup.shown {
    top: 14%;
    bottom: 14%;
    left: 2%;
    right: 2%;
    max-height: 80%;
    overflow-y: auto;
  }

  .selectButton.cssbutton.selectlight {
    height: 35px;
  }
}
