#selfCreditInit .self-credit-no-orders {
  font-size: 14px;
}
#selfCreditInit ~ #FDCustomSelect {
  width: 340px;
  box-shadow: none;
  box-sizing: border-box;
  padding: 0;
}
#selfCreditInit ~ #FDCustomSelect ul.customselect {
  width: 100%;
}
#selfCreditInit ~ #FDCustomSelect .customselect li {
  padding: 10px;
}
#selfCreditInit ~ #FDCustomSelect .customselect li button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: #444444;
}
#selfCreditInit ~ #FDCustomSelect ul.customselect li.selected {
  background-color: #edf5ee;
}
#selfCreditInit ~ #FDCustomSelect ul.customselect li.selected button {
  text-decoration: underline;
}
#selfCreditInit ~ #FDCustomSelect .customselect li:hover,
#selfCreditInit ~ #FDCustomSelect .customselect li button:hover {
  text-decoration: none;
  text-decoration-color: transparent;
}
#selfCreditInit ~ #FDCustomSelect li button {
  padding: 0;
}
@media(max-width: 740px) {
  #selfCreditInit ~ #FDCustomSelect {
    width: auto;
  }

  #customselect-close-container {         
    position: relative;
    top: 0;
    right: 0;
    z-index: 2003;
    height: 50px;
    width: 100vw;
    background-color: #444444; 
  }
  #customselect-close-container button {
    filter: brightness(0) invert(1);
    top: 0;
  }
  #selfCreditInit ~ #FDCustomSelect.browse-popup.shown.selectlight {
    top: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    border: none;
    widows: 100%;
  }
  #selfCreditInit.overlay.selfcredit-overlay .popupcontentoverlay {
    top: 46px;
  }
  #selfCreditInit ~ #FDCustomSelect .selectlight li {
    height: 83px;
  }
  /* #selfCreditInit ~ #FDCustomSelect ul.customselect li span {
    display: inline-flex;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    border: 1px solid #dddddd;
  }
  #selfCreditInit ~ #FDCustomSelect ul.customselect li.selected {
    background: #ffffff;
  }
  #selfCreditInit ~ #FDCustomSelect ul.customselect li.selected span {
    background-image: url('/media_stat/images/common/check-radio-selected.svg');
    background-position: center center;
  } */
}
#selfCreditIssueReport.overlay-medium {
  font-family: "Verdana", sans-serif;
  letter-spacing: 0.3px;
}
#selfCreditIssueReport.overlay-medium .overlay-content {
  padding: 0;
  overflow: auto;
}
#selfCreditIssueReport.overlay.overlay-fullscreen .overlay-content {
  overflow: hidden;
}
#selfCreditIssueReport.overlay.overlay-fullscreen .overlay-header {
  font-size: 20px;
}
#selfCreditIssueReport.overlay-medium .section-container {
  margin: 30px;
}
#selfCreditIssueReport.overlay-medium .self-credit-header p,
#selfCreditIssueReport.overlay-medium .self-credit-header h1 {
  margin: 5px;
}
#selfCreditIssueReport.overlay-medium .self-credit-header p {
  font-size: 14px;
}
#selfCreditIssueReport.overlay-medium .self-credit-header h1 {
  font-size: 22px;
}
#selfCreditIssueReport.overlay-medium .self-credit-body {
  background: #f7f7f7;
}
#selfCreditIssueReport.overlay-medium .self-credit-body .section-container {
  padding: 30px 0 40px;
  margin-bottom: 0;
}

#selfCreditIssueReport.overlay-medium .self-credit-body .body-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 26px;
}
#selfCreditIssueReport.overlay-medium .body-header-col,
#selfCreditIssueReport.overlay-medium .body-info-col {
  display: inline-block;
  margin-bottom: 8px;
  width: 50%;
}
#selfCreditIssueReport.overlay-medium .body-info-col:nth-of-type(1) {
  width: 100%;
}
#selfCreditIssueReport.overlay-medium .body-header-col label,
#selfCreditIssueReport.overlay-medium .body-header-col span {
  display: inline-block;
  font-size: 14px;
  width: 100%;
}
#selfCreditIssueReport.overlay-medium .self-credit-body .body-info-col label,
#selfCreditIssueReport.overlay-medium .self-credit-body .body-info-col span {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  letter-spacing: 0.02em;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  table {
  table-layout: fixed;
  width: 100%;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  table
  td,
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  table
  th {
  font-size: 14px;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  thead,
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  tfoot {
  text-transform: uppercase;
  letter-spacing: 1px;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  thead
  th,
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  tbody
  tr:last-child
  td {
  border-bottom: 2px solid #ccc;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  td,
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  th {
  vertical-align: top;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  td:first-child,
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  td:last-child {
  padding-top: 0.2em;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  th:last-child,
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  td:last-child {
  text-align: right;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  th:first-child,
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  tbody
  td:first-child {
  text-align: center;
  width: 38px;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  th:nth-child(2),
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  td:nth-child(2) {
  padding-left: 23px;
  width: 60%;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  tr:first-child
  td {
  padding-top: 17px;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  .complaint-item {
  overflow: auto;
  margin-bottom: 16px;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  .complaint-item
  label {
  font-size: 14px;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  .complaint-item
  p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  .complaint-item
  small {
  font-size: 12px;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  .complaint-item
  .issue {
  color: #666;
  margin: 5px 0;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .review-grid-container
  .complaint-item
  .issue
  i {
  display: inline;
  font-size: 14px;
  font-style: italic;
  margin-left: 5px;
}
#selfCreditIssueReport .meal-bundle-header {
  border-top: 1px solid #cccccc;
  padding-top: 28px;
}
#selfCreditIssueReport .call-helpline, {
  font-style: italic;
}
#selfCreditIssueReport .meal-bundle-header .helpline-phone-number {
  color: #444444;
  font-weight: bold;
}
@media(max-width: 700px) {
  #selfCreditIssueReport .meal-bundle-header .helpline-phone-number {
    font-weight: normal;
    color: #408244;
    text-decoration: none;
  }
}
#selfCreditIssueReport.overlay-medium .self-credit-body .comment-container {
  margin-top: 20px;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .comment-container
  label {
  font-size: 14px;
  font-weight: normal;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-body
  .comment-container
  .comment-box {
  background: #eee;
  padding: 14px 18px;
  border-radius: 8px;
  font-size: 14px;
}
#selfCreditIssueReport.overlay-medium .self-credit-footer {
  overflow: auto;
  background: #f7f7f7;
}
#selfCreditIssueReport.overlay-medium .self-credit-footer .section-container {
  margin-top: 0;
  display: flex;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-footer
  .section-container
  .sc-submit-button {
  margin-left: 15px;
  flex: 1 1 100%;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-footer
  .section-container
  .sc-submit-button
  button {
  width: 100%;
}

#selfCreditIssueReport.overlay-medium
  .self-credit-footer
  .cssbutton.button-triangle {
  width: 255px;
}
#selfCreditIssueReport.overlay-medium
  .self-credit-footer
  .section-container
  .sc-edit-button {
  flex: 1 0 0;
}
#selfCreditIssueReport.overlay-medium .self-credit-footer .cssbutton {
  padding: 12px 30px;
}
@media (max-width: 500px) {
  #selfCreditIssueReport.overlay-medium #selfcreditform {
    height: 100%;
  }
  #selfCreditIssueReport.overlay-medium .overlay-container,
  #selfCreditIssueReport.overlay-medium .overlay-content {
    height: 100%;
    margin: 0;
  }
  #selfCreditIssueReport.overlay-medium .overlay-content {
    height: calc(100% - 50px);
  }
  #selfCreditIssueReport.overlay-medium .review {
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  #selfCreditIssueReport.overlay-medium .review .section-container {
    margin: 20px 20px 10px 20px;
    padding: 0;
  }
  #selfCreditIssueReport.overlay-medium .review .self-credit-body {
    flex: 1 1 auto;
    overflow: auto;
    padding-bottom: 15px;
  }
  #selfCreditIssueReport.overlay-medium .review .self-credit-header {
    flex: 0 1 0;
  }
  #selfCreditIssueReport.overlay-medium .review .self-credit-footer {
    flex: 0 0 70px;
    overflow: hidden;
    background: white;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.1);
    z-index: 5;
  }
  #selfCreditIssueReport.overlay-medium .review .self-credit-footer button {
    padding: 15px 30px;
    font-size: 15px;
  }
  #selfCreditIssueReport.overlay-medium
    .review
    .self-credit-footer
    .section-container {
    margin: 10px;
  }
  #selfCreditIssueReport .self-credit-form-alert {
    font-size: 13px;
  }
  #selfCreditIssueReport .meal-bundle-header .helpline-phone-number {
    text-decoration: underline;
  }
}

#selfCreditRequestComplete .overlay-content,
#selfCreditRequestError .overlay-content {
  text-align: center;
  padding: 50px 63px;
}

#selfCreditRequestError .overlay-content img {
  margin-bottom: 38px;
}

@media screen and (max-width: 700px) {
  #selfCreditRequestComplete .overlay-content, 
  #selfCreditRequestError .overlay-content {
    padding: 40px 0;
    box-shadow: none;
  }
}

#selfCreditRequestComplete .credit-request-submit {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.82;
  letter-spacing: 0.3px;
  text-align: center;
  color: #444;
  margin-top: 5px;
}

#selfCreditRequestComplete .status,
#selfCreditRequestError .status {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #444;
  margin: 20px 0 50px 0;
}

#selfCreditRequestComplete #creditRequestCompleteDetails a {
  text-decoration: underline;
}

#selfCreditRequestComplete .status {
  padding: 0 10px;
}

#selfCreditRequestError .status {
  margin: 20px 15px 50px;
}

#selfCreditRequestError .status a {
  display: block;
  color: black;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto;
}

@media(max-width: 700px) {
  #selfCreditRequestError .status {
    margin: 0 0 50px;
  }
}

.selfcredit-overlay .spinner-overlay {
  display: none;
}

.selfcredit-overlay .spinner-overlay.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}
.selfcredit-overlay .spinner-overlay.active .spinner {
  display: block;
}

.selfcredit-overlay .spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #458b4c;
  border-radius: 50%;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.selfcredit-overlay .aria-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.selfcredit-overlay .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.selfcredit-overlay .self-credit-init-row {
  margin-bottom: 23px;
}

.selfcredit-overlay .self-credit-init-row:first-child {
  margin-bottom: 16px;
}

.self-credit-init-row:first-child .user-info {
  text-transform: capitalize;
}

.selfcredit-overlay .self-credit-init-row-last {
  margin-bottom: 30px;
}

.selfcredit-overlay .self-credit-init-row-last + div {
  height: 48px;
}

.selfcredit-overlay .selfcredit-button {
  font-weight: bolder;
  padding: 15px 10px;
}

.selfcredit-overlay h1 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 30px;
}

.selfcredit-overlay i,
.selfcredit-overlay label {
  font-size: 14px;
}

.selfcredit-overlay i {
  display: block;
  font-style: normal;
}

.selfcredit-overlay label {
  font-style: normal;
}

.selfcredit-overlay select {
  width: 100%;
}

.selfcredit-overlay.overlay-fullscreen .overlay-container {
  height: 100%;
}

.selfcredit-overlay.overlay-fullscreen .self-credit-report-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.selfcredit-overlay.overlay-fullscreen .form-header,
#selfCreditIssueReport .meal-bundle-header {
  color: #444444;
  font-size: 20px;
  margin: 28px 0 32px 0;
}

@media screen and (max-width: 740px) {

  .selfcredit-overlay.overlay-fullscreen .form-header,
  #selfCreditIssueReport .meal-bundle-header {
    font-size: 18px;
    margin: 19px 0 0 0;
  }
}

.selfcredit-overlay.overlay-fullscreen .self-credit-body {
  flex: 0 1 100%;
  overflow-y: auto;
}

.selfcredit-overlay.overlay-fullscreen .self-credit-body-header {
  flex: 1 0 0;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.selfcredit-overlay.overlay-fullscreen
  .self-credit-body-header
  .self-credit-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}

@media screen and (max-width: 740px) {
  .selfcredit-overlay.overlay-fullscreen .form-instructions .self-credit-container {
    padding-right: 0;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.selfcredit-overlay.overlay-fullscreen
  .self-credit-body-header
  .self-credit-container
  label {
  color: #444444;
  display: block;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-transform: uppercase;
}
.selfcredit-overlay.overlay-fullscreen
  .self-credit-body-header
  .self-credit-container
  span {
  color: #222222;
  font-size: 16px;
  line-height: 20px;
}
.selfcredit-overlay.overlay-fullscreen
  .self-credit-body-header
  .self-credit-container
  .body-header-col {
  padding: 18px 0;
  padding-right: 34px;
}

@media (max-width: 740px) {
  .selfcredit-overlay.overlay-fullscreen
  .self-credit-body-header
  .self-credit-container
  .body-header-col {
  padding-right: 25px;
}
}

.selfcredit-overlay.overlay-fullscreen
  .self-credit-body-header
  .self-credit-container
  .body-header-col
  label,
.selfcredit-overlay.overlay-fullscreen
  .self-credit-body-header
  .self-credit-container
  .body-header-col
  span {
  white-space: nowrap;
}

.selfcredit-overlay.overlay-fullscreen .overlay-container .overlay-header {
  display: block;
  max-width: 970px;
  position: relative;
  top: 10px;
  text-transform: none;
  color: white;
  font-family: "Verdana", sans-serif;
  margin: auto;
}

.selfcredit-overlay.overlay-fullscreen .overlay-content {
  width: 100%;
  max-width: 100%;
  min-width: initial;
  height: 100%;
  margin: 0;
}

.selfcredit-overlay.overlay-fullscreen .self-credit-container {
  max-width: 970px;
  margin: auto;
}

.selfcredit-overlay.overlay-fullscreen .report-form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 970px) {
  .selfcredit-overlay.overlay-fullscreen .self-credit-comment-container {
    margin: 36px 0 36px 0;
  }
  .selfcredit-overlay.overlay-fullscreen .self-credit-container {
    padding: 0 20px;
  }
}

.selfcredit-overlay.overlay-fullscreen .self-credit-footer {
  flex: 1 0 0;
}
.selfcredit-overlay.overlay-fullscreen
  .self-credit-footer
  .footer-button-container {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 500px) {
  .selfcredit-overlay.overlay-fullscreen
    .self-credit-footer
    .footer-button-container
    .button-div {
    flex: 1 1 50%;
  }
  .selfcredit-overlay.overlay-fullscreen
    .self-credit-footer
    .footer-button-container
    .button-div
    button {
    width: 100%;
  }
}

.selfcredit-overlay.overlay-fullscreen
  .self-credit-footer
  .self-credit-container {
  padding: 12px 0;
}

@media screen and (max-width: 740px) {
  .selfcredit-overlay.overlay-fullscreen
  .self-credit-footer
  .self-credit-container {
  padding: 0;
}
}

.selfcredit-overlay.overlay-fullscreen .self-credit-footer .button-container {
  background: #ddd;
}

.selfcredit-overlay.overlay-fullscreen .form-instructions,
.selfcredit-overlay.overlay-fullscreen .button-triangle::before {
  opacity: 0;
  transition: 0.2s ease opacity;
}

.selfcredit-overlay.overlay-fullscreen
  .form-instructions-active
  .form-instructions {
  height: initial;
  pointer-events: all;
}

.selfcredit-overlay.overlay-fullscreen
  .form-instructions-active
  .form-instructions,
.selfcredit-overlay.overlay-fullscreen
  .form-instructions-active
  .button-triangle::before {
  opacity: 1;
}

.selfcredit-overlay.overlay-fullscreen .form-instructions-aria-trigger {
  color: #444;
}

.selfcredit-overlay.overlay-fullscreen .form-instructions {
  background: #444;
  color: white;
  font-size: 15px;
  text-align: right;
  height: 0;
  pointer-events: none;
}

.selfcredit-overlay.overlay-fullscreen .button-triangle-container {
  position: relative;
  display: inline-block;
}

.selfcredit-overlay.overlay-fullscreen .button-triangle::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -15px;
  left: 50%;
  left: calc(50% - 12px);
  border: none;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 13.2px solid #444;
}

.selfcredit-overlay .comment-field-animate {
  transform-origin: center;
  animation: animatecomment 0.3s linear;
}

@keyframes animatecomment {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.selfcredit-overlay .self-credit-comment-info .hide {
  display: none;
}

.selfcredit-overlay .self-credit-comment-info label {
  font-weight: normal;
  display: block;
}

.selfcredit-overlay .self-credit-comment-info {
  margin-bottom: 26px;
}

.selfcredit-overlay .self-credit-comment-info button {
  background: none;
  border: none;
  color: #408244;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  text-decoration: none;
}

.selfcredit-overlay .self-credit-comment-info button:hover {
  color: #5fb069;
  text-decoration: underline;
}

.selfcredit-overlay .self-credit-comment-info .self-credit-comment-container {
  margin: 12px 0;
}
.selfcredit-overlay
  .self-credit-comment-info
  .self-credit-comment-container
  label {
  display: inline-block;
  font-weight: bold;
}
.selfcredit-overlay
  .self-credit-comment-info
  .self-credit-comment-container
  textarea {
  resize: none;
  width: 100%;
}

.selfcredit-overlay .text-area-length-display {
  font-size: 14px;
}

.selfcredit-overlay .button-triangle-container {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 740px) {
  .selfcredit-overlay .button-triangle-container {
    padding: 17px 20px 8px;
  }
  
  .cssbutton.button-triangle {
    position: relative;
    top: -3px;
  }
}

.selfcredit-overlay .button-triangle::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -15px;
  left: 50%;
  left: calc(50% - 12px);
  border: none;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 13.2px solid #444;
}

.selfcredit-overlay .form-field-info-flag {
  float: right;
  color: #999;
}

.order-line {
  display: flex;
  flex-direction: row;
  margin: 16px 0;
}
.order-line .order-line-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
}
.order-line .order-line-product-image {
  height: 70px;
  flex: 0 0 70px;
  margin-right: 12px;
}
.order-line .order-line-product-image img {
  max-width: 100%;
  max-height: 100%;
}
.order-line .order-line-product {
  flex-basis: 50%;
  font-size: 14px;
}
.order-line .order-line-product label {
  font-weight: bold;
}
.order-line .order-line-product .product-desc,
.order-line .order-line-product .sale-unit {
  letter-spacing: 0.2px;
  color: #333333;
}
.order-line .order-line-product .sale-unit, .complaint-info .sale-unit {
  font-size: 12px;
  text-transform: lowercase;
}
.order-line .order-line-reason {
  margin: 0 15px;
  flex-basis: 35%;
}

.order-line-reason .select-wrapper, .order-line-qty .select-wrapper {
  width: 100%;
}

.order-line-reason .select-wrapper:after, .order-line-qty .select-wrapper:after {
  top: 10px;
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .order-line-reason .select-wrapper:after, .order-line-qty .select-wrapper:after {
    top: 7px;
  }
}

.order-line .order-line-qty {
  flex-basis: 8%;
}
.order-line .disable-order-line {
  flex-basis: calc(42% + 15px);
}
.order-line .disable-order-line .title {
  background-color: #f4f4f4;
  border-radius: 6px;
  color: #666666;
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  height: 34px;
  letter-spacing: 0.4px;
  line-height: 34px;
  text-align: center;
  width: 100%;
}

.selectButton.orderselect {
  width: 100%;
  position: relative;
}

.selectButton.orderselect::after {
  display: inline-block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 1em;
  height: 1.2em;
}

.selectButton.orderselect > span {
  width: 100%;
}

@media screen and (max-width: 740px) {
  .order-line {
    flex-wrap: wrap;
    margin: 40px 0;
  }
  div.order-line:first-child {
    margin-top: 30px;
  }
  .order-line .order-line-product {
    flex-basis: calc(100%-75px);
    margin-bottom: 20px;
  }
  .order-line .order-line-reason {
    margin: 0;
    padding: 0 15px 0 0;
    box-sizing: border-box;
    flex-basis: 75%;
  }
  .order-line .order-line-qty {
    flex-basis: 25%;
  }
  .order-line .disable-order-line {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-basis: 100%;
  }
  .overlay.overlay-fullscreen .overlay-container .overlay-header-helper {
    padding: 0 14px;
  }
}

.overlay.overlay-fullscreen .overlay-container .overlay-header-helper .fd-logo {
  display: none;
}
