
/* over-rides */
	.pdp-ecoupon {
		background-color: #f7f7f7;
		border: 1px solid #f5f5f5;
		border-width: 1px 0;
		padding: 10px;
		clear: both;
	}
	#customizePopup.soShow .subtotal,
	.pdp-evenbetter-soShow .pdp-evenbetter-atc .pdp-evenbetter-quantity .subtotal {
		display: inline-block;
		line-height: 1em;
		min-height: 1em;
		margin-top: 6px;
		font-size: 14px;
		font-weight: bold;
		color: #797965;
		margin-left: 15px;
		vertical-align: middle;
	}
	#customizePopup.soShow .subtotal .subtotal-inner,
	.pdp-evenbetter-soShow .pdp-evenbetter-atc .pdp-evenbetter-quantity .subtotal .subtotal-inner {
		font-size: 21px;
	}
	#customizePopup.soShow .skucontrol-quantity {
		margin: 35px 20px 15px;
		text-align: left;
		margin-right: 0;
	}	
	#customizePopup.soShow .skucontrol-quantity .qtyinput{
	    width: auto;
	}
	#customizePopup .skucontrol-quantity {
		text-align: center;
	}
	#customizePopup .buttons{
		text-align: center;
	}
	#customizePopup .buttons .addtocart{
		margin: auto;
	}
	.pdp-atc.soShow .pdp-atc-buttons {
		margin-bottom: 20px;
	}
	.pdp-atc.soShow .so-container{
		padding: 20px 0 10px;
	}
	.pdp-atc.soShow .so-container button[data-component="createSOButton"],
	.pdp-atc.soShow .so-container button[data-component-extra="showSOButton"]{
		width: 100%;
		padding: 10px 18px;
	}
	.pdp-atc.soShow .cssbutton[data-component="ATCButton"] {
		width: 215px;
	}
	.pdp-atc.soShow .cssbutton[data-component="addToListButton"] {
		width: 116px;
	}
	.pdp-atc-button-wrapper {
		margin-left: 0px;
	}
	.pdp-evenbetter-atcbutton {
		display: block;
		max-width: 248px;
	}
	.pdp-evenbetter-soShow .pdp-evenbetter-atc .pdp-evenbetter-quantity {
		width: auto;
	}
	.pdp-evenbetter-soShow .pdp-evenbetter-quantity .subtotal {
		width: auto;
		float: none;
		display: inline-block;
		margin-left: 10px;
		padding-left: 0;
	}
	.pdp-evenbetter-atcbutton {
		/* margin-top: 10px; APPBUG-4498 */
	}
	.pdp-evenbetter-atcbutton .cssbutton[data-component="ATCButton"] {
		/* width: 121px; APPBUG-4498 */
	}
	.pdp-evenbetter-addtolist {
		margin-left: 10px;
		width: 110px;
	}
	#transactionalPopup .fakeaddtolist,
	#transactionalPopup .addtolist {
		border-radius: 2px;
		width: 100%;
		box-sizing: border-box;
		height: auto;
		line-height: 1em;
		padding: 9px 11px;
		font-weight: bold;
	}
	.thxgiving-addtocart .addtocart-left {
		width: 400px;
	}
	.thxgiving-addtocart .addtocart-right {
		width: 325px;
	}
	.thxgiving-addtocart .atc-button-wrapper {
		display: inline-block;
	}
	.thxgiving-addtocart .cssbutton[data-component="addToListButton"] {
		margin-left: 10px;
	}
	.thxgiving-addtocart button.cssbutton[data-component].thxgiving-addtocart-button {
		height: auto !important;
		margin: 0 !important;
	}
/* new */
	.so-results-addedTo, .so-results-items-total .total {
		font-weight: bold;
	}
	#customizePopup.soShow .so-results-content{
		display: none;
	}
	.qs-content .so-result-container {
		display: none;
		width: 130px;
	}
	.qs-content .lineitems22 .itemlist-item-controls.smaller .so-recurring{
		float: right;
	}
	.qs-content .lineitems22 .itemlist-item-controls.smaller .so-recurring .so-recurring-1{
		text-align: left;
	}
	.qs-content .lineitems22 .itemlist-item-controls.smaller .so-recurring [data-component="createSOButton"]{
		width: 220px;
	}
	.qs-content .lineitems22 .itemlist-item-controls.smaller [data-component-extra="showSOButton"]{
		width: 220px;
	}	
	.so-results-continer {
		position: relative;
	}
	.so-results-content {
		background-color: #fff;
		border: 1px solid #e7e7e7;
		padding: 10px;
		clear: both;
		text-align: center;
		position: absolute;
		width: 360px;
	}
	.so .so-results-content {
		transition: visibility 0.3s, opacity 0.3s linear, height 0.3s linear ;
		visibility: visible;
		opacity: 1;
		height: 95px;
	}
	.so-results-content.so-close {
		transition: visibility 0.3s, opacity 0.3s linear, height 0.3s linear ;
		visibility: hidden;
		opacity: 0;
		height: 0;
	}

	.thxgiving-addtocart .buttons {
		margin: 20px 0;
	}
	.addtocart-right.soShow {
		background-color: #f7f7f7;
		border: 1px solid #c7c7c7;
		padding-top: 0;
		padding: 10px;
		margin-top: 60px;
	}
	.addtocart-right.soShow .subtotal {
		display: inline-block;
	}
	.thxgiving-addtocart .so .so-listadd-content {
		text-align: center;
	}
	.thxgiving-addtocart .so .cssbutton[data-component="addToSOButton"] {
		margin-top: 10px;
		width: auto;
	}
	.thxgiving-addtocart .so-results-content {
		width: 283px;
	}

	#customizePopup.soShow .buttons,
	#customizePopup.soShow .learnmore,
	#customizePopup.soShow .so .so-arrow,
	#customizePopup.soShow .so .cssbutton[data-component="addToSOButton"],
	#customizePopup.soShow .so-container .so-review-header,
	#customizePopup.soShow .so-container .so-review-date,
	#customizePopup.soShow .so-container .so-review-min-details,
	.cssbutton[data-component="nextStepSOButton"],
	#customizePopup.soShow.so-review .so .cssbutton[data-component="nextStepSOButton"],
	#customizePopup.soShow.so-review .productDisplay-skuconfig,
	#customizePopup.soShow.so-review .so .so-toggler,
	#customizePopup.soShow.so-review .so .select-wrapper,
	#customizePopup.soShow.so-review .productDisplay-skulist,
	#customizePopup.soShow .so .so-toggler,
	#customizePopup.soShow .so-review-selected,
	#customizePopup.soShow .so-container .so-review-link,
	#customizePopup.soShow.so-review .so .so-listadd-content .select-wrapper,
	#customizePopup.soShow.so-review.so-review-success .leftright-bottom .so-container .so-review-selected,
	#customizePopup.soShow.so-review.so-review-success .leftright-bottom .so-container .so-review-min-details,
	#customizePopup.soShow.so-review .so-container .so-review-min-details.show .so-review-min-details-tip,
	#customizePopup .so-review-min-not-show-top,
	#customizePopup.soShow.so-review-min-met-alert .leftColumn,
	#customizePopup.soShow.so-review-min-met-alert .rightColumn,
	#customizePopup.soShow.so-review-min-met-alert .so-container,
	#customizePopup .so-review-min-not-show-bottom{
		display: none;
	}
	#customizePopup.soShow .so .cssbutton[data-component="addToSOButton"], #customizePopup.soShow .so .cssbutton[data-component="showOButton"] {
		width: auto;
	}
	#customizePopup.soShow.so-review .so{
		border: 0;
		padding: 10px 0 0;
	}
	#customizePopup .so-container{
		display: none;
	}
	#customizePopup.soShow.so-review .so-container .so-review-date{
		min-height: 30px;
	}
	#customizePopup.soShow.so-review .so-container .so-review-date-red{
		color: #c94747;
	}
	#customizePopup.soShow.so-review .so-container .so-review-date-add{
		font-weight: normal;
		font-size: 14px;
	}
	#customizePopup.soShow.so-review .so-container .so-review-date-add b{
		font-size: 20px;
	}
	#customizePopup.soShow.so-review.so-review-success .so-container .so-review-date-red{
		color: #333;
	}
	#customizePopup.soShow.so-review .so-container .so-review-date img{
		padding: 48px 0 15px;
	    display: block;
	    margin: auto;
	}
	#customizePopup.soShow.so-review .so-review-item-total{
		font-size: 18px;
	}
	#customizePopup.soShow.so-review .so-container .so-review-min-details.show{
		position: relative;
		width: 65px;
		margin: auto;
		cursor: pointer;
	}
	#customizePopup.soShow.so-review .so-container .so-review-min-details .so-review-min-details-tip{
		position: absolute;
		width: 200px;
	    white-space: normal;
	    /* visibility: hidden;
	    opacity: 0; */
	    position: absolute;
	    bottom: 0px;
		left: 50%;
		margin-left: -117px;
	    padding: 17px;
	    margin-bottom: 35px;
	    color: #000;
	    background: #f9f8f7;
	    border: solid 1px #aaa;
	    text-align: center;
	    -moz-user-select: text;
	    -khtml-user-select: text;
	    -webkit-user-select: text;
	    -o-user-select: text;
	    user-select: text;
		cursor: auto;
	}
	#customizePopup.soShow.so-review .so-container .so-review-min-details .so-review-min-details-tip:before{
	    content: "";
	    position: absolute;
	    bottom: -15px;
	    right: 105px;
	    border-width: 14px 14px 0;
	    border-style: solid;
	    border-color: #aaa transparent;
	    display: block;
	    width: 0;
	}
	#customizePopup.soShow.so-review .so-container .so-review-min-details .so-review-min-details-tip:after{
	    content: "";
	    position: absolute;
	    bottom: -14px;
	    right: 105px;
	    border-width: 14px 14px 0;
	    border-style: solid;
	    border-color: #f9f8f7 transparent;
	    display: block;
	    width: 0;
	}
	#customizePopup.soShow .so-container,
	#customizePopup.soShow .so .cssbutton[data-component="nextStepSOButton"],
	#customizePopup.soShow.so-review .so-container .so-review-header,
	#customizePopup.soShow.so-review .so-container .so-review-date,
	#customizePopup.soShow.so-review .so-container .so-review-link,
	#customizePopup.soShow.so-review .so-container .so-review-selected.show,
	#customizePopup.soShow.so-review .so-container .so-review-min-details.show,
	#customizePopup.soShow.so-review .so-container .so-review-min-details.show:hover .so-review-min-details-tip,
	#customizePopup.soShow.so-review.so-review-min-met-alert .so-review-min-not-show-top,
	#customizePopup.soShow.so-review.so-review-min-met-alert .so-review-min-not-show-bottom{
		display: block;
	}
	#customizePopup.soShow .productDisplay-skuconfig{
		padding: 20px 0 0;
	}
	#customizePopup.soShow.so-review.so-review-min-met-alert .so-review-min-not-show-header{
	    font-size: 20px;
	    font-weight: bold;
	    padding: 0 20px 20px;
	}
	#customizePopup.soShow.so-review.so-review-min-met-alert .so-review-min-not-show-text{
	    font-size: 18px;
	    padding: 0 20px 20px;
	}
	#customizePopup.soShow.so-review.so-review-min-met-alert .so-review-min-not-show-bottom{
		font-size: 16px;
		padding: 18px 0 0 20px;
	}
	#customizePopup.soShow.so-review.so-review-min-met-alert .so-review-min-not-show-bottom #so-min-do-not-show-checkbox{
		vertical-align: text-top;
		margin: 0 15px 0 0;
	}
	#customizePopup.soShow.so-review.so-review-min-met-alert .so-review-min-not-show-bottom #so-min-do-not-show-checkbox:disabled{
		opacity: 0.7;
	}
	#customizePopup.soShow.so-review.so-review-min-met-alert .so-review-min-not-show-buttons{
		margin: 40px auto 20px;
		text-align: center;
	}
	#customizePopup.soShow.so-review.so-review-min-met-alert .so-review-min-not-show-buttons a,
	#customizePopup.soShow.so-review.so-review-min-met-alert .so-review-min-not-show-buttons button{
		min-width: 210px;
	}
	#customizePopup.soShow .productDisplay-skuconfig .skucontrol-salesunit b{
		padding: 0 0 5px;
		font-size: 14px;
	}
	#customizePopup.soShow.so-review .so-container .so-review-link,
	#customizePopup.soShow.so-review .so-container .so-review-min-details{
		text-align: center;
	}
	#customizePopup.soShow.so-review .so-container .so-review-link a,
	#customizePopup.soShow.so-review .so-container .so-review-min-details{
		font-size: 16px;
		color: #458b4c;
	}
	#customizePopup.soShow.so-review .so .cssbutton[data-component="addToSOButton"].show,
	#customizePopup.soShow.so-review  .cssbutton.okReviewSOButton,
	#customizePopup.soShow .so .so-listadd-content .select-wrapper{
		display: block;
		width: 325px;
		margin: auto;
	}
	#customizePopup.soShow .so .cssbutton[data-component="nextStepSOButton"]{
		width: 325px;
		margin: 10px auto 0;
	}
	#customizePopup.soShow .so-container .so-review-header{
	    padding: 30px 0 5px;
		font-size: 18px;
		text-align: center;
	}
	#customizePopup.soShow .so-container .so-review-date,
	#customizePopup.soShow.so-review.so-review-success .so-container .so-review-date-add{
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}
	#customizePopup.soShow.so-review .so-review-selected{
		text-align: center;
		color: #666666;
		font-size: 18px;
		margin: 0 auto 20px;
	}
	#customizePopup.soShow.so-review.so-review-success button.cssbutton.okReviewSOButton{
		margin: 0 auto 20px;
	}
	#customizePopup.soShow .so .so-listadd-content{
		text-align: center;
	}
	#customizePopup.soShow .leftright-bottom {
		background-color: #f7f7f7;
	}
	#customizePopup.soShow .leftright-bottom .skucontrol-salesunit,
	#customizePopup.soShow .leftright-bottom .skucontrol-variations{
		padding: 0 20px;
	}
	#customizePopup.soShow .leftright-bottom .productDisplay-skuconfig>hr {
		margin: 35px 0 0;
		/*display: none;*/
	}
	#customizePopup.soShow .so-results-content {
		z-index: 5;
	}
	
	
	.portrait-item .portrait-item-so {
		display: none;
	}
	.portrait-item .cssbutton[data-component="showSOButton"],
	.portrait-item .cssbutton[data-component-extra="showSOButton"],
	.portrait-item.unavailable .cssbutton[data-component="showSOButton"],
	.portrait-item.unavailable .cssbutton[data-component-extra="showSOButton"] {
		display: none;
	}
	#transactionalPopup .cssbutton[data-component="showSOButton"],
	#transactionalPopup .cssbutton[data-component-extra="showSOButton"] {
		display: block;
		width: 100%;
		margin-top: 5px;
	}
	#transactionalPopup .portrait-item-so {
		display: block;
		background-color: transparent;
		border: none;
		padding: 0;
		clear: both;
		text-align: left;
		position: relative;
		font-family: Verdana;
		color: #333333;
		font-size: 12px;
		font-weight: 400;
		margin-top: 10px;
	}
	.portrait-item-so-recurring {
		font-size: 12px;
		text-align: center;
	}
	#evenBetterPopup.shown .pdp-evenbetter-atc{
		width: 235px;
		text-align: center;
	}
	.pdp-evenbetter .pdp-evenbetter-soPreShow,
	.pdp-evenbetter .pdp-evenbetter-soShow {
		display: none;
	}
	#evenBetterPopup .pdp-evenbetter-soPreShow,
	#evenBetterPopup .pdp-evenbetter-soShow {
		display: block;
	}
	.pdp-evenbetter-soShow {
		background-color: #f7f7f7;
		border: 1px solid #e7e7e7;
		margin: 20px;
	}
	.pdp-evenbetter-soPreShow {
		padding: 0 15px;
	}
	.pdp-evenbetter-atc .pdp-evenbetter-atcbutton  {
		display: block;
		width: 100%;
		max-width: 100%;
	}
	.pdp-evenbetter-soPreShow .pdp-evenbetter-atc .pdp-evenbetter-addtolist {
		margin-left: 0;
		border: none !important;
	}
	.pdp-evenbetter-soShow .pdp-evenbetter-atcbutton {
		display: none;
	}
	#evenBetterPopup .pdp-evenbetter-soPreShow .pdp-evenbetter-atc, #evenBetterPopup .pdp-evenbetter-soShow .pdp-evenbetter-atc {
		background-color: transparent;
		margin-left: 0;
	}
	.pdp-evenbetter-soPreShow .pdp-evenbetter-atcbutton .cssbutton[data-component="ATCButton"],
	.pdp-evenbetter-soPreShow .pdp-evenbetter-atcbutton .cssbutton[data-component="addToSOButton"],
	.pdp-evenbetter-soPreShow .pdp-evenbetter-atcbutton .cssbutton[data-component="showSOButton"]
	{
		margin-left: 8px; /* APPBUG-4499 */
	}
	/* APPBUG-4499 */
	#evenBetterPopup .pdp-evenbetter-atc .pdp-evenbetter-atcbutton button.cssbutton[data-component="ATCButton"],
	#evenBetterPopup .pdp-evenbetter-atc .pdp-evenbetter-atcbutton button.cssbutton[data-component="customizeButton"],
	#evenBetterPopup .pdp-evenbetter-atc .pdp-evenbetter-atcbutton button.cssbutton[data-component="addToListButton"]{
		width: 235px;
		font-size: 14px;
	}
	#evenBetterPopup .pdp-evenbetter-atc .pdp-evenbetter-atcbutton button.cssbutton[data-component="customizeButton"],
	#evenBetterPopup .pdp-evenbetter-atc .pdp-evenbetter-atcbutton button.cssbutton[data-component="addToListButton"]{
		margin: 10px 0 0;
	}
	#evenBetterPopup .pdp-evenbetter-atc .pdp-evenbetter-atcbutton{
		text-align: right;
	}
	.pdp-evenbetter-soPreShow .pdp-evenbetter-atcbutton button.cssbutton {
		padding: 10px 6px !important;
	}
	.pdp-evenbetter-soPreShow .pdp-evenbetter-atc button.cssbutton[data-component="showSOButton"] {
		padding: 10px 6px;
	}
	#evenBetterPopup .pdp-evenbetter-soPreShow form.pdp-evenbetter-atc,
	#evenBetterPopup.shown .pdp-evenbetter-soShow .pdp-evenbetter-atc {
		width: 100%;
	}
	.pdp-evenbetter-soPreShow .pdp-evenbetter-quantity,
	.pdp-evenbetter-soPreShow .pdp-evenbetter-atcbutton .atc-info {
		margin-left: 109px;
	}
	.pdp-evenbetter-soPreShow .pdp-evenbetter-atc button.cssbutton {
	}
	.pdp-evenbetter-soPreShow .pdp-evenbetter-atc button.pdp-evenbetter-addtolist.cssbutton {
		width: auto;
		margin-left: 0;
		padding: 11px 6px;
	}
	
	#evenBetterPopup .pdp-evenbetter-soPreShow .so-container,
	.pdp-evenbetter-item .so-container,
	.pdp-evenbetter-item .pdp-evenbetter-soShow {
		display: none;
	}
	#evenBetterPopup .pdp-evenbetter-soShow .so-container {
		display: block;
	}
	.pdp-evenbetter-soShow .so .cssbutton[data-component="addToSOButton"],
	.pdp-evenbetter-soShow .so .cssbutton[data-component="showSOButton"] {
		width: 180px;
		margin-left: 0;
		margin-top: 10px;
	}
	.pdp-evenbetter-soShow .so .cssbutton[data-component="addToSOButton"] {
		width: 134px;
	}
	.pdp-evenbetter-soShow .so .so-listadd-content {
		text-align: center;
	}
	.pdp-evenbetter-soShow .so .so-arrow {
		display: none;
	}
	.pdp-evenbetter-soShow .so .so-results-content {
		width: 298px;
		max-height: 95px;
	}
	.pdp-evenbetter-soShow .so .so-results-content,
	#customizePopup .so-results-content {
		transition: visibility 0.3s, opacity 0.3s linear, height 0.3s linear ;
		visibility: visible;
		opacity: 1;
		height: 95px;
	}
	.pdp-evenbetter-soShow .so-results-content.so-close,
	#customizePopup .so-results-content.so-close {
		transition: visibility 0.3s, opacity 0.3s linear, height 0.3s linear ;
		visibility: hidden;
		opacity: 0;
		height: 0;
	}
	.pdp-evenbetter-so-recurring {
		font-size: 13px;
	}
	
	.pdp-evenbetter-item.hover .so-container {
		display: block;
	}
	.so .cssbutton[data-component="addToSOButton"],
	.so .cssbutton[data-component="showOButton"] {
		width: 147px;
		margin-left: 10px;
	}
	.so .cssbutton[data-component="createSOButton"] {
		width: 227px;
	}
	.so .so-listadd-content {
		text-align: left;
		padding: 10px 0;
	}
	
	 /* places without toggle need to be added here */
	.so .so-content,
	#customizePopup .so .so-content,
	.pdp-evenbetter-soShow .so .so-content
	{
		transition: visibility 0.3s, opacity 0.3s linear, max-height 0.3s linear;
		visibility: visible;
		opacity: 1;
		max-height: 200px;
	}
	.so-close .so-content {
		transition: visibility 0.3s, opacity 0.3s linear, max-height 0.3s linear;
		visibility: hidden;
		opacity: 0;
		max-height: 0;
	}
	
	.so .so-listadd-content .select-wrapper {
		width: 180px;
		display: inline-block;
	}
	.so .so-select {
		width: 100%;
	}
	.so-results-continer {
		position: relative;
	}
	.so-results-content {
		background-color: #fff;
		border: 1px solid #e7e7e7;
		padding: 10px;
		clear: both;
		text-align: left;
		position: absolute;
		width: 360px;
	}
	.so-results-addedTo {
		font-weight: bold;
		font-size: 14px;
	}
	.so-results-items-total {
	}
	.so-results-changes-required {
	}
	button.purpleborder {
		background-color: #fff;
		border: 1px solid #b07bb7 !important;
		color: #b07bb7 !important;
		box-sizing: border-box;
	}
	button.purpleborder:hover {
		background-color: #f7f2f8;
	}
	button.purpleborder:focus {
		box-shadow: 0 0 1px #bbbbbb, 0 0 8px #bbbbbb;
	}
	.so {
		background-color: #f7f7f7;
		border: none;
		/* border-top: 1px solid #e7e7e7; */
		padding: 10px;
		clear: both;
		text-align: center;
		position: relative;
		font-family: Verdana;
		color:  #333333;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
	}
	.so-toggler {
		text-align: left;
	}
	.so .so-arrow {
		display: inline-block;
		position:absolute;
		left: auto;
		right: 10px;
	}
	.so .so-arrow { /* down */
		height: 12px;
		width: 21px;
		padding: 0;
		background: no-repeat -21px 0 url('/media_stat/images/sprites/updownarrows.png');
	}
	.so.so-close .so-arrow { /* up */
		background: no-repeat 0 0 url('/media_stat/images/sprites/updownarrows.png');
	}
	
	.so-results-content {
		transition: visibility 0.3s, opacity 0.3s linear, max-height 0.3s linear ;
		visibility: visible;
		opacity: 1;
		max-height: 70px;
	}
	.so-results-content.so-close {
		transition: visibility 0.3s, opacity 0.3s linear, max-height 0.3s linear ;
		visibility: hidden;
		opacity: 0;
		max-height: 0;
	}
	.so-first-delivery{
		display: none;
	}
	.order-details-so-info{
		font-size: 19px;
	    font-weight: bold;
	    font-family: Verdana, Arial, sans-serif;
	    text-align: left;
	}
	#order-summary .so-success-h1{
		margin: 20px 0 60px;
		padding: 30px 0;
		background: #F2F2F2;
		text-align: center;
		font-weight: bold;
	}
	#order-summary .so-success-header{
		display: inline-block;
		font-size: 1.8em;
		font-weight: bold;
		line-height: 36px;
	}
	#order-summary .so-success-h2{
		font-weight: bold;
	}
	#order-summary .so-success-details-button{
		float: right;
		width: 230px;
	}
	#order-summary .success-soinfo{
		clear: both;
		font-size: 16px;
		margin: 15px 0 45px;
		padding: 20px 20px;
		border-top: 1px solid #e0e3d0;
	}
	
	#order-summary .success-soinfo-item{
		float: left;
		clear: both;
		width: 190px;
	}
	.successtotal-so-message{
		padding: 0 0 40px;
	}
	.successtotal-so-message .successtotal-so-message-note{
		float: left;
		font-size: 20px;
		padding: 0 20px 0 0;
	}
	.successtotal-so-message .successtotal-so-message-text{
		display: inline-block;
		font-size: 16px;
		max-width: 845px;
	}
	.standing-orders-3-successtimeslot_date .standing-orders-3-successtimeslot_date-header-freq-text,
	.standing-orders-3-successtimeslot_date .standing-orders-3-successtimeslot_date-header-small-text,
	.successtimeslot .standing-orders-3-successtimeslot_date-reservation,
	.successtimeslot .standing-orders-3-successtimeslot_date-next-delivery{
		text-align: left;
		font-size: 14px;
	    color: #666;
	}

	.so-accidental-atc{
		width: 386px;
		font-family: Verdana;
		text-align: center;
	}
	.so-accidental-atc .so-accidental-atc-top{
		padding: 25px;
		background-color: #f7f7f7;
		font-size: 22px;
		font-weight: bold;
		color: #333333;
		text-align: center;    
	}
	.so-accidental-atc .so-accidental-atc-middle{
		padding: 38px 0 46px;
	}
	.so-accidental-atc .so-accidental-atc-middle-text{
		color: #555555;
		font-size: 20px;
	}
	.so-accidental-atc .so-accidental-atc-middle-text-purple{
		color: #a367ab;
		font-weight: bold;
	}
	.so-accidental-atc .so-accidental-atc-middle-img{
		padding: 28px 0 31px;
	}
	.so-accidental-atc .so-accidental-atc-middle-button{
		text-align: center;
	}
	.so-accidental-atc .so-accidental-atc-middle-button button{
		width: 307px;
		font-size: 14px;
		font-family: Verdana;
	}
	.so-accidental-atc .so-accidental-atc-bottom{
		padding: 18px 0 20px 20px;
		font-size: 16px;
		background-color: #f7f7f7;
		text-align: left;
	}
	.so-accidental-atc #so-accidental-atc-checkbox{
		vertical-align: text-top;
		margin: 0 15px 0 0;
		border: 2px solid #c2c2c2;
		background: #fefefe;
		border-radius: 0;
		box-sizing: border-box;
		color: #444;
		font-size: 16px;
		font-weight: normal;
		font-family: Verdana, arial, sans-serif;
		box-shadow: none;
		height: auto;
		line-height: 22px;
		outline: none;
		padding: 8px;
		-webkit-font-smoothing: antialiased;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.so-accidental-atc #so-accidental-atc-checkbox:checked{
		background-color: #68aa6d;
	}
	.so-accidental-atc #so-accidental-atc-checkbox:disabled{
		opacity: 0.7;
	}
	a.cssbutton.createstandorder{
	width: 100%;
    padding: 10px 18px;
    }
	.portrait-item-so-container .cssbutton[data-component="createSOButton"]{
		width: 100%;
		padding: 10px 5px;
	}
	#evenBetterPopup [data-component="createSOButton"]{
		width: 235px;
	}
	#evenBetterPopup .so-recurring{
		margin: 10px 0 0;
	}
	#evenBetterPopup .so-recurring-1{
		font-size: 10px;
		text-align: center;
	}
	