#viewallPopup.fixedpopup {
  min-height: 450px;
  min-width: 450px;
}

#viewallPopup.fixedpopup .fixedPopupContent {
  min-height: 300px;
  min-width: 300px;
  max-height: 80%;
}

#viewallPopup .fixedPopupContent .qs-popup-content {
  min-height: 250px;
  -ms-flex: 1;
}

#viewallPopup .spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #458b4c;
  border-radius: 50%;
  box-sizing: border-box;
  width: 125px;
  height: 125px;
  animation: spin 2s linear infinite;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.popupcontentoverlay.white-popup-overlay {
  opacity: 0.8;
}

#viewallPopup .fixedPopupContent .qs-popup-content .content-module {
  margin: 0;
}

#viewallPopup .fixedPopupContent {
  text-align: center;
}

#viewallPopup .fixedPopupContent .qs-popup-close {
  margin: 20px;
}

#viewallPopup .fixedPopupContent .qs-popup-close button {
  text-transform: uppercase;
}
#viewallPopup .fixedPopupContent .view-all {
  display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.oas-container button[data-view-all-popup] {
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
