#viewallPopup.overlay {
  min-height: 450px;
  min-width: 450px;
}

#viewallPopup.overlay .overlay-content {
  min-height: 155px;
  min-width: 300px;
  max-height: 80%;
  margin-bottom: 0;
}

#viewallPopup .spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #458b4c;
  border-radius: 50%;
  box-sizing: border-box;
  width: 125px;
  height: 125px;
  animation: spin 2s linear infinite;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

#viewallPopup .overlay-close {
  text-align: center;
  margin: 20px;
  position: relative;
  top: -25px;
}

#viewallPopup .overlay-close button {
  text-transform: uppercase;
}
#viewallPopup .overlay-content .view-all {
  display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.oas-container button[data-view-all-popup] {
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
