{namespace test.sub1}

/**
 * @param x some parameter
 */
{template .test}
<div>
	[test.sub1.test calling test.sub1.innerTest]<br/>
	{call .innerTest}
		{param path: $x /}
	{/call}	
</div>
{/template}


/**
 * @param path some path, list of items
 */
{template .innerTest private="true"}
<div style="font-weight:bold;">
	[test.sub1.innerTest]<br/>
	{foreach $p in $path}
		{if not isFirst($p)}<span>&nbsp;&gt;&nbsp;</span>{/if}
		<span>{$p}</span>
	{/foreach}
</div> 	
{/template}
