{namespace pdp.accordion.explancontent}

/**
*/
{template .expertRating}
<a href="javascript:pop('/brandpop.jsp?brandId=fd_ratings',550,585)">
  <img class="qualityRating" src="/media/brands/fd_ratings/FRU/starrating_prod.gif" width="194" height="155" border="0" alt="ABOUT OUR DAILY PRODUCE RATING SYSTEM">
</a>
{/template}
