{namespace pdp.accordion.explancontent}

/**
*/
{template .expertRating}
<a href="javascript:pop('/brandpop.jsp?brandId=fd_ratings',550,585)" alt="FreshDirect Star Quality Ratings">
  <img class="qualityRating" src="/media/brands/fd_ratings/FRU/starrating_prod.gif" width="194" height="155" border="0" alt="Product Rating Chart">
</a>
{/template}
