{namespace common}

/**
 * @param popupId id
 * @param customClass custom classname
 * @param bodyContent popup content
 */
{template .customizePopup autoescape="false"}
    <div id="{$popupId}" class="customizePopup {$customClass}">
        <button class="close-icon" data-popup-control="close">close</button>
        <div class="customizePopup-body">{$bodyContent}</div>
        <div class="customizePopup-footer"></div>
    </div>
{/template}

