{namespace common}
/**
 * @param data
 */
{template .customerRatingPopup autoescape="false"}
<b class="cust-rating-hover-rating">{$data.ratingValue}</b><br>
based on <b style="font-size:13px;">{$data.reviewCount}</b> customer reviews
{/template}
