{namespace common}


/**
 * @param data
 */
{template .debitswitchnotice autoescape="false"}
	<div class="debitswitchnotice-cont">{$data.body}</div>
	<div class="debitswitchnotice-button"><button class="cssbutton green close" id="">OK</button></div>
{/template}