{namespace common}

/**
 * @param data data of item to delete
 */
{template .deletefromlistpopup autoescape="true"}
	<p data-item="{$data.itemName}">
    <b>Are you sure you want to delete this item?</b>
	</p>
  <div class="buttons">
    <button class="deletefromlist-button-cancel cssbutton grey">Cancel</button>
    <button class="deletefromlist-button-delete cssbutton red">Delete</button>
  </div>
{/template}

