{namespace common}

/**
 * @param data data of item to delete
 */
{template .editinlistpopup autoescape="true"}
	<p>
    Item - "{$data.itemName}"
	</p>
  <div class="buttons">
    <button class="editinlist-button-save">save</button>
  </div>
{/template}

