{namespace common}

/**
 * @param item
 */
{template .iconCarouselItem}
<li class="portrait-item">
  <div class="icon-image">
    <a {if $item.iconLink}href="{$item.iconLink}"{/if}>
      <img src="{$item.iconImage}" alt="icon">
    </a>
  </div>
  <a {if $item.iconLink}href="{$item.iconLink}"{/if}>{if $item.iconLinkText}{$item.iconLinkText}{/if}</a>
</li>
{/template}
