{namespace common}
/**
 * @param data
 */
{template .ifrPopup autoescape="false"}
{if $data and $data.url}
<iframe src="{$data.url}" style="width:{$data.width}px;height:{$data.height}px" class="iframepopup-body" id="iframepopup-body_id"></div>
{/if}
{/template}
