{namespace common}

/**
 * @param items some path, list of items
 * @param itemType item variant
 */
{template .liveRecommender autoescape="false"}
	<h2>Bought Right Now</h2>
	<div data-component="liverecommender-mask">
		<ul data-component="liverecommender-list">
			{foreach $item in $items}
				{delcall common.carouselItem variant="$itemType"}
					{param item:$item /}
					{param itemCount:length($items) /}
				{/delcall}
			{/foreach}
		</ul>
	</div>
{/template}

