{namespace common}

/**
 * @param popupId id
 * @param customClass custom classname
 * @param bodyContent popup content
 */
{template .menupopup autoescape="false"}

    <div id="{$popupId}" class="browse-popup {$customClass}">
        <div class="browse-popup-content">
        	{$bodyContent}
        </div>
    </div>

{/template}
