{namespace common}

/**
 * @param content
 */
{template .moduleHeader autoescape="false"}
{if $content.moduleTitle or $content.moduleTitleTextBanner}
  <div class="module-header" tabindex="0">
    {if $content.moduleTitle}
      <h1 class="module-title">{$content.moduleTitle}</h1>
    {/if}
    {if $content.moduleTitleTextBanner}
      <span class="module-text-banner">{$content.moduleTitleTextBanner}</span>
    {/if}
  </div>
{/if}
{/template}
