{namespace common}

/**
 * Prints a floating-point or integer number.
 * 
 * For integer values no decimal point is displayed.
 * For non-integer values two decimal digits will be displayed.
 * 
 * @param number	the number
 */
{template .printNum}
{if round($number) == $number}
{round($number)}
{else}
{round($number,2)}
{/if}
{/template}
