{namespace common}

/**
 * @param moduleData
 * @param preformettedHTML
 */
{template .openPreformettedHTML autoescape="false"}
{if $preformettedHTML}
  <div class="content-module open-preformetted-html {if $moduleData.moduleTitle}single-module{/if}" tabindex="0" id="{$moduleData.moduleId}">
  	{$preformettedHTML}
  </div>
{/if}
{/template}
