{namespace common}

/**
 * @param moduleData
 * @param preformettedHTML
 */
{template .openPreformettedHTML autoescape="false"}
{if $preformettedHTML}
  <div class="content-module open-preformetted-html" tabindex="0" id="{$moduleData.moduleInstanceId}">
  	{$preformettedHTML}
  </div>
{/if}
{/template}
