{namespace common}

/**
 *
 */
{template .saverecipepopup autoescape="true"}
	<p class="saverecipe-desc">All default recommended items and quantities will be saved.</p>
	<p>
		<label for="saverecipe-name">Name this recipe</label>
		<label class="error"></label>
		<input type="text" id="saverecipe-name" maxlength="35"/>
		<button class="cssbutton green small saverecipe-button-go">go</button>
	</p>
{/template}

