{namespace common}

/**
 * @param? sliderChecked
 * @param? sliderDisabled
 */
{template .sliderWidget autoescape="false"}
<div>
	<label class="switch"><span class="offscreen">This settings adjusts the contrast ratio of our brand colors</span>
		<input type="checkbox" class="offscreen"{if $sliderChecked}checked{/if} {if $sliderDisabled}disabled{/if}>
       	<span class="slider round"></span>
	</label> 
</div>
  <div class="spinner"></div>

{/template}