{namespace common}

/**
 * @param popupId id
 * @param customClass custom classname
 * @param bodyContent popup content
 */
{template .tooltip autoescape="false"}
<div class="tooltip {$customClass} tooltip_top" id="{$popupId}"><div class="tooltip-body">{$bodyContent}</div><span class="arrow"></span></div>
{/template}
