<form jwcid="formAddSlot">

<span jwcid="showErrors"/>

<table width="175" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td nowrap><b>Start Time-End Time</b></td>
		<td><b>Status</b></td>
		<td colspan="2"><b>Cutoff Time</b></td>
	</tr>
	<tr>
		<td colspan="4"><font color="#ffffff" class="space2pix">.</font></td>
	</tr>
	<span jwcid="forEachTimeslot">
	<tr>
		<td nowrap><input size="9" class="text10" jwcid="inputStartTime" /> - <input size="9" class="text10" jwcid="inputEndTime" /></td>
		<td>
			<select jwcid="selectStatus">
				<option value="0">N/A</option>
				<option value="1">STD</option>
				<option value="2">PRE</option>
			</select>
		</td>
		<td><input size="9" class="text10" jwcid="inputCutoffTime" /></td>
		<td><input jwcid="submitDeleteTimeslot" type="submit" value="X" class="button" /></td>
	</tr>
	</span>
	<tr>
		<td colspan="2" align="center"><input type="submit" value="Add Timeslot" jwcid="submitAddTimeslot" class="button" /></td>
		<td colspan="2" align="right"><input jwcid="submitCommitChanges" type="submit" value="OK" class="button"/></td>
	</tr>

</table>
</form>
