.cartsection__cartline{
  margin: 0 0 5px 0;
}

#cartcontent .cartsection__cartline{
  padding-left:30px;
}

.cartsection__cartline .cartline-box{
  display:inline-block;
  box-sizing:border-box;
  line-height:70px;
  vertical-align:top;
}

.cartsection__cartline .cartline-box span.new {
  color: #dd0303;
  display: inline-block;
  margin-left: 1em;
  font-weight: bold;
}

.cartsection__cartline .cartline-imageholder{
  width:70px;
  height:70px;
  max-width:70px;
  max-height:70px;
  overflow:hidden;
  text-align:center;
}

.cartline-imageholder .cartline-image{
  max-width: 60px;
  max-height: 60px;
}

.cartsection__cartline .cartline-title{
  width:560px;
  padding-left:10px;
  padding-top:10px;
}

#cartcontent .cartsection__cartline .cartline-title{
  width:500px;
}

.cartsection__cartline .cartline-delete{
  width:100px;
  text-align:center;
}

.cartsection__cartline .cartline-quantity{
  width:130px;
  text-align:center;
}

.cartline-quantity-bigger.cartline-quantity{
  font-size:15px;
}

.cartline-quantity .qtyinput{
  margin-top:20px;
}
/* Quantity Picker Overrides */
#cartcontent .quantity_plus,
#cartcontent .quantity_minus{
    width: 36px;
    color: #ffffff;
    background-color: #4fa157;
    border: 1px solid #4fa157;
    height: 34px;
    line-height: 32px;
    font-size: 24px;
	font-family: Verdana;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-image: none;
    text-decoration: none;
    text-indent: 0;
    padding: 0;
    border-radius: 3px;
    transition: background-color 0.12s ease-in-out 0s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#cartcontent .quantity_plus:hover,
#cartcontent .quantity_minus:hover{
    background-color: #458d4e;
    border: 1px solid #458d4e;
}
#cartcontent .qtyinput input.qty {
    width: 50px;
    min-width: 50px;
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    margin: -1px 3px 0;
    border: 2px #c2c2c2 solid;
}
#cartcontent input.qty:hover{
    border-color: #68aa6d;
}

.cartline-quantity .free-sample-quantity {
  font-size: 15px;
}

.cartsection__cartline .cartline-price{
  width:100px;
  text-align:right;
}

.cartsection__cartline .cartline-pricewrapper{
  line-height:normal;
  margin-top:20px;
}

.cartsection__cartline .cartline-price-value{
  font-size:13px;
  font-weight:bold;
  color:#333;
  margin:0;
}

.cartsection__cartline .cartline-price-value.cartline-price-value-free {
  color: #c00;
  padding-top: 7px;
}

.cartsection__cartline .cartline-unitprice{
  font-size:12px;
  color:#888;
  margin:0;
}

.cartsection__cartline .cartline-titleholder{
  line-height:1.2;
  font-size:14px;
}

.cartsection__cartline .cartline-legend{
  width:40px;
  text-align:center;
}

.cartline-legend .legend-item{
  display:inline-block;
  font-weight:bold;
  font-size:13px;
  color:#333;
  margin-right:2px;
}

.cartline-legend .cartline-legendwrapper{
  line-height:normal;
  margin-top:20px;
}

.cartline-titleholder .cartline-link{
  font-weight: normal;
}

.cartline-titleholder .cartline-descriptor{
  margin:0.5em 0;
}

.cartline-discount .red{
  color:#ff0000;
}

.cartline-coupon {
  text-align: left;
  margin: 6px 0 0;
  float: left;
}

.cartline-coupon span[data-component="ecoupon-status"] {
  height: 15px;
  line-height: 15px;
}

.cartline-coupon .fdCoupon_stat {
  font-size: 10px;
}

.cartline-coupon:before{
  display: inline-block;
  margin-right:5px;
}

.cartline-delete .cartline-delete-image{
  vertical-align: middle;
  margin-right: 5px;
  max-width: 15px;
}

.cartsection .cartsection__title{
  color: #333;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0;
}

#cartcontent .cartsection .cartsection__title{
/*   margin-left: 0; */
    position:relative;
}

.cartsection .cartsection__title [data-component="removeRecipeButton"] {
/*   float: right; */
  font-size: 10px;
  font-weight: normal;
  color: #336600;
  cursor: pointer;
  line-height: 21px;
  position:absolute;
  right:0;
  top:0;
}

.cartsection .cartsection__title [data-component="removeRecipeButton"] .cartline-delete-image {
  vertical-align: middle;
  margin-right: 5px;
}

.cartsection .cartsection__title-noweight{
  font-weight:normal;
}

.total{
  font-family:Verdana,Genava,sans-serif;
  background:#efefec;
  float:left;
  margin:0 0 20px 0;
  padding:20px;
  box-sizing:border-box;
}

.total:after{
  clear:both;
}

.total-left{
  width:500px;
  display:inline-block;
  vertical-align:top;
}

.total-right{
  width:430px;
  display:inline-block;
  vertical-align:top;
}

.promotion-item{
  display:inline-block;
  width: 294px;
  vertical-align: top;
}
/*
.promotion-item [fdform-error] {
  display: inline-block;
  margin-bottom: 4px;
}
*/
.promotion-item:first-child {
  margin-right:35px;
}

.promotion-input{
  margin: 0 -63px 0 0;
  width: 100%;
}

.promotion-item .promotion-input ~ button,
.promotion-item .promotion-input ~ [fdform-button] {
  box-sizing: border-box;
  text-align: center;
  width: 60px;
  vertical-align: top;
  margin-top: 3px;
}

.promotion-text{
  margin:0.5em 0;
  font-size:13px;
}

.etip-text{
  margin:0.5em 0;
  font-size:13px;
}

.etip-item{
  display:inline-block;
  max-width: 225px;
}

.etip-item [fdform-error] {
  display: inline-block;
  margin-bottom: 4px;
}

.deliverypass-wrapper{
  width:460px;
  height:70px;
  background-color:#e3e3e0;
}

.deliverypass-wrapper p{
  margin:0;
}

.deliverypass-left,
.deliverypass-right{
  display:inline-block;
  vertical-align:top;
}

.deliverypass-left{
  width:260px;
  padding:20px 0 20px 20px;
}

.deliverypass-right{
  width:160px;
  text-align:center;
}

.deliverypass-upgrade{
  line-height:70px;
  margin:0;
  font-size:14px;
  color:#336600;
  font-weight:bold;
}

.deliverypass-sub{
  font-size:13px;
}

.deliverypass-expire{
  font-weight:bold;
  font-size:12px;
}

.deliverypassrow-link{
  font-weight:bold;
}

.gogreen-text{
  font-size:14px;
}

.total__deliverypass{
  padding-top:20px;
}

.subtotal__row{
  font-size:13px;
  padding:2px 0;
}

.subtotal__rowcell-left,
.subtotal__rowcell-mid,
.subtotal__rowcell-right{
  display:inline-block;
}

.subtotal__rowcell-left{
  width:50%;
  vertical-align:top;
}
.subtotal__rowcell-mid{
  padding-left:5px;
}

.rowcell-padding-left{
  padding-left:5px;
}

.rowcell-text-right{
  text-align:right;
}

[data-boxid="automaticheaderdiscount"] .subtotal__rowcell-mid,
[data-boxid="redemptionPromo"] .subtotal__rowcell-mid,
[data-boxid="freefood"] .subtotal__rowcell-mid,
[data-boxid="discount"] .subtotal__rowcell-mid,
[data-boxid="redemptionfailure"] .subtotal__rowcell-mid,
[data-boxid="giftcardbalance"] .subtotal__rowcell-mid,
[data-boxid="credits"] .subtotal__rowcell-mid {
	color: #693;
}

.rowcell-colon-right:after, .st_label:after{
	content:":";
}

.row-size-big{
	font-size:16px;
	font-weight:bold;
}

.subtotal__row .free-link{
	font-weight:bold;
	text-decoration: underline;
}

.subtotal__row .free-link:hover,
.subtotal__row .free-link:active {
	text-decoration: none;
}

.row-style-saving{
	font-size:13px;
	font-weight:bold;
	color:#dd0303;
	
	margin-top: -5px;
}

.cartsection-wine{
	border-top:1px solid #e0e3d0;
	padding:20px 0;
}

.cartsection-wine .cartsection__title{
	visibility:hidden;
}

.cartsection-wine .cartsection__total:before{
	content:'FD Wines & Spirits ';
}

.cartsection-wine .cartsection__title:before{
	content:'FD Wines & Spirits';
	visibility:visible;
}

.cartsection__total,
.cartsection__tax{
	font-size:14px;
	color:#333;
	font-weight:bold;
	text-align:right;
	margin:0;
}

.cartsection__tax{
	/*min-height:100px;*/
}
.cartsection__tax form{
	float:right;
	
	margin-top:25px;
	margin-bottom:25px;
}
.cartsection__tax form .strl_text, .cartsection__tax form a.tooltip-small{
	float:left;
}

p.cartsection__tax{
  margin-bottom:15px;
}

.cartsection__totalwrapper{
	border-top:1px solid #e0e3d0;
	padding: 10px 0 15px 0;
}

.cartheader{
  padding:20px 0;
  border-bottom: 1px solid #e7e5e4;
  margin-bottom: 20px;
}

.cartheader__text,
.cartheader__subtotal,
.cartheader__action_w_subtotal,
.cartheader__action{
  display:inline-block;
}

.cartheader__text{
  width:460px;
}

.cartheader__subtotal{
  width:240px;
  vertical-align: top;
  padding-top: 5px;
}

.cartheader__action{
  width:270px;
  text-align:right;
  vertical-align: top;
}

.cartheader__action_w_subtotal {
  width: 510px;
  text-align: right;
	vertical-align: top;
}

.cartheader__title{
  font-size:18px;
  font-weight:bold;
}

.cartheader__sub{
  font-size:14px;
  margin:0;
}

.cartheader__button{
  font-size:18px;
  width:250px;
  height:45px;
  padding: 0;
  position: relative;
}

.cartheader__button:after {
  position: absolute;
  right: .5em;
}

.checkout_button_w_subtotal {
  font-size:18px;
  width:250px;
  height:50px;
  position: relative;
}

.checkout_button_w_subtotal:after {
  position: absolute;
  right: .5em;
  top: 16px;
}

.checkout_button_w_subtotal span {
  display: block;
}

.checkout_button_w_subtotal span.est_total {
  font-size: 12px;
  font-weight: normal;
}

.triangle-right:before{
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent;
  display:inline-block;
}

.triangle-red:before{
  border-color: transparent transparent transparent #f00000;
}

.cartcoupon-message{
  display:inline-block;
  margin-left:5px;
  font-size: 12px;
  font-weight: bold;
  color: #f00;
  line-height: 16px;
  padding: 4px;
}

.charges__rowcell{
  width:50%;
  display:inline-block;
  text-align:left;
}

.charges-text{
  vertical-align:top;
  font-size:13px;
}

.charges-price{
  font-size:13px;
  font-weight:bold;
}

.questions__left,
.questions__right{
  display:inline-block;
  width:50%;
  vertical-align:top;
  line-height:30px;
}

.questions__left{
  font-size:13px;
  color:#333;
}

.questions__right{
  font-size:12px;
  text-align:right;
}

.questions__empty,
.questions__update{
  display:inline-block;
  cursor:pointer;
}

label[for="dontupdatecartlines"] {
  position: absolute;
  left: -9999px;
}

.questions__empty{
  color:#7d7d7d;
}

.questions__empty:hover {
  text-decoration: underline;
}

.questions__emptycart-image{
  vertical-align: middle;
  margin-right: 5px;
  max-width: 15px;
}

.questions__update{
  color:#360;
  font-weight:bold;
}

.questions__left a,
.questions__left a:link,
.questions__left a:hover,
.questions__left a:active{
  color: #b93d3f;
  text-decoration: underline;
}

.footer p{
  margin:0.5em 0;
}

.footer [fdform-error-container] {
  text-align: right;
}

.footer__left,
.footer__right{
  display:inline-block;
  vertical-align:top;
}

.footer__left{
  width:700px;
}

.footer__right{
  width:270px;
  text-align:right;
}

.footer__legend{
  font-weight:bold;
  font-size:12px;
  color:#333;
  display:inline-block;
  margin-right:10px;
}

.footer__findout{
  font-size:12px;
  color:#888;
}

.footer__button{
  font-size:18px;
  width:250px;
  height:45px;
  padding: 0;
  position: relative;
}

.footer__button:after {
  position: absolute;
  right: .5em;
}

.made-changes{
  font-size:13px;
  margin-top: 0;
}


.additionalinfo{
  margin-top:20px;
  text-align:right;
}

.additionalinfo p{
  margin:0.5em 0;
}

.additionalinfo .bold{
  font-weight:bold;
}

.additionalinfo .red{
  color:#CC0000;
}

.warningBox {
  background-color: #FEE7ED;
  border: solid 1px #E59E85;
  width: 730px;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  padding-left:59px;
  position:relative;
  font-size:15px;
}

.warningBox:before{
  content:' ';
  background: url('/media_stat/images/template/system_msgs/angularexclmark.png') no-repeat center 10px;
  display:block;
  position:absolute;
  width:59px;
  top:0;
  bottom:0;
  left:0;
}

.warningTitle {
  font-weight: bold;
  font-size:16px;
}

#warningmessage .warningBox{
  margin:20px auto;
}

.rowcontent-free-with-pass{
  margin-left:20px;
  width:100px;
  text-align:left;
}

.cartheader__questions .product-sample-carousel {
  margin-top: 25px;
}

[gogreen-status="true"] [fdform="gogreen"] {
  display: none;
}

[fdform="checkout"] button {
  position: relative;
}

[checkout-disabled]:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  opacity: .8;
  z-index: 1000;
}

#cartCarousels .tabbed-carousel {
    border-bottom: 1px solid #ccc;
}

/*
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] [data-component="carousel-prev"],
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] [data-component="carousel-next"],
*/
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [product-count="1"] [data-component="carousel-prev"],
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [product-count="1"] [data-component="carousel-next"],
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [product-count="2"] [data-component="carousel-prev"],
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [product-count="2"] [data-component="carousel-next"],
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [product-count="3"] [data-component="carousel-prev"],
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [product-count="3"] [data-component="carousel-next"],
#productsamplecarousel .product-sample-carousel[product-count="1"] [data-component="carousel-prev"],
#productsamplecarousel .product-sample-carousel[product-count="1"] [data-component="carousel-next"],
#productsamplecarousel .product-sample-carousel[product-count="2"] [data-component="carousel-prev"],
#productsamplecarousel .product-sample-carousel[product-count="2"] [data-component="carousel-next"],
#productsamplecarousel .product-sample-carousel[product-count="3"] [data-component="carousel-prev"],
#productsamplecarousel .product-sample-carousel[product-count="3"] [data-component="carousel-next"]{
  background:none;
  display:none;
}

#donationProductSampleCarousel .product-sample-carousel[product-count="1"] [data-component="carousel-prev"],
#donationProductSampleCarousel .product-sample-carousel[product-count="1"] [data-component="carousel-next"],
#donationProductSampleCarousel .product-sample-carousel[product-count="2"] [data-component="carousel-prev"],
#donationProductSampleCarousel .product-sample-carousel[product-count="2"] [data-component="carousel-next"],
#donationProductSampleCarousel .product-sample-carousel[product-count="3"] [data-component="carousel-prev"],
#donationProductSampleCarousel .product-sample-carousel[product-count="3"] [data-component="carousel-next"]{
  background:none;
  display:none;
}

/*
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] [data-component="carousel"],
*/
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [product-count="1"][data-component="carousel"],
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [product-count="2"][data-component="carousel"],
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [product-count="3"][data-component="carousel"],
#productsamplecarousel .product-sample-carousel[product-count="1"] [data-component="carousel"],
#productsamplecarousel .product-sample-carousel[product-count="2"] [data-component="carousel"],
#productsamplecarousel .product-sample-carousel[product-count="3"] [data-component="carousel"]{
  padding-right:0;
  padding-left:0;
}

#donationProductSampleCarousel .product-sample-carousel[product-count="1"] [data-component="carousel"],
#donationProductSampleCarousel .product-sample-carousel[product-count="2"] [data-component="carousel"],
#donationProductSampleCarousel .product-sample-carousel[product-count="3"] [data-component="carousel"]{
  padding-right:0;
  padding-left:0;
}

#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] [data-component="carousel"],
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [data-component="carousel"],
#productsamplecarousel .product-sample-carousel [data-component="carousel"],
#donationProductSampleCarousel.product-sample-carousel [data-component="carousel"]{
  margin:0;
}

#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] [data-component="carousel-mask"],
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] [data-component="carousel-mask"],
#productsamplecarousel .product-sample-carousel [data-component="carousel-mask"],
#donationProductSampleCarousel.product-sample-carousel [data-component="carousel-mask"] {
	margin-top: 20px;
}

/* carousel & popup items for more than 3 items */
#cartCarousels .tab-container[data-cmsitefeature="PRODUCT_DONATION"] .portrait-item,
#cartCarousels .tab-container[data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item,
.productSamplingItem.portrait-item {
  padding-left:124px; /* 114px + 2*5px padding */
  padding-right:0;
  box-sizing:border-box;
  width:300px;
  margin-right:16px;
  vertical-align:top;
}

/* cmsitefeature value set in ViewCartCarouselService */
#cartCarousels .tabbed-carousel.fullsize .tab-container[data-cmsitefeature="PRODUCT_DONATION"] [data-component="carousel"] [data-component="carousel-mask"] ul li,
#cartCarousels .tabbed-carousel.fullsize .tab-container[data-cmsitefeature="PRODUCT_SAMPLE"] [data-component="carousel"] [data-component="carousel-mask"] ul li,
#donationProductSampleCarousel .product-sample-carousel [data-component="carousel"] [data-component="carousel-mask"] ul li,
#productsamplecarousel .product-sample-carousel [data-component="carousel"] [data-component="carousel-mask"] ul li {
  width: 282px; /* 124 + 156 */
}

#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item:after,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item:after,
.productSamplingItem.portrait-item:after {
  content: '';
  display: block;
  clear: both;
}
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item.unavailable .portrait-item-header:after,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item.unavailable .portrait-item-header:after,
.portrait-item.unavailable.productSamplingItem .portrait-item-header:after {
  content: '';
  display: none !important; /* hide 'unavailable' text for samples */
  clear: both;
}

#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item .portrait-item-productimage_wrapper,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item .portrait-item-productimage_wrapper,
.productSamplingItem.portrait-item .portrait-item-productimage_wrapper {
  width:114px; /* 124px - 5px padding - 5px padding */
  margin-left:-119px; /* -124+5 padding */
  float:left;
  display:inline-block;
}

#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item .portrait-item-productimage,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item .portrait-item-productimage,
.productSamplingItem.portrait-item .portrait-item-productimage{
  max-width:114px;
  top: 0;
  bottom: inherit;
}

#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item .portrait-item-header,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item .portrait-item-price,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item .portrait-item-controls,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item .portrait-item-controls-content,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item .atc-info,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item .portrait-item-header,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item .portrait-item-price,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item .portrait-item-controls,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item .portrait-item-controls-content,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item .atc-info,
.productSamplingItem.portrait-item .portrait-item-header,
.productSamplingItem.portrait-item .portrait-item-price,
.productSamplingItem.portrait-item .portrait-item-controls,
.productSamplingItem.portrait-item .portrait-item-controls-content,
.productSamplingItem.portrait-item .atc-info {
  width:156px;
  display:inline-block;
  float:none;
  clear:none;
  vertical-align:top;
}

/* carousel & popup items for 1 and 2 items */
#cartCarousels .tabbed-carousel.fullsize .tab-container[data-cmsitefeature="PRODUCT_SAMPLE"] [data-component="carousel"] [data-component="carousel-mask"] ul li.item-count1,
#cartCarousels .tabbed-carousel.fullsize .tab-container[data-cmsitefeature="PRODUCT_SAMPLE"] [data-component="carousel"] [data-component="carousel-mask"] ul li.item-count2,
#productsamplecarousel .product-sample-carousel [data-component="carousel"] [data-component="carousel-mask"] ul li.item-count1,
#productsamplecarousel .product-sample-carousel [data-component="carousel"] [data-component="carousel-mask"] ul li.item-count2 {
  width: 354px; /* 154 + 200 */
}

#cartCarousels .tabbed-carousel.fullsize .tab-container[data-cmsitefeature="PRODUCT_DONATION"] [data-component="carousel"] [data-component="carousel-mask"] ul li.item-count1,
#cartCarousels .tabbed-carousel.fullsize .tab-container[data-cmsitefeature="PRODUCT_DONATION"] [data-component="carousel"] [data-component="carousel-mask"] ul li.item-count2,
#donationProductSampleCarousel .product-sample-carousel [data-component="carousel"] [data-component="carousel-mask"] ul li.item-count1,
#donationProductSampleCarousel .product-sample-carousel [data-component="carousel"] [data-component="carousel-mask"] ul li.item-count2 {
  width: 354px; /* 154 + 200 */
}

#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count1.portrait-item,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count2.portrait-item,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count1.portrait-item,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count2.portrait-item,
.productSamplingItem.item-count1.portrait-item,
.productSamplingItem.item-count2.portrait-item {
  padding-left:154px;
  padding-right:0;
}


#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count1.portrait-item .portrait-item-productimage_wrapper,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count2.portrait-item .portrait-item-productimage_wrapper,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count1.portrait-item .portrait-item-productimage_wrapper,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count2.portrait-item .portrait-item-productimage_wrapper,
.productSamplingItem.item-count1.portrait-item .portrait-item-productimage_wrapper,
.productSamplingItem.item-count2.portrait-item .portrait-item-productimage_wrapper {
  width:144px;
  margin-left:-149px;
  float:left;
  display:inline-block;
}

#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count1.portrait-item .portrait-item-header,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count1.portrait-item .portrait-item-price,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count1.portrait-item .portrait-item-controls,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count1.portrait-item .portrait-item-controls-content,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count1.portrait-item .atc-info,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count2.portrait-item .portrait-item-header,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count2.portrait-item .portrait-item-price,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count2.portrait-item .portrait-item-controls,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count2.portrait-item .portrait-item-controls-content,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count2.portrait-item .atc-info,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count1.portrait-item .portrait-item-header,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count1.portrait-item .portrait-item-price,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count1.portrait-item .portrait-item-controls,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count1.portrait-item .portrait-item-controls-content,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count1.portrait-item .atc-info,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count2.portrait-item .portrait-item-header,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count2.portrait-item .portrait-item-price,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count2.portrait-item .portrait-item-controls,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count2.portrait-item .portrait-item-controls-content,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count2.portrait-item .atc-info,
.productSamplingItem.item-count1.portrait-item .portrait-item-header,
.productSamplingItem.item-count1.portrait-item .portrait-item-price,
.productSamplingItem.item-count1.portrait-item .portrait-item-controls,
.productSamplingItem.item-count1.portrait-item .portrait-item-controls-content,
.productSamplingItem.item-count1.portrait-item .atc-info,
.productSamplingItem.item-count2.portrait-item .portrait-item-header,
.productSamplingItem.item-count2.portrait-item .portrait-item-price,
.productSamplingItem.item-count2.portrait-item .portrait-item-controls,
.productSamplingItem.item-count2.portrait-item .portrait-item-controls-content,
.productSamplingItem.item-count2.portrait-item .atc-info{
  width:200px;
  display:inline-block;
  float:none;
  clear:none;
  vertical-align:top;
}

/* carousel & popup items for 3 items */
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count3.portrait-item,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count3.portrait-item,
.productSamplingItem.item-count3.portrait-item {
  padding-left:124px;
  padding-right:0;
}

#cartCarousels .tabbed-carousel.fullsize .tab-container[data-cmsitefeature="PRODUCT_SAMPLE"] [data-component="carousel"] [data-component="carousel-mask"] ul li.productSamplingItem.item-count3,
#cartCarousels .tabbed-carousel.fullsize .tab-container[data-cmsitefeature="PRODUCT_DONATION"] [data-component="carousel"] [data-component="carousel-mask"] ul li.productSamplingItem.item-count3,
#productsamplecarousel .product-sample-carousel [data-component="carousel"] [data-component="carousel-mask"] ul li.productSamplingItem.item-count3,
#donationProductSampleCarousel .product-sample-carousel [data-component="carousel"] [data-component="carousel-mask"] ul li.productSamplingItem.item-count3 {
  width: 304px; /* 124 + 180 */
}

#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count3.portrait-item .portrait-item-productimage_wrapper,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count3.portrait-item .portrait-item-productimage_wrapper,
.productSamplingItem.item-count3.portrait-item .portrait-item-productimage_wrapper {
  width:114px; /* 124px - 5px padding - 5px padding */
  margin-left:-119px; /* -124+5 padding */
  float:left;
  display:inline-block;
}

#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count3.portrait-item .portrait-item-productimage,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count3.portrait-item .portrait-item-productimage,
.productSamplingItem.item-count3.portrait-item .portrait-item-productimage {
  max-width:114px;
}

#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count3.portrait-item .portrait-item-header,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count3.portrait-item .portrait-item-price,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count3.portrait-item .portrait-item-controls,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count3.portrait-item .portrait-item-controls-content,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .item-count3.portrait-item .atc-info,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count3.portrait-item .portrait-item-header,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count3.portrait-item .portrait-item-price,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count3.portrait-item .portrait-item-controls,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count3.portrait-item .portrait-item-controls-content,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .item-count3.portrait-item .atc-info,
.productSamplingItem.item-count3.portrait-item .portrait-item-header,
.productSamplingItem.item-count3.portrait-item .portrait-item-price,
.productSamplingItem.item-count3.portrait-item .portrait-item-controls,
.productSamplingItem.item-count3.portrait-item .portrait-item-controls-content,
.productSamplingItem.item-count3.portrait-item .atc-info {
  width:180px;
  display:inline-block;
  float:none;
  clear:none;
  vertical-align:top;
}

#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .cssbutton[data-component-extra="showSOButton"],
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item-atl,
#cartCarousels [data-cmsitefeature="PRODUCT_SAMPLE"] .portrait-item-so-container,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .cssbutton[data-component-extra="showSOButton"],
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item-atl,
#cartCarousels [data-cmsitefeature="PRODUCT_DONATION"] .portrait-item-so-container,
#transactionalPopup .productSamplingItem .cssbutton[data-component-extra="showSOButton"],
#transactionalPopup .productSamplingItem .portrait-item-atl, #transactionalPopup .productSamplingItem .portrait-item-so-container{
	display:none;
}

.total-masq{
  font-size:14px;
}

.total-masq p{
  margin:1em 0;
}

.masq-input{
  line-height:32px;
  height:32px;
  padding:0 5px;
  background-color:#fff;
  border:1px solid #aaa;
  width:250px;
  box-sizing:content-box;
}

.cartline-complaint-reason-select{
  display:block;
  margin:10px 0;
}

.cartsection__cartline.invalid.reason [data-component="complaintreason"]{
  border:1px solid red;
}

.cartsection__cartline.invalid.reason .cartline-complaint-reason-select:after{
	content:" Please select one ";
	color:red;
}

.subtotal__rowcell-left{
  text-align:right;
  margin-right: 20px;
}


.tooltip_holder{
	display:inline-block;
	margin-right:10px;
}

.ttBox1stClass{
	height:1px;
}
.ttBox1stClass, #toolTipTextBox{
	position: absolute;
  left: -9999px;
}
.ttBox1stClass.shown, #toolTipTextBox.shown{
  left: auto;
}
.ttBox1stClass .tooltip-inner, #toolTipTextBox{
	position: absolute;
  text-align:left;
	
	background-color:white;
	border:1px solid #999;
	border-radius:4px;
	
	font-size:12px;
	-moz-box-shadow: 0px 0px 3px 3px #f1f1f1;
	-webkit-box-shadow: 0px 0px 3px 3px #f1f1f1;
	box-shadow: 0px 0px 3px 3px #f1f1f1;
}
.ttBox1stClass .tooltip-inner{
	white-space: normal;
	padding: 20px 20px 5px 20px;
	bottom:-19px;
	min-width:339px;
	/*min-height:300px;*/
	right: -23px;
}
.ttBox1stClass.optionalTipToolTip .tooltip-inner{
	bottom:-23px;
}
.tooltip_holder:focus .tooltip-small,
.tooltip_holder:hover .tooltip-small{
	z-index:1001;
}
.tooltip_holder:focus .ttBox1stClass,
.tooltip_holder:hover .ttBox1stClass{
  left: auto;
	z-index:1000;
}

.st_val_deliveryfee{
	white-space:normal;
}
.st_val .tooltip_holder{
	display:none;
}
#tooltipPopup.toomuch-etip{
	/*margin-left: -320px;*/
	margin-left: -1320px;
	margin-top: 95px;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0.0;
	-khtml-opacity: 0.0;
	opacity: 0.0;
}
#tooltipPopup .tooltip-inner{
	font-size:12pt;
	/*max-width:25%;*/
	width: 400px;
	padding:20px 20px 5px 20px;
	margin-top: -8px;
}
.eTippingEnabled div.tooltip p{
  margin-top: 1em;
}


.eTippingEnabled .subtotalboxes .subtotal__row{
  
}

.eTippingEnabled #subtotalbox1{
	margin-left: 651px;
}
/*.eTippingEnabled #subtotalbox1:before{*/
.eTippingEnabled.cartsection-wine > .cartsection__totalwrapper > p.cartsection__tax:after{
	content: " ";
	border-top: 1px solid #DDD;
	width: 970px;
	height: 2px;
	display: block;
	/*margin-left: -670px;*/
	margin-top: 35px;
	margin-bottom:20px;
}
.eTippingEnabled #subtotalbox1 .subtotal__row{
	white-space:nowrap;
}
.eTippingEnabled .subtotalboxes, .eTippingEnabled #subtotalbox1 .subtotal__row, .eTippingEnabled .cartsection__tax form{
	min-width: 300px;
}

.eTippingEnabled .subtotalboxes .subtotal__rowcell-left{
  /*display:block;
  clear:both;*/
  /*text-align:left;*/
  margin-right:1px;
}

.eTippingEnabled #subtotalbox2{
	/*width: 140px;*/
	float: right;
	
	min-width: 150px;
    width: auto;
}

#subtotalbox2{
	width: 430px;
}

/*#subtotalbox2 .rowcell-text-right{*/
 .total .rowcell-text-right{
	text-align: right;
    min-width: 70px;
}
/*#subtotalbox2 .st_val .rowcontent-free-with-pass{*/
.total .rowcontent-free-with-pass{
	margin-left: 0px;
	width: initial;
	text-align: right;
	display:inline;
}

.total .st_val_ssOrderTotal{
	vertical-align: top;
}

.eTippingEnabled #subtotalbox2 .subtotal__row{
	text-align: left;
}
.eTippingEnabled .subtotal__rowcell-left{
	width:initial;
    text-align: left;
}
.eTippingEnabled #subtotalbox2 .subtotal__rowcell-left{
	display:block;
	text-align: center;
	width:100%;
	clear:both;
}
.eTippingEnabled #subtotalbox2 .subtotal__rowcell-left.st_label_ssOrderTotal{
	text-align: left;
}
.eTippingEnabled #subtotalbox2 #st_label_youSaved, .eTippingEnabled #subtotalbox2 .subtotal__rowcell-mid.st_val_youSaved{
	display:inline;
}
.eTippingEnabled #subtotalbox2 #st_label_youSaved .strl_text, .eTippingEnabled #subtotalbox2 .subtotal__rowcell-mid.st_val_youSaved{
	font-size:9pt;
	color: #DF0000;
}
.eTippingEnabled .cartsection__totalwrapper{
	width: 100%;
}
.eTippingEnabled .cartsection__totalwrapper .subtotal__rowcell-left {
	min-width: auto;
	width: 170px;
	margin-right: 20px;
	margin-bottom: 4px;
	line-height: 21px;
	white-space: normal;
}

.eTippingEnabled .cartsection__totalwrapper #optionaltip.subtotal__rowcell-left {
    min-width: 156px;
	display: table;
}
.eTippingEnabled form .subtotal__rowcell-left{
	float:left;
}
.eTippingEnabled #subtotalbox2 .strl_text{
	font-weight:normal;
	white-space:nowrap;
	background-color: transparent;
    color: rgb(102,102,102);
    text-transform: capitalize;
}

.eTippingEnabled .subtotal__rowcell-mid{
	font-weight:bold;
}
.eTippingEnabled #subtotalbox1 .subtotal__rowcell-mid{
	/*min-width: 85px;*/

	white-space:nowrap;

    text-align: left;
    width: auto;
}
.eTippingEnabled #subtotalbox2 .subtotal__rowcell-mid{
	color: #333333;
	font-size: 27px;
	font-weight: 700;
	padding-left: 0px;
}
.eTippingEnabled .subtotal__row .subtotal__rowcell-right{
	position:absolute;
}

.eTippingEnabled #subtotalbox1 .subtotal__rowcell-mid, 
.eTippingEnabled .subtotal__row .subtotal__rowcell-right{
	position: static;
	vertical-align: bottom;
	padding: 0;
	line-height: 21px;
	margin-bottom: 4px;
}

.eTippingEnabled .subtotal__rowcell-left,
.eTippingEnabled .subtotal__rowcell-mid,
.eTippingEnabled .subtotal__rowcell-right{
  font-size:16px;
}

[fdform="etip"] [fdform-error] {
  display: none;
}

.eTippingEnabled #tipDropdown, .eTippingEnabled #tipTextBox{
	border: 2px solid rgb(194, 194, 194);
	width: 125px;
	padding-left:5px;
	color: #333333;
    font-size: 15px;
    font-weight: 400;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    /*background: transparent url('http://dfoolong.github.io/assets/img/input-arrow-down.png') 97% center no-repeat;*/
}

.eTippingEnabled #tipDropdown, .eTippingEnabled #tipApply, .eTippingEnabled #tipApplied, .eTippingEnabled #tipTextBox{
	width: 129px;
	box-sizing: border-box;
}
.eTippingEnabled #tipDropdown{
	/*background: transparent url('/media/images/layout/input-arrow-down.png') 97% center no-repeat;*/
	background: transparent url('/media/images/layout/input-arrow-down.png') no-repeat 97% center;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
.eTippingEnabled #tipDropdown:focus, .eTippingEnabled #tipTextBox:focus{
	border-color: #4FA157;
}
.eTippingEnabled #tipTextBox::-ms-clear {
    display: none;
}

.eTippingEnabled #tipApply, .eTippingEnabled #tipApplied{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-shadow: none;
	/* font-weight: normal; */
	font-size: 12px;
	font-weight: 700;
	margin-top: 6px;
	padding-top: 7px;
	padding-bottom: 7px;
	height: 28px;
}

.eTippingEnabled #tipAppliedTick{
  position: absolute;
  margin-top: 10px;
  margin-left: 5px;
}

.eTippingEnabled .rowcell-colon-right:after{
  content: " ";
}

.eTippingEnabled .rowcell-colon-right.st_label_youSaved:after{
	white-space: pre;
}

.eTippingEnabled .strl_text:after, .cartsection__total .strl_text:after, .cartsection__tax .strl_text:after{
  content:":";
}

.eTippingEnabled .cartsection__total,
.eTippingEnabled .cartsection__tax{
  font-size:16px;
  font-weight:normal;
}

.eTippingEnabled .rowcontent-free-with-pass{
	margin-left:0;
	text-align:left;
	float:right;
  width: auto;
}

.eTippingEnabled .orderSummary{
	padding-top: 20px;
	width: 400px;
    float: right;
	font-size: 16px;
	margin-bottom: 40px;
}
.eTippingEnabled .orderSummary .cartsection__total{
	margin-top:10px;
	margin-bottom:10px;
}
.eTippingEnabled .strl_text{
	font-size:16px;
}
.eTippingEnabled #subtotalbox1 .strl_text, .eTippingEnabled .tooltip_holder, .icon-info-before{
	display: table-cell;
}
.eTippingEnabled .orderSummary .strl_text{

}
.eTippingEnabled .orderSummary .subtotal__rowcell-mid{
	width: 140px;
    text-align: left;
}
.eTippingEnabled .SSorderTotal{
	color: white;
	text-align:right;
	text-transform:uppercase;
	font-weight:bold;
	font-size: 14pt;
	padding: 10px;
	background-color: #6AAA6D;
}
.eTippingEnabled #subtotalbox2 .SSorderTotal{
	background-color: transparent;
    color: rgb(51,51,51);
    text-transform: capitalize;
}
.eTippingEnabled .free-link-holder{
	/*position: absolute;*/
	/*margin-left: 100px;*/
}

.eTippingEnabled .cartsection__tax form .strl_text, .cartsection__tax form a.tooltip-small{
	float:none;
}
.eTippingEnabled a.tooltip-small{
	margin-right:5px;
	cursor:pointer;
}
.eTippingEnabled span.tooltip-small, .eTippingEnabled a.tooltip-small{
	top: -5px;
}

.eTippingEnabled a.tooltip-small:hover, .eTippingEnabled a.tooltip-small:focus{
	/*background-color:rgb(157, 157, 157);*/
}

.eTippingEnabled #toolTipTextBox{
    margin-left: -320px;
    margin-top: -68px;
    width:440px;
    padding:13px 18px 13px 18px;
}
.eTippingEnabled #toolTipTextBox a, .eTippingEnabled .tooltip a{
	text-decoration: underline;
}
.eTippingEnabled #toolTipTextBox:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #FFFFFF;
	width: 15px;
	height: 15px;
	border-top: #999 1px solid;
	border-right: #999 1px solid;
	content: " ";
	position: absolute;
	left: 468px;
	top: 45px;
}

#subtotalbox2 .row-size-big .subtotal__rowcell-mid.st_val{
	text-align: left;
}

.eTippingEnabled select::-ms-expand {
    display: none;
}
.st_val_statebottledeposit{
	/*display:none;*/

}
.st_val_statebottledeposit:first-of-type{
/*#st_val_statebottledeposit{*/
	display:inline-block!important;

}
.st_val_statebottledeposit:first-child {

}
.eTippingEnabled span.tooltip-small:hover, .eTippingEnabled a.tooltip-small:hover{
	background-color: #9d9d9d;
	cursor:pointer;
}
#expresscheckout #cartcontent:before{
	width: 120%;
}
#expresscheckout .tabbed-carousel .tabs li{
	padding: 10px;
	font-size: 90%;
}
#expresscheckout .tabbed-carousel .tab-container {
	padding: 0;
}
#expresscheckout .tabbed-carousel .tab-container .pager {
	display: none;
}
#expresscheckout .tabbed-carousel .tab-container h2{
	margin-bottom: 4px;
    font-size: 1.4em;
}
#expresscheckout .tabbed-carousel .tab-container .transactional {
	margin-top: 0;
    margin: 0;
}
.total .subtotal__rowcell-right:empty{
	float:right;
}

.row-style-saving .st_label_youSaved,
.row-style-saving .st_val_youSaved{
	display: inline-block;
	font-size: 9pt;
}

.row-style-saving #st_label_youSaved .strl_text{
	color: #DF0000;
}

.row-style-saving .st_val_youSaved{
	font-size: 10pt;
	text-align: left;
	color: #DF0000;
	display: inline-block;
}

.gogreen-text{
	vertical-align: middle;
}

.gogreen-text label {
  font-weight: normal;
}

.gogreen-text label input{
	float: left;
    margin-top: -5px;
    margin-bottom: 0px;
    margin-right: 5px;
}

.etipping-addtip-text{
  font-size:14px;
  padding-right:90px;
  }
 
 #questions {
 	margin-bottom: 20px;
 }
 .questions__left,
 button[data-component="update-cart"] {
 	display: none;
 }
 .questions__right {
 	width: 100%;
 }