.drawer__content{
  font-family:Verdana, Geneva, sans-serif;
  width:970px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  
  display: -ms-flexbox;
  -ms-flex-direction:row;
  -ms-flex-wrap:wrap;
  
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap:wrap;
  background-image: linear-gradient(to top, #f3f3f3, #ffffff);
}

.drawer__content [fdform-error-container]{
  width: 100%;
}
.drawer__content [fdform-error-container="timeslot"] span[fdform-error]{
  text-align: center;
}
.drawer__content[data-item-count="1"] .icon-trash-new-before{
  display:none;
}

.drawer__header {
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 14px;
  line-height: 22px;
  overflow: hidden;
}

.drawer__item{
  padding: 10px 10px 10px 30px;
  width:250px;
  margin: 0 19px 20px 0;
  position:relative;
  min-height:300px;
}

.drawer__previewitem{
  position:relative;
  width: 100%;
  padding: 0 0 0 24px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.ie .drawer__item{
  display:inline-block;
  vertical-align:top;
}

.drawer__itemleft{
  margin-left:-20px;
  margin-top:10px;
  float:left;
}
.drawer__previewitem .drawer__itemright{
  float:left;
  margin-bottom: 0;
}
.drawer__itemright{
  display: inline-block;
  margin-bottom:30px;
  max-width: 210px;
  word-wrap: break-word;
}

.drawer__item .fake-radio-wrapper {
    margin-top: 12px;
    display: inline-block;
    vertical-align: top;
}

.drawer__item__section .section__body{
  font-size:16px;
  color:#666;
  font-weight: normal;
}

.drawer__item__section .section__body p,
.drawer__previewitem__section .section__body p{
  margin:0;
  font-size:16px;
}

.drawer__previewitem .section__body p,
.drawer__previewitem .drawer__item__title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* hide or remove instructions*/
[data-component="drawer"][data-drawer-columns="3"] [data-drawer-default] > [data-drawer-default-content="address"] .drawer__itemright.clickable >  .drawer__item__section {
    display: none;
}
.drawer__item__action .action:before {
  margin-right: .2em;
  vertical-align: top;
}
[data-drawer-default-content="address"] .drawer__itemright .drawer__item__title,
[data-drawer-default-content="address"] .drawer__itemright .section__title,
[data-drawer-default-content="address"] .drawer__itemright .section__body p{
	font-size: 14px;
}

[data-component="drawer"][data-drawer-columns="3"] [data-drawer-default] > [data-drawer-default-content="payment"] .drawer__itemright {
    max-width: 260px;
}
[data-drawer-default-content="payment"] .payment-notice {
	padding: 0 10px 50px 24px;
}
[data-drawer-default-content="payment"] .warning {
	border-top: 1px solid #dcdcdc;
}
.drawer__previewitem .drawer__item__action {
    float: right;
    padding-top: 35px;
    padding-right: 14px;
}
.drawer__item .drawer__item__action{
  position:absolute;
  bottom:10px;
}

.drawer__item .drawer__item__action .action {
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
  line-height: 1.3em;
}

.drawer__item .drawer__item__action .action.white.transparent {
  color: #222;
}

.drawer__item .drawer__item__action .action:before {
  margin-right: .2em;
  vertical-align: top;
}

.drawer__item-addaction.drawer__item{
  position:relative;
  outline:1px solid #ccc;
  text-align: center;
  background: #f7f7f3;
}

.drawer__item__label{
  cursor: pointer;
  display: inline-block;
}

.addaction__center{
  position: absolute;
  left: 50%;
  top: 50%;
  width:80%;

  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.addaction__button{
  width:100%;
  height:40px;
  background:#4fa157;
}

.addaction__desc{
  font-size:14px;
  color:#333;
}

.timeslot_pattern_notification{
  display: inline-block;
  margin: 0;
}

[data-drawer-default-content] .drawer__item .fake-radio-wrapper,
[data-drawer-default-content] .drawer__item input {
  display: none;
}

[data-drawer-default-content] .drawer__item__label {
  cursor: default;
  width: 100%;
}

.drawer__previewitem__title{
  font-weight: bold;
  font-size: 16px;
  color: #2d323e;
}

.drawer__item__title,
.section__title{
  font-size:16px;
  margin-top: 14px;
  font-weight:bold;
  margin-top: 10px;
  margin-bottom:0;
}
.drawer__item__title.green {
	color: #4fa157;
}

.drawer__previewitem__button__section {
  text-align: center;
  padding-right: 24px;
}

.drawer__previewitem__button__section button.cssbutton {
  font-size: 24px;
  padding: 0;
  min-width: 250px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 35px;
}

.drawer__previewitem__section .section__title{
  font-weight:bold;
  font-size:14px;
  color:#444;
  margin:0;
}

.drawer__previewitem__section .section__body{
  font-size:14px;
  color:#666;
}

.drawer__previewitem__section .section__body p{
  margin:0;
  word-wrap: break-word;
}


[data-drawer-content="timeslot"] [data-component="timeselectorcontent"] {
  width: 100%;
}

[data-drawer-locked][data-drawer-default-content] button.cssbutton.green[data-drawer-activate] {
  background: grey;
  cursor: default;
}

