.mod56 .leftCol {
	width: 100%;
	margin-top: 0;
}
.mod56 .rightCol {
	width: calc( 100% - 40px );
	margin-left: 20px;
	margin-right: 20px;
	display: block;
}
.mod56 .estTotalNoteAndContactContainer {
	border: none;
	padding: 40px;
	font-size: 14px;
	color: #666;
	background: #f7f7f7;
	box-sizing: border-box;
}
.mod56 .estimated-note {
	font-size: 12px;
}
.mm-page .mod56 #cartcontent .cartsection__cartline .cartline-imageholder {
	max-width: 62px;
}
.mm-page .mod56 #cartcontent .cartsection__cartline .cartline-quantity,
.mm-page .mod56 #cartcontent .cartsection__cartline .cartline-price {
	max-width: 100px;
}
.mm-page .mod56 #cartcontent .cartsection__cartline .cartline-legend {
	max-width: 40px;
}
.mm-page .mod56 #cartcontent .cartsection__cartline .cartline-title {
	max-width: calc(100% - 302px);
}