<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
        <pattern>[%d{dd.MM.yyyy}, %d{HH:mm:ss.SSS}] %-5level [%thread][%logger]: %m%n</pattern>
    </encoder>
  </appender>

  <logger name="com.freshdirect.cmsadmin">
    <level value="error" />
  </logger>

  <logger name="org.springframework.cache">
    <level value="error" />
  </logger>

  <logger name="org.hibernate.SQL" level="ERROR"/>
  <logger name="org.hibernate.type" level="ERROR"/>

  <root>
    <level value="error" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
