{namespace pdp}

/**
 * @param catId	
 * @param productId	
 * @param skuCode
 * @param inCartAmount	
 */
{template .atcInCart autoescape="false"}
{call common.atcInCart}
	{param atcItemId:'pdp_'+$catId+'_'+$productId+'_'+$skuCode /}
	{param amount:$inCartAmount /}
{/call}
{/template}
