{namespace pdp}

/**
 * @param coupon coupon data
 * @param couponDisplay display coupon information 
 * @param couponClipped is coupon clipped (checkbox will be disabled)
 * @param couponStatusText the html formatted coupon status message
 */
{template .ecoupon}
{if $coupon}
<div class="pdp-ecoupon{if $couponClipped} isClipped{/if}">{call common.ecoupon data="all" /}</div>
{/if}
{/template}