{namespace pdp}

/**
 * @param? ratingValue wine rating value
 */
{template .expertRating}
{if $ratingValue>0}
  <a href="#explanatory" data-component="accordion-opener" data-accordion-target="pdp-explanatory">
    <b class="expertrating smallrating rating-{$ratingValue*1}">
    {let $ratingFormatted: ( strContains(''+round($ratingValue/2, 1), '.0') ) ? round($ratingValue/2) : round($ratingValue/2, 1) /}
     Rating {$ratingFormatted} out of 5
    </b>
  </a>
{/if}
{/template}
