{namespace pdp}

/**
 * @param variations
 */
{template .skuControlVariations autoescape="false"}
{call common.skuControlVariations}
	{param align:'left' /}
	{param variations:$variations /}
{/call}
{/template}