{namespace pdp}

/**
 * @param productName
 * @param? akaName
 */
{template .productName}
	<h1 class="pdpTitle">
		<span itemprop="name">
		{if $productName}{$productName}{/if}
        </span>
  	</h1>
  	{if $akaName}
  		<h2><span class="productDisplay-akaName">"{$akaName|noAutoescape}"</span></h2>
  	{/if}
    <div class="annotation cssbutton transparent white icon-info2-before notext">?</div>
{/template}
