{namespace pdp}

/**
*/
{template .productRequest}
	<p class="product-request">
		<a href="javascript:pop('/request_product.jsp', 400, 585);">
			Product Request? Click here.
		</a>
	</p>	
{/template}