/* CASE */

.case_header {
position: relative;
/*width: 100%;*/
height: auto;
padding: 4px 0;
/*padding-left: 8px;*/
background-color: #005555;
border-bottom: 1px solid #000000;
}

.case_header_color {
background-color: #005555;
}

.case_header_title_text 	{ font-size: 10pt; color: #FFFF00; text-decoration: none; text-indent: 8px; }
a.case_header_title_text:link 	{ color: #FFFF00; text-decoration: none; }
a.case_header_title_text:visited 	{ color: #FFFF00; text-decoration: none; }
a.case_header_title_text:active 	{ color: #FFFF00; text-decoration: none; }
a.case_header_title_text:hover 	{ border-left: 3px solid #FFFF00; border-right: 3px solid #FFFF00; background: #003333; color: #FFFF00; padding: 2px; padding-left: 6px; padding-right: 6px; font-weight:bold; text-decoration: none; }


.case_header_title_value 	{ font-size: 10pt; color: #FFCC00; text-decoration: none; }
a.case_header_title_value:link 	{ color: #FFCC00; text-decoration: underline; }
a.case_header_title_value:visited { color: #FFCC00; text-decoration: underline; }
a.case_header_title_value:active 	{ color: #FFCC00; text-decoration: none; }
a.case_header_title_value:hover 	{ background: #FFCC00; color: #003333; padding: 1px; padding-left: 3px; padding-right: 3px; font-weight:bold; text-decoration: none; }


.case_header_text 			{ font-size: 9pt; color: #FFFF00; text-decoration: none; }
a.case_header_text:link 	{ color: #FFFF00; text-decoration: none; }
a.case_header_text:visited 	{ color: #FFFF00; text-decoration: none; }
a.case_header_text:active 	{ color: #FFFF00; text-decoration: none; }
a.case_header_text:hover 	{ border-left: 3px solid #FFFF00; border-right: 3px solid #FFFF00; background: #003333; color: #FFFF00; padding: 0px; padding-left: 4px; padding-right: 4px; font-weight: normal; text-decoration: none; }


.case_header_value 			{ font-size: 9pt; color: #FFCC00; text-decoration: none; }
a.case_header_value:link 	{ color: #FFCC00; text-decoration: underline; }
a.case_header_value:visited { color: #FFCC00; text-decoration: underline; }
a.case_header_value:active 	{ color: #FFCC00; text-decoration: none; }
a.case_header_value:hover 	{ background: #FFCC00; color: #003333; padding: 1px; padding-left: 3px; padding-right: 3px; font-weight:bold; text-decoration: none; }

/* CUST CASE MISMATCH */
.mismatch {
position: relative;
/*width: 100%;*/
height: auto;
padding: 4px;
padding-left: 8px;
background-color: #990000;
/*border: 1px dotted #FFFFFF;*/
border-bottom: 1px solid #000000;
}

.mismatch_note {
position: relative;
/*width: 100%;*/
height: auto;
padding: 1px;
padding-left: 8px;
background-color: #FFFFCC;
color: #CC0000;
font-size: 8pt;
border: 2px solid #CC0000;
}

/* CUST CASE MISMATCH */ 

.case_summary_header_text 			{ font-size: 8pt; color: #FFFF00; text-decoration: none; }
a.case_summary_header_text:link 	{ color: #FFFF00; text-decoration: underline; }
a.case_summary_header_text:visited { color: #FFFF00; text-decoration: underline; }
a.case_summary_header_text:active 	{ color: #FFFF00; text-decoration: none; }
a.case_summary_header_text:hover 	{ background: #003333; color: #FFFF00; padding: 0px; padding-left: 4px; padding-right: 4px; border-left: 3px solid #FFFF00; border-right: 3px solid #FFFF00; text-decoration: none; }

.case_summary_header_value 			{ font-size: 8pt; color: #FFCC00; text-decoration: none; }
a.case_summary_header_value:link 	{ color: #FFCC00; text-decoration: underline; }
a.case_summary_header_value:visited { color: #FFCC00; text-decoration: underline; }
a.case_summary_header_value:active 	{ color: #FFCC00; text-decoration: none; }
a.case_summary_header_value:hover 	{ background: #FFCC00; color: #003333; padding: 1px; padding-left: 1px; padding-right: 1px; font-weight:bold; text-decoration: none; }

.case_subheader {
position: relative;
/*width: 100%;*/
height: auto;
padding: 2px;
padding-left: 8px;
padding-right: 8px;
background-color: #FFFFCE;
border-bottom: 1px solid #000000;
}

.case_subheader_text {
color: #000000;
font-size: 8pt;
}

.case_subheader_action 			{ font-size: 9pt; color: #FF6600; font-weight: bold; text-decoration: none; }
a.case_subheader_action:link 	{ color: #FF6600; text-decoration: underline; }
a.case_subheader_action:visited { color: #FF6600; text-decoration: underline; }
a.case_subheader_action:active 	{ color: #FF6600; text-decoration: underline; }
a.case_subheader_action:hover 	{ color: #FFFFCE; padding: 1px; padding-left: 3px; padding-right: 3px; background: #FF6600; text-decoration: none; }

.case_content {
position: relative;
/*width: 100%;*/
height: 80%;
background-color: #D6EBD6;
padding: 4px;
padding-left: 8px;
padding-bottom: 0px;
margin: 0px;
border-bottom: 8px solid #005555;
}

.case_content_scroll {
position: relative;
height: 40%;
float: left;
padding-top: 6px;
background-color: #D6EBD6;
overflow-y: scroll;
margin: 0px;
border: 0px;
}

.case_content_field {
color: #004444;
font-weight: bold;
font-size: 10pt;
}

.case_content_text {
color: #000000;
font-size: 10pt;
}

.case_footer {
background-color: #005555;
position: relative;
/*width: 100%;*/
height: 8px;
left: 0;
bottom: 0;
padding: 0px;
margin: 0px;
}

.case_selected_header {
background-color: #006666;
color: #FFFF00;
font-size: 8pt;
padding-right: 6px;
}

.case_action_text {
color: #000000;
font-size: 9pt;
}

.case_action_field {
color: #003333;
font-size: 9pt;
}

.case_action_timestamp {
color: #333333;
font-size: 8pt;
font-family:  Arial, Verdana, sans-serif;
}

.case_action_user {
color: #FF6600;
font-size: 8pt;
font-family:  Arial, Verdana, sans-serif;
}

.case_action_system {
color: #666666;
font-size: 8pt;
font-family:  Arial, Verdana, sans-serif;
}

.case_summary_header {
position: relative;
width: 100%;
height: auto;
background-color: #005555;
padding: 1px;
border-top: 2px solid #000000;
border-bottom: 2px solid #000000;
}

.case_summary_empty {
position: relative;
width: 100%;
height: auto;
font-size: 10pt;
font-weight: normal;
color: #000000;
background-color: #E7E7D6;
padding: 4px;
border-top: 2px solid #000000;
border-bottom: 2px solid #000000;
}

.case_search_module {
float: left;
background-color: #D6EBFF;
padding: 5px;
font-size: 10pt;
color: #000000;
border-right: 2px #999999 solid;
}

.case_search_note {
background-color: #FFFFFF;
font-size: 10pt;
color: #CC0000;
font-weight: bold;
padding: 5px;
border-top: 1px #999999 solid;
border-bottom: 1px #999999 solid;
width: 100%;
}

.case_search_result_header {
background-color: #FFCC99;
border-bottom: 1px #999999 solid;
}

.case_search_result_header_color {
background-color: #FFCC99;
}

.case_search_result {
font-size: 9pt;
color: #000000;
padding-top: 3px;
padding-right: 5px;
padding-bottom: 4px;
}

.case_search_result_odd_row {
background-color: #DDDDDD;
}

.case_search_result_separator {
background-color: #999999;
}

/* CASE BUTTONS */

#close {
	background-color: #FFCC00;
}
	
#escrvw {
	background-color: #CC66CC;
}

#approv {
	background-color: #9999CC;
}

#return {
	background-color: #FF6666;
}

#eml_out {
	background-color: #CCCC99;
}

#cal {
	background-color: #99FFCC;
}

#cal_msg {
	background-color: #FF99CC;
}

#cal_spk {
	background-color: #FF9966;
}

#cust_cal {
	background-color: #99FF00;
}

#act_dm_a {
	background-color: #99FF00;
}

#act_dm_r {
	background-color: #FF9900;
}


.case_save {
	background-color: #00FF00;
	font-size: 8pt;
	color: #000000;
	border: 1px solid #999999;
	padding: 1px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	width: 130px;
}

.case_save_disabled {
	background-color: #afa;
	font-size: 8pt;
	font-style: italic;
	color: #888;
	border: 1px solid #999;
	padding: 1px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
	width: 130px;
}

/* diff action colors */
.case_action {
background-color: #FFFF00;
font-size: 8pt;
color: #000000;
border: 1px #999999 solid;
padding: 1px;
padding-left: 0px;
padding-right: 0px;
margin: 0px;
margin-left: 10px;
margin-right: 10px;
width: 130px;
}

.case_inactive {
font-family: Microsoft Sans Serif, Arial, Verdana, sans-serif;
background-color: transparent;
font-size: 8pt;
height: 20px;
color: #999999;
border: 1px #999999 solid;
text-align: center;
vertical-align: middle;
padding: 3px;
margin: 0px;
margin-left: 10px;
margin-right: 10px;
width: 130px;
}

.case_forward_delete {
background-color: #FF4040;
font-size: 8pt;
color: #000000;
border: 1px #999999 solid;
padding: 1px;
padding-left: 0px;
padding-right: 0px;
margin: 0px;
margin-left: 10px;
margin-right: 10px;
width: 130px;
}

/* BUTTONS */
.case_forward_delete_section {
background-color: #FFFFCE;
float: left;
padding: 2px;
padding-left: 8px;
padding-right: 8px;
margin: 0px;
margin-left: 10px;
margin-right: 10px;
color: #000000;
font-size: 10pt;
}

/* CASE */


/* CASE LIST */

.case_list_header {
position: relative;
width: 100%;
height: auto;
padding: 0px;
background-color: #B7CEFF;
border-bottom: 1px #000000 solid;
color: #000000;
font-size: 9pt;
}

.case_list_header_text {
color: #000000;
font-size: 9pt;
font-weight: bold;
padding-top: 1px;
padding-bottom: 2px; 
}

a.case_list_header_text:link 	{ color: #000000; text-decoration: underline; }
a.case_list_header_text:visited { color: #000000; text-decoration: underline; }
a.case_list_header_text:active 	{ color: #000000; text-decoration: underline; }
a.case_list_header_text:hover 	{ color: #FFFFCE; padding-left: 3px; padding-right: 3px; background: #000000; text-decoration: none; }

.case_list_content {
position: relative;
width: 100%;
height: 40%;
padding: 0px;
background-color: #FFFFFF;
color: #000000;
font-size: 9pt;
overflow-y: scroll;
}

.case_list_content_text {
color: #000000;
font-size: 8pt;
padding-top: 4px;
padding-left: 3px;
padding-right: 6px;
padding-bottom: 5px;
}

/* CASE LIST */

/* CASE DISPOSITION */

.casedisp_cell {
	width: 40%;
	background-color: #9c9;
	border-left: 6px solid #055;
}

.casedisp_container {
	height: 270px;
	overflow-y: auto;
	padding: 5px 8px;
}

.casedisp_line {
	width: 99%;
	padding-left: 5px;
	float: left;
}

.casedisp_text {
	font-weight: bold;
	width: 49%;
	float: left;
	padding: 3px 0;
	line-height: 20px;
}

.casedisp_select {
	width: auto;
	float: right;
	padding: 3px 0;
}

#NotResolved_text, #NotResolved_select {
	display: none;
}

#NotResolved_text {
	text-indent: 15px;
	width: auto;
}

.casedisp_Err_invis {
	display: none;
}
.casedisp_Err_vis {
	display: inline;
	color: #C00;
	font-size: 12px;
	font-weight: bold;
	padding: 3px;
}

/* end CASE DISPOSITION */
