.fourmm {
	padding: 0px 17px 0px 16px;
	position: relative;
	zoom:1;
}

.fourmm .titlebartext {
	font-size: 14px;
}


.fourmm .infolabel a {
	text-decoration:none;
}

.fourmm h1 {
	margin: 0px auto;
	text-align: center;
	width: 407px;
	height: 1px;
	padding-top: 55px;
	background: url('/media/images/department/4mm/title.png');
	overflow: hidden;
}

.fourmm h2 {
	margin: 0px auto;
	text-align: center;
	overflow: hidden;
	height: 1px;
}

.fourmm .intro {
	overflow: hidden;
	margin-bottom: 10px;
	text-align: center;
	margin-top: 20px;
}

.fourmm .intro td {
	vertical-align: top;
}

.fourmm .intro .separator {
	background: url('/media_stat/images/4mm/dotted_bg_vert.gif') repeat-y
		center top;
	min-width: 2px;
}

/*
	the zoom:1 is for IE7 to trigger hasLayout
*/
.fourmm .restaurants {
	overflow: hidden;
	text-align: center;
	clear: both;
	zoom: 1;
}

.fourmm .restaurants h2 {
	width: 278px;
	padding-top: 26px;
	background: url('/media_stat/images/4mm/restaurants_title.png');
}

.fourmm .restaurant {
	display: inline-block;
	height: 140px;
	width: 182px;
	padding: 0px;
	vertical-align: top;
	zoom: 1;
}

.fourmm .infolabel {
	font-size: 12px;
	font-weight: bold;
	color: #360;
}

.fourmm .separator {
	background: url('/media_stat/images/4mm/dotted_bg.gif') repeat-x center
		left;
	min-height: 2px;
}

.fourmm.filterpage .separator {
	text-align:left;
}

.fourmm .mow {
	overflow: hidden;
	position: relative;
	text-align: left;
	font-size: 14px;
}

.fourmm .mow-desc {
	text-align: left;
	vertical-align: top;
}

.fourmm .mow .price {
	font-size: 14px;
}

.fourmm .mow-image {
	float: right;
	padding-top: 10px !important;
}

.fourmm .mow-image div {
	float: left;
}

.fourmm .carousel-box {
	width: 540px;
	margin-top: 40px;
	margin-bottom: 30px;
}

.fourmm .carousel-box .carousel-box-title {
	margin: 10px;
}

.fourmm #ads {
	height: 80px;
}

.fourmm .seeall {
	margin: 10px 0px;
	text-align: center;
}

/*
	the zoom:1 is for IE7 to trigger hasLayout
*/
.fourmm .meals {
	text-align: left;
	position: relative;
	clear: both;
	zoom: 1;
}

.fourmm .meals-title {
	text-align: center;
	position: relative;
}

.fourmm .meals-sidebar {
	float: left;
	position: relative;
	overflow: hidden;
}

.fourmm .meals-sidebar .meals-blurb {
	
}

.fourmm .meal {
	display: inline-block;
	width: 117px;
	_width: 127px;
	padding: 10px;
	_padding: 5px;
	text-align: center;
	vertical-align: top;
}

.fourmm .chef-row {
	overflow: hidden;
	margin-bottom: 10px;
}

.fourmm .chef {
	overflow: hidden;
	float: left;
	width: 350px;
	text-align: left;
	margin-right: 5px;
}

.fourmm .chef .chef-image {
	float: left;
	max-width: 90px;
}

.fourmm .chef-info {
	float: left;
	max-width: 255px;
	margin-left: 5px;
}

.fourmm .chef h3 {
	
}

.fourmm .sortselector {
	text-align:right;
	color:#CCC;
	margin:5px 0px;
}

.fourmm .sortselector label {
	font-size:14px;
	font-weight:bold;
}


.fourmm .filter {
	list-style-type: none;
	margin: 0px 6px;
	padding: 26px 0px 0px 0px;
	float: left;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	color: #360;
}

.fourmm .filter a,.fourmm .filter a:visited {
	color: #360;
}

.fourmm .filter li {
	clear: both;
	padding: 3px 6px;
	margin: 3px 0px 3px -6px;
}

.fourmm .filter .clearfilter {
	float: right;
	display: block;
	height: 100%;
}

.fourmm .filter .disabled {
	color: #aaa;
}

.fourmm .filter.brands {
	background:
		url('/media_stat/images/4mm/filterheader_brand.gif')
		no-repeat left top;
}

.fourmm .filter.ingredient {
	background:
		url('/media_stat/images/4mm/filterheader_ingredient.gif')
		no-repeat left top;
}

.fourmm .filter.nutrition {
	background:
		url('/media_stat/images/4mm/filterheader_nutrition.gif')
		no-repeat left top;
}

.fourmm .filter.prices {
	background: url('/media_stat/images/4mm/filterheader_price.gif')
		no-repeat left top;
}

.fourmm.aboutpage .filter.brands {
	background:
		url('/media_stat/images/4mm/filterheader_brand_about.gif')
		no-repeat left top;
}

.fourmm.aboutpage .filter.ingredient {
	background:
		url('/media_stat/images/4mm/filterheader_ingredient_about.gif')
		no-repeat left top;
}

.fourmm.aboutpage .filter.nutrition {
	background:
		url('/media_stat/images/4mm/filterheader_nutrition_about.gif')
		no-repeat left top;
}

.fourmm.aboutpage .filter.prices {
	background: url('/media_stat/images/4mm/filterheader_price_about.gif')
		no-repeat left top;
}


.fourmm.landingpage .filter.ingredient {
	background:
		url('/media_stat/images/4mm/filterheader_dptpage_ingredient.gif')
		no-repeat left top;
}

.fourmm.landingpage .filter.nutrition {
	background:
		url('/media_stat/images/4mm/filterheader_dptpage_nutrition.gif')
		no-repeat left top;
}

.fourmm.landingpage .filter.prices {
	background: url('/media_stat/images/4mm/filterheader_dptpage_price.gif')
		no-repeat left top;
}

.fourmm .selected {
	background-color: #360;
	color: white;
}

.fourmm .filter .selected a,.fourmm .filter .selected a:visited {
	color: white;
}

.fourmm .filterwidget.col3 ul {
	width: 171px;
	margin: 0px 6px;
}

.fourmm .filterwidget.col4 ul {
	width: 125px;
}

.fourmm.aboutpage .filterwidget.col4 ul {
	width: 155px;
}

.fourmm-breadcrumb {
	font-size: 11px;
	font-weight: bold;
	color: gray;
	padding: 8px;
	_padding-top: 4px;
	background-color: #D6D6D6;
	text-align: left;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	overflow: hidden;
	clear: both;
}

.fourmm-breadcrumb-with {
	font-weight: normal;
	font-style: italic;
}

.fourmm-breadcrumb-bullet {
	padding: 0px 6px;
}