	body { font-family:Verdana,Arial,sans-serif; font-size: 10px; height: 100%; }
	div.container {width: 700px; text-align:left;}
    .container1 {width: 630px;}
	.ctext { text-align: left; margin: 10px 2px; font-size: 11px; }
	.etext { text-align: left; margin: 10px 20px; font-size: 11px; font-weight: bold; }
	.notes { text-align: left; margin: 10px 20px; font-size: 10px; font-weight: normal; }
	.example { border: 1px dashed #4c4; width: 703px; text-align: left; margin: 5px auto 5px auto; }
	.fleft { float: left; }
	.cleft { clear: left; }
	.cright { clear: right; }
	.cboth { clear: both; }
	.question { color: orange; font-size: 12px; font-weight: bold; padding-top:10px; padding-bottom:3px; }
	.question_number { float: left; width: 25px; }
	.question_text { float: left; width: 675px; }
	.answer { margin: 10px; }
	.other { padding-left: 32px; }

	.q02_container { float: left; margin: 0 10px 0 0; }
	.q02_input { float: left; padding: 1px; }
	.q02_input input { font-size: 11px; text-align: center; width: 30px; }
	.q02_incr { float: left; }
	.q02_incr div { height: 8px; width: 10px; padding: 1px; }
	.q02_incr div img { height: 9px; width: 10px; margin: 0 2px; }
	.q02_text { float: left; line-height: 22px; padding-left: 4px; }

	.q03_container { float: left; margin: 0 10px 0 0; }

	.q04_container { float: left; margin: 0 10px 0 0; width: 48%; line-height: 22px; }
	.q04_container div { clear: right; }
	.q04_container input { float: left; }
	.q04_container div div { float: right; width: 90%; line-height: 22px; }


	.answer_container { overflow: hidden; }
	.q05_container { float: left; margin: 0; line-height: 23px; }
	.q05_colwfixed { width: 350px;}
	.q05_col50per { width: 50%; }
	.q05_col25per { width: 25%; }
	.q05_col75per { width: 75%; }
	.q05_container div { line-height: 24px; }
	.q05_container div div { float: left; padding-right: 10px; line-height: 22px; width: 22px; }
	.q05_container .other_input { font-size: 11px; text-align: left; width: 100px; margin: 2px 10px 1px 3px; }

	.q06_container { font-weight: bold;}
	.q06_container span { font-weight: bold; }
	.q06_container select { margin-left: 10px; }

	.q07_container { margin: 0 10px 0 0; width: 100%; line-height: 22px; }
	.q07_container div { padding: 1px 0; line-height: 22px; }
	.q07_container div div { clear: left; float: left; padding-right: 3px; }
    .q07_container .other_input { font-size: 11px; text-align: left; width: 100px; margin: 2px 10px 1px 3px; }
	//.q07_container .other_input { font-size: 11px; text-align: left; width: 100px; margin-left: 10px; }

	// q08 - to eat / to cook
	.q08_container { margin: 0 10px 0 0; width: 80%; line-height: 22px;}
	//.q08_container .q08_text { clear: both; }
	.q08_text { float: left; padding: 1px 0; padding-left:10px; line-height: 22px; width: 200px; }
	.q08_cb { float: right; padding: 1px 0; line-height: 22px; width: 70px; text-align: center; font-weight: bold;}
	
	.q09_container { float: left; width: 30%; padding:10px; }
	.q09_container .box { width: 100%; }
	.leftB { border-left:solid 1px #CCCCCC; border-top:solid 1px #CCCCCC;}
	.middleB { border:solid 1px #CCCCCC; border-bottom:none; }
	.rightB { border-right:solid 1px #CCCCCC; border-top:solid 1px #CCCCCC;}
	.leftBL { border:solid 1px #CCCCCC; border-right: none;}
	.middleBL { border:solid 1px #CCCCCC; }
	.rightBL {  border:solid 1px #CCCCCC; border-left: none;}
	.q09_container div div { line-height: 22px; }
	.q09_rb { float: left; width: 35%; text-align: right; }
	.q09_text { float: left; width: 65%; text-align: left; }
	//.odd { background-color: #ddd;  line-height: 26px; height: 26px;}
	//.even { background-color: #aaa;  line-height: 26px; height: 26px;}

	.q10_container { float: left; width: 600px; }
	.q10_container div { margin: 5px 0; }
	.q10_container select { margin: 0 10px 0 0; width: 97%; }
	
	.q11_container { margin: 0 10px 0 0; line-height: 22px; }
	.q11_colfright { float: right; }
	.q11_col35per { width: 35%; }
	.q11_col65per { width: 65%; }
	.q11_col65per div { width: 50%; }
	.q11_container div { float: left; padding: 1px 0; line-height: 22px; }
	.other_input { font-size: 11px; text-align: left; width: 100px; margin-left: 10px; }

	.q12_container { float: left; padding: 1px;}
	.q12_container input { margin: 5px; padding-top:8px; }
	.rb_image { text-align: center; width: 110px; }

	.q13_container {width:100%; align:center;}
	.q14_container {width:700px; align:center;}
	.q15_container { margin: 0 10px 0 0; width: 100%; line-height: 22px; }

	/* below is the table styles */
	.tQuestion { color: orange; font-size: 12px; font-weight: bold; width: 100%; border: 0; text-align: left; border-collapse: collapse; line-height: 24px; }
	.tQuestion td { vertical-align: top; }
	td.tIndex { width: 20px; }
	.tAnswer { padding: 6px 0 10px 10px; width: 100%; border-spacing: 0px; border-collapse: collapse; line-height: 24px; }
	.tAnswer td { padding: 0; }
	.tAnswer table { float: left; line-height: 24px; }
	.incr_input { font-size: 11px; text-align: center; width: 30px; }
	.col25per { width: 25%; }
	.col33per { width: 33.3%; }	
	.col49per { width: 49%; }
	.col50per { width: 50%; }
	.col75per { width: 75%; }
	.col100per { width: 100%; }
	.leftBorder { border-left: solid 3px #FFFFFF;}
	.other { padding: 0 0 0 24px; }
	.odd { background-color: #eee; }
	.even { background-color: #fff; }
	.bolded { font-weight: bold; }
	.cbHead { width: 10%; text-align: center; font-weight: bold; }
	.other_input { font-size: 11px; text-align: left; width: 100px; margin-left: 10px; }
	.tLeft { text-align: left; }
	.tCen { text-align: center; }
	.pad10px { padding: 10px; }
	.padTop30px { padding-top: 30px; }
	.rb_image { text-align: center; width: 110px; }
	.surveyText {font-family:Verdana,Arial,sans-serif; font-size: 10px;}
