.text10 		 { font-size: 10px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title10 	     { font-size: 10px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text11		     { font-size: 11px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title11 		 { font-size: 11px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text12 		 { font-size: 12px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title12 		 { font-size: 12px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text13		     { font-size: 13px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title13 		 { font-size: 13px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text14			 { font-size: 14px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title14		 { font-size: 14px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text15	         { font-size: 15px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title15	     { font-size: 15px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text16	         { font-size: 16px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title16	     { font-size: 16px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text17	         { font-size: 17px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title17	     { font-size: 17px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text18	         { font-size: 18px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title18	     { font-size: 18px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text19	         { font-size: 19px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title19	     { font-size: 19px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text20	         { font-size: 20px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title20	     { font-size: 20px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text21	         { font-size: 21px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title21	     { font-size: 21px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

.text24	         { font-size: 24px; font-weight: normal; font-family: Verdana, Arial, sans-serif; }
.title24 	     { font-size: 24px; font-weight: bold; font-family: Verdana, Arial, sans-serif; }

