@CHARSET "ISO-8859-1";


a:hover {
	text-decoration: none;
}
#social_login iframe { height:100%; width : 100%; }

#social_login {
	width:  500px;
	height: auto;
	overflow-y: auto;
	overflow-x: hide;
   -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
	/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 3px 3px 5px 6px #ccc;   /* Firefox 3.5 - 3.6 */
	box-shadow: 3px 3px 5px 6px #ccc;
	/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	border-radius: 5px;
	/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
	-webkit-border-radius: 5px; 
	/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-border-radius: 5px;  /* Firefox 3.5 - 3.6 */
	-o-border-radius: 5px; 
	
	position: absolute; 
	z-index: 10001;
	
}

.sulCont .padding-input-box {
	padding: 8px;
	border-radius: 2px;
}

/* it should be commented
.container {
	width: 500px;
	height: auto;
}

*/

.sulCont .form-side {
	width: 240px;
	float: left;
	margin-right: 10px;
	margin-left: 20px
}


.social-login {
	width: 230px;
	float: right;
}

.bottom-links {
	font-size: 11px;
	font-family: Verdana, Arial, sans-serif;
}

.sulCont .tos {
	/*margin-left:70px;*/
	
}

.sulCont .clear {
	clear: both;
}

.sulCont input[type="submit"] {
	width: 220px;
	padding: 10px;
	margin-top: 0px;
	background-color: #00B800;
	color: #ffffff;
	text-align: center;
	border-radius: 5px;
}

.sulCont .bottom-contents {
	width: 500px;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 30px;
}

.sulCont .icon-warning-active {
	background-position: -750px -1250px;
	height: 16px;
	width: 16px
}

.sulCont .sprite {
	background: url('/test/login_test/images/red-arrow.png') 0 0 no-repeat;
	display: inline-block;
	vertical-align: middle;
}

/* .form_margin{margin-left:50px;}*/
.sulCont input[disabled="disabled"] {
	background-color: #D6D6C2;
}


