.newproducts .content-header {
	background: none;
}

.newprod-deptnav {
	margin-top: 10px;
}

.newprod-deptnav hr {
	border: none;
	height: 0;
	margin: 0 0 10px;	
	border-bottom: 1px solid #999966;
}

.newprod-header-count {
	text-align: right;
	font-size: 18px;
	line-height: 46px;
}

.newproducts .featured-header {
	background: url('/media_stat/images/layout/dot_grey_h.gif') repeat-x top left;
	padding-top: 14px;
	margin-bottom: 4px;
	font-size: 18px;
	color: #333;
}
.newproducts .ddpp {
	margin-bottom: 	12px;
}
.newproducts .ddpp .ddpp_feat_prod_cont {
	margin-top: 0;
}

.newprod-featured .burst-new {
	display: none;
}

.newprod-dfgs #main {
	background: none;
	width:auto;
}

.newprod-dfgs #sidebar {
	display: none;
}

.newprod-dfgs #content {
	margin-left: 0;
	width: auto;
}

.newprod-dfgs #cart-container {
	width: 191px;
	float: right;
}

.newprod-dfgs .newprod-grid {
	width: 768px;
	float: left;
}

.newprod-grid .product-grid {
  width:803px;
}

.newprod-grid .items {
  width:804px;
}

.newprod-grid .grid-view .grid-item-container {
  width:201px;
}

.newprod-dfgs .toolbar {
	width: auto;
}

.newprod-dfgs .grid-view .grid-item-container {
	width: 193px;
}

.newprod-dfgs .toolbar-content .prepend-10 {
	padding-left: 203px;
}

.newprod-dfgs #your-cart-div img {
	display: block;
}	

.newprod-dfgs .product-grid {
	width: 771px;
}

.newprod-grid h3.grouping-header {
	font-size: 13px;
	line-height: 38px;
	padding-left: 10px;
	clear: both;
	margin-bottom: 0;
	font-weight: bold;
	color: #333;
	background: #f8f8f8;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	border-top: 1px solid #e9e9e9;
	margin-right: 1px;
	margin-top: -1px;
}
.newprod-dfgs .newprod-grid h3.grouping-header {
	border-left: 1px solid #e9e9e9;
	width: 756px;
}

.newprod-grid .burst-new {
	display: none;
}

.new_product_request_button {
  margin-top: 10px;
}

.new_product_request_button img {
  display: block;
  margin: 0 auto;
}
