.content-header {
	padding-bottom: 7px;
	background:url('/media_stat/images/layout/dot_grey_h.gif') repeat-x bottom left;
	position:relative;
}

.content-header-height {
	height:46px;
	line-height:46px;
}

.OAS-holder {
	text-align: center;
}

.OAS-holder img {
	margin-top:14px;
}

.OAS-holder img[width="2"] {
	display:none;
}

.button {
	padding:0px;
	margin:0px;
	border:none;
	font-size:14px;
	margin-left:7px;
	cursor:pointer;
}

#searchinput-wrapper {
	display:inline-block;
	background:#f7f7f7;
	border:4px solid #f7f7f7;
	border-radius:3px;
	height:36px;
	line-height:36px;
}

#searchinput {
	width:350px;
	border:1px solid #cdcdcd;
	font-size:14px;
	height:17px;
	line-height:17px;
	padding:9px 14px 8px 14px;
	border-radius:3px;
	margin:0px;
}

#searchTerms .yui-ac-bd {
	font-size:14px;
	line-height:17px;
	width:377px;
	border:1px solid #cdcdcd;
	border-radius:3px;
	border-top:none;
}

#searchbutton {
	background:url('/media_stat/images/search/searchbutton_bg.png') no-repeat top left white;
	display: inline-block;
	width: 72px;
	height: 36px;
}

.result-text {
}

.result-helper {
	display:inline-block;
	height:100%;
	vertical-align:middle;
	width:1px;
}

.search-header {
	font-size:18px;
	position:relative;
	padding:7px 0 14px 0;
}

.startpage .search-header {
	display:none;
} 

#tabs li,
#result-header {
	height:43px;
}

#result-header {
	width:650px;
	float:left;
}

#result-header-aligner {
	display:inline-block;
	height:100%;
	vertical-align:middle;
}
.ie6 #result-header-aligner {
	display:none;
}
#result-header-content {
	display:inline-block;
}

#result-header-content div {
	width:650px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

#result-header-content a {
	font-weight:bold;
}

#result-header .itemcount {
	font-weight:bold;
}

.search-string {
	font-weight:bold;
}

#didyoumean {
	color:#999999;
	font-size:13px;
	line-height:1.3em;
}

#didyoumean a {
	font-weight:bold;
	color: #336600;
}

.tab-header {
	position:relative;
	font-size:14px;
}

.noresult .tab-header {
	display:none;
}

#tabs {
	padding:0px;
	overflow:hidden;
	float:left;
	margin:0 1em 0 0;	
}

#tabs li {
	float:left;
	list-style-type:none;
	margin:0;
	line-height:43px;
}

#tabs li a {
	color:white;
	display:inline-block;
	height:43px;
}
#tabs li a:hover {
}

#products-tab {
	background:url('/media_stat/images/search/tabs.png') no-repeat left 0;
	padding:0 0 0 40px;
}

#products-tab a {
	background:url('/media_stat/images/search/tabs.png') no-repeat right 0;
	padding-right:20px;
}

.products-active #products-tab {
	background:url('/media_stat/images/search/tabs.png') no-repeat left -43px;
	padding:0 0 0 40px;
}

.products-active #products-tab a {
	background:url('/media_stat/images/search/tabs.png') no-repeat right -43px;
	padding-right:20px;
	color:#333;
}

#recipes-tab {
	background:url('/media_stat/images/search/tabs.png') no-repeat left -129px;
	padding:0 0 0 23px;
}

#recipes-tab a {
	background:url('/media_stat/images/search/tabs.png') no-repeat right -129px;
	padding-right:20px;
}

.recipes-active #recipes-tab {
	background:url('/media_stat/images/search/tabs.png') no-repeat left -86px;
	padding:0 0 0 23px;
}

.recipes-active #recipes-tab a {
	background:url('/media_stat/images/search/tabs.png') no-repeat right -86px;
	padding-right:20px;
	color:#333;
}

.products-active .products-only #products-tab {
	background:url('/media_stat/images/search/tabs.png') no-repeat left -172px;
	padding:0 0 0 40px;
}

.products-active .products-only  #products-tab a {
	background:url('/media_stat/images/search/tabs.png') no-repeat right -172px;
	padding-right:20px;
	color:#333;
}

.products-active .products-only #recipes-tab {
	display:none;
}

.toolbar {
	background-color:#ededed;
	margin-top:-1px;
	height:42px;
	border:1px solid #dddddd;
	width:968px;
}

.noresult .toolbar {
	display:none;
}

.toolbar-content .prepend-10 {
	padding-left:408px;
} 

#sorter {
	font-size:11px;
	line-height:42px;
	color:#333;
	text-align:left;
}

#sorter .label {
	padding-left:15px;
	font-weight:bold;
}

.sortitem,
.sortitem:visited,
a.sortitem,
a.sortitem:visited  {
	text-decoration:none;
	color:#336600;
	padding-left:10px;
	background:url('/media_stat/images/search/dot.png') no-repeat left center;
	margin-left:0.5em;
}

.sortitem:hover {
	text-decoration:underline;
}

.sortitem.nodot {
	background:none;
	padding-left:0px;
}

.sortitem-selected,a.sortitem-selected {
	text-decoration:none;
	font-weight:bold;
}

#viewswitcher {
	font-size:14px;
	line-height:42px;
	text-align:right;
}

.ie6 #viewswitcher {
	padding-top:8px;
}

.viewswitcher-sprite {
	background:url('/media_stat/images/search/viewswitch.png') no-repeat;
	width:25px;
	height:26px;
	display:inline-block;
	vertical-align:middle;
	margin: 0px 5px;
}

#viewswitcher-grid {
	background-position: 0 -26px;
	margin-left:10px;
}

.grid-view #viewswitcher-grid {
	background-position: 0 0px;
}

#viewswitcher-list {
	background-position: -25px -26px;
	margin-right:15px;
}

.list-view #viewswitcher-list {
	background-position: -25px 0px;
}

.searchPage #main {
	background:url('/media_stat/images/search/searchbg.png') repeat-y top left;
	border-bottom:1px solid #e9e9e9;
}

.noresult #main {
	display:none;
}

#sidebar {
	width:165px;
	float:left;
	padding:0 1px;
}

.sidebar-content {
	background-color:#f8f8f8;
}


#selection {
	padding-top:15px;
	padding-bottom:15px;
	font-size:11px;
	height:37px;
	background:url('/media_stat/images/layout/dot_grey_h.gif') repeat-x bottom left white;
}

#selection h3 {
	font-size:12px;
	font-weight:bold;
	margin-bottom:6px;
}

#selection h3 span {
	font-size:11px;
	font-weight:normal;
}

#selection ul {
	padding:0px;
	margin:0px;
}

#selection li {
	list-style-type:none;
}

#selection li a {
	line-height:20px;
	padding-right:20px;
	background:url('/media_stat/images/search/xbutton.png') no-repeat right center;
	display:inline-block;
}

.filterbox {
	padding-top:15px;
	padding-bottom:15px;
	background:url('/media_stat/images/layout/dot_grey_h.gif') repeat-x bottom left transparent;
}

.sidebar-content h3,
.sidebar-content li,
.sidebar-content .see {
		padding-left:15px;
}

.filterbox h3 {
	font-size:13px;
	margin-bottom:15px;
	font-weight:bold;
	color:#333;
}

.filterbox ul {
	font-size:12px;
	padding:0;
	margin:0;
}

.filterbox li {
	list-style-type:none;
	line-height:1.5em;
	margin-bottom:0.5em;
}



.filterbox li.selected {
	background:url('/media_stat/images/search/green_bg.png') repeat-x left top #679a34;
	border:1px solid #7e9337;
	color:white;
	position:relative;
	padding-right:22px;
	padding-bottom:3px;
}

.filterbox li.selected a {
	color:white;
}

.filterbox li.selected .remove-selection {
	display:inline-block;
	width:17px;
	height:17px;
	top:3px;
	right:3px;
	background:url('/media_stat/images/search/xbutton.png') no-repeat;
	vertical-align:top;
	position:absolute;
}

.filterbox li.selected .count {
	display:none;
}

.filterbox li.hidden {
	display:none;
}

.filterbox .count {
	font-family:verdana;
	margin-left:0.5em;
	font-size:12px;
}

.filterbox .see {
	cursor:pointer;
	font-weight:bold;
	color:#686868;
}

.filterbox .see:hover {
	text-decoration:underline;
}

.filterbox .more {
	display:block;
}

.filterbox .less {
	display:none;
}

.filterbox-showall li.hidden {
	display:block;
}

.filterbox-showall .more {
	display:none;
}

.filterbox-showall .less {
	display:block;
}

.searchPage #content {
	margin-left:167px;
}

.ie6 #content {
	margin:0px;
	float:left;
	position:relative;
}


#pager-top {
	border-bottom:1px solid #e9e9e9;
}



/* recipes-viewre special rules */

.recipes-active .grid-item-container {
	width:268px;
}

.recipes-active .grid-item-name {
	font-size:14px;
	height:2.6em;
}

.recipes-active .grid-item-name a, 
.recipes-active .grid-item-name a:visited {
	color:#669934;
}

.recipes-active .grid-item-description {
	color:#aaaaaa;
	font-style:italic;
	height:4.5em;
}

.recipes-active .pager,
.recipes-active #selection {
	display:none;
}

#pager-bottom {
	border-top:1px solid #e9e9e9;
	margin:-3px 0 0 0;
}

.pager {
	font-size:11px;
	line-height:66px;
	text-align:center;
	position:relative;
	height:66px;
	overflow:hidden;
	background:white;
}

.pager-content {
	margin:0 170px;
	vertical-align:middle;
}

.ie6 .pager-content {
	padding-top:16px;
}

.pager .view-all {
	display:inline-block;
	width:68px;
	height:28px;
	color:white;
	line-height:25px;
	font-size:11px;
	background:url('/media_stat/images/search/viewall_bg.png') no-repeat top left white;
}
.pager .view-all:active,
.pager .view-all:visited {
	color:white;
}

.pager .pager-item {
	display:inline-block;
	min-width:33px;
	line-height:33px;
	height:33px;
}

.pager .pager-item a,
.pager .pager-prev a,
.pager .pager-next a {
	display:inline-block;
	min-width:33px;
	line-height:33px;
	height:33px;
	border:1px solid white;
}

.ie6 .pager .pager-item a,
.ie6 .pager .pager-prev a,
.ie6 .pager .pager-next a {
	padding:0px 10px;
}

.ie6 .pager .pager-item {
	border:0px;
}

.pager .pager-item a:hover,
.pager .pager-prev a:hover,
.pager .pager-next a:hover {
	border:1px solid #c9c9c9;
	border-radius:2px;
	margin:0px;
}

.pager a {
	text-decoration: none;
}

.pager .pager-current {
	background:#606060;
	font-weight:bold;
	color:white;
	border-radius:2px;
}

.ie6 .pager .pager-current {
	padding:0px 10px;
}

.pager .results {
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:180px;
	text-align:left;
	padding-left:10px;
	font-size:12px;
}

.pager .results .results-current,
.pager .results .results-all {
	font-weight:bold;
}

.pager .back-to-top {
	position:absolute;
	top:0px;
	right:0px;
	height:100%;
	width:160px;
	text-align:right;
	padding-right:10px;
	font-size:12px;
	color: #336600;
}
.pager .back-to-top a:hover {
  text-decoration: underline;
}
.expertrating-stars, .expertrating-stars-content {
	background:url('/media_stat/images/search/star_8.png') repeat-x;
	height:16px;
	display:inline-block;
}

.expertrating-stars {
	background-position:0 -16px;
	width:90px;
	vertical-align:bottom;
}

.expertrating-stars-content {
	background-position:0 0;
}

.expertrating-stars-content-1 { width:18px; }
.expertrating-stars-content-2 { width:36px; }
.expertrating-stars-content-3 { width:54px; }
.expertrating-stars-content-4 { width:72px; }
.expertrating-stars-content-5 { width:90px; }

.bv-customerrating-stars, .bv-customerrating-stars-content {
	background:url('/media_stat/images/search/bv-star_8.png') repeat-x;
	height:16px;
	display:inline-block;
}

.bv-customerrating-stars {
	background-position:0 -16px;
	width:90px;
	vertical-align:bottom;
}

.bv-customerrating-stars-content {
	background-position:0 0;
}

.bv-customerrating-stars-content-1 { width:18px; }
.bv-customerrating-stars-content-2 { width:36px; }
.bv-customerrating-stars-content-3 { width:54px; }
.bv-customerrating-stars-content-4 { width:72px; }
.bv-customerrating-stars-content-5 { width:90px; }

/* recommendation */

.search-recommender { 
	clear: both;
	width: 801px;
	height: 581px;
	overflow:hidden; 
	margin: 0 1px 0 0;
	border-right: 1px solid #e9e9e9;
	position: relative;
}
.search-recommender .fd-carousel { 
	margin: 0 -11px 0 0;
	padding: 0;
	position: absolute;
	top: 51px;
	left: 0;
	/* IE7 only clip: rect(0 801px 520px 0); */
	clip: rect(0, 801px, 550px, 0);
}
.items .search-recommender {
	width: 793px;
	border: 5px solid #e9e9e9;
}
.items .search-recommender .fd-carousel { 
	left: -5px;
	/*  IE7 only clip: rect(0 798px 520px 5px); */
	clip: rect(0, 798px, 520px, 5px);
}
.items .search-recommender .yui-carousel-first-button {
	left: 5px;
}
.items .search-recommender .yui-carousel-next-button {
	right: 5px;
}

.search-recommender h3 {
	height: 36px;
	line-height: 36px;
	font-size: 17px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #b079b0 url(/media_stat/images/search/slice.jpg);
	text-shadow: 1px 1px #6b4c6c;
}


.search-recommender .grid-item { 
	margin-top:0px; 
}

.search-recommender .grid-item-container {
	border-bottom:none; 
	width: 100%;
}

.search-recommender .fd-carousel li { 
	overflow:hidden; 
}

.search-recommender .yui-carousel-button {
	background:url('/media_stat/carousel/carousel-sprite.png') no-repeat 0 0; 
	width:34px;
	height:48px;
	margin-top:-50px;
}

.search-recommender .yui-carousel-next-button {
	background-position:-34px 0; 
	z-index:3; 
	right: 7px;
}

.search-recommender .yui-carousel-first-button { 
	background-position:0 0; 
	z-index: 2;
	left:0; 
}

.search-recommender .yui-carousel-first-button:hover { 
	background-position:0 -48px;
}

.search-recommender .yui-carousel-next-button:hover {
	background-position:-34px -48px;
}

.search-recommender .yui-carousel-first-button-disabled:hover {
	background-position:0 0;
}

.search-recommender .yui-carousel-button-disabled:hover {
	background-position:-34px 0;
}


.search-recommender .yui-carousel-nav ul { 
	display:none;
}
