.tsCol {
	border: 1px solid red;
	margin-top: 20px;
	width: 84px;
	border: 1px solid #ccc;
}
#tsRefcol_contracted {
	width: 84px;
}
#tsRefcol_expanded {
	width: 203px;
}
table.tsContainer td {
	border: 1px solid #ccc;
}

.tsTable {
	border-collapse: collapse;
}

.float_children {
	border: 0px solid #ccc;
}

.float_children_noborder{
	border: 0px solid #ccc;	
	padding-left: 4px;
}

.tsHeaderC {
	height: 56px;
	width: 84px;
}
.tsHeaderE {
	height: 76px; /* +20 for margin-top */
	width: 100%;
}

table.tsHeaderC, .tsHeaderC {
	border:1px solid #ccc;
	height:56px;
	width: 84px;
	background-color:#FBFBFB;
	padding-top:0px;
}

.tsHeaderC td {
	border:0px solid #ccc;
	height:56px;
	width: 84px;
	background-color:#FBFBFB;
	padding-top:0px;
}

table.tsHeaderE, .tsHeaderE {
	border:0px solid #ccc;
	height:70px;
	width:100%;
	background-color:#78ABDC;
	padding-top:0px;
}

.tsFooter table {
	width: 100%;
	text-align: center;
}
.tsContainerC {
	height: 31px;
	width: 84px;
}
.tsContCon table, .tsContExp table {
	border: 0px;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	vertical-align: middle;
}
.tsRadioCont {
	height: 100%;
	float: left;
	width: 20px;
	padding-right: 6px;
	position: relative;
	top: 5px;
}
.tsDayHeaderC, .tsDayHeaderE {
	font-family: 'Eagle, Book';
	font-size: 20px;
	color: #333;
	width: 100%;
}
.tsDayHeaderC, .tsDayHeaderE {
	display: block;
	height: 100%;
	width: 100%;
}

.tsDayNameC {
	font-size:16px;
	font-family: Verdana, Arial, sans-serif;
}

.tsDayDateC {
	font-size:11px;
	font-family: Verdana, Arial, sans-serif;
}
.tsDayNameE {
	font-size:24px;
	color:#FFFFFF;
	font-weight:bold;
	font-family: Verdana, Arial, sans-serif;
	padding-top:8px;
}
.tsDayDateE {
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	font-family: Verdana, Arial, sans-serif;
}

.tsContentC a, .tsContainerE a {
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: #333;
	cursor: default;
}

.tsCol div.tsContent {
	display: block;
	height: 100%;
	text-decoration: none;
	color: #333;
	cursor: pointer;
}
.tsCol div.tsContent div {
	height: 12px;
	margin-left: 0px;
}

.tsCol div.tsContent div.tsCont, .tsCol div.tsContent div.msgCont {
	padding-top: 10px;
	margin-left: 4px;
}
.tsCont {
	width:80px;
}
div.tsNoDeliv {
	width: 100%;
	text-align: center;
	margin-left: 0;
}

.cutoff {
	background-color: #fff;
	font-weight: bold;
	text-align: center;
	height: 26px;
}

.cutoff div,.cutoffDisp div {
	text-decoration: none;
	color: #333;
	cursor: default;
	height:100%;
	width:100%;
	line-height:25px;
}
.cutoffDisp div.cutoffDispChild {
	overflow:hidden;
}
.cutoffDisp div div{
	width:64px;
	margin-left:30px;
}
.cutoff div.cutoffwBorder {
	border: 1px solid #ccc;
}
.fleft {
	float: left;
}
.ts_rb {
	padding-top:6px;
	width: 21px;
}

.tsFooterC {
	display: none;
}
.tsTopModuleHeader {
	font-size:12px;
	font-weight:bold;
	color:#333333;
}

.tsBottomModuleHeader {
	font-size:10px;
	font-weight:bold;
}

a.tsHiperlink {
	color:#669933;
	font-size: 10px;
	font-family: Verdana, Arial, sans-serif;
	text-decoration:none;
}

div.content_fixed td{
	font-family:Verdana,Arial,sans-serif;
	font-size:10px;
}

a.tsCTBenefits {
	color: #77A642;
	text-decoration: underline;
}

a.tsCTBenefits {
	/*color: #006400;*/
	color:#77A642;
	text-decoration: none;
}

a.tsNCBenefits {
	color: #006400;
	text-decoration: none;
}
div.learnMoreTimeslot {
	display:none;
}

div.holidayContent {
	line-height:10px;
	text-align:center;
	padding-left:3px;
	margin-top:5px;
}

a.holidayLearnMore {
	color:#77A642;
	cursor:pointer;
	text-decoration:none;
}
div#MB_caption {
	font: bold 12px "Lucida Grande",Arial,sans-serif;
	padding:0.5em 2em 0.5em 0;
}

div#MB_content {
	font: normal 10px "Lucida Grande",Arial,sans-serif;
}

.tsBordDefault {
	border:1px solid #F8F8F8;
}

.tsBordDefaultExp {
	border:1px solid #FFFFFF;
}

.tsBordDefaultExp div {
	margin-top:8px;
}

a.tsDivHide {
	color:#78ABDC;
	float:right;
	padding:0 20px 0 0;
}
span.tsAdvanceHeader {
	padding:0 0 0 20px;
}

.tsTable td {
    border: 1px solid #ccc;
}
.tsFooter div {
    margin: -1px 0 -1px -1px;
}
div.tsHeaderE {
    margin-top: -10px;
}
.tsTable td div div, .tsTable td table td, td.tsFooter, td.cutoff, .tsTable td div {
    border: 0 none;
} 
.cutoffDisp {
   border-right: 1px solid #ccc;
   text-align:center;
}

.tsContainerBGC {
	background-color: #F7F7F7;
	
}
.tsContainerBGE {
	background-color: #FFFFFF;
}

/*Steering Discount slot*/
.tsDiscountE {
	color:#77A642;
	font-weight:bold;
	font-size: 11px; 
	font-family: Verdana, Arial, sans-serif;
}
.tsDiscountPropE {
	overflow:hidden;
	margin-top:3px;
	text-align:right;
	padding:0 10px 0 0;
}
.tsDiscountMoreE {
	color:#77A642;
	font-size:9px;
	text-decoration:none;
	cursor: pointer;
	border:0px solid;
	font-weight:normal;
	padding-left:0;
	height: 5px;
}

td div.tsBordDiscountE {
	border:1px solid #77A642;
}

.tsCol div.tsContent div.tsDiscountPropE {
	height:28px;
}
.tsDiscountC {
	color:#77A642;
	font-weight:bold;
	font-size: 11px; 
	font-family: Verdana, Arial, sans-serif;
}
.tsDiscountPropC {
	padding:2px 0 0 4px;
}
.tsCTStar {
	margin-right:3px;
}

/*Reservation slot*/
div.tsContentResC {
	background-color:#E0E0E0;
}
div.tsContentResE {
	background-color:#E0E0E0; /*#6D6968*/
}
.tsReservationE {
	color:#666666;
	font-weight:bold;
	font-size: 10px; 
	font-family: Verdana, Arial, sans-serif;	
}

.tsReservationPropE {
	overflow: hidden;
	padding:9px 10px 0 0;
	text-align:right;
}
.tsReservationTimeE {
	color:#333333;
}

/*Chefstable slot*/
.tsChefstableE {
	color:#794E79;
	font-weight:bold;
	font-size: 10px; 
	font-family: Verdana, Arial, sans-serif;
}
a.tsChefMoreE {
	color:#794E79;
	font-size:8px;
	text-decoration:underline;
	cursor: pointer;
}

.tsChefstablePropE {
	overflow: hidden;
	padding:9px 10px 0 0;
	text-align:right;
}

td div.tsBordCTE {
	border:1px solid #794E79;
}
/*SoldOut slot*/
.tsSoldoutE {
	color:#737373;
	font-weight:bold;
	font-size: 10px; 
	font-family: Verdana, Arial, sans-serif;
}
.tsSoldoutPropE {
	overflow: hidden;
	padding:10px 10px 0 0;
	text-align:right;
}

.tsSoldoutC {
	text-decoration:line-through;
}

/*EcoFriendly slot*/
.tsEcoFriendlyE {
	color:#DB5F5F;
	font-weight:bold;
	font-size: 10px; 
	font-family: Verdana, Arial, sans-serif;
}
.tsEcoFriendlyPropE {
	overflow:hidden;
	margin-top:3px;
	text-align:right;
	padding:0 10px 0 0;
}
.tsEcoFriendlyMoreE {
	color:#DB5F5F;
	font-size:9px;
	text-decoration:none;
	cursor: pointer;
	border:0px solid;
	font-weight:normal;
	padding-left:0;
	height: 5px;
}

td div.tsBordEcoFriendlyE {
	/*border:1px solid #DB5F5F*/;
}
.tsCol div.tsContent div.tsEcoFriendlyPropE {
	height:28px;
}
.tsDivHide a, .tsDivHide div {
	color:#78ABDC;
	text-align:right;
}

/*Alcohol Restriction*/
.tsAlcoholResE {
	color:#800000;
	font-weight:bold;
	font-size: 9px; 
	font-family: Verdana, Arial, sans-serif;
}
a.tsAlcoholResMoreE {
	color:#FF8040;
	font-size:8px;
	text-decoration:underline;
	cursor: pointer;
}
.tsAlcoholResPropE {
	overflow: hidden;
	margin-top:9px;
}
td div.tsBordAlcoholResE {
	border:1px solid #FF8040;
}
/*Selected slot*/
.tsContentSelE {
	background-color:#736F6E; 
	color:#FFFFFF;
}

.tsSelectedSlotE {
	color:#FFFFFF;
	font-weight:bold;
	font-size: 10px; 
	font-family: Verdana, Arial, sans-serif;	
}

.tsSelectedSlotPropE {
	overflow: hidden;
	padding:9px 10px 0 0;
	text-align:right;
}

.tsContentSelC {
	color:#FFFFFF;
}

td.noTopBorder {
    border-top: 0 none;
}

.tsContainerBGC div.tsContent div.tsDiscountTimeC {
	padding-top:3px;
}

.tsForceC {
	text-align:right;
	padding:10px 10px 0 0;
}


#tsContainer table, #timeslotloyalityHeader, #legendCheckout {
  text-align: left;
}

#tsContainer td, #timeslotloyalityHeader td, #timeslotloyalityHeader font, #legendCheckout td {
  font-family: Verdana,Arial,sans-serif;
  font-size: 10px;
}

.tsFooter td {
	line-height: 0px;
	font-size: 1px !important;
}

