/*
	body
	global body styles
*/
body
	{
		background-color: #fff;
		color: #333333;
	}

/*
	block elements
	to eliminate padding, spacing and borders
*/
table, tr, td, div, img
	{
		padding: 0px;
		border: 0px;
		border-collapse: collapse;
	}

/*
	content div
	for centering of examples
*/
div.content
	{
		width: 745px;
		text-align: center;
		margin: 0px auto 0px auto;
	}

/* general global-use styles */
.left
	{
		text-align: left;
	}
.right
	{
		text-align: right;
	}
.center
	{
		text-align: center;
		margin: 0px auto 0px auto;
	}
.w25
	{
		width: 25%;
	}
.w50
	{
		width: 50%;
	}
.w75
	{
		width: 75%;
	}
.w100
	{
		width: 100%;
	}
.clear
	{
		clear: both;
	}
.hr
	{
		background-color: #ccc;
		height: 1px;
		width: 100%;
	}
.hr_space
	{
		margin-top: 6px;
		margin-bottom: 6px;
		background-color: #ccc;
		height: 1px;
		line-height: 0px;
		width: 100%;
	}
.padlr6
	{
		padding-right: 6px;
		padding-left: 6px;
	}
.marlr6
	{
		margin-right: 6px;
		margin-left: 6px;
	}
.valign
	{
		vertical-align: middle;
		padding: auto 0px;
	}


/* department */

.spacer
	{
		height: 5px;
		width: 570px;
		clear: both;
	}

.content_row
	{
		width: 560px;
		text-align: center;
	}
.content_row_bottom
	{
		text-align: center;
		width: 560px;
	}

.top_spacer
	{
		width: 7px;
		display: normal;
		visibility: visible;
	}
.ThirdPartyLogo
	{
		text-align: left;
		float: left;
	}
.OASWineTopRight
	{
		text-align: right;
	}
.MediaInclude
	{
		width: 180px;
		height: 180px;
	}
.MediaIncludeBottom
	{
		width: 560px;
		height: 20px;
		text-align: center;
	}

.nav
	{
		background-color: #FBF1D3;
		border: 1px solid #D5C6A7;
		width: 560px;
		line-height: 25px;
		text-align: center;
	}
.nav_spacer
	{
		background-color: #FBF1D3;
		color: #D5C6A7;
		cursor: default;
	}
.nav_item
	{
		background-color: #FBF1D3;
		font-weight: bold;
		color: #665544;
		height: 100%;
		font-family: Tahoma;
		font-size: 13px;
		text-decoration: none;
		display: block;
		position: relative;
	}
.nav_item:hover
	{
		background-color: #665544;
		color: #FBF1D3;
		cursor: pointer;
		display: block;
	}
.nav_sub
	{
		border: 1px solid #786F5E;
		background-color: #FBF1D3;
		color: #665544;
		font-family: Tahoma;
		font-weight: normal;
		font-size: 12px;
		position: absolute;
		display: none;
		visibility: hidden;
		margin: -1px;
		text-align: left;
		padding: 2px 0px;;
		left: 0px; /*IE fix*/
		z-index: 100; /*make sure it's on top*/
	}
.nav_sub_debug
	{
		border: 1px solid #786F5E;
		background-color: #FBF1D3;
		color: #665544;
		font-family: Tahoma;
		font-weight: normal;
		font-size: 12px;
		position: absolute;
		display: none;
		visibility: hidden;
		margin: -1px;
		padding: 2px;
		text-align: left;
		left: 0px; /*IE fix*/
		z-index: 100; /*make sure it's on top*/
		height: auto;
	}
.pad7
	{
		padding: 7px;
	}
a.nav_sub
	{
		color: #336600;
		line-height: 13px;
	}
a.nav_sub:visited
	{
		color: #336600;
	}
a.nav_sub:active
	{
		color: #FF9900;
	}
.nav_sub_min
	{
		background-color: #fff;
		border: 1px solid #000;
		padding: 10px;
		min-width: 150px;
		width: 95%;
	}
.navFP_item
	{
		background-color: #FBF1D3;
		color: #665544;
		font-weight: bold;
		font-size: 12px;
		font-family: Tahoma;
		text-decoration: none;
		line-height: 13px;
		/*padding: 1px 1px;*/
		display: block;
		padding-left: 10px;
		padding-right: 10px;
		margin: 0px;
	}
.navFP_Mitem
	{
		background-color: #665544;
		color: #FBF1D3;
		font-weight: bold;
		font-size: 12px;
		font-family: Tahoma;
		text-decoration: none;
		line-height: 13px;
		/*padding: 1px 1px;*/
		display: block;
		margin: 0px;
	}
a.navFP_Mitem:visited
	{
		text-decoration: none;
		color: #FBF1D3;
	}
a.navFP_Mitem:active
	{
		text-decoration: none;
		color: default;
	}
a.navFP_Mitem:hover
	{
		text-decoration: none;
		color: #FBF1D3;
	}
.navFP_Mitem:hover
	{
		background-color: #786F5E;
		color: #FBF1D3;
	}
.navFP_item_bold12
{
	font-size: 12px;
	font-weight: bold;
}
.navFP_item_bold11
	{
		font-size: 11px;
		font-weight: bold;
	}
.navFP_item_bold10
	{
		font-size: 10px;
		font-weight: bold;
	}
.navFP_item_norm12
{
	font-size: 12px;
	font-weight: normal;
}
.navFP_item_norm11
	{
		font-size: 11px;
		font-weight: normal;
	}
.navFP_item_norm10
	{
		font-size: 10px;
		font-weight: normal;
	}
.navFP_item:hover
	{
		background-color: #786F5E;
		color: #FBF1D3;
	}
a.navFP_item
	{
		text-decoration: none;
		color: #665544;
	}
a.navFP_item:visited
	{
		text-decoration: none;
		color: #665544;
	}
a.navFP_item:hover
	{
		text-decoration: none;
		color: #FBF1D3;
		display: block;
	}
.nowrap
	{
		white-space: nowrap;
	}
.debug
	{
		border: 2px solid red;
	}
/*
	category page
*/

.item_cont
	{
		float: left;
		width: 23%;
		margin: 3px;
		text-align: center;
	}
.cat_sum_top_l
	{
		float: left;
		padding-left: 3px;
	}
.cat_sum_top_r
	{
		float: right;
		padding-right: 3px;
	}
.cat_sum_top_sortbar
	{
		background-color: #DCDDDF;
		border-top: 5px solid #8C1920;
		padding: 6px 3px 6px 3px;
	}
.cat_sum_top_spacer
	{
		clear: both;
		height: 6px;
	}
.cat_sum_top_li
	{
		color: #9A9899;
	}
.cat_sum_bot_bar
	{
		border-top: 1px solid #8C1920;
	}

/*
	product
*/

table.main
	{
		border: 1px solid #996;
		width: 745px;
	}
.left_nav
	{
		background-color: #FBF1D3;
		vertical-align: top;
	}
.left_nav_item
	{
		font-family: Tahoma;
		font-weight: bold;
		font-size: 12px;
		background-color: #FBF1D3;
		color: #665544;
		height: 100%;
		text-decoration: none;
		padding: 7px;
	}
.left_nav_item a
	{
		color: #665544;
		text-decoration: none;
	}
.left_nav_item:hover
	{
		font-family: Tahoma;
		font-weight: bold;
		font-size: 12px;
		background-color: #786F5E;
		color: #FBF1D3;
		cursor: pointer;
	}
.left_nav_item:hover a
	{
		color: #FBF1D3;
	}
	/* hoverfake for testing only */
.left_nav_item_hoverfake
	{
		font-family: Tahoma;
		font-weight: bold;
		font-size: 12px;
		background-color: #665544;
		color: #FBF1D3;
		height: 100%;
		text-decoration: none;
		padding: 7px;
	}
.left_nav_item_hoverfake a
	{
		color: #FBF1D3;
	}
.left_nav_subitem
	{
		font-family: Tahoma;
		color: #665544;
		height: 100%;
		font-size: 11px;
		font-weight: bolder;
		display: block;
		margin-left: 8px;
	}
.left_nav_subsubitem
	{
		font-family: Tahoma;
		background-color: #FBF1D3;
		color: #665544;
		height: 100%;
		font-size: 11px;
		font-weight: normal;
		display: block;
		margin-left: 8px;
	}
.left_nav_divider
	{
		height: 0px;
		border-bottom: 1px solid #D5C6A7;
	}
.left_nav_3rdparty
	{
		width: 130px;
	}
.right_top_oas
	{
		width: 155px;
	}
.right_nav
	{
		width: 155px;
		text-align: right;
		vertical-align: top;
		margin: 0px 0px auto 0px;
	}
.center_content
	{
		width: 100%;
		text-align: right;
		padding: 6px;
		vertical-align: top;
	}
.center_topleft
	{
		text-align: left;
		padding: 0px 0px 0px 10px;
	}
.center_topright
	{
		float: right;
		margin-left: 10px;
	}
a.center_topright
	{
		vertical-align: top;
	}
.center_qty_table
	{
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
td.center_qty_table
	{
		text-align: left;
		vertical-align: bottom;
	}
.center_right_add
	{
		text-align: right;
	}
.center_qty_spacer
	{
		padding: 0px 3px 0px 0px;
	}
.center_prod_name
	{
		font-size: 18px;
		font-weight: bolder;
	}
.center_prod_size
	{
		font-size: 14px;
		font-weight: bolder;
	}
.center_prod_price
	{
		font-size: 18px;
		font-weight: bolder;
	}
.center_prod_descrip
	{
		font-size: 10px;
		font-weight: normal;
		padding-bottom: 5px;
	}
.center_prod_also_avail
	{
		padding-bottom: 5px;
	}
.ucase
	{
		text-transform: uppercase;
	}
.bolder
	{
		font-weight: bolder;
	}
.left_nav_iframe
	{
		padding: 0px;
		border: 0px;
		border-collapse: collapse;
		width: 130px;
		height: 100%;
		overflow: hidden;
	}
.spacer_qty
	{
		width: auto;
	}

.center_spacer
	{
		height: 12px;
		background-color: transparent;
	}
.center_region_left
	{
		padding-left: 4px;
	}
.center_region_right
	{
		padding-left: 4px;
	}
.center
	{
		text-align: center;
	}
.ital
	{
		font-style: italic;
	}
.perfect_pair_head
	{
		padding: 3px 0px;
	}
/*
	food and wine
*/
.fleft
	{
		float: left;	
	}
.fright
	{
		float: right;
	}
.wauto
	{
		width: auto;
	}
.padt6
	{
		padding-top: 6px;
	}
.padr6
	{
		padding-right: 6px;
	}
.vtop
	{
		vertical-align: top;
	}
.vbot
	{
		vertical-align: bottom;
	}
.padlr3
	{
		padding-left: 3px;
		padding-right: 3px;
	}
.hr_red4_space
	{
		border: 2px solid #8C1920;
		margin-top: 6px;
		margin-bottom: 6px;
	}
.text_red
	{
		color: #8C1920;
	}
.bold
	{
		font-weight: bold;
	}
.norm
	{
		font-weight: normal;
	}
.org
	{
		color: #FF9900;
	}
/*
	summer picks
*/
.count
	{
		font-family: impact;
		font-size: 60px;
		color: #73665D;
		width: 80px;
		text-align: center;
	}
.f12
	{
		font-size: 12px;
	}
.bgtrans
	{
		background-color: transparent;
	}
.marlr8
	{
		margin-left: 8px;
		margin-right: 8px;
	}
.padlr10
	{
		padding-left: 10px;
		padding-right: 10px;
	}
.rating_rev
	{
		padding-right: 8px;
		vertical-align: top;
	}
.l_nav_item, .l_nav_item a
	{
		background-color: #FBF1D3;
		font-weight: bold;
		color: #665544;
		height: 100%;
		font-family: Tahoma;
		font-size: 13px;
		text-decoration: none;
		display: block;
	}
.l_nav_item:hover
	{
		background-color: #786F5E;
		color: #FBF1D3;
		cursor: pointer;
	}
.l_nav_sub
	{
		white-space: nowrap;
		font-family: Tahoma;
		font-weight: bold;
		font-size: 12px;
	}
a.l_nav_sub
	{
		padding: 0px;
		border: 0px;
		color: #336600;
	}
a.l_nav_sub:visited
	{
		color: #336600;
	}
a.l_nav_sub:active
	{
		color: #FF9900;
	}