.match {
  border-top: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding: 0.5em 0;
  margin-bottom: 1em;
}
.fontname {
  font-family: monospace;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.woff:before, .woff2:before, .auto:before {
  width: 47px;
  display: inline-block;
  font-family: monospace;
  font-weight: normal;
  font-style: normal;
}
.woff:before { content: 'woff : '; }
.woff2:before { content: 'woff2: '; }
.auto:before { content: 'auto : '; }
.woff:after, .woff2:after, .auto:after {
  content: 'the quick brown fox jumps over the lazy dog 0123456789 THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG';
}

@font-face {
  font-family: 'BrandonTextWeb-Regular-woff';
  src: url('/assets/css/fonts/BrandonTextWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.BrandonTextWeb-Regular-woff {
  font-family: 'BrandonTextWeb-Regular-woff';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonTextWeb-Regular-woff2';
  src: url('/assets/css/fonts/BrandonTextWeb-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.BrandonTextWeb-Regular-woff2 {
  font-family: 'BrandonTextWeb-Regular-woff2';
  font-weight: normal;
  font-style: normal;
}
.BrandonTextWeb-Regular-auto {
  font-family: 'Brandon Text';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonTextWeb-Medium-woff';
  src: url('/assets/css/fonts/BrandonTextWeb-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
.BrandonTextWeb-Medium-woff {
  font-family: 'BrandonTextWeb-Medium-woff';
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonTextWeb-Medium-woff2';
  src: url('/assets/css/fonts/BrandonTextWeb-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
.BrandonTextWeb-Medium-woff2 {
  font-family: 'BrandonTextWeb-Medium-woff2';
  font-weight: 500;
  font-style: normal;
}
.BrandonTextWeb-Medium-auto {
  font-family: 'Brandon Text';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonTextWeb-Bold-woff';
  src: url('/assets/css/fonts/BrandonTextWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.BrandonTextWeb-Bold-woff {
  font-family: 'BrandonTextWeb-Bold-woff';
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BrandonTextWeb-Bold-woff2';
  src: url('/assets/css/fonts/BrandonTextWeb-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
.BrandonTextWeb-Bold-woff2 {
  font-family: 'BrandonTextWeb-Bold-woff2';
  font-weight: bold;
  font-style: normal;
}
.BrandonTextWeb-Bold-auto {
  font-family: 'Brandon Text';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BebasRegular-woff';
  src: url('/assets/css/fonts/BEBAS___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.BebasRegular-woff {
  font-family: 'BebasRegular-woff';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasRegular-woff2';
  src: url('/assets/css/fonts/BEBAS___-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.BebasRegular-woff2 {
  font-family: 'BebasRegular-woff2';
  font-weight: normal;
  font-style: normal;
}
.BebasRegular-auto {
  font-family: 'BebasRegular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular-woff';
  src: url('/assets/css/fonts/bebasneue-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.BebasNeueRegular-woff {
  font-family: 'BebasNeueRegular-woff';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeueRegular-woff2';
  src: url('/assets/css/fonts/bebasneue-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.BebasNeueRegular-woff2 {
  font-family: 'BebasNeueRegular-woff2';
  font-weight: normal;
  font-style: normal;
}
.BebasNeueRegular-auto {
  font-family: 'BebasNeueRegular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eagle-Light-woff';
  src: url('/assets/css/fonts/eagle-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.Eagle-Light-woff {
  font-family: 'Eagle-Light-woff';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eagle-Light-woff2';
  src: url('/assets/css/fonts/eagle-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.Eagle-Light-woff2 {
  font-family: 'Eagle-Light-woff2';
  font-weight: normal;
  font-style: normal;
}
.Eagle-Light-auto {
  font-family: 'Eagle-Light';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EagleRegular-woff';
  src: url('/assets/css/fonts/eagle-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.EagleRegular-woff {
  font-family: 'EagleRegular-woff';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EagleRegular-woff2';
  src: url('/assets/css/fonts/eagle-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.EagleRegular-woff2 {
  font-family: 'EagleRegular-woff2';
  font-weight: normal;
  font-style: normal;
}
.EagleRegular-auto {
  font-family: 'EagleRegular';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eagle-Bold-woff';
  src: url('/assets/css/fonts/eagle-bold-webfont.woff') format('woff');
}
.Eagle-Bold-woff {
  font-family: 'Eagle-Bold-woff';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Eagle-Bold-woff2';
  src: url('/assets/css/fonts/eagle-bold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.Eagle-Bold-woff2 {
  font-family: 'Eagle-Bold-woff2';
  font-weight: normal;
  font-style: normal;
}
.Eagle-Bold-auto {
  font-family: 'Eagle-Bold';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eagle-Bold-book-woff';
  src: url('/assets/css/fonts/eagle-book-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.Eagle-Bold-book-woff {
  font-family: 'Eagle-Bold-book-woff';
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Eagle-Bold-book-woff2';
  src: url('/assets/css/fonts/eagle-book-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
.Eagle-Bold-book-woff2 {
  font-family: 'Eagle-Bold-book-woff2';
  font-weight: bold;
  font-style: normal;
}
.Eagle-Bold-book-auto {
  font-family: 'Eagle-Bold';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'EagleBook-woff';
  src: url('/assets/css/fonts/eagle-book-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.EagleBook-woff {
  font-family: 'EagleBook-woff';
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'EagleBook-woff2';
  src: url('/assets/css/fonts/eagle-book-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
.EagleBook-woff2 {
  font-family: 'Eagle-Bold-book-woff2';
  font-weight: bold;
  font-style: normal;
}
.EagleBook-auto {
  font-family: 'EagleBook';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100-woff';
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100-woff2';
  font-weight: 100;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100-auto {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100italic-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100italic-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100italic-woff';
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100italic-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100italic-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100italic-woff2';
  font-weight: 100;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-100italic-auto {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200-woff';
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200-woff2';
  font-weight: 200;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200-auto {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200italic-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200italic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200italic-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200italic-woff';
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200italic-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200italic-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200italic-woff2';
  font-weight: 200;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-200italic-auto {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300-woff';
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300-woff2';
  font-weight: 300;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300-auto {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300italic-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300italic-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300italic-woff';
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300italic-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300italic-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300italic-woff2';
  font-weight: 300;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-300italic-auto {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-regular-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-regular-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-regular-woff';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-regular-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-regular-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-regular-woff2';
  font-weight: 400;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-regular-auto {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-italic-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-italic-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-italic-woff';
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-italic-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-italic-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-italic-woff2';
  font-weight: 400;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-italic-auto {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500-woff';
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500-woff2';
  font-weight: 500;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500-auto {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500italic-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500italic-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500italic-woff';
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500italic-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500italic-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500italic-woff2';
  font-weight: 500;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-500italic-auto {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600-woff';
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600-woff2';
  font-weight: 600;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600-auto {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600italic-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600italic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600italic-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600italic-woff';
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600italic-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600italic-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600italic-woff2';
  font-weight: 600;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-600italic-auto {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700-woff';
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700-woff2';
  font-weight: 700;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700-auto {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700italic-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700italic-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700italic-woff';
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700italic-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700italic-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700italic-woff2';
  font-weight: 700;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-700italic-auto {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800-woff';
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800-woff2';
  font-weight: 800;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800-auto {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800italic-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800italic-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800italic-woff';
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800italic-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800italic-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800italic-woff2';
  font-weight: 800;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-800italic-auto {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900-woff';
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900-woff2';
  font-weight: 900;
  font-style: normal;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900-auto {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900italic-woff';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900italic-woff {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900italic-woff';
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900italic-woff2';
  src: url('/assets/css/fonts/montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900italic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900italic-woff2 {
  font-family: 'montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900italic-woff2';
  font-weight: 900;
  font-style: italic;
}
.montserrat-v12-cyrillic-ext_latin_cyrillic_latin-ext-900italic-auto {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TradeGothic-woff';
  src: url('/assets/css/fonts/TradeGotConEig.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.TradeGothic-woff {
  font-family: 'TradeGothic-woff';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothic-woff2';
  src: url('/assets/css/fonts/TradeGotConEig.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.TradeGothic-woff2 {
  font-family: 'TradeGothic-woff2';
  font-weight: normal;
  font-style: normal;
}
.TradeGothic-auto {
  font-family: 'TradeGothic';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicBold-woff';
  src: url('/assets/css/fonts/TradeGotBolConTwe.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.TradeGothicBold-woff {
  font-family: 'TradeGothicBold-woff';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TradeGothicBold-woff2';
  src: url('/assets/css/fonts/TradeGotBolConTwe.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.TradeGothicBold-woff2 {
  font-family: 'TradeGothicBold-woff2';
  font-weight: normal;
  font-style: normal;
}
.TradeGothicBold-auto {
  font-family: 'TradeGothicBold';
  font-weight: normal;
  font-style: normal;
}