#content .container.explore {
  width: 1124px;
}
.explore__title {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  color: #679C41;
  margin: 20px 20px 10px;
  text-transform: uppercase;
  text-align: center;
}
.explore__subtitle {
  font-family: Montserrat;
  font-weight: 400;
  color: #666;
  font-size: 16px;
  margin: 0 20px 20px;
  text-align: center;
}
