<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
<!--	
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.cache.use_query_cache">true</property>
-->		
		<property name="hibernate.max_fetch_depth">0</property>
		<property name="hibernate.use_outer_join">false</property>
	
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
		<property name="show_sql">false</property>

		<property name="connection.datasource">fddatasource</property>

<!-- core ocf classes -->	
		<mapping resource="com/freshdirect/ocf/core/Campaign.hbm.xml"/>
		<mapping resource="com/freshdirect/ocf/core/Action.hbm.xml"/>
		<mapping resource="com/freshdirect/ocf/core/DbListGenerator.hbm.xml"/>
		<mapping resource="com/freshdirect/ocf/core/EmailStatLine.hbm.xml"/>
		<mapping resource="com/freshdirect/ocf/core/Flight.hbm.xml"/>
		<mapping resource="com/freshdirect/ocf/core/RunLog.hbm.xml"/>
		
<!-- listadmin classes -->
		<mapping resource="com/freshdirect/listadmin/db/VirtualObject.hbm.xml"/>
	
		<mapping resource="com/freshdirect/listadmin/db/Template.hbm.xml"/>
		<mapping resource="com/freshdirect/listadmin/db/TemplateField.hbm.xml"/>
		<mapping resource="com/freshdirect/listadmin/db/TemplateOrderBy.hbm.xml"/>
		<mapping resource="com/freshdirect/listadmin/db/TemplateGroupBy.hbm.xml"/>
	
		<mapping resource="com/freshdirect/listadmin/db/Clause.hbm.xml"/>
	
		<mapping resource="com/freshdirect/listadmin/db/StoredQuery.hbm.xml"/>
		<mapping resource="com/freshdirect/listadmin/db/StoredQueryValue.hbm.xml"/>

	</session-factory>

</hibernate-configuration>