<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/StandingOrdersService."/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/StandingOrdersService/src/com/freshdirect/fdstore/standingorders/service/StandingOrdersServiceCmd.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.freshdirect.fdstore.standingorders.service.StandingOrdersServiceCmd"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="orders=7736579744 createIfSoiExistsForWeek=true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="StandingOrdersService"/>
</launchConfiguration>
