<?xml version="1.0" encoding="iso-8859-1" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

    <appender name="stdout" class="org.apache.log4j.DailyRollingFileAppender">
             <param name="File" value="/opt/fdlog/athena.log" />
                <param name="DatePattern" value=".yyyyMMdd-HH"/>
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="[%d{DATE} %t %p] %c{3} - %m %n" />
                </layout>
        </appender>
	
	<category name="org.apache.axis2">
		<priority value="error" />
	</category>
	
	<root>
		<priority value="debug"/>
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>
