.departments {
	font-family: Verdana,sans-serif;
	font-size:11px;
	color:#333;	
}

.departments-list {
	max-height:210px;
	overflow:auto;
}

.departments-list-clear_dept label,
.departments-list-all_dept label {
	font-family: Verdana,sans-serif;
	font-size:12px;
	color:#333;
	text-transform: uppercase;
}
.no-touch .departments-list-clear_dept:hover label,
.no-touch .departments-list-all_dept:hover label {
	text-decoration: underline;
}
.departments-list-clear_dept input[checked] + label,
.departments-list-all_dept input[checked] + label {
	font-weight: bold;
}

.departments-list-clear_dept hr {
}
