.itemlist-item {
	padding:0;
	margin:0;
	list-style-type: none;
	overflow: hidden;
	font-family: Verdana,sans-serif;
	font-size:11px;
	border-bottom:1px solid #ccc;
}

.itemlist-item button {
	font-family: Verdana,sans-serif;
}

.itemlist-item-header {
	width:360px;
	margin-top: 20px;
	margin-bottom: 15px;
}


.itemlist-item-header-title {
	display:block;
	font-family: Verdana, Arial, sans-serif;
	font-size:14px;
	line-height:1em;
	color:#333;
}

.itemlist-item-controls {
	margin-left:100px;	
}

.itemlist-item-header { 
	margin-left:110px;	
}

.itemlist-item-header-buttons {
  float: right;
  margin-top: 20px;
}

.itemlist-item-header-buttons .cssbutton.editinlist {
  display: none;
}

.changed .itemlist-item-header-buttons .cssbutton.editinlist {
  display: inline-block;
}

.itemlist-item-header-name {
	font-size: 12px;
	font-weight: bold;
}

.itemlist-item-header-configuration {
	font-size:11px;
	color:#666;
}

.itemlist-item-header-changecustomization {
  margin: 10px 0 15px;
}

.itemlist-item-header-changecustomization button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #360;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 10px;
}

.itemlist-item-header-changecustomization button:before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  margin: 0 5px -1px 0;
  background: url(/media_stat/images/quickshop/bullet-orange.png) no-repeat;
}

.no-touch .itemlist-item-header-changecustomization button span:hover {
  text-decoration: underline;
}

.itemlist-item-header .availability div:first-child {
  margin-top: .8em;
}

.itemlist-item-header .availability .amheader {
  color: #c00;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: .8em;
}

.itemlist-item-productimage_wrapper {
	text-align: center;
	width:100px;
	float:left;
	margin:20px 10px 10px 0;
}

.itemlist-item-burst_wrapper {
	display:inline-block;
	position:relative;
	max-width: 100%;
	height: 150px;
	overflow: visible;
	width: 100%;
}
.itemlist-item-productimage {
	max-width:100%;
	max-height: 100%;
}
.itemlist-item-controls {
	margin-bottom: 10px;
	position:relative;
}

.itemlist-item-controls>* {
	vertical-align:top;
}

.itemlist-item-addtocart {
	margin:0 8px 0 0;
	width: 90px;
	text-align: center;
}

.itemlist-item-salesunit,
.itemlist-item-addtocart,
.itemlist-item-controls-subtotal,
.itemlist-item-price {
	display:inline-block;
}

.itemlist-item-controls-subtotal {
	padding-bottom:2em;
}

.itemlist-item-controls-subtotal .subtotal {
	width:115px;
	left:0;
	text-align:center;
	position:absolute;
	bottom: 0;
}


.itemlist-item-price,
.itemlist-item-price-deal {
	font-size:13px;
	font-weight:bold;
	line-height: 22px;
}

.itemlist-item-price i {
	font-family: Verdana,sans-serif;
	font-weight: normal;
	font-size: 10px;
	color:#666;
	padding-left: 4px;
}

.itemlist-item-price-deal {
	color:#c00;	
}

.itemlist-item-unavailable {
	font-family: Verdana,sans-serif;
	font-size: 12px;
	color:#333;
	font-weight: normal;
	display:none;
	margin-top:10px;
}

.itemlist-item.unavailable .itemlist-item-controls,
.itemlist-item.unavailable .itemlist-item-price-deal {
	display:none;
}

.itemlist-item.unavailable .itemlist-item-header,
.itemlist-item.unavailable .itemlist-item-header-name,
.itemlist-item.unavailable .itemlist-item-header-configuration {
	color:#999;
}

.itemlist-item.unavailable .itemlist-item-unavailable {
	display:block;
}

.itemlist-item-replacement {
	font-size:11px;
	font-weight:bold;
	color:#333;
}

.itemlist-item-replacement-item {
	color:#360;
	cursor:pointer;
}

.no-touch .itemlist-item-replacement-item:hover {
	text-decoration:underline;
}

.itemlist-item.replaced {
	border-bottom: none;
	position:relative;
}

.itemlist-item.replaced hr {
	border:none;
	background:transparent;
	border-bottom:2px dashed #ccc;
	right:0;
	position:absolute;
	left:100px;
	bottom:0;
}

.itemlist-item .burst {
	position:absolute;
	top:0;
	left:0;
}

.itemlist-item .fdCoupon_cont {
	display:block;
}
