.qs-content #productlist ol {
  margin: 1em 0;
  padding: 0;
}

[data-feature-quickshop="2_0"] .qs-content #productlist ol {
  padding: 0 0 0 1.5em;
  margin: 0 1.5em 0 0;
}

.qs-content #productlist .portrait-item {
  width: 137px;
}

.qs-content ul.products {
  margin: 32px 0 29px;
  padding: 0;
  display: table;
}

.ie8 .qs-content ul.products {
  display: block;
}

.qs-content ul.products.lastLine {
  margin-bottom: 11px;
}

.qs-content ul.products li.portrait-item {
  width: 136px;
  max-width: 136px;
  padding: 0 9px 0 9px;
  margin: 0;
  border-right: 1px solid #ddd;
  display: table-cell;
}

.qs-content #productlist ul.products[data-ipl="4"] li.portrait-item {
  width: 174px;
  max-width: 174px;
}

.ie8 .qs-content ul.products li.portrait-item {
  display: inline-block;
}

.qs-content ul.products li.portrait-item.lastInLine {
  padding-right: 0;
  margin-right: 0;
  border: none;
}

.qs-content ul.products li.portrait-item.unavailable {
  color:#333;
}
