.qs-list-header {
	width: 470px;
	float: left;
	margin: 10px 0 10px 18px;
}
.qs-list-header h2 {
	line-height: 20px;
	margin: 8px 0 4px;
	font-family: 'EagleBook', Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size: 17px;
	color: #996699;
}
.qs-list-header p {
	color: #666;
	font-size: 12px;
	margin: 0;
}
.qs-list-header .recipe {
	display: inline-block;
	color: #360;
	font-weight: bold;
	background:  url(/media_stat/images/quickshop/bullet-orange.png) no-repeat 0 3px;
	padding-left: 15px;
}