.orders {
	font-family: Verdana,sans-serif;
	font-size:11px;
	color:#333;	
  position: relative;
}

.orders-list {
	overflow:auto;
	margin-bottom:0;
	box-shadow:none;
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
}

.orders-list-clear_dept label,
.orders-list-all_dept label {
	font-family: Verdana,sans-serif;
	font-size:12px;
	color:#333;
	text-transform: uppercase;
}
.no-touch .orders-list-clear_dept:hover label,
.no-touch .orders-list-all_dept:hover label {
	text-decoration: underline;
}
.orders-list-clear_dept input[checked] + label,
.orders-list-all_dept input[checked] + label {
	font-weight: bold;
}

.close .orders-list {
	max-height:0; 
	padding-top:0;
	padding-bottom:0;
	border-top:none;
	border-bottom:none;
}

.locked .orders-list,
.open .orders-list {
	padding: 10px 5px;
	border: 1px solid #B293B2;
}

[data-feature-quickshop="2_0"] .locked .orders-list,
[data-feature-quickshop="2_0"] .open .orders-list {
  max-height: 135px;
}

.orders .seemore {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  line-height: 24px;
  text-align: center;
  background-color: #e4cee4;
  color: #333;
  border: 1px solid #dbccdb;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  display: block;
  font-size: 11px;
  width: 100%;
}

.orders .seemore:hover span {
  text-decoration: underline;
}

.orders .seemore:after {
  font-family: 'freshdirect_icons';
  content: "\e619";
  vertical-align: bottom;
  font-size: 1.4em;
  display: inline-block;
  margin: 0 0 -1px 2px;
}

.orders .moreorders {
  height: 1px;
  visibility: hidden;
  overflow: hidden;
  margin-bottom: 24px;
}

.orders .orders-list input {
	vertical-align: bottom;
  position: static;
}

[data-feature-quickshop="2_0"] .orders .orders-list input {
  position: absolute;
  vertical-align: top;
}

.orders .orders-list label {
  padding: 2px 0;
}

[data-feature-quickshop="2_0"] .orders .orders-list label {
  padding: 2px 0 2px 20px;
}

.orderlist.maxorder label span,
.orders.maxorder label span {
  color: #888;
}

.orderlist.maxorder label input:checked + span,
.orders.maxorder label input:checked + span {
  color: #333;
}

.orders label:after {
	display:block;
	font-style:italic;
	font-size: 11px;
}

[data-feature-quickshop="2_0"] .cancelled label:after {
	content:'- Cancelled Order';
}

[data-feature-quickshop="2_0"] .processing label:after {
	content:'- Processing Order';
}

[data-feature-quickshop="2_0"] .pending label:after {
	content:'- Pending Order';
}

.qs-menu-header {
	font-weight: bold;
	padding: 14px 0 0 7px;
	line-height: 15px;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: -1px;
	margin-bottom: 8px;
	color: #764077;
}

.qs-menu-header .counter {
	font-weight: normal;
}

.qs-menu-toggle {
	height: 26px;
	padding: 0 0 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 13px;
	color: #693;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	display:block;
	border:0;
	overflow:hidden;
	width:100%;
	content:'show';
	background: url(/media_stat/images/quickshop/sidenav-expand.png) no-repeat;
}

.locked .qs-menu-toggle,
.locked .qs-menu-toggle:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
	cursor: default;
	color: #693;
}

.qs-menu-toggle:hover {
	color: #f18b0e;
}

#orders.open .qs-menu-toggle {
	background-image: url(/media_stat/images/quickshop/sidenav-collapse.png);
	content:'hide';	
}

#orders .moreorders fieldset { /* fix overflow */
	max-height: 25px;
}

#moreorderspopup {
  width: auto;
  max-width:760px; /* 4*170 cols + 4*10 margin + 35 body padding */
  margin: 10px 0 0 30px;
}

#moreorderspopup span.bubblearrow {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -47px;
}

#moreorderspopup span.bubblearrow:before {
  position: absolute;
  content: '';
  height: 0;
  border: 11px solid transparent;
  border-right: 22px solid #aaa;
  top: 0;
  left: -33px;
}

#moreorderspopup span.bubblearrow:after {
  position: absolute;
  content: '';
  height: 0;
  border: 10px solid transparent;
  border-right: 20px solid #f8f8f8;
  top: 1px;
  left: -30px;
}


#moreorderspopup ul.orderlist {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

#moreorderspopup ul.orderlist li {
  width: 170px;
  margin: 10px 0;
}

#moreorderspopup ul.orderlist li.header {
  font-weight: bold;
  font-size: 16px;
}

#moreorderspopup ul.orderlist li.header:after {
  content: '';
  display: inline-block;
}

#moreorderspopup ul.orderlist li label {
  font-size: 9px;
  cursor: pointer;
}

#moreorderspopup ul.orderlist li label span {
  font-size: 13px;
}

#moreorderspopup ul.orderlist li label:hover span {
  text-decoration: underline;
}
