.qs-search input {
	background: #fff url(/media_stat/images/quickshop/icon-stopwatch.png) no-repeat 5px 50%;
	border: 1px solid #b49eb5;
	font-size: 12px;
	line-height: normal;
	height: 14px;
	padding: 5px 6px 5px 25px;

	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.3);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.3);
	border-radius: 2px;
	vertical-align: middle;
	font-family: Verdana, Arial, sans-serif;
}

.qs-search input[type="submit"] {
    width: 68px;
    height: 22px;
	padding: 0;
	background: url(/media_stat/images/quickshop/buttons-sprite.png) -175px -336px no-repeat;
	text-align: left;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;

	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
}
.qs-search input[type="submit"]:hover,
.qs-search input[type="submit"]:focus {
    background-position: -260px -336px;
}

#searchTerm {
	width:180px;
}