#qs-ymal {
	padding-left:15px;
	min-height:120px;
}

#qs-ymal h2 {
	font-family: 'EagleBook', Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size:20px;
	line-height:1em;
	color:#996699;
	text-align: center;
}

#qs-ymal .changed .itemlist-item-header:after  {
	content:'';
}

#qs-ymal [data-component="carousel"] {
	margin-bottom:0;
	margin-top: 20px;
}

#qs-ymal .itemlist-item {
	display:inline-block;
	width:693px;
	border-bottom:none;
	vertical-align: top;
}

#qs-ymal [data-component="carousel-prev"],
#qs-ymal [data-component="carousel-next"] {
    width: 35px;
    height: 73px;
	top: -15px;
	background: url(/media_stat/images/quickshop/buttons-sprite.png) no-repeat;
}

#qs-ymal [data-component="carousel-prev"],
#qs-ymal [data-component="carousel"].first [data-component="carousel-prev"]:hover,
#qs-ymal [data-component="carousel"].first [data-component="carousel-prev"]:focus {
    background-position: -235px -253px;
}

#qs-ymal [data-component="carousel-prev"]:hover,
#qs-ymal [data-component="carousel-prev"]:focus {
    background-position: -280px -253px;
}

#qs-ymal [data-component="carousel-next"],
#qs-ymal [data-component="carousel"].last [data-component="carousel-next"]:hover,
#qs-ymal [data-component="carousel"].last [data-component="carousel-next"]:focus  {
    background-position: -317px -5px;
}

#qs-ymal [data-component="carousel-next"]:hover,
#qs-ymal [data-component="carousel-next"]:focus  {
    background-position: -332px -88px;
}


#qs-ymal [data-component="carousel"].first [data-component="carousel-prev"],
#qs-ymal [data-component="carousel"].last [data-component="carousel-next"] {
	cursor: default;
}

#qs-ymal .itemlist-item-header {
	margin-top:0;
}

#qs-ymal .itemlist-item-header-title {
	display:block;
	font-family: 'EagleBook', Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size:22px;
	line-height:1em;
	color:#996699;
}