#qs-ymal {
	padding:0 10px;
	min-height:120px;
  background: -moz-linear-gradient(top, rgba(227,227,222,0.64) 0%, rgba(255,255,255,0.42) 17%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,227,222,0.64)), color-stop(17%,rgba(255,255,255,0.42)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(227,227,222,0.64) 0%,rgba(255,255,255,0.42) 17%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(227,227,222,0.64) 0%,rgba(255,255,255,0.42) 17%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(227,227,222,0.64) 0%,rgba(255,255,255,0.42) 17%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(227,227,222,0.64) 0%,rgba(255,255,255,0.42) 17%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3e3e3de', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

#qs-ymal h2 {
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size:20px;
	line-height:1em;
	color:#996699;
	text-align: center;
	margin-bottom:10px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
}

#qs-ymal .changed .itemlist-item-header:after  {
	content:'';
}

#qs-ymal [data-component="carousel"] {
	margin-bottom:0;
  padding-top: 15px;
  padding-bottom: 15px;
}

#qs-ymal [data-component="carousel"] .pager {
  display: block;
}

#qs-ymal .portrait-item {
	width:154px;
}

#qs-ymal .itemlist-item-header {
	margin-top:0;
}

#qs-ymal .itemlist-item-header-title {
	display:block;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	font-size:22px;
	line-height:1em;
	color:#996699;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
}
