<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>FreshDirect CRM</display-name>
    <description/>
    <filter>
        <filter-name>CrmMonitor</filter-name>
        <display-name>FDWebSite Request Monitor</display-name>
        <description>Monitors the execution time FDWebSite Requests</description>
        <filter-class>com.freshdirect.framework.monitor.WebRequestMonitor</filter-class>
	</filter>    
    <filter>
        <filter-name>CrmCaseAndCustomerFilter</filter-name>
        <display-name>CrmCaseAndCustomerFilter</display-name>
        <description>This Filter make sures that we the customer and case are in session and they match</description>
        <filter-class>com.freshdirect.webapp.crm.CrmCaseAndCustomerFilter</filter-class>
        <init-param>
            <param-name>redirectPage</param-name>
            <param-value>/main/error_cust_case_mismatch.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>lockedDirs</param-name>
            <param-value>/checkout;/customer_account</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>CrmLoginFilter</filter-name>
        <display-name>CrmLoginFilter</display-name>
        <description>This filter make sures that we have agent in session</description>
        <filter-class>com.freshdirect.webapp.crm.CrmLoginFilter</filter-class>
        <init-param>
            <param-name>allowedPage</param-name>
            <param-value>/index.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>adminDir</param-name>
            <param-value>/user_mgmt</param-value>
        </init-param>
        <init-param>
            <param-name>supervisorDir</param-name>
            <param-value>/supervisor</param-value>
        </init-param>
        <init-param>
            <param-name>monitorDir</param-name>
            <param-value>/case_mgmt</param-value>
        </init-param>
        <init-param>
            <param-name>promotionDir</param-name>
            <param-value>/promotion</param-value>
        </init-param>
        <init-param>
            <param-name>noAuthPage</param-name>
            <param-value>/no_auth.jsp</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>OncePerRequestDateFilter</filter-name>
        <display-name>OncePerRequestDateFilter</display-name>
        <description>This filter creates availability horizon and today's date as threadlocal</description>
        <filter-class>com.freshdirect.webapp.filters.OncePerRequestDateFilter</filter-class>
	</filter>
	<filter-mapping>
        <filter-name>CrmMonitor</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CrmCaseAndCustomerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CrmLoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>OncePerRequestDateFilter</filter-name>
        <url-pattern>/order/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>com.freshdirect.webapp.util.json.FDJSONRPCServlet</servlet-name>
        <servlet-class>com.freshdirect.webapp.util.json.FDJSONRPCServlet</servlet-class>
   </servlet>
   <servlet-mapping>
        <servlet-name>com.freshdirect.webapp.util.json.FDJSONRPCServlet</servlet-name>
        <url-pattern>/api/json-rpc.jsp</url-pattern>
   </servlet-mapping>	



    <servlet>
        <servlet-name>WorkflowImage</servlet-name>
        <servlet-class>com.freshdirect.webapp.crm.WorkflowImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkflowImage</servlet-name>
        <url-pattern>/images/workflow.png</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LateDeliveryExcelReport</servlet-name>
        <servlet-class>com.freshdirect.webapp.util.ExcelReportServletLateDelivery</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LateDeliveryExcelReport</servlet-name>
        <url-pattern>/reports/late_delivery_report.xls</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReservationsReport</servlet-name>
        <servlet-class>com.freshdirect.webapp.util.ReservationsReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationsReport</servlet-name>
        <url-pattern>/reports/reservations_report.xls</url-pattern>
    </servlet-mapping>
    <servlet>
	<servlet-name>OrdersByReservationsReport</servlet-name>
	    <servlet-class>com.freshdirect.webapp.util.OrdersForResvReportServlet</servlet-class>
	</servlet>
     <servlet-mapping>
	    <servlet-name>OrdersByReservationsReport</servlet-name>
	    <url-pattern>/reports/orders_by_reservations_report.xls</url-pattern>
     </servlet-mapping>
    <servlet>
	<servlet-name>OrdersCancelledReport</servlet-name>
	    <servlet-class>com.freshdirect.webapp.util.OrdersCancelledReportServlet</servlet-class>
    </servlet>
     <servlet-mapping>
	    <servlet-name>OrdersCancelledReport</servlet-name>
	    <url-pattern>/reports/final_cancel_report.xls</url-pattern>
     </servlet-mapping>
    <servlet>
	<servlet-name>OrdersReturnedReportServlet</servlet-name>
	    <servlet-class>com.freshdirect.webapp.util.OrdersReturnedReportServlet</servlet-class>
    </servlet>
     <servlet-mapping>
	    <servlet-name>OrdersReturnedReportServlet</servlet-name>
	    <url-pattern>/reports/final_return_report.xls</url-pattern>
     </servlet-mapping>     
     <servlet>
     	<servlet-name>ReturnsVSExportServlet</servlet-name>
     	    <servlet-class>com.freshdirect.webapp.util.ReturnsVSExportServlet</servlet-class>
         </servlet>
          <servlet-mapping>
     	    <servlet-name>ReturnsVSExportServlet</servlet-name>
     	    <url-pattern>/reports/returnsVSExport</url-pattern>
     </servlet-mapping> 
     <servlet>
     	<servlet-name>ReturnsSPExportServlet</servlet-name>
     	    <servlet-class>com.freshdirect.webapp.util.ReturnsSPExportServlet</servlet-class>
         </servlet>
          <servlet-mapping>
     	    <servlet-name>ReturnsSPExportServlet</servlet-name>
     	    <url-pattern>/reports/returnsSPExport</url-pattern>
     </servlet-mapping> 
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/main/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/main/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/main/error.jsp</location>
    </error-page>
    <taglib>
        <taglib-uri>template</taglib-uri>
        <taglib-location>/WEB-INF/shared/tld/struts-template.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>logic</taglib-uri>
        <taglib-location>/WEB-INF/shared/tld/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>freshdirect</taglib-uri>
        <taglib-location>/WEB-INF/shared/tld/freshdirect.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>crm</taglib-uri>
        <taglib-location>/WEB-INF/tld/crm.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>html</taglib-uri>
        <taglib-location>/WEB-INF/shared/tld/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>oscache</taglib-uri>
        <taglib-location>/WEB-INF/shared/tld/oscache.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>bean</taglib-uri>
        <taglib-location>/WEB-INF/shared/tld/struts-bean.tld</taglib-location>
    </taglib>
</web-app>
