{namespace common.rating}

/**
 * @param ratingValue wine rating value
 * @param reviewCount wine rating value
 */
{template .customer}
{if $ratingValue>0}
<b class="customerrating smallrating rating-{print floor($ratingValue*1)}" data-customer-rating="{$ratingValue/2}" data-customer-reviewcount="{$reviewCount ?: 0}" >{$ratingValue/2}</b>
{/if}
{/template}