{namespace common.rating}

/**
 * @param? ratingValue wine rating value
 */
{template .expert}
{if $ratingValue>0}
  <a href="#explanatory" data-component="accordion-opener" data-accordion-target="pdp-explanatory">
    <b class="expertrating smallrating rating-{$ratingValue*1}">
     {$ratingValue}
    </b>
  </a>
{/if}
{/template}