{namespace common.rating}

/**
 * @param? ratingValue wine rating value
 */
{template .expert}
{if $ratingValue>0}
  <b class="expertrating smallrating rating-{$ratingValue*1}">
   {$ratingValue}
  </b>
{/if}
{/template}
