{namespace common.rating}

/**
 * @param ratingValue heat rating value
 */
{template .heat}
  {switch $ratingValue}
    {case 0}
      <img src="/media/editorial/four_min_meals/freshdining/Spice_Chart/fd_heatscale_prdpg_00.gif" class="heatrating">{sp}NO HEAT 
    {case 1}
      <img src="/media/editorial/four_min_meals/freshdining/Spice_Chart/fd_heatscale_prdpg_01.gif" class="heatrating">{sp}MINOR HEAT
    {case 2}
      <img src="/media/editorial/four_min_meals/freshdining/Spice_Chart/fd_heatscale_prdpg_02.gif" class="heatrating">{sp}SUBTLE HEAT
    {case 3}
      <img src="/media/editorial/four_min_meals/freshdining/Spice_Chart/fd_heatscale_prdpg_03.gif" class="heatrating">{sp}MEDIUM HEAT
    {case 4}
      <img src="/media/editorial/four_min_meals/freshdining/Spice_Chart/fd_heatscale_prdpg_04.gif" class="heatrating">{sp}STRONG HEAT
    {case 5}
      <img src="/media/editorial/four_min_meals/freshdining/Spice_Chart/fd_heatscale_prdpg_05.gif" class="heatrating">{sp}FIERY HEAT
    {default}
    {sp}
  {/switch}
  -{sp}<a href="#explanatory" data-component="accordion-opener" data-accordion-target="pdp-explanatory">Learn more<span class="offscreen">about heat rating</span></a></label>
{/template}
