{namespace common.rating}

/**
 * @param ratingValue sustainability rating value
 */
{template .sustainability}
{switch $ratingValue}
{case '00'}
<img src="/media/brands/fd_seafood_popup_all/fish_gray.gif" class="sustrating">
{case '01'}
<img src="/media/brands/fd_seafood_popup_all/fish_red.gif" class="sustrating">
{case '02'}
<img src="/media/brands/fd_seafood_popup_all/fish_yellow.gif" class="sustrating">
{case '03'}
<img src="/media/brands/fd_seafood_popup_all/fish_dark_green.gif" class="sustrating">
{case '04'}
<img src="/media/brands/fd_seafood_popup_all/fish_blue.gif" class="sustrating">
{default}
{sp}
{/switch}
{/template}