{namespace common.rating}

/**
 * @param ratingValue sustainability rating value
 */
{template .sustainability}
{if isNonnull($ratingValue)}
{let $ratingText}
	{switch $ratingValue}
	{case '00'}not rated
	{case '01'}avoid
	{case '02'}good
	{case '03'}best
	{case '04'}on path
	{default}{sp}
	{/switch}
{/let}

<img src="/media_stat/images/ratings/fish_{$ratingValue}.svg" alt="sustainability rating {$ratingText}" class="sustrating" />
{/if}
{/template}