{namespace common.rating}

/**
 * @param ratingValue wine rating value
 */
{template .wine}
{if $ratingValue>0}
<b class="winerating smallrating rating-{$ratingValue*1}">{$ratingValue}</b>
{/if}
{/template}