{namespace youraccount}

/**
 * @param data
 */
{template .paymentinfoerror autoescape="false"}
	<div class="paymentinfoerror-cont">
		<div class="paymentinfoerror-error">{$data.error}</div>
		{if $data.paymentId}
			<div class="paymentinfoerror-buttons-cont">
				<button data-paymentid="{$data.paymentId}" class="cssbutton green">Edit</button>
			</div>
		{/if}
	</div>
{/template}