<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{DATE} %t %p] %c{3} - %m %n" />
		</layout>
	</appender>

	<appender name="request-log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="request.log" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{DATE} %t %p] %c{3} - %m %n" />
		</layout>
	</appender>

	<category name="com.freshdirect.webapp.taglib.fdstore.CartLineTag">
		<priority value="info" />
	</category>

	<category name="net.sf.tapestry">
		<priority value="info" />
	</category>

	<category name="org">
		<priority value="info" />
	</category>

	<category name="net.sf.swarmcache">
		<priority value="info" />
	</category>

	<category name="com.p6spy">
		<priority value="error" />
	</category>
	<category name="com.irongrid">
		<priority value="error" />
	</category>
	<category name="com.scarabresearch">
		<priority value="off" />
	</category>
	<category name="httpclient">
		<priority value="info" />
	</category>
	<category name="com.freshdirect.fdstore.sempixel">
		<priority value="error" />
	</category>
	<category name="com.freshdirect.framework.monitor">
		<priority value="error" />
	</category>
	
	<category name="com.freshdirect.framework.monitor.RequestLogger" additivity="false">
		<priority value="info" />
		<appender-ref ref="request-log" />
	</category>

	<category name="com.freshdirect.webapp.soy.SoyTemplateEngine">
		<priority value="OFF" />
	</category>

	<category name="com.freshdirect.cms.classgenerator.ContentNodeGenerator">
		<priority value="OFF" />
	</category>
	
	<category name="com.freshdirect.erp.ejb.ErpGrpInfoDAO">
		<priority value="OFF" />
	</category>

			
	<root>
		<priority value="debug"/>
		<appender-ref ref="stdout" />
		<!--
		<appender-ref ref="ASYNC" />
		-->
	</root>

</log4j:configuration>
