<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>[%d{dd.MM.yyyy}, %d{HH:mm:ss.SSS}] %-5level [%thread][%logger]: %m%n</pattern>
    </layout>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>cms-core.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>cms-core.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>[%d{dd.MM.yyyy}, %d{HH:mm:ss.SSS}] %-5level [%thread][%logger]: %m%n</pattern>
    </layout>
  </appender>

  <logger name="com.freshdirect.cms">
    <level value="debug" />
  </logger>

  <logger name="org.springframework">
    <level value="INFO" />
  </logger>
  <logger name="org.springframework.cache">
	  <level value="ERROR" />
  </logger>

  <logger name="org.hibernate.SQL" level="ERROR"/>
  <logger name="org.hibernate.type" level="ERROR"/>

  <logger name="org.hibernate" level="ERROR" />
  <logger name="com.zaxxer" level="ERROR" />

  <root>
    <level value="error" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
