<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- ========================= RESOURCE DEFINITIONS ========================= -->
	    
    <bean id="transJDBCDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="fdtrndatasource"/>
	</bean>
    
    
    <!-- the following is hibernate configuration via spring -->
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="transJDBCDataSource"/>
        <property name="mappingResources">
            <list>	

                <value>com/freshdirect/transadmin/model/DlvServiceTimeType.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DlvLocation.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DlvBuilding.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DlvServiceTimeScenario.hbm.xml</value> 
				<value>com/freshdirect/transadmin/model/TrnArea.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/TrnCutOff.hbm.xml</value>  
				<value>com/freshdirect/transadmin/model/TrnDeliveryModel.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/Dispatch.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DispatchReason.hbm.xml</value>  	  				
				<value>com/freshdirect/transadmin/model/DispatchResource.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/Employeerole.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/EmployeeRoleType.hbm.xml</value> 
				<value>com/freshdirect/transadmin/model/EmployeeSubRoleType.hbm.xml</value> 				
				<value>com/freshdirect/transadmin/model/Plan.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/PlanResource.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/Region.hbm.xml</value>  				
			    <value>com/freshdirect/transadmin/model/TrnAdHocRoute.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/TrnZoneType.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/Zone.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/ZoneSupervisor.hbm.xml</value>  								
				<value>com/freshdirect/transadmin/model/ZonetypeResource.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/DispositionType.hbm.xml</value>

				<value>com/freshdirect/transadmin/model/GeoRestriction.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/GeoRestrictionDays.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/GeoRestrictionBoundary.hbm.xml</value>
				
				<value>com/freshdirect/transadmin/model/RouteMapping.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/ActivityLog.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/Scrib.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/ScribLabel.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/UserPref.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/ScheduleEmployee.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/TimeslotLog.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/TimeslotLogDtl.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/UPSRouteInfo.hbn.xml</value>
				<value>com/freshdirect/transadmin/model/DlvBuildingDetail.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/EmployeeStatus.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/BuildingOperationHours.hbm.xml</value>
								
				<value>com/freshdirect/transadmin/model/EmployeeTeam.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DlvScenarioZones.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DlvScenarioDay.hbm.xml</value>
				
				<value>com/freshdirect/transadmin/model/AssetType.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/AssetAttributeType.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/Asset.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/AssetAttribute.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/AssetTemplate.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/AssetTemplateAttribute.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/WaveInstance.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/WaveInstancePublish.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DeliveryGroup.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/IssueType.hbm.xml</value>		
				<value>com/freshdirect/transadmin/model/IssueSubType.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/VIRRecord.hbm.xml</value>		
				<value>com/freshdirect/transadmin/model/MaintenanceIssue.hbm.xml</value>													
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>                
            </props>
        </property>
    </bean>
    
    <!-- employee changes starts -->
    
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="fdtrndatasource"/>
	</bean>
	   
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
   </bean>
   
    <!--<bean id="kronosDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="fdKronosDatasource"/>
	</bean>
    <bean id="kronosTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="kronosDataSource"/>
   </bean>-->
    
    <bean id="employeeManagerDAO" class="com.freshdirect.transadmin.dao.oracle.EmployeeManagerDaoOracleImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
    
	<bean id="zoneManagerDAO" class="com.freshdirect.transadmin.dao.oracle.ZoneManagerDaoOracleImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="spatialManagerDAO" class="com.freshdirect.transadmin.dao.oracle.SpatialManagerDaoOracleImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>		
	
	 <bean id="routeManagerDAO" class="com.freshdirect.transadmin.dao.oracle.RouteManagerDaoOracleImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
	
    <bean id="punchInfoDAO" class="com.freshdirect.transadmin.dao.sqlserver.PunchInfoDaoImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
    
	<bean id="zoneManagerService" class="com.freshdirect.transadmin.service.impl.ZoneManagerImpl">
        <property name="zoneManagerDAO" ref="zoneManagerDAO"/>        
    </bean>
    
   	
   
	<bean id="zoneManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="target" ref="zoneManagerService"/>
		<property name="transactionAttributes">
			<props>
			    <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="employeeManagerService" class="com.freshdirect.transadmin.service.impl.EmployeeManagerImpl">
        <property name="employeeManagerDAO" ref="employeeManagerDAO"/>
          <property name="domainManagerDao" ref="domainManagerDAO"/>
          <property name="punchInfoDAO" ref="punchInfoDAO"/>
    </bean>
	
	
	<bean id="employeeManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="target" ref="employeeManagerService"/>
		<property name="transactionAttributes">
			<props>
			    <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	
	    <!-- employee changes ends -->
	    
	          
    <bean id="domainManagerDAO" class="com.freshdirect.transadmin.dao.hibernate.DomainManagerDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	

   <bean id="restrictionManagerDAO" class="com.freshdirect.transadmin.dao.hibernate.RestrictionManagerDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	

	
	<bean id="dispatchManagerDAO" class="com.freshdirect.transadmin.dao.hibernate.DispatchManagerDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
	<bean id="locationManagerDAO" class="com.freshdirect.transadmin.dao.hibernate.LocationManagerDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
	<bean id="logManagerDAO" class="com.freshdirect.transadmin.dao.hibernate.LogManagerDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
	<!--Zone Expansion  -->
	<bean id="zoneExpansionDAO" class="com.freshdirect.transadmin.dao.oracle.ZoneExpansionDaoOracleImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="assetManagerDAO" class="com.freshdirect.transadmin.dao.hibernate.AssetManagerDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
    <!-- who is driving the transactions? No one... Probably should use directly -->
    <bean id="domainManager" class="com.freshdirect.transadmin.service.impl.DomainManagerImpl">
        <property name="domainManagerDao" ref="domainManagerDAO"/>
        <property name="zoneExpansionDao" ref="zoneExpansionDAO"/>
    </bean>

   <bean id="restrictionManager" class="com.freshdirect.transadmin.service.impl.RestrictionManagerImpl">
        <property name="restrictionManagerDao" ref="restrictionManagerDAO"/>
        <property name="spatialManagerDao" ref="spatialManagerDAO"/>
    </bean>

    
     <bean id="dispatchManagerBase" class="com.freshdirect.transadmin.service.impl.DispatchManagerImpl">
        <property name="dispatchManagerDao" ref="dispatchManagerDAO"/>
        <property name="domainManagerService" ref="domainManager"/>
        <property name="routeManagerDao" ref="routeManagerDAO"/>
        <property name="spatialManagerDao" ref="spatialManagerDAO"/>
        <property name="employeeManagerService" ref="employeeManagerService"/>
        <property name="logManager" ref="logManagerBase"/>
    </bean>
    
    <bean id="locationManager" class="com.freshdirect.transadmin.service.impl.LocationManagerImpl">
        <property name="locationManagerDao" ref="locationManagerDAO"/>
    </bean>
     <bean id="logManager" class="com.freshdirect.transadmin.service.impl.LogManagerImpl">
        <property name="logManagerDao" ref="logManagerDAO"/>
    </bean>
    
    <bean id="assetManagerService" class="com.freshdirect.transadmin.service.impl.AssetManagerImpl">
        <property name="assetManagerDao" ref="assetManagerDAO"/>
    </bean>
         
     <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>   
    <!-- the following is jta configuration via spring        
    <bean 
        id="txManager" 
        class="org.springframework.transaction.jta.WebLogicJtaTransactionManager"
    />  -->  
   
 	<bean id="zoneExpansionBase" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="domainManager"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
            	<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean id="domainManagerBase" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="domainManager"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
            	<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    <bean id="restrictionManagerBase" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="restrictionManager"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
            	<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
 
    <bean id="dispatchManagerProxy"  class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="dispatchManagerBase"/>
        <property name="interceptorNames">
			<list>				
				<value>activityLogAdvisor</value>
			</list>
		</property>	
    </bean>   
 
     <bean id="dispatchManager"  class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="dispatchManagerProxy"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
            	<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    
    <bean id="locationManagerBase" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="locationManager"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
            	<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    
    <bean id="logManagerBase"  class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="logManager"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>            	
            	<prop key="*">PROPAGATION_REQUIRED</prop>               
            </props>
        </property>
    </bean>
    <!-- Hibernate 3.0's JMX statistics service -->
	<!-- Implements the StatisticsServiceMBean management interface -->
	
	<bean name="transportationadmin:service=hibernateStatistics" class="org.hibernate.jmx.StatisticsService">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
    
       <!-- Log Advisor and Log Advice -->
    <bean id="activityLogAdvisor"  class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
      <property name="advice">
         <ref local="activityLogAdvice"/>
      </property>
      <property name="patterns">
         <value>.*removeEntity.*,.*saveEntityList.*,.*saveEntity.*,.*saveDispatch.*</value>
      </property>
   </bean>	
    
    <bean id="activityLogAdvice" class="com.freshdirect.transadmin.log.ActivityLogAdvisor" >
    	<property name="logManager" ref="logManagerBase"/>
    	<property name="dispatchManagerDao" ref="dispatchManagerDAO"/>
    </bean>
   
   <bean id="assetManagerServiceBase" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
         <property name="target" ref="assetManagerService"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
            	<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>       
    </bean>
   
</beans>
