<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- ========================= RESOURCE DEFINITIONS ========================= -->
	    
    <bean id="transJDBCDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="fdtrndatasource"/>
	</bean>
    
    <!-- the following is hibernate configuration via spring -->
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="transJDBCDataSource"/>
        <property name="mappingResources">
            <list>	

                <value>com/freshdirect/transadmin/model/DlvServiceTimeType.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DlvLocation.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DlvBuildingDtl.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DlvBuilding.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/DlvServiceTime.hbm.xml</value>				
				<value>com/freshdirect/transadmin/model/DlvServiceTimeScenario.hbm.xml</value> 
				<value>com/freshdirect/transadmin/model/TrnArea.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/TrnCutOff.hbm.xml</value>  
				<value>com/freshdirect/transadmin/model/TrnRouteNumber.hbm.xml</value>  
				<value>com/freshdirect/transadmin/model/TrnDeliveryModel.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/Dispatch.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/DispatchResource.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/Employeerole.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/EmployeeRoleType.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/Plan.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/PlanResource.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/Region.hbm.xml</value>  				
			    <value>com/freshdirect/transadmin/model/TrnAdHocRoute.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/TrnZoneType.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/Zone.hbm.xml</value>  								
				<value>com/freshdirect/transadmin/model/ZonetypeResource.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/DispositionType.hbm.xml</value>

				<value>com/freshdirect/transadmin/model/GeoRestriction.hbm.xml</value>  				
				<value>com/freshdirect/transadmin/model/GeoRestrictionDays.hbm.xml</value>
				<value>com/freshdirect/transadmin/model/GeoRestrictionBoundary.hbm.xml</value>
				
				<value>com/freshdirect/transadmin/model/RouteMapping.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>                
            </props>
        </property>
    </bean>
    
    <!-- employee changes starts -->
    
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="fdtrndatasource"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
   </bean>
    
    
    <bean id="employeeManagerDAO" class="com.freshdirect.transadmin.dao.oracle.EmployeeManagerDaoOracleImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
	
	<bean id="zoneManagerDAO" class="com.freshdirect.transadmin.dao.oracle.ZoneManagerDaoOracleImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="spatialManagerDAO" class="com.freshdirect.transadmin.dao.oracle.SpatialManagerDaoOracleImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>		
	
	 <bean id="routeManagerDAO" class="com.freshdirect.transadmin.dao.oracle.RouteManagerDaoOracleImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
	
	<bean id="zoneManagerService" class="com.freshdirect.transadmin.service.impl.ZoneManagerImpl">
        <property name="zoneManagerDAO" ref="zoneManagerDAO"/>        
    </bean>
    
   	
	<bean id="zoneManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="target" ref="zoneManagerService"/>
		<property name="transactionAttributes">
			<props>
			    <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	<bean id="employeeManagerService" class="com.freshdirect.transadmin.service.impl.EmployeeManagerImpl">
        <property name="employeeManagerDAO" ref="employeeManagerDAO"/>
          <property name="domainManagerDao" ref="domainManagerDAO"/>
    </bean>
	
	
	<bean id="employeeManager" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="target" ref="employeeManagerService"/>
		<property name="transactionAttributes">
			<props>
			    <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
			</props>
		</property>
	</bean>
	
	
	    <!-- employee changes ends -->
	    
	          
    <bean id="domainManagerDAO" class="com.freshdirect.transadmin.dao.hibernate.DomainManagerDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	

   <bean id="restrictionManagerDAO" class="com.freshdirect.transadmin.dao.hibernate.RestrictionManagerDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	

	
	<bean id="dispatchManagerDAO" class="com.freshdirect.transadmin.dao.hibernate.DispatchManagerDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
	<bean id="locationManagerDAO" class="com.freshdirect.transadmin.dao.hibernate.LocationManagerDaoHibernateImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
    <!-- who is driving the transactions? No one... Probably should use directly -->
    <bean id="domainManager" class="com.freshdirect.transadmin.service.impl.DomainManagerImpl">
        <property name="domainManagerDao" ref="domainManagerDAO"/>
    </bean>

   <bean id="restrictionManager" class="com.freshdirect.transadmin.service.impl.RestrictionManagerImpl">
        <property name="restrictionManagerDao" ref="restrictionManagerDAO"/>
        <property name="spatialManagerDao" ref="spatialManagerDAO"/>
    </bean>

    
     <bean id="dispatchManager" class="com.freshdirect.transadmin.service.impl.DispatchManagerImpl">
        <property name="dispatchManagerDao" ref="dispatchManagerDAO"/>
        <property name="domainManagerService" ref="domainManager"/>
        <property name="routeManagerDao" ref="routeManagerDAO"/>
    </bean>
    
    <bean id="locationManager" class="com.freshdirect.transadmin.service.impl.LocationManagerImpl">
        <property name="locationManagerDao" ref="locationManagerDAO"/>
    </bean>
    
    
     
     <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>   
    <!-- the following is jta configuration via spring        
    <bean 
        id="txManager" 
        class="org.springframework.transaction.jta.WebLogicJtaTransactionManager"
    />  --> 
    
    <bean id="domainManagerBase" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="domainManager"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
            	<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    
    <bean id="restrictionManagerBase" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="restrictionManager"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
            	<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
 
 
 
     <bean id="dispatchManagerBase" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="dispatchManager"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
            	<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    
    <bean id="locationManagerBase" abstract="true" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="target" ref="locationManager"/>
        <property name="transactionManager" ref="txManager"/>
        <property name="transactionAttributes">
            <props>
            	<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>
    
    <!-- Hibernate 3.0's JMX statistics service -->
	<!-- Implements the StatisticsServiceMBean management interface -->
	
	<bean name="transportationadmin:service=hibernateStatistics" class="org.hibernate.jmx.StatisticsService">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
    
   
</beans>
