<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC
	"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">
	
	
<web-app>
	<display-name>TransportationAdmin Application</display-name>
	<description>TransportationAdmin Application</description>
          
	<!--
	  - Key of the system property that should specify the root directory of this
	  - web app. Applied by WebAppRootListener or Log4jConfigListener.
	  -->
	
 	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>TransportationAdmin.root</param-value>
	</context-param>
    
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext-transAdmin.xml</param-value>				
	</context-param>
	
	<context-param>
  		<param-name>extremecomponentsPreferencesLocation</param-name>
  		<param-value>/extremecomponents.properties</param-value>
	</context-param>		  
	
	<filter>
	  <filter-name>eXtremeExport</filter-name>
	  <filter-class>org.extremecomponents.table.filter.ExportFilter</filter-class>
	    <init-param>
	      <param-name>responseHeadersSetBeforeDoFilter</param-name>
	      <param-value>true</param-value>
	    </init-param>
	</filter>
	
	<filter-mapping>
  		<filter-name>eXtremeExport</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!--
	  - Servlet that dispatches request to registered handlers (Controller implementations).
	  - Has its own application context, by default defined in "{servlet-name}-servlet.xml",
	  - i.e. "petclinic-servlet.xml".
	  -
	  - A web app can contain any number of such servlets.
	  - Note that this web app has a shared root application context, serving as parent
	  - of all DispatcherServlet contexts.
	  -->
	<servlet>
		<servlet-name>transAdmin</servlet-name>
		<servlet-class>com.freshdirect.transadmin.web.FDDispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>transAdmin</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>transAdmin</servlet-name>
		<url-pattern>*.ax</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
		<welcome-file>/index.html</welcome-file>
		<welcome-file>/index.htm</welcome-file>
		<welcome-file>/default.html</welcome-file>
		<welcome-file>/default.htm</welcome-file>
		<welcome-file>/default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<!-- Displays a stack trace -->
		<location>/WEB-INF/jsp/uncaughtException.jsp</location>
	</error-page>
    
    <taglib> 
    	<taglib-uri>http://www.springframework.org/tags</taglib-uri> 
    	<taglib-location>/WEB-INF/tld/spring.tld</taglib-location> 
  	</taglib>
  	
  	<taglib> 
    	<taglib-uri>http://www.springframework.org/tags/form</taglib-uri> 
    	<taglib-location>/WEB-INF/tld/spring-form.tld</taglib-location> 
  	</taglib>  
  	
  	<taglib> 
    	<taglib-uri>http://java.sun.com/jstl/core</taglib-uri> 
    	<taglib-location>/WEB-INF/tld/c.tld</taglib-location> 
  	</taglib> 
  	
  	<taglib> 
    	<taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri> 
    	<taglib-location>/WEB-INF/tld/fmt.tld</taglib-location> 
  	</taglib> 
    <taglib>
        <taglib-uri>template</taglib-uri>
        <taglib-location>/WEB-INF/tld/struts-template.tld</taglib-location>
    </taglib>   
	
	<taglib>
	   <taglib-uri>/tld/extremecomponents</taglib-uri>
	   <taglib-location>/WEB-INF/tld/extremecomponents.tld</taglib-location>
	</taglib>
	
	<security-constraint>
		<web-resource-collection>
		<web-resource-name>Unrestricted</web-resource-name>
		<description>All users can view</description>
		<url-pattern>/images/login_bg.jpg</url-pattern>
		<url-pattern>download.do</url-pattern>
		<http-method>GET</http-method>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
    <display-name></display-name>
    <web-resource-collection>
      <web-resource-name>TrnAdmin</web-resource-name>
      <description>Security Constraints for TrnAdmin</description>
      <url-pattern>/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description>Security Constraints for TrnAdmin</description>
      <role-name>TrnAdmin</role-name>
      <role-name>TrnGuest</role-name>
      <role-name>TrnDispatch</role-name>
      <role-name>TrnPlanning</role-name>
    </auth-constraint>
    <user-data-constraint>
      <description>SSL not required</description>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>FreshDirect</realm-name>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login.jsp</form-error-page>
		</form-login-config>
	</login-config>

  <security-role>
    <description>TrnAdmin administrators</description>
    <role-name>TrnAdmin</role-name>
  </security-role>

  <security-role>
    <description>TrnAdmin Guest users</description>
    <role-name>TrnGuest</role-name>
  </security-role>

  <security-role>
    <description>TrnAdmin Dispatch users</description>
    <role-name>TrnDispatch</role-name>
  </security-role>
  <security-role>
      <description>TrnAdmin Planning users</description>
      <role-name>TrnPlanning</role-name>
  </security-role>
</web-app>
