<?xml version="1.0" encoding="UTF-8"?>
<menus roles="TrnAdmin,TrnGuest,TrnDispatch,TrnPlanning,TrnOperations">

	<menu id="MNM001" title="Scheduling" orientation="LEFT" link="">
		<access-uris></access-uris>
		<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		<menu id="SCH001" title="Scrib" orientation="LEFT" link="scrib.do">
			<access-uris>scrib.do,editscrib.do,copyscrib.do,deletescrib.do,viewscriblabel.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="SCH002" title="Scrib Summary" orientation="LEFT"
			link="scribsummary.do">
			<access-uris>scribsummary.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="SCH003" title="Planning" orientation="LEFT" link="plan.do">
			<access-uris>plan.do,deleteplan.do,editplan.do,copyplan.do,autoDispatch.do,bullpenplan.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="SCH004" title="Plan Summary" orientation="LEFT"
			link="plansummary.do">
			<access-uris>plansummary.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="SCH005" title="Employee" orientation="RIGHT"
			link="employee.do?empstatus=S">
			<access-uris>employee.do,editemployee.do,deleteemployee.do,editschedule.do,uploadschedules.do,editemployeetruckpreference.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
	</menu>

	<menu id="MNM002" title="Operations" orientation="LEFT" link="">

		<access-uris></access-uris>
		<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>

		<menu id="OPR001" title="Dispatch" orientation="LEFT" link="dispatch.do">
			<access-uris>dispatch.do,deletedispatch.do,editdispatch.do,confirmdispatch.do,refreshRoute.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="OPR002" title="Dispatch Summary" orientation="LEFT"
			link="dispatchSummary.do">
			<access-uris>dispatchSummary.do,refreshRouteSummary.do,unassignedactiveemployees.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="OPR003" title="Dispatch Dashboard" orientation="LEFT"
			link="dispatchDashboard.do">
			<access-uris>dispatchDashboard.do,dispatchDashboardView.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="OPR010" title="Yard Monitor" orientation="LEFT"
			link="yardmonitor.do">
			<access-uris>yardmonitor.do,parkingslot.do,editparkingslot.do,deleteparkingslot.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="OPR004" title="Route" orientation="RIGHT"	link="route.do?routetype=R">
			<access-uris>route.do,editroute.do,deleteroute.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="OPR05" title="Timesheet" orientation="LEFT" link="timesheet.do">
			<access-uris>timesheet.do,viewsignature.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="OPR006" title="Truck" orientation="RIGHT" link="truck.do">
			<access-uris>truck.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="OPR007" title="Maintenance Log" orientation="RIGHT" link="virrecordlog.do">
			<access-uris>virrecordlog.do,editvirrecordlog.do,maintenancelog.do,editmaintenancelog.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="OPR008" title="Event Log" orientation="RIGHT" link="eventlog.do">
			<access-uris>eventlog.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
		<menu id="OPR009" title="Asset" orientation="RIGHT"	link="asset.do?pAssetType=TRUCK">
			<access-uris>asset.do,editasset.do,assettemplate.do,editassettemplate.do,deleteasset.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning,TrnOperations</access-roles>
		</menu>
	</menu>

	<menu id="MNM003" title="Routing" orientation="LEFT" link="">
		<access-uris></access-uris>
		<access-roles>TrnAdmin,TrnGuest,TrnPlanning,TrnOperations</access-roles>

		<menu id="RUT001" title="HandOff" orientation="RIGHT" link="handoff.do">
			<access-uris>handoff.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>

		<menu id="RUT002" title="Service Time Scenario" orientation="RIGHT" link="dlvservicetimescenario.do">
			<access-uris>dlvservicetimescenario.do,deletedlvservicetimescenario.do,editdlvservicetimescenario.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>

		<menu id="RUT003" title="Service Time Type" orientation="RIGHT" link="dlvservicetimetype.do">
			<access-uris>dlvservicetimetype.do,deletedlvservicetimetype.do,editdlvservicetimetype.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>

		<menu id="RUT006" title="Early Warning" orientation="LEFT"	link="earlywarning.do">
			<access-uris>earlywarning.do,uploadtimeslotcapacity.do</access-uris>
			<access-roles>TrnAdmin,TrnGuest,TrnPlanning,TrnOperations</access-roles>
		</menu>

		<menu id="RUT007" title="Unassigned" orientation="LEFT" link="unassigned.do">
			<access-uris>unassigned.do</access-uris>
			<access-roles>TrnAdmin,TrnGuest,TrnPlanning,TrnOperations</access-roles>
		</menu>

		<menu id="RUT008" title="Wave Monitor" orientation="RIGHT" link="wavemonitor.do">
			<access-uris>wavemonitor.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="RUT009" title="Capacity Analyzer" orientation="LEFT" link="capacityanalyzer.do">
			<access-uris>capacityanalyzer.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
	</menu>

	<menu id="MNM004" title="Geography" orientation="LEFT" link="">
		<access-uris></access-uris>
		<access-roles>TrnAdmin,TrnGuest,TrnPlanning,TrnOperations</access-roles>

		<menu id="GEO001" title="Area" orientation="RIGHT" link="area.do">
			<access-uris>area.do,deletearea.do,editarea.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="GEO002" title="Zone Type" orientation="RIGHT" link="zonetype.do">
			<access-uris>zonetype.do,deletezonetype.do,editzonetype.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="GEO003" title="Zone" orientation="RIGHT"
			link="zone.do?zoneType=Active">
			<access-uris>zone.do,editzone.do,deletezone.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="GEO004" title="Building" orientation="LEFT" link="dlvbuilding.do">
			<access-uris>dlvbuilding.do,deletedlvbuilding.do,geocodedlvbuilding.do,dlvbuildinglocation.do,editdlvbuilding.do,editdlvbuildingdtl.do,customerinfo.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="GEO005" title="Location" orientation="LEFT" link="dlvlocation.do">
			<access-uris>dlvlocation.do,deletedlvlocation.do,updatedlvlocation.do,senddlvlocation.do,editdlvlocation.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="GEO006" title="Building Info" orientation="LEFT" link="dlvbuildingdtl.do">
			<access-uris>dlvbuildingdtl.do,deletedlvbuildingdtl.do,editdlvbuildingdtl.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="GEO007" title="Zone Region" orientation="RIGHT" link="region.do">
			<access-uris>region.do,deleteregion.do,editregion.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="GEO008" title="Geo Restriction" orientation="RIGHT" link="georestriction.do">
			<access-uris>georestriction.do,deletegeorestriction.do,editgeorestriction.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="GEO012" title="Timeslot Restriction" orientation="RIGHT" link="timeslotrestriction.do">
			<access-uris>timeslotrestriction.do,deletetimeslotrestriction.do,edittimeslotrestriction.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>

		<menu id="GEO009" title="GMap" orientation="RIGHT" link="gmap.do">
			<access-uris>gmap.do</access-uris>
			<access-roles>TrnAdmin,TrnGuest,TrnPlanning,TrnOperations</access-roles>
		</menu>

		<menu id="GEO010" title="Facility" orientation="RIGHT" link="facility.do">
			<access-uris>facility.do,deletefacility.do,editfacility.do,deletefacilitytype.do,editfacilitytype.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="GEO011" title="Sector" orientation="LEFT" link="sector.do">
			<access-uris>sector.do,deletesector.do,editsector.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="GEO013" title="Route Region" orientation="RIGHT" link="routingRegion.do">
			<access-uris>routingRegion.do,deleteRoutingRegion.do,editRoutingRegion.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>		
	</menu>

	<menu id="MNM005" title="Admin" orientation="LEFT" link="">
		<access-uris></access-uris>
		<access-roles>TrnAdmin,TrnPlanning</access-roles>

		<menu id="ADO001" title="Timeslot Log" orientation="RIGHT" link="timeslotlog.do">
			<access-uris>timeslotlog.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="ADO002" title="HandOff Time" orientation="LEFT" link="cutoff.do">
			<access-uris>cutoff.do,deletecutoff.do,editcutoff.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="ADO003" title="Notification" orientation="RIGHT" link="notification.do">
			<access-uris>notification.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="ADO004" title="Zone Expansion" orientation="RIGHT" link="zoneexpansion.do">
			<access-uris>zoneexpansion.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="ADO005" title="Geo Restriction" orientation="RIGHT"
			link="geographyrestriction.do">
			<access-uris>geographyrestriction.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="ADO006" title="Routing In" orientation="LEFT"	link="routinginput.do">
			<access-uris>routinginput.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="ADO007" title="Routing out" orientation="LEFT" link="routingoutput.do">
			<access-uris>routingoutput.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="ADO008" title="Routing Merge" orientation="LEFT"	link="routingmerge.do">
			<access-uris>routingmerge.do,rsmergefile.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="ADO009" title="Zip Code" orientation="RIGHT" link="zipcode.do">
			<access-uris>zipcode.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="ADO010" title="Crisis Management" orientation="LEFT"	link="crisismanage.do">
			<access-uris>crisismanage.do</access-uris>
			<access-roles>TrnAdmin</access-roles>
		</menu>
		<menu id="ADO011" title="Snapshot" orientation="LEFT" link="capacitySnapshot.do">
			<access-uris>capacitySnapshot.do,deletecapacitySnapshot.do</access-uris>
			<access-roles>TrnAdmin,TrnPlanning</access-roles>
		</menu>
		<menu id="ADO012" title="Dashboard" orientation="LEFT" link="dashboard.do">
			<access-uris>dashboard.do</access-uris>
			<access-roles>TrnAdmin</access-roles>
		</menu>		
    	<menu id="ADO013" title="Dispatch Group" orientation="LEFT" link="dispatchgroup.do">
	     	<access-uris>dispatchgroup.do,deletedispatchgroup.do,editdispatchgroup.do</access-uris>
     	 	<access-roles>TrnAdmin,TrnPlanning</access-roles>
     	</menu>
	</menu>
</menus>
