<?xml version="1.0" encoding="Utf-8"?>
<config>
	<variable>
		<name>TestCaseAccess</name>
		<value>
			<plugin>ExcelTestCaseAccess</plugin>
		</value>
		<!--<value>
			<plugin>DesignerTestCaseAccess</plugin>
			<parameters>
			<projectname>banking</projectname>
			</parameters>
		</value>

	--></variable>

	<variable>
		<name>DataAccess</name>
		<value>
			<plugin>ExcelDataAccess</plugin>
		</value>
		<!--<value>
			<plugin>DBDataAccess</plugin>
			<parameters>
				<dbname>C:\\Users\\AS821610\\Desktop\\MyDatabase.accdb</dbname>
			</parameters>
		</value>

	--></variable>

	<variable>
		<name>ResultReporter</name>
		<value>
			<array>
				<value>
					<plugin>ScreenDump</plugin>
				</value>
				<value>
					<plugin>ExcelReport</plugin>
				</value>
				<value>
					<plugin>HtmlEvent</plugin>
				</value>
				<!--<value>
					<plugin>ResultEventLogger</plugin>
				</value>-->
			</array>
		</value>
	</variable>
	
	<variable>
		<name>UIDrivers</name>
		<value>
			<array>
				<value>
					<plugin>Sikuli</plugin>
				</value>
				<value>
					<plugin>Selenium</plugin>
				</value>
			</array>
		</value>
	</variable>

	<variable>
		<name>InterTestCaseDelay</name>
		<value>0</value>
	</variable>

	<variable>
		<name>AppDriverBootStrap</name>
		<value>ModuleDrivers.CompositeAppDriver</value>
	</variable>

	<variable>
		<name>EnableIterationSelection</name>
		<value>true</value>
	</variable>

	<variable>
		<name>EnableStepSelection</name>
		<value>true</value>
	</variable>

	<variable>
		<name>SleepTimerSlabs</name>
		<value>2000,5000,10000,15000</value>
	</variable>

	<variable>
		<name>TestSetSheet</name>
		<value>${TestSet}</value>
	</variable>
	
	<variable>
		<name>AutoHome</name>
		<value>E:/CBF_java_WC/CBF-FreshDirect/Test</value>
	</variable>

	<variable>
		<name>WorkHome</name>
		<value>E:/CBF_java_WC/CBF-FreshDirect</value>
	</variable>

	<variable>
		<name>RunHome</name>
		<value>E:/CBF_java_WC/CBF-FreshDirect/Logs</value>
	</variable>

	<variable>
		<name>Browser</name>
		<value>${Browser}</value>
	</variable>
	
	<variable>
		<name>Version</name>
		<value>36.0.1</value>
	</variable>

	<variable>
		<name>BrowserDriverFolder</name>
		<value>E:/IEDriverServer.exe</value>
	</variable>

</config>
