form[is="fd-ajaxform"] [error-for] {
  color: #cb2848;
  font-size: .75em;
}

form[is="fd-ajaxform"] [error-for] ul {
  list-style-type: none;
  padding: 0;
}


fd-cms-loginpage {
  background-image: url(../assets/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
