a.cssbutton,
a.cssbutton:visited,
a.cssbutton:link,
.cssbutton,
button.cssbutton[data-component] {
	color:white;
	border: none;
	display:inline-block;
	height:auto;
	width:auto;
	line-height:1em;
	padding:9px 11px;
	font-family: Verdana, sans-serif;
	font-weight:bold;
	text-indent:0;
}

.cssbutton {
	font-size: 12px;
	text-shadow: 1px 1px #555555;
	border-radius: 5px;
	box-shadow: -1px -1px 2px 0 rgba(128, 128, 128, 0.3) inset,1px 1px 2px 0 rgba(240, 240, 240, 0.8) inset;	
	cursor: pointer;	
	margin:0;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;		
}

a.cssbutton[class^="icon-"],
a.cssbutton[class*=" icon-"],
button.cssbutton[class^="icon-"],
button.cssbutton[class*=" icon-"],
.cssbutton[class^="icon-"],
.cssbutton[class*=" icon-"] {
	padding-bottom:8px;
}

a.cssbutton:focus,
a.cssbutton:hover,
a.cssbutton:active {
	text-decoration:none;
}

a.cssbutton.medium,
button.cssbutton.medium,
.cssbutton.medium {
	font-size:14px;
	padding-top:8px;
	padding-bottom:8px;
}

a.cssbutton.medium[class^="icon-"],
a.cssbutton.medium[class*=" icon-"],
button.cssbutton.medium[class^="icon-"],
button.cssbutton.medium[class*=" icon-"],
.cssbutton.medium[class^="icon-"],
.cssbutton.medium[class*=" icon-"] {
	padding-bottom:7px;
}

a.cssbutton.large,
button.cssbutton.large,
.cssbutton.large {
	font-size:14px;
	line-height:1.3em;
	padding:8px 14px;
}

a.cssbutton.large[class^="icon-"],
a.cssbutton.large[class*=" icon-"],
button.cssbutton.large[class^="icon-"],
button.cssbutton.large[class*=" icon-"],
.cssbutton.large[class^="icon-"],
.cssbutton.large[class*=" icon-"] {
	padding-bottom:7px;
}

a.cssbutton.small,
button.cssbutton.small,
.cssbutton.small {
	padding-left:5px;
	padding-right:5px;
}


/* Used within FF chrome to target CSS to specific URLs: being FF-specific,
It is also useful for targeting FF-only code. Targeting both http and https */
button.cssbutton::-moz-focus-inner
{
  padding: 0;
  border: 0;
}

@-moz-document url-prefix(http) {
button.cssbutton.notext[class^="icon-"]::-moz-focus-inner,
button.cssbutton.notext[class*=" icon-"]::-moz-focus-inner
{
	padding-left: 8px;
    padding-right: 8px;	
}
}


a.cssbutton.notext[class^="icon-"],
a.cssbutton.notext[class*=" icon-"],
button.cssbutton.notext[class^="icon-"],
button.cssbutton.notext[class*=" icon-"],
.cssbutton.notext[class^="icon-"],
.cssbutton.notext[class*=" icon-"] {
    width: 30px;
    white-space: nowrap;
    letter-spacing: 2em;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 7px;
    font-size: 16px;
    overflow: hidden;
}

span.cssbutton.notext[class^="icon-"],
span.cssbutton.notext[class*=" icon-"] {
  width: 1em;
}

.cssbutton.white {	background:#f4f4f4; color:#555; text-shadow:none; }
.cssbutton.white:focus,.cssbutton.white:hover { background:#dfdfdf; color:#555; text-shadow:none;  }

.cssbutton.red {	background:#c94747; }
.cssbutton.red:focus,.cssbutton.red:hover { background:#b64242; }

.cssbutton.purple {	background:#b07bb7; }
.cssbutton.purple:focus,.cssbutton.purple:hover { background:#8a588a; }

.cssbutton.orange {	background:#ff9900; }
.cssbutton.orange:focus,.cssbutton.orange:hover { background:#dc862d; }

.cssbutton.khaki { background:#979863; }
.cssbutton.khaki:focus,.cssbutton.khaki:hover { background:#8b8c59; }

.cssbutton.blue { background:#6699cc; }
.cssbutton.blue:focus,.cssbutton.blue:hover { background:#708fbd; }

.cssbutton.green {	background:#669933; }
.cssbutton.green:focus,.cssbutton.green:hover { background:#728d4b; }

.cssbutton.transparent {	background:none; box-shadow: none }
.cssbutton.transparent:focus,.cssbutton.transparent:hover { background:none; box-shadow: none  }

.cssbutton.black {	background:#000; }
.cssbutton.black:focus,.cssbutton.black:hover { background:#333; }

.cssbutton.grey {	background:#AAA; }
.cssbutton.grey:focus,.cssbutton.grey:hover { background:#dfdfdf; }

.cssbutton.white,
.cssbutton.white:focus,.cssbutton.white:hover,
.cssbutton.red,
.cssbutton.red:focus,.cssbutton.red:hover,
.cssbutton.purple,
.cssbutton.purple:focus,.cssbutton.purple:hover,
.cssbutton.orange,
.cssbutton.orange:focus,.cssbutton.orange:hover,
.cssbutton.khaki,
.cssbutton.khaki:focus,.cssbutton.khaki:hover,
.cssbutton.blue,
.cssbutton.blue:focus,.cssbutton.blue:hover,
.cssbutton.green,
.cssbutton.green:focus,.cssbutton.green:hover,
.cssbutton.transparent,
.cssbutton.transparent:focus,.cssbutton.transparent:hover,
.cssbutton.black,
.cssbutton.black:focus,.cssbutton.black:hover,
.cssbutton.grey,
.cssbutton.grey:focus,.cssbutton.grey:hover{
	color:white;
}


.css-help-button {
	border-radius:50%;
	display:inline-block;
	width:24px;
	height:24px;
	text-align:center;
	margin-left:8px;
	padding:0;
}

.cssbutton.white.transparent {
  color: #aaa;
  font-weight: normal;
  text-shadow: none;
}

.cssbutton.white.transparent:hover {
  color: #888;
}

.cssbutton.purple.transparent {
  color: #b07bb7;
  font-weight: normal;
  text-shadow: none;
}

.cssbutton.purple.transparent:hover {
  color: #8a588a;
}


.cssbutton.round {
  border-radius: 50%;
}

.cssbutton.green.transparent {
  color: #669933;
  font-weight: normal;
  text-shadow: none;
}

.cssbutton.red.transparent {
  color: #c94747;
  font-weight: normal;
  text-shadow: none;
}

.cssbutton.green.transparent:hover {
  color: #728d4b;
}

