[data-component="errorDialog"] {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	text-align: center;
	background:url(/media_stat/images/layout/1x1_80p_trans.png);
	background:rgba(255,255,255,0.5);	
	font-family: 'EagleBook', Verdana, Arial, sans-serif;
	font-size: 40px;
  z-index: 9000;
}

[data-component="errorDialog"]:before {
	display:inline-block;
	content:' ';
	width:1px;
	vertical-align: middle;
	height:100%;
}

[data-component="errorDialog.panel"] {
	background:white;
	padding:20px;
	display: inline-block;
	max-width: 50%;
}


[data-component="errorDialog.message"] {
	margin:0;

}

[data-component="errorDialog.message"] .internalerror {
  font-size: 16px;
}

[data-component="errorDialog.message"] .internalerrormessage {
  font-size: 12px;
  color: #888;
}

[data-component="errorDialog"] .unauthorized {
	font-size:14px;
	text-align:left;
	border: 2px solid #969;
	padding: 20px;
	border-radius: 10px;
}

