@font-face {
	font-family: 'freshdirect_icons';
	src: url('/assets/css/fonts/freshdirect_icons.eot');
}
@font-face {
	font-family: 'freshdirect_icons';
	src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SA04AAAC8AAAAYGNtYXDmbOb+AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZhnEv+kAAAGAAAAR4GhlYWQI7JKgAAATYAAAADZoaGVhCXIFsAAAE5gAAAAkaG10eKoHCQoAABO8AAAAtGxvY2FJ4E4YAAAUcAAAAFxtYXhwADYArAAAFMwAAAAgbmFtZdWUSgkAABTsAAAB/nBvc3QAAwAAAAAW7AAAACAAAwP0AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmMAPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5ibmMP/9//8AAAAAACDmAOYv//3//wAB/+MaBBn8AAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAMAAP/AA8ADwAAMABkANAAANzQ2MzIWFRQGIyImNSE0NjMyFhUUBiMiJjUTESE0JiMVMhYVEw4BFRQWMyE1ISImNTgBNSWAOCgoODgoKDgCgDgoKDg4KCg4wPzASzUaJjAWGks1AwD9ABslA0AgKDg4KCg4OCgoODgoKDg4KAGgAYA1S0AmGv5kEjQeNUtAJRsBfwABAAD/wAQAA8AABgAANwkEIQABAAIAAQD+AAEA/QDAAQD+AAEAAgABAAAAAAEAAP/ABAADwAAGAAAJASERIREhAgD+AAFAAYABQAPA/gD+AAIAAAABAAD/wAQAA8AABgAACQURAQABAP4AAQACAAEAA8D/AP4A/wACAP8AAwAAAAEAAP/ABAADwAAGAAAJAREhESERBAD+AP4AAgABwAIA/sD+gP7AAAABAAD/wAQAA8AABgAACQUhBAD/AP4A/wACAP8AAwACwP8AAgD/AP4A/wAAAAEAAP/ABAADwAAGAAAFASERIREhAgACAP7A/oD+wEACAAIA/gAAAAABAAD/wAQAA8AABgAABQkEEQMA/wACAP8A/gD/AEABAAIAAQD+AAEA/QAAAAEAAP/ABAADwAAGAAATAREhESERAAIAAgD+AAHA/gABQAGAAUAAAAABAAD/wAQAA8AAJAAAASERNCYrASIGFREhIgYdARQWMyERFBY7ATI2NREhMjY9ATQmIwPg/qATDcANE/6gDRMTDQFgEw3ADRMBYA0TEw0CQAFgDRMTDf6gEw3ADRP+oA0TEw0BYBMNwA0TAAABAAABQAQAAkAAEAAAExUUFjMhMjY9ATQmIyEiBhUAEw0DwA0TEw38QA0TAiDADRMTDcANExMNAAIAAP/ABAADwAAUACUAAAEiDgIVFB4CMzI+AjU0LgIjAQcXFSMnByM1Nyc1Mxc3MxUCAGq7i1BQi7tqaruLUFCLu2oBAKWlW6WlW6WlW6WlWwPAUIu7amq7i1BQi7tqaruLUP6lpaVbpaVbpaVbpaVbAAAABgBA/8ADwAPAABQAJAArAC8AMwA3AAABJy4BIyEiBhURFBYzITI2NRE0JicnMhYXHgEfAR4BFx4BFSM1EyERIREhEQEhFSEVIRUhFSEVIQN8eBxgKP5AKDg4KALAKDgoHPwCAwINEgN5AwsGAQG4wP2AAYABAP3AAgD+AAIA/gACAP4AAwR4HCg4KPzAKDg4KAJAKGAcNAEBBgsDeQMSDQIDArj9CAMA/wD+AAGAQEBAQEAABAAO/8AD8gPAAAMAFAAhACsAAAkBIQE1MTIWFwEWBiMhIiY3AT4BMwM0NjMyFhUUBiMiJjUTMhYVByMnNDYzAgD+pwKy/qcRHw0BtRklM/yaMyUZAbUNHxFAJRsbJSUbGyVAGyUUWBQlGwMh/R8C4Z8WF/yZLEBALANnFxb9ABslJRsbJSUbAYAlG8DAGyUAAQDgAGADgAMgAAYAAAERAREBEQECQAFA/sD+oAMg/sABQP1AAUD+wAFgAAABAMAAYANgAyAABgAAJREBEQERAQIA/sABQAFgYAFA/sACwP7AAUD+oAAAAAEAgABAA4ADQAALAAA3ETMRAREBEQERARGAgAFAAUD+wP7AQAMA/qABQP7AAUD9QAFA/sABQP6gAAAAAAEAgABAA4ADQAALAAABESMRAREBEQERAREDgID+wP7AAUABQANA/QABYP7AAUD+wALA/sABQP7AAWAAAAYAAP/AA8ADwAAQABUAGQAdACEAJQAAASEiBhURFBYzITI2NRE0JiMDIREhEQEhFSEVIRUhFSEVIREhFSEDYP0AKDg4KAMAKDg4KCD9QALA/cABwP5AAcD+QAHA/kABwP5AA8A4KPzAKDg4KANAKDj8gAMA/QABwEBAQEBAAcBAAAAAAAMAAP/ABAADwAAUABkAJAAAASIOAhUUHgIzMj4CNTQuAiMHMxUjNRMhNTMRIzUzETMVAgBqu4tQUIu7amq7i1BQi7tqQICAwP8AQEDAQAPAUIu7amq7i1BQi7tqaruLUMCAgP2AQAEAQP7AQAAAAAAEAAD/wAQAA8AAFAApAC0ANwAAASIOAhUUHgIzMj4CNTQuAiMRIi4CNTQ+AjMyHgIVFA4CIwMzFSMTITUzNSM1MxEzAgBqu4tQUIu7amq7i1BQi7tqVphxQUFxmFZWmHFBQXGYVkCAgMD/AEBAwEADwFCLu2pqu4tQUIu7amq7i1D8YEFxmFZWmHFBQXGYVlaYcUECoID+gEDAQP8AAAAABwCA/8ADgAPAAAoADwAhADIANwA8AEEAAAEhIgYdASE1NCYjJxchNzM3ISIGDwEGFjMhMjYvAS4BIzETISIGFxMeATMhMjY3EzYmIwEjAzMRMyMRMxEzIxEzAwMg/cAoOAMAOCioDv70DvAI/wAUIAMSAxgUAUAUGAMSAyAUsP2gGiMDNAMpGgHgGikDNAMjGv5QYCCAwICAoGCAIANAOCggICg4QGVlQBwUhRQcHBSFFBz+wCUb/cAbJSUbAkAbJf3AAcD+QAHA/kABwP5AAAEBMwDUAs0CrAACAAABESUCzf5mAqz+KOwAAAABARQA8wLsAo0AAgAAASETAuz+KOwCjf5mAAAAAQEUAPMC7AKNAAIAACUhAwEUAdjs8wGaAAAAAAEBMwDUAs0CrAACAAABESUBMwGaAqz+KOwAAAAGACMAOQPyA04ABAAJAA4AEwAYAB0AABMzNSMVNxUhNSEDMzUjFTMhNSEVAzM1IxUzITUhFSOLi+gC5/0Z6IuL6ALn/Rnoi4voAuf9GQLCjIyMjIz+L4yMjIz+vIuLi4sAAAAABAAg/+AD4AOgAAQACQAOABMAABMhESERAREhESEBIREhESkBESERIAGA/oACQAGA/oD9wAGA/oACQAGA/oACIAGA/oABgP6AAYD8QAGA/oABgP6AAAAAAAIAdP/ABAADwAAaADEAAAE+ATU0JicuASMiBgcOARQWFx4BMzI2NwE3AScUBgcOASImJy4BNDY3PgEzMhYXHgEVAtgfIDw4OJFPT5A4Ojk5OjiQTzhrLwEoe/7YcCEfHlNYUx0hICAhH1EsLVAgHyEBYy9rOE+QODg8PDg5kpiROjg8IB/+13sBKNItUCAeHh4eIFJVUiAgISIfHlIsAAACAAcAGgP0A2YAJQBLAAABNhYzBxc3JwcXJgYHDgEHDgEVFBYXHgEzNSImJy4BNTQ2Nz4BNyUuASMVMhYXHgEVFAYHDgEHBiYjNycHFzcnFjY3PgE3PgE1NCYnAWwZMRlXNtbWNlY7eTcgPBgxNzcxL4FJNFsiIicnIiReMwIgL4FJNFsiIicnIiRdMxkyGFc21tU2Vjt5NyA7GTA4ODACdAEBTz6/wD5OAQQXDScZMIBISYAwMTdnJyIiWjQzWyElJQGKMTdnJyIiWjQzWyElJAEBAU8+v8E+TgEEFw0nGTCASUmALwAABgAA/8ADbgPAAAgAIQAlACoALwA0AAABBQ8BMwcRIREHFTMVIxEhFSMRMzEzFSE1ITUhNSE1OQElBRUhJQMVITUhHQEhNSEdASE1IQNu/cj/NAEEA25CJSX9PEgCjgH6/pMBbv6SAe/+AP78AQR8Afr+BgH4/ggB+P4IA8AB+DIE/S8EABsBP/yaIwK5RExHS3UBDPX1/nBLS5FMTJRLSwAAAAAHAAD/wANuA8AACAAMABEAGAAdACIAJwAAAQUPATMHESERBRUhJRchFSE1FSEVITUzNQchFSE1FSEVITUVIRUhNQNu/cj/NAEEA279vv78AQQRAa3+UwGu/cWNjQI7/cUCO/3FAjv9xQPAAfgyBP0vBAAn9fVqS0uSTEQIlEtLkUxMlEtLAAAAA////8AE6QPAABQAKQA+AAAFMBgCMTA+AjEwGAIxMA4CMQEwHgIxMBgCMTAuAjEwGAIxBTA+AjEwGAIxMA4CMTAYAjEDg3CGcHCGcP4+cIZwcIZw/j5whnBwhnBAAQ8BRgEPMTox/vD+uv7xMDswBAAxOjH+8f66/vEwOzABDwFGARCcMTox/vD+uv7xMDswAQ8BRgEPAAACAAH/wQQBA8EAFAAuAAABMC4CMTA+AjEwHgIxMA4CMQEwDgIxMD4CMTA+AjEwHgIxMA4CMQNRW25bNkI3XG1cN0I3/iFzi3MYHRiDnoNcbVyEnYQB7VtuWzdCN1xtXDdCNv4hGB0Yc4tzhJ2EXG1cg56DAAIAAP/AAyUDwAAgADUAABMwNDEwOgIxMDQxMDoCMTAUMTA6AjEwFDEwIiAiMQEwKgIxMDQQNDEwOgIxMBQQFDEAW25cRFJFW25c/P7S+wLbzffOzvfNAuWSSUmS/NvlARLk5P7u5QAAAwAFABMFsANtAHcAkACpAAABDgEHDgEjMCoCMTAGMTA6AjEwFDEwKgIxIiYnLgE3MDYxMC4CMTA0MTA+AjEwNjEwJjEwLgIxMDQxMD4CMTAmMTAmJCYxMDQxMDYkNjEwJjEwLgIxMDYxMB4CMR4BFx4BFzAWMTAeAjEwDgIxBTIWFx4BFRQGBw4BIyImJy4BNTQ2Nz4BMyEyFhceARUUBgcOASMiJicuATU0Njc+ATMFhQEHBgYOCJ29nQqhwqGx1bEJEQYHBQIJa4Fsb4VuAwS847y74LoG7/7g7+4BHe4NMz4zGjtIPAUKBAQFAQfA5sANEA794w0YCQoJCQoJGA0OFwkKCgoKCRcOAYQNFwoKCQkKChcNDhcKCQoKCQoXDgF2CA4FBQY8WwgICRMKNgYIBxAHCAcTLwcIBxAHCAdCBwgHEAcIBosPEg9XEhYSAgcFBgwGShMXE1VmVdYKCwoZDg8ZCgoLCwoKGQ8OGQoLCgoLChkODxkKCgsLCgoZDw4ZCgsKAAACAAD/2APPA6gAFABJAAABIg4CFRQeAjMyPgI1NC4CIwEwKgIxMBwCMTAiMTA8AjEwKgIxMDQxMDoCMTA8AjEwMjEwHAIxMDoCMTAUMQHoZbKETU2EsmVlsYVMTIWxZQEKRlNFWUVTRUVTRVlFU0YDqE2EsmVlsoRNTYSyZWWyhE397EZTRUVTRlhGU0VFU0ZYAAAAAgAI/8QD+gO2ACYALQAAATgBMSIOAhU4ATEUHgIzOAExOAExMj4CNTgBMTQuAiM4ATEHMxEzFSERAgFpt4lQUIm3aWi4iVBQibhoNV/N/tQDtlCJuGhpuIlPT4m4aWi4iVCH/rxdAaEAAAAACAAI//sDxwN7ABMAGAAdACIAJwBAAEUAWAAAExEhLgE1NDY3BzUhPgEzMhYXAyEXIRUhNSMzFSM1FTMVIzUzIRUhNQUiBgcGFBceATMyNjcXNyc+ATU0JicuASMFMxUjNQUyFhceARUUBgcGIicmNDc+ATMIAdsQEwYG5QEEH144EiIRAv0l3wFN/rNoPj4+PmgBTf6zAbUmRRo3NxpFJhozF406jQ8PHBsbRSX94z4+Ah0VJg8PEBAPHF0cHx8PJxUDe/0uGj0iEyQRAj0rMgYFAYS5PT09PY49PT09UhwbN5w3Gh0PD406jRczGiZEGxscPT09FhAODycVFScPHBwfWB8PDwAAAwAl/+IEIgOdAFcAZABxAAATMCYHBhYxMBYXHgExMB4CMTAGFx4BMTA6AjEwFjc2JjEwLgIxMCYnJjYxMD4CMTA2Nz4BMTA+AjEwNicuATEwJiQmMTAiJy4BMTAmJy4BJy4BMQEUFjMyNjU0JiMiBhUhFBYzMjY1NCYjIgYVSB4FBho+FhYLNUA1Ew0NPZq5miYMCyuaupodAgIinr2eEwcHBRcdFw8FBRTn/uvoFwcHDhgDAyYREkMBMi0gHy0tHyAtAZgtICAtLSAgLAOdARQUGhcPDhuYtpg+Hh0FHBEQHwUHBgEPEAsJCgkDBQUcZHdkHwoKBBEUEQYFGTwHCBoHBwv8liEwMCEiLy8iITAwISIvLyIAAAIAFv/YAw0DpgADAAsAABMhESEBNSMVIRUhNV0Cbf2TAZS7/uAC9wKM/UwDiUVFaWkAAAABAAAAAQAAZ4fF718PPPUACwQAAAAAANIPJxEAAAAA0g8nEf///8AFsAPBAAAACAACAAAAAAAAAAEAAAPA/8AAAAXD/////wWwAAEAAAAAAAAAAAAAAAAAAAAtBAAAAAAAAAAAAAAAAgAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAAAEAAAABAAAAAQAAEAEAAAOBAAA4AQAAMAEAACABAAAgAQAAAAEAAAABAAAAAQAAIAEAAEzBAABFAQAARQEAAEzBBsAIwQAACAEAAB0BAMABwNuAAADbgAABOz//wQAAAEDJQAABcMABQPPAAAEAAAIBAAACAREACUDJQAWAAAAAAAKABQAHgBoAH4AkgCoALwA0gDmAPwBEAFGAWIBnAH2Aj4CVAJqAogCpgLoAyADcAPYA+YD9AQCBBAEQgRuBL4FMgWEBcgGFAZOBoIHRgeQB8YISgjWCPAAAQAAAC0AqgAIAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABABEAAAABAAAAAAACAAcAugABAAAAAAADABEAVAABAAAAAAAEABEAzwABAAAAAAAFAAsAMwABAAAAAAAGABEAhwABAAAAAAAKABoBAgADAAEECQABACIAEQADAAEECQACAA4AwQADAAEECQADACIAZQADAAEECQAEACIA4AADAAEECQAFABYAPgADAAEECQAGACIAmAADAAEECQAKADQBHGZyZXNoZGlyZWN0X2ljb25zAGYAcgBlAHMAaABkAGkAcgBlAGMAdABfAGkAYwBvAG4Ac1ZlcnNpb24gMS4wAFYAZQByAHMAaQBvAG4AIAAxAC4AMGZyZXNoZGlyZWN0X2ljb25zAGYAcgBlAHMAaABkAGkAcgBlAGMAdABfAGkAYwBvAG4Ac2ZyZXNoZGlyZWN0X2ljb25zAGYAcgBlAHMAaABkAGkAcgBlAGMAdABfAGkAYwBvAG4Ac1JlZ3VsYXIAUgBlAGcAdQBsAGEAcmZyZXNoZGlyZWN0X2ljb25zAGYAcgBlAHMAaABkAGkAcgBlAGMAdABfAGkAYwBvAG4Ac0ZvbnQgZ2VuZXJhdGVkIGJ5IEljb01vb24uAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=) format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before,
[class^="icon-"]:after, [class*=" icon-"]:after {
	font-family: 'freshdirect_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align:text-bottom;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	padding-right:0.3em;
}
[class^="icon-"]:after, [class*=" icon-"]:after {
	padding-left:0.3em;
}

.icon-clock-before:before,
.icon-clock-after:after {
	content: "\e625";
}
.icon-meal-details-before:before,
.icon-meal-details-after:after {
	content: "\e626";
}

.icon-add-drawer-before:before,
.icon-add-drawer-after:after {
	content: "\e624";
}

.icon-maps-before:before,
.icon-maps-after:after {
	content: "\e620";
}

.icon-pencil-after:after,
.icon-pencil-before:before {
	content: "\e621";
}

.icon-trash-new2-after:after,
.icon-trash-new2-before:before {
	content: "\e622";
}

.icon-cart_fast-after:after,
.icon-cart_fast-before:before {
	content: "\e623";
}

.icon-list-white-after:after,
.icon-list-white-before:before {
	content: "\e61e";
}

.icon-list-black-after:after,
.icon-list-black-before:before {
	content: "\e61f";
}

.icon-cart-new-after:after,
.icon-cart-new-before:before {
	content: "\e62f";
}

.icon-trash-new-after:after,
.icon-trash-new-before:before {
	content: "\e630";
}

.icon-list-view-after:after,
.icon-list-view-before:before {
	content: "\e61a";
}

.icon-grid-view-after:after,
.icon-grid-view-before:before {
	content: "\e61b";
}

.icon-magnifying-glass-after:after,
.icon-magnifying-glass-before:before {
	content: "\e61c";
}

.icon-reorder-icon-after:after,
.icon-reorder-icon-before:before {
	content: "\e61d";
}

.icon-cart-after:after,
.icon-cart-before:before {
	content: "\e600";
}
.icon-arrow-up-left-after:after,
.icon-arrow-up-left-before:before {
	content: "\e601";
}
.icon-arrow-up-after:after,
.icon-arrow-up-before:before {
	content: "\e602";
}
.icon-arrow-up-right-after:after,
.icon-arrow-up-right-before:before {
	content: "\e603";
}
.icon-arrow-right-after:after,
.icon-arrow-right-before:before {
	content: "\e604";
}
.icon-arrow-down-right-after:after,
.icon-arrow-down-right-before:before {
	content: "\e605";
}
.icon-arrow-down-after:after,
.icon-arrow-down-before:before {
	content: "\e606";
}
.icon-arrow-down-left-after:after,
.icon-arrow-down-left-before:before {
	content: "\e607";
}
.icon-arrow-left-after:after,
.icon-arrow-left-before:before {
	content: "\e608";
}
.icon-plus-after:after,
.icon-plus-before:before {
	content: "\e609";
}
.icon-minus-after:after,
.icon-minus-before:before {
	content: "\e60a";
}
.icon-cancel-circle-after:after,
.icon-cancel-circle-before:before {
	content: "\e60b";
}
.icon-file-after:after,
.icon-file-before:before {
	content: "\e60c";
}
.icon-warning-after:after,
.icon-warning-before:before {
	content: "\e60d";
}
.icon-backward-after:after,
.icon-backward-before:before {
	content: "\e60e";
}
.icon-forward-after:after,
.icon-forward-before:before {
	content: "\e60f";
}
.icon-first-after:after,
.icon-first-before:before {
	content: "\e610";
}
.icon-last-after:after,
.icon-last-before:before {
	content: "\e611";
}
.icon-file2-after:after,
.icon-file2-before:before {
	content: "\e612";
}
.icon-info-after:after,
.icon-info-before:before {
	content: "\e613";
}
.icon-info2-after:after,
.icon-info2-before:before {
	content: "\e614";
}
.icon-remove-after:after,
.icon-remove-before:before {
	content: "\e615";
}
.icon-arrow-left2-before:before,
.icon-arrow-left2-after:after {
	content: "\e616";
}
.icon-arrow-down2-before:before,
.icon-arrow-down2-after:after {
	content: "\e617";
}
.icon-arrow-up2-before:before,
.icon-arrow-up2-after:after {
	content: "\e618";
}
.icon-arrow-right2-before:before,
.icon-arrow-right2-after:after {
	content: "\e619";
}
