/*
 * colors:
 *   topbar borders: #ddd
 *   topbar hover bg: #ccc
 *   notif bg: #fcfcdc
 *   notif border: #e0e0a0
 *   dark green: #336622
 *   mid green: #78a838
 *   light green: #a3cb75
 *   orange: #e79755
 *   link cyan: #53a7d8
 */

.globalnav_top {
  position: relative;
  margin-top: 12px;
}

.globalnav_top a.logo {
  display: block;
  float: left;
  clear: left;
  width: 195px;
  margin-bottom: 6px;
}

.globalnav_top .nav {
  width: 775px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.globalnav_top .userinfo {
  float: right;
  clear: right;
}

.globalnav_top .nav .searchform {
  margin: 0 0 5px 10px;
  padding: 0;
	text-align:left;
}

.globalnav_top .nav .searchform label {
	display:block;
}

.globalnav_top .nav .searchform .searchinput {
	white-space:nowrap;
}

.globalnav_top .nav .searchform input {
	vertical-align:middle;
}


.globalnav_top .topnavitem {
  float: right;
  margin: 8px 0 0 3px;
  padding: 0 3px 0 6px;
  border-left: 1px solid #996;
}

#topnav_ecoupons {
	display:none;
}

.hasecoupons #topnav_ecoupons {
	display:block;
}

.hasecoupons #topSearchField {
	width:170px;
}

#topSearchField {
	width:254px;
}

#topInputFindButton {
	width: 41px;
	height: 17px; 
	border: 0; 
	padding: 0;
  text-transform: uppercase;
  font-size: 10px
}

/* nav sprite */

div.spritediv {
  display: inline-block;
  overflow: hidden;
  text-indent: -9999em;
  text-align: left;
}

/* glue: 0.9.2 hash: 478ca93a1a */
.sprite-nav-header_border_right,.sprite-nav-header_border_left,.sprite-nav-nav_button_search,.sprite-nav-mobile_apps,.sprite-nav-at_the_office,.sprite-nav-footer_border_right,.sprite-nav-footer_border_left{
    background-image:url('/media_stat/images/navigation/nav.png');
    background-repeat:no-repeat;
}

.sprite-nav-header_border_right{
    background-position:0 0;
    width:11px;
    height:50px;
}

.sprite-nav-header_border_left{
    background-position:-11px 0;
    width:11px;
    height:50px;
}

.sprite-nav-nav_button_search{
    background-position:-22px 0;
    width:46px;
    height:11px;
}

.sprite-nav-mobile_apps{
    background-position:-22px -11px;
    width:25px;
    height:36px;
}

.sprite-nav-at_the_office{
    background-position:-68px 0;
    width:22px;
    height:36px;
}

.sprite-nav-footer_border_right{
    background-position:-47px -11px;
    width:11px;
    height:22px;
}

.sprite-nav-footer_border_left{
    background-position:0 -50px;
    width:11px;
    height:22px;
}


@media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0),screen and (-o-min-device-pixel-ratio: 100/100),screen and (min-device-pixel-ratio: 1.0),screen and (min-resolution: 1.0dppx){
    .sprite-nav-header_border_right, 
    .sprite-nav-header_border_left, 
    .sprite-nav-nav_button_search, 
    .sprite-nav-mobile_apps, 
    .sprite-nav-at_the_office, 
    .sprite-nav-footer_border_right, 
    .sprite-nav-footer_border_left
    {
        background-image:url('/media_stat/images/navigation/nav.png');
        -webkit-background-size: 90px 72px;
        -moz-background-size: 90px 72px;
        background-size: 90px 72px;
    }
}
/* end of nav sprite */
