/*
 * colors:
 *   topbar borders: #ddd
 *   topbar hover bg: #ccc
 *   notif bg: #fcfcdc
 *   notif border: #e0e0a0
 *   dark green: #336622
 *   mid green: #78a838
 *   light green: #a3cb75
 *   orange: #e79755
 *   link cyan: #53a7d8
 */

.globalnav_top {
  position: relative;
  margin-top: 12px;
}

.globalnav_top a.logo {
  display: block;
  float: left;
  clear: left;
  width: 195px;
  margin-bottom: 6px;
}

.globalnav_top .nav {
  width: 775px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.globalnav_top .userinfo {
  float: right;
  clear: right;
}

.globalnav_top .nav .searchform {
  margin: 0 0 5px 10px;
  padding: 0;
	text-align:left;
}

.globalnav_top .nav .searchform label {
	display:block;
}

.globalnav_top .nav .searchform .searchinput {
	white-space:nowrap;
}

.globalnav_top .nav .searchform input {
	vertical-align:middle;
}


.globalnav_top .topnavitem {
  float: right;
  margin: 8px 0 0 3px;
  padding: 0 3px 0 6px;
  border-left: 1px solid #996;
}

#topnav_ecoupons {
	display:none;
}

.hasecoupons #topnav_ecoupons {
	display:block;
}

.hasecoupons #topSearchField {
	width:170px;
}

#topSearchField {
	width:254px;
}

#topInputFindButton {
	width: 35px;
	height: 14px; 
	border: 0; 
	padding: 3px 3px;
}