/*
 * colors:
 *   topbar borders: #ddd
 *   topbar hover bg: #ccc
 *   notif bg: #fcfcdc
 *   notif border: #e0e0a0
 *   dark green: #336622
 *   mid green: #78a838
 *   light green: #a3cb75
 *   orange: #e79755
 *   link cyan: #53a7d8
 */

/* top bar {{{ */

#topbar {
  height: 32px; 
  line-height: 32px; 
  background-color: white;
  border-bottom: 1px solid #ddd;
  text-align: center;
  text-shadow: 0 1px 1px #ccc;
  font-size: 11px;
}

#topbar ul {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#topbar li {
  float: left;
  clear: none;
  border-right: 1px solid #ddd;
}

#topbar li a.topbarlink {
  float: left;
  padding: 0 10px;
  text-decoration: none;
  color: black;
}

#topbar li a.topbarlink em {
  color: #78a838;
  font-style: normal;
}

#topbar li a.topbarlink:hover {
  color: #336622;
  text-shadow: 0 1px 1px #eee;
}

#topbar li.logout a,
#topbar li.login a,
#topbar li.myaccount a,
#topbar li.notifications a {
  background-color: #eee;
  cursor: pointer;
}

#topbar li.welcome {
  padding-right: 10px;
}

#topbar li.welcome a {
  text-decoration: none;
}

#topbar li.contactus {
  border-left: 1px solid #ddd;
}

#topbar li.welcome,
#topbar li.logout,
#topbar li.login,
#topbar li.myaccount,
#topbar li.notifications {
  float: right;
}

#topbar li.notifications a.active {
  background-color: #fcfcdc;
  height: 33px;
  margin-bottom: -1px;
}

#topbar li.nonew a.active {
  background-color: #e1f2f4;
}

#topbar li.login a.active {
  background-color: white;
  height: 33px;
  margin-bottom: -1px;
}

#topbar li.notifications a span {
  float: left;
}

#topbar li.notifications a span.notif_count {
  clear: none;
  line-height: 16px;
  height: 16px;
  min-width: 10px;
  margin: 8px 0 0 8px;
  padding: 0 3px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px 8px 8px 8px;
  color: white;
  background-color: #e79755;
  text-align: center;
}

#topbar li.nonew a span.notif_count {
  background-color: #c1d9db;
}

/* }}} top bar end */

/* notifications {{{ */

#notifications {
  background-color: #fcfcdc;
  border-bottom: 1px solid #e0e0a0;
  display: none;
  overflow: hidden;
  height: 36px;
  line-height: 16px;
}

#notifications.nonew {
  background-color: #e1f2f4;
  border-bottom: 1px solid #c1d9db;
}

#notifications a.nav {
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #e79755;
  line-height: 36px;
}

#notifications.nonew a.nav {
  display: none;
}

#notifications a.inactive {
  color: #ccc;
}

#notifications div.holder {
  overflow: hidden;
}

#notifications ul {
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  margin-bottom: 0;
}

#notifications li {
  padding: 12px 0;
}

/* }}} notifications end */

/* login box {{{ */

#loginbox {
  display: none;
  width: 240px;
  position: absolute;
  top: 33px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  z-index: 120;
  padding: 5px 10px 10px 10px;
  -webkit-box-shadow: 2px 2px 4px black;
  -moz-box-shadow: 2px 4px 4px black;
  box-shadow: 2px 2px 4px black;
}

#loginbox span.close {
  display: none;
}

#loginbox.centered {
  position: fixed;
}

#loginbox.centered span.close {
  float: right;
  display: block;
  cursor: pointer;
}

#loginbox_overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
}

#loginbox_overlay.centered {
  background-color: black;
  opacity: 0.3;
  filter: alpha(opacity = 30);
}

#loginbox label {
  float: left;
  clear: both;
  padding: 4px 2px 0;
}

#loginbox input.text {
  font-size: 11px;
  float: left;
  clear: both;
  border: 1px solid #ddd;
  background-color: white;
  color: black;
  width: 220px;
  padding: 5px 10px;
  margin-bottom: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
}

#loginbox input.text:focus,
#loginbox input.text:active {
  border-color: #aaa;
}

#loginbox input.submit {
  float: left;
  clear: both;
  background-color: #e79755;
  border: 1px solid #aaa;
  padding: 3px 8px 4px;
  line-height: 16px;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 1px black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
}

#loginbox input.submit:hover {
  padding: 4px 8px 3px;
  text-shadow: 0 -1px 1px black;
}

#loginbox a.register {
  float: left;
  line-height: 16px;
  padding: 6px 0 1px;
  margin-left: 8px;
  text-decoration: none;
  font-weight: bold;
  color: #53a7d8;
}

#loginbox a.forgot_password {
  float: left;
  clear: both;
  margin: 2px 1px 0;
  text-decoration: none;
  color: #53a7d8;
}

/* login box end }}} */

#menu { 
  padding: 15px 0 5px;
}

/* menuitems {{{ */

#menuitems {
  padding: 0;
  list-style-type: none;
  margin: 16px 0 0;
}

#menuitems li {
  float: left;
  margin: 0 1px 0 0;
  padding: 0;
}

#menuitems li a span {
  display: none;
}

#menuitems li a {
  display: block;
  height: 29px;
  background-image: url(/media_stat/images/common/header/menu.png);
  background-repeat: no-repeat;
}

#menuitems a.delivery {
  background-position: 0 0;
  width: 107px;
}

#menuitems a.delivery:hover {
  background-position: 0 -30px;
  width: 107px;
}

#menuitems a.delivery_active {
  background-position: 0 -60px;
  width: 107px;
}

#menuitems a.quicklist {
  background-position: -108px 0;
  width: 108px;
}

#menuitems a.quicklist:hover {
  background-position: -108px -30px;
  width: 108px;
}

#menuitems a.quicklist_active {
  background-position: -108px -60px;
  width: 108px;
}

#menuitems a.recipes {
  background-position: -217px 0;
  width: 93px;
}

#menuitems a.recipes:hover {
  background-position: -217px -30px;
  width: 93px;
}

#menuitems a.recipes_active {
  background-position: -217px -60px;
  width: 93px;
}

#menuitems a.whatsgood {
  background-position: -311px 0;
  width: 141px;
}

#menuitems a.whatsgood:hover {
  background-position: -311px -30px;
  width: 141px;
}

#menuitems a.whatsgood_active {
  background-position: -311px -60px;
  width: 141px;
}

#menuitems a.presidentspick {
  background-position: -453px 0;
  width: 158px;
}

#menuitems a.presidentspick:hover {
  background-position: -453px -30px;
  width: 158px;
}

#menuitems a.presidentspick_active {
  background-position: -453px -60px;
  width: 158px;
}

/* menuitems end }}} */

/* submenu {{{ */

#submenu { 
  border-top: 5px solid #a3cb75;
  background: #78a838 url(/media_stat/images/common/header/submenu_bg.png) bottom left repeat-x;
  height: 48px; 
  position: relative;
}

#submenu ul {
  list-style-type: none;
  padding: 0;
}

#submenu ul li.menuitem {
  float: left;
  border-right: 1px solid #a3cb75;
  border-left: 1px solid #336622;
  overflow: hidden;
}

#submenu ul li.menuitem a.mitem_active,
#submenu ul li.menuitem a.mitem {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 11px;
  float: left;
  height: 48px;
  padding: 0 8px;
  line-height: 48px;
  text-shadow: 0 1px 1px #336622;
  text-align: center;
}

#submenu ul li.menuitem a.mitem_active {
  background: #336622 url(/media_stat/images/common/header/submenu_active_bg.png) top left repeat-x;
}

#submenu ul li.menuitem a.twoline {
  line-height: 12px;
  height: 24px;
  padding: 12px 8px;
}

#submenu ul li.menuitem a.threeline {
  line-height: 12px;
  height: 36px;
  padding: 6px 8px;
}

#submenu ul li.hover a.mitem,
#submenu ul li.hover a.mitem_active {
  background: white;
  color: #6c9b36;
  margin-top: -5px;
  border-top: 5px solid #336622;
  -webkit-box-shadow: 2px 2px 5px black;
  -moz-box-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
  text-shadow: none;
}

/* submenu }}} */

/* popsubmenu {{{ */

#popsubmenuholder {
  height: 0px;
  width: 100%;
  overflow: visible;
  position: relative;
  z-index: 20;
  margin: 0 auto;
}

#popsubmenuoverlay { 
  display: none; 
  position: absolute; 
  z-index: 100; 
  background-color: white; 
  opacity: 0.8; 
  filter: alpha(opacity = 80);
  width: 100%; 
  height: 100%;
  left: 0;
  top: 0;
}

div.popsubmenu { 
  display: none; 
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 110; 
  background-color: white; 
  width: 100%;
}

div.popsubmenu .psmcontent {
  display: block;
  border-top: none;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 5px solid #eee;
  -webkit-box-shadow: 2px 2px 4px #555;
  -moz-box-shadow: 2px 4px 4px #555;
  box-shadow: 2px 2px 4px #555;
}

div.popsubmenu .psmhead {
  padding-top: 15px;
}

div.fourdeps .psmhead {
  text-align: center;
}

div.popsubmenu .psmhead h3 {
  float: left;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 10px;
}

div.popsubmenu .psmhead a {
  float: left;
  font-size: 1.1em;
  text-decoration: none;
  color: #53a7d8;
}

div.fourdeps .psmhead h3,
div.fourdeps .psmhead a {
  float: none;
}

div.fourdeps .psmhead img {
  display: block;
  margin: 10px auto;
}

div.popsubmenu .psmcontent ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 20px;
}

div.popsubmenu .psmcontent ul li {
  padding: 2px 10px;
  line-height: 40px;
}

div.fourdeps .psmcontent ul li {
  line-height: 16px;
}

div.popsubmenu .psmcontent ul.stand {
  padding-bottom: 15px;
}

div.popsubmenu .psmcontent .stand a {
  color: black;
  text-decoration: none;
}

div.popsubmenu .psmcontent .stand a span.arrow {
  margin-left: 4px;
  color: #78a838;
}

div.popsubmenu .psmcontent ul li img {
  float: left;
  margin-right: 3px;
}

div.popsubmenu .psmcontent .shopby ul li {
  line-height: 1.5em;
  padding-left: 0;
}

div.popsubmenu .psmcontent .shopby a {
  color: #78a838;
  text-decoration: none;
}

/* popsubmenu end }}} */

/* searchbar {{{ */

#searchbar { 
  background-color: white;
  width: 100%;
  height: 52px; 
  padding: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

#searchbar.fixedtop {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px #555;
  z-index: 1000;
}

#alldepartments {
  height: 52px;
  overflow: visible;
}

#alldepartments a {
  text-decoration: none;
}

#alldepartments a.goto {
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 10px auto;
  padding: 0 35px 0 5px;
  width: 130px;
  font-weight: bold;
  color: #555;
  text-align: center;
  background: url(/media_stat/images/common/header/alldepartments.png) 0 0 no-repeat;
  text-shadow: 0 1px 1px white;
}

#alldepartments a.goto:hover {
  background: url(/media_stat/images/common/header/alldepartments.png) 0 -33px no-repeat;
}

#alldepartments.active a.goto {
  background: url(/media_stat/images/common/header/alldepartments.png) 0 -66px no-repeat;
}

#alldepartments ul {
  display: none;
  padding: 10px 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  background: white;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px #ddd;
  -moz-box-shadow: 1px 2px 2px #ddd;
  box-shadow: 1px 1px 2px #ddd;
}

#alldepartments.active ul {
  display: block;
}

#alldepartments ul li {
  display: block;
  padding: 4px 10px;
}

#alldepartments ul li a {
  display: block;
  font-weight: bold;
}

#searchform {
  height: 32px;
  padding: 0 10px 0;
  margin: 10px 0;
  border-left: 1px solid #ddd;
}

#searchform input.search {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  padding: 10px 10px 6px;
  width: 384px;
  background: url(/media_stat/images/common/header/search_input.png) 0 0 no-repeat;
  border: none;
  float: left;
}

#searchform input.search:focus {
  background: url(/media_stat/images/common/header/search_input.png) 0 -33px no-repeat;
}

#searchform button {
  font-size: 12px;
  background: url(/media_stat/images/common/header/search_button.png) 0 0 no-repeat;
  border: none;
  margin: 0;
  padding: 0;
  width: 66px;
  height: 32px;
  float: left;
}

#searchform button:hover {
  background: url(/media_stat/images/common/header/search_button.png) 0 -33px no-repeat;
}

#searchform button span {
  display: none;
}

/* searchbar end }}} */

/* cart {{{ */

#header_cart {
  width: 189px;
  height: 66px;
  margin: 0 0 -15px 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px #ddd;
  -moz-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 1px 3px #ddd;
}

#header_cart .items {
  width: 40px;
}

#header_cart .subtotal {
  width: 80px;
}

#header_cart .items,
#header_cart .subtotal {
  height: 34px;
  float: left;
  padding: 5px 15px;
}

#header_cart .items strong,
#header_cart .subtotal strong {
  display: block;
  clear: both;
  font-size: 12px;
  text-align: right;
}

#header_cart .items {
  border-right: 1px dotted #ddd;
}

#header_cart .cart_footer {
  float: left;
  width: 100%;
}

#header_cart .cart_footer a {
  float: left;
  height: 22px;
  width: 94px;
  background: white url(/media_stat/images/common/header/cart_buttons.png) top left no-repeat;
  text-decoration: none;
}

#header_cart .cart_footer a span {
  visibility: hidden;
}

#header_cart .cart_footer a.your_cart {
  background-position: 0 0;
  border-right: 1px solid #aaa;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}

#header_cart .cart_footer a.your_cart:hover {
  background-position: 0 -23px;
}

#header_cart .cart_footer a.checkout {
  background-position: -96px 0;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

#header_cart .cart_footer a.checkout:hover {
  background-position: -96px -23px;
}

/* cart end }}} */

