
.vertCenter {
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#locationbar {
	position:relative;
	height: 18px;
	font-family: Arial;
	vertical-align: middle;
	width: 970px;
	margin-top: 5px;
	text-align: left;
	background: white;
	overflow: hidden;
}

#locationbar .zipdisplay,
#locationbar .hoicon,
#locationbar .buttons {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	position: relative;
}

#locationbar .buttons {
	height: 23px;
	line-height: 16px;
}

#locationbar .zipdisplay {
	font-size: 11px;
	color: #333;
	min-width: 390px;
	text-align: left;
	height: 23px;
	overflow: hidden;
}

#locationbar .zipdisplay label,
#locationbar .zipdisplay .address {
	/*vertical-align: baseline;*/
}

#locationbar .zipdisplay .zipcode {
	display: inline-block;
	font-family: Tahoma,Arial;
	font-size: 14px;
	font-weight: bold;
	height: 23px;
    line-height: 16px;
	vertical-align: top;
}

#newzip {
	display: inline-block;
	vertical-align: middle;
}

#newziptext {
	border:1px solid #CDCDCD;
	font-size:11px;
	font-family:Arial;
	padding:1px 2px;
	vertical-align:top;
	margin: 0 2px 0 10px;
	height:11px;
	width:90px;
}

#newzipgo {
	height: 15px;
	/*vertical-align:top;*/
}

#locationbar .address select {
	width: 225px;
	font-size: 11px;
	margin-left: 10px;
}

#locationbar .hoicon {
	width:170px;
	text-align:center;
	vertical-align:middle;
	font-size:11px;
	font-weight:bold;
	color:#777955;
}

#locationbar .hoicon a,
#locationbar .hoicon a:visited {
	font-size:12px;
}

#locationbar .hoicon a:hover {
	text-decoration:underline; 
}

#locationbar .hoicon .home,
#locationbar .hoicon .office {
	display:inline-block;
	height:20px;
	line-height:20px;
	padding:1px 0 1px 20px;
	background: transparent left center no-repeat;
}

#locationbar .hoicon .home {
	background-image:url('/media_stat/images/locationbar/icon_home.png');
}
#locationbar .hoicon .office {
	background-image:url('/media_stat/images/locationbar/icon_office.png');
}

#locationbar .buttons {
	text-align:right;
	float:right;
}


	#newzipgo,
	#newzipgo:active {
		width: 40px;
		background-image:url(/media_stat/images/locationbar/locationbar_buttons.png);
		background-position:top left;
	}
	#newzipgo:hover {
		background-position:0 -15px;
  }
	
	#locationbar .loginButton,
	#locationbar .loginButton:active {
		width: 68px;
		background-image:url(/media_stat/images/locationbar/locationbar_buttons.png);
		background-position:-40px 0;
	}
	#locationbar .loginButton:hover {
		background-position:-40px -15px;
  }
	
	#locationbar .logoutButton,
	#locationbar .logoutButton:active {
		width: 70px;
		background-image:url(/media_stat/images/locationbar/locationbar_buttons.png);
		background-position:-176px 0;
	}
	#locationbar .logoutButton:hover {
		background-position:-176px -15px;
  }

	#locationbar .signUpButton,
	#locationbar .signUpButton:active {
		width:85px;
		background-image:url(/media_stat/images/locationbar/locationbar_buttons.png);
		background-position:-246px 0;
	}
	#locationbar .signUpButton:hover {
		background-position:-246px -15px;
  }

  #locationbar .loginButtonTab,
  #locationbar .loginButtonTab:active {
    z-index: 10002;
    background-image: url("/media_stat/images/locationbar/locationbar_buttons.png");
    background-position:-108px 0;
  }
  #locationbar .loginButtonTab:hover {
    background-position:-108px -15px;
  }

#locationbar .loginButton,
#locationbar .logoutButton,
#locationbar .signUpButton,
#newzipgo
{
	display:inline-block;
	height:15px;
	margin-right:8px;
	text-decoration:none;
	overflow:hidden;
	text-indent:90px;
	/*vertical-align:middle;*/
	border: 0 none;
	cursor: pointer;
}
#locationbar .loginButton,
#locationbar .logoutButton,
#locationbar .signUpButton
{
	background-color: transparent;
}


#locationbar .buttons label {
		padding-right:8px;
		color:#777955;
		font-size:11px;
		font-weight:bold;
		vertical-align:middle;
	}

#topwarningbar {
	background-color: #e89138;
	width: 100%;
	padding: 0.5em;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-weight: bold;
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px;
}

.partial-delivery-moreinfo .ui-dialog-title {
	background:url(/media_stat/images/locationbar/more_info_title.png) no-repeat bottom left;
	height:35px;
	width:471px;
}

.partial-delivery-moreinfo.cos .ui-dialog-title {
	background-image:url(/media_stat/images/locationbar/more_info_title_cos.png);
	margin-top:40px;
}

.partial-delivery-moreinfo.cos .ui-dialog-titlebar {
	background:url(/media_stat/images/locationbar/more_info_header_cos.png) no-repeat 11px 11px;
}

.partial-delivery-moreinfo .ui-dialog-titlebar {
	margin-bottom:0;	
}
.partial-delivery-moreinfo .fd-dialog.ui-dialog-content {
	overflow:hidden;
}	
/* --- messages --- */

#messages .orange {
	font-weight:bold;
}

#messages .partial {
	padding-left:55px;
	background: url(/media_stat/images/locationbar/alert_icon_01.png) 10px center no-repeat;
	min-height: 37px;
}

#messages .unrecognized b {
	font-family: Arial;
	font-size:13px;
	font-weight:bold;
	color:#333;
}

#messages .nodeliver-form form {
	float:right;
	width:200px;
	padding:7px 14px;
	border-radius:3px;
	background:#f6f6f6;
	font-size:11px;
	margin:0 0 0 7px;
	position:relative;
}

#messages .nodeliver-form {
	padding-left:292px;
	background:url('/media_stat/images/locationbar/notavailable.png') no-repeat left top;
	overflow:hidden;
	min-height:39px;
}

#messages .nodeliver-form form label {
	margin-bottom:4px;
}

#messages .nodeliver-form form label.n {
	display:block;
}

#messages .nodeliver-form form label.e {
	display:none;
}

	#messages .nodeliver-form form b {
		color:#c00;
		font-weight:bold;
	}

#messages .nodeliver-form form.e label.e {
	display:block;
}

#messages .nodeliver-form form.e label.n {
	display:none;
}

	#location-email {
		border:1px solid #CDCDCD;
		font-size:10px;
		font-family:Arial;
		padding:1px 2px;
		vertical-align:top;
		margin:0;
		margin-right:2px;
		height:11px;
		width:130px;
	}
	
	#location-submit {
		height:15px;
		vertical-align:top;
	}
	
#messages .nodeliver-form form .p {
	background:url('/media_stat/images/navigation/spinner.gif') no-repeat center center #f6f6f6;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
}
#messages .nodeliver-form form.p .p {
	display:block;
}

.ccc {
	color: #ccc;
}
.bold {
	folt-weight: bold;
}
.alignRight {
	text-align: right;
}
#login_cont {
	display: inline-block;
}
