#messages {
	width:100%;
	left:0;
	position:relative;
  text-align: center;
}
#messages .shadow {
	background:transparent url(/media_stat/images/locationbar/header_bottom.png) bottom left repeat-x;
	height:15px;
	margin:0;
	border:0;
	padding:0;
}

#messages ul {
	list-style-type:none;
	padding:0;
	margin:0 auto;
	overflow:hidden;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	position:relative;
	max-height:0;
	width:970px;
	background:white;
}

#messages li {
	margin:6px;
	line-height:1.25em;
	text-align:left;
	font-family:Verdana,Arial,sans-serif;
	font-size:11px;
}

#messages li:last-child {
	margin-bottom:10px;
}

#messages.open ul {
	max-height:500px;
}

#messages .handler {
	display:none;
	/*background:url(/media_stat/images/locationbar/drawer_background_f1.png) 0 0 no-repeat;*/
	width:150px;
	height:25px;
	position:absolute;
	bottom:-10px;
	cursor:pointer;
	z-index:100;
	margin:auto;
	left:0;
	right:0;
	color:#360;
	line-height:20px;
}

#messages .handler:hover {
	color:#f93;
}


#messages.hashandler .open-handler {
	display:block;
}


#messages.open .close-handler {
	display:block;
}
#messages.open .open-handler {
	display:none;
}


#messages .open-handler:before,
#messages .open-handler:after {
	background:url(/media_stat/images/locationbar/drawer_button_down_f1.png) transparent center 4px no-repeat;
}

#messages .close-handler:before,
#messages .close-handler:after {
	background:url(/media_stat/images/locationbar/drawer_button_up_f1.png) transparent center 4px no-repeat;
}

#messages .open-handler:before,
#messages .open-handler:after,
#messages .close-handler:before,
#messages .close-handler:after {
	content:' ';
	position:absolute;
	bottom:0;
	top:-2px;
	width:14px;
}

#messages .open-handler:before,
#messages .close-handler:before {
	left:10px;
}
#messages .open-handler:after,
#messages .close-handler:after {
	right:10px;
}


.invisible {
	visibility:hidden;
	position:absolute;
	top:-100px;
	left:-2000px;
	width:970px;
}

#messages li a,
#messages li a:visited,
#messages li a:hover {
	font-weight:bold;
}

#messages li a:hover {
	text-decoration:underline;
}

/* hide OAS_SystemMessage from the old position */
#oas_SystemMessage {
  display: none;
}

#messages li.error {
	color:black;
}

#messages .error-message,
#messages .warning-message,
#messages .maint-message {
	padding-left:45px;
	min-height: 37px;
}

#messages .error-message:before,
#messages .warning-message:before,
#messages .maint-message:before {
	display:inline-block;
	height:100%;
	min-height:37px;
	content:'';
	vertical-align:middle;
}

#messages .error-message>p,
#messages .warning-message>p,
#messages .maint-message>p {
	display:inline-block;
	vertical-align:middle;
	margin:0;
	padding:0;
	border:0;
}


#messages .error-message {
	background: url(/media_stat/images/locationbar/alert_icon_02.png) 10px center no-repeat;
}

#messages .error-message-text {
	color:#c00;
	font-weight:bold;
}

#messages .warning-message {
	background: url(/media_stat/images/locationbar/alert_icon_01.png) 10px center no-repeat;
}

#messages .maint-message {
	background: url(/media_stat/images/locationbar/alert_icon_maint.png) 10px center no-repeat;
}
#messages.visHidden{
	visibility:hidden;
}
