#MBRDPopup1.fixedpopup {
	display: block;
}
.fixedpopup.BRD-popup-container {
}

.BRD-popup-container:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

.BRD-popup-container .qs-popup {
	display: block;
	border: none;
}

#MBRDPopup1 .qs-popup {
}
#MBRDPopup1 .fixedPopupContent.BRD-popup {
	width: 400px;
}

.fixedpopup.BRD-popup-container .qs-popup-header {
	background: #f7f7f7;
	color: #333;
	text-shadow: none;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	padding: 27px 0 26px 30px;
}

#MBRDPopup2.fixedpopup.BRD-popup-container .qs-popup-header {
	padding: 30px 0 0 30px;
}

[data-ismobweb="true"] .fixedpopup.BRD-popup-container .qs-popup-header {
	font-size: 16px;
	padding: 19px 0 18px 30px;
	min-height: 16px;
}


#MBRDPopup1 .qs-popup-content {
	text-align: center;
	padding: 30px;
	background-color: #fff;
}

.BRD-popup-container button {
}

#MBRDPopup1 .MBRD-neworder,
#MBRDPopup1 .MBRD-modify {
	width: 340px;
	margin: 0 0 20px 0;
}
#MBRDPopup1 .MBRD-modify {
	margin: 0;
}

#MBRDPopup2 .MBRD-cancel + .MBRD-modify {
	margin-left: 12px;
}
#MBRDPopup2 .MBRD-cancel {
	width: 136px;
}
#MBRDPopup2 .MBRD-modify {
	width: 272px;
	margin-bottom: 12px;
}

#MBRDPopup1 .MBRD-neworder,
#MBRDPopup2 .MBRD-cancel {
}

.BRD-popup-container .MBRD-close {
}

.BRD-popup-container .MBRD-order {
	margin-bottom: 11px;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #444444;
}

.BRD-popup-container h3 {
	margin: 0;
	line-height: 1.2em;
	font-weight: bold;
	color: orange;
	font-size: 12px;
	padding: 0.5em 0;
	text-transform: uppercase;
}

.BRD-popup-container .itemlist-item {
	border: none;
	height: 210px;
	overflow-y: auto;
	position: relative;
}
#MBRDPendingdata .itemlist-item {
	height: auto;
	margin: 20px;
}

#MBRDPendingdata .itemlist-item-controls {
	display: none;
}

#MBRDPendingdata .itemlist-item-header-text {
	margin-bottom: 10px;
	font-weight: bold;
}

#MBRDPendingdata {
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	margin-bottom: 21px;
	font-size: 20px;
}
#MBRDPendingdata.multi {
	margin: 0 0 20px 0;
	border: 1px solid lightgray;
	position: relative;
}
#MBRDPendingdata.multi .col {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

#MBRDPendingdata input {
	display: none;
}

#MBRDPopup2 .itemlist-item-productimage_wrapper {
	width: 70px;
	height: 70px;
	position: relative;
	max-height: 100%;
	display: inline-block;
}
#MBRDPopup2 .itemlist-item-productimage {
	position: absolute;
}
#MBRDPopup2 .itemlist-item-productimage_wrapper img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: auto;
	margin: auto;
	pointer-events: none;
}
#MBRDPendingdata .itemlist-item-details {
	list-style: none;
	margin: 0;
	padding: 0;
}
#MBRDPendingdata .itemlist-item-details-quantity {
	margin-top: 12px;
}
#MBRDPendingdata .itemlist-item-details-quantity,
#MBRDPendingdata .itemlist-item-details-configDescr {
	font-size: 12px;
}
#MBRDPendingdata .itemlist-item-details-configuredPrice {
	font-size: 12px;
	margin-top: 12px;
}
#MBRDPendingdata .itemlist-item-details-configuredPrice strong {
	font-size: 14px;
}
#MBRDPendingdata .itemlist-item-header {
	display: inline-block;
	margin-left: 90px;
	font-size: 16px;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.44;
	letter-spacing: normal;
	color: #333333;
}
#MBRDPendingdata .itemlist-item-multi {padding: 40px 38px;font-size: 22px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.45;letter-spacing: normal;text-align: center;color: #333333;}

#MBRDPopup2 .MBRD-selectbuttons {
	margin: 15px 0 10px;
}
.MBRD-buttons {
	text-align: right;
}
#ModifyBRDContainer .popupcontentoverlay {
	opacity: 0.8;
}
#MBRDPopup2.fixedpopup.BRD-popup-container {
	display: block;
}
#MBRDPopup2 ul {
	list-style: none;
}
#MBRDPopup2 #MBRDPendingdata ul {
	padding: 0;
	margin: 10px 0 0 0;
}
#MBRDPopup2 #MBRDOrder {
	width: 100%;
}
#MBRDPopup2 .qs-popup-content {
	background: #f7f7f7;
}
#MBRDPendingdata .itemlist-item-productimage_wrapper-cont {
	position: absolute;
	top: 0;
	left: 0;
	width: 70px;
	height: 70px;
}
#MBRDPendingdata .itemlist-item-productimage_wrapper {
	margin: 0;
}

[data-ismobweb="true"] #MBRDPopup1 {
	margin: 20px;
	height: 270px;
	width: calc(100% - 40px);
	top: calc(50% - 135px);
}
[data-ismobweb="true"] .BRD-popup-container .itemlist-item {
	height: 230px;
	/* max-height: 230px; */
	overflow-y: scroll;
}
[data-ismobweb="true"] #MBRDPendingdata .itemlist-item {
	/* height: 149px; */
	margin: 12px;
}
[data-ismobweb="true"] #MBRDPopup2 {
	height: auto;
}
[data-ismobweb="true"] #MBRDPopup1 .MBRD-neworder,
[data-ismobweb="true"] #MBRDPopup1 .MBRD-modify,
[data-ismobweb="true"] #MBRDPopup2 .MBRD-cancel,
[data-ismobweb="true"] #MBRDPopup2 .MBRD-modify {
	width: 100%;
}
[data-ismobweb="true"] #MBRDPopup2 .MBRD-cancel + .MBRD-modify{
	margin: 0;
}
[data-ismobweb="true"] #MBRDPopup2 .MBRD-modify{
	margin-bottom: 12px;
}
[data-ismobweb="true"] #MBRDPopup1 .fixedPopupContent.BRD-popup {
	top: auto;
	width: 100%;
}
[data-ismobweb="true"] #MBRDPopup2 .fixedPopupContent {
	margin: 20px;
	position: relative;
	top: 90px;
}
[data-ismobweb="true"] .itemlist-item-header {
	margin: 12px;
}