#MBRDPopup1.fixedpopup {
	display: block;
}
.fixedpopup.BRD-popup-container {
	/* position: fixed; */
	/* top: 0; */
	/* left: 0; */
	/* width: 100%; */
	/* height: auto; */
	/* z-index: 20000; */
	/* display: block; */
}

.BRD-popup-container:before {
	/* content: ''; */
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

.BRD-popup-container .qs-popup {
	display: block;
	/* position: relative; */
	/* width: 950px; */
	/* margin: 0 auto; */
	/* overflow: hidden; */
	/* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5); */
	border: none;
}

#MBRDPopup1 .qs-popup {
	/* top: 50%; */
	/* width: 400px; */
	/* margin-top: -60px; */
	/* max-width: 100%; */
	/* box-sizing: border-box; */
}
#MBRDPopup1 .fixedPopupContent.BRD-popup {
	width: 400px;
}

.fixedpopup.BRD-popup-container .qs-popup-header {
	background: #f7f7f7;
	color: #333;
	text-shadow: none;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	line-height: 27px;
	padding-bottom: 20px;
}

#MBRDPopup2.fixedpopup.BRD-popup-container .qs-popup-header {
	padding: 30px 0 0 30px;
}

[data-ismobweb="true"] .fixedpopup.BRD-popup-container .qs-popup-header {
	font-size: 16px;
	padding: 19px 0 18px 30px;
	min-height: 16px;
}


#MBRDPopup1 .qs-popup-content {
	text-align: center;
	padding: 30px;
	background-color: #fff;
	background-color: #fff;
}

.BRD-popup-container button {
	/* display: inline-block; */
	/* background: #e48e25; */
	/* color: #fff; */
	/* font-weight: bold; */
	/* border: 1px solid #dc851a; */
	/* border-bottom: 1px solid #dc851a; */
	/* border-radius: 3px; */
	/* cursor: pointer; */
	/* text-shadow: 1px 1px #a16b23; */
	/* margin: 0 4px; */
	/* padding: 0 4px; */
}

#MBRDPopup1 .MBRD-neworder,
#MBRDPopup1 .MBRD-modify {
	width: 95%;
	/* height: 30px; */
	/* line-height: 25px; */
	/* font-size: 12px; */
	margin: 0 0 20px 0;
}
#MBRDPopup1 .MBRD-modify {
	margin: 0;
}

#MBRDPopup2 .MBRD-cancel + .MBRD-modify {
	margin-left: 12px;
}
#MBRDPopup2 .MBRD-cancel {
	width: 136px;
}
#MBRDPopup2 .MBRD-modify {
	/* height: 30px; */
	/* line-height: 25px; */
	/* font-size: 12px; */
}

#MBRDPopup1 .MBRD-neworder,
#MBRDPopup2 .MBRD-cancel {
	/* background: #999967; */
	/* border-color: #7e7e66; */
	/* text-shadow: 1px 1px #5C5C53; */
}

.BRD-popup-container .MBRD-close {
	/* position: absolute; */
	/* right: 5px; */
	/* top: 5px; */
	/* background: url(/media_stat/images/buttons/round_x.png) transparent center center no-repeat; */
	/* border: none; */
	/* width: 20px; */
	/* height: 20px; */
	/* overflow: hidden; */
	/* text-indent: 20px; */
}

.BRD-popup-container .MBRD-order {
	background: #e8e8e8;
	padding: 10px;
	/* margin: -25px -15px 20px -20px; */
	font-weight: bold;
	font-size: 14px;
}

.BRD-popup-container h3 {
	margin: 0;
	line-height: 1.2em;
	font-weight: bold;
	color: orange;
	font-size: 12px;
	padding: 0.5em 0;
	text-transform: uppercase;
}

.BRD-popup-container .itemlist-item {
	border: none;
	height: 210px;
	overflow-y: auto;
}
#MBRDPendingdata .itemlist-item {
	height: auto;
}

#MBRDCartdata {
	max-height: 210px;
	overflow-y: auto;
	position: relative;
	/* padding: 10px 0; */
	/* padding-right: 20px; */
}
#MBRDPendingdata .itemlist-item {
	height: auto;
	margin: 20px;
}

#MBRDCartdata .col {
	position: relative;
	width: 33%;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	/* padding: 10px; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#MBRDPendingdata .itemlist-item-header-text {
	margin-bottom: 10px;
	font-weight: bold;
}
#MBRDCartdata input {
	cursor: pointer;
}
#MBRDCartdata .itemlist-item-header {
	margin: 0px;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
#MBRDCartdata .itemlist-item-header-name {
	font-size: 10px;
}
#MBRDCartdata .itemlist-item-controls,
#MBRDPendingdata .itemlist-item-controls,
#MBRDCartdata .itemlist-item-details {
	display: none;
}

#MBRDPendingdata {
	/* max-height: 210px; */
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	margin-bottom: 21px;
	font-size: 20px;
}
#MBRDPendingdata.multi {
	margin: 0 0 20px 0;
	border: 1px solid lightgray;
	position: relative;
}
#MBRDPendingdata.multi .col {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

#MBRDPendingdata input {
	display: none;
}

#MBRDPopup2 .itemlist-item-productimage_wrapper {
	width: 150px;
	height: 150px;
	position: relative;
	max-width: calc(100% - 2em);
	max-height: 100%;
}
#MBRDPopup2 .itemlist-item-productimage {
	position: absolute;
}
#MBRDPopup2 .itemlist-item-productimage_wrapper img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: auto;
	margin: auto;
	pointer-events: none;
}
#MBRDPendingdata .itemlist-item-details {
	list-style: none;
	margin: 0;
	padding: 0;
}
#MBRDPendingdata .itemlist-item-details-quantity {
	margin-top: 12px;
}
#MBRDPendingdata .itemlist-item-details-quantity,
#MBRDPendingdata .itemlist-item-details-configDescr {
	font-size: 12px;
}
#MBRDPendingdata .itemlist-item-details-configuredPrice {
	font-size: 12px;
	margin-top: 12px;
}
#MBRDPendingdata .itemlist-item-details-configuredPrice strong {
	font-size: 14px;
}
#MBRDPendingdata .itemlist-item-header {
	/* margin-top: 10px; */
	/* margin-left: 60px; */
}
#MBRDPendingdata .itemlist-item-multi {padding: 40px 38px;font-size: 22px;font-weight: normal;font-style: normal;font-stretch: normal;line-height: 1.45;letter-spacing: normal;text-align: center;color: #333333;}

#MBRDPopup2 .MBRD-selectbuttons {
	margin: 15px 0 10px;
}
.MBRD-selectbuttons button {
	/* font-weight: normal; */
	/* padding: 2px 5px; */
}
.MBRD-buttons {
	text-align: right;
}
#ModifyBRDContainer .popupcontentoverlay {
	opacity: 0.8;
}
[data-ismobweb="true"] #MBRDPopup1 {
	margin: 20px;
	height: 270px;
	width: calc(100% - 40px);
}
#MBRDPopup2.fixedpopup.BRD-popup-container {
	display: block;
}
#MBRDPopup2 ul {
	list-style: none;
}
#MBRDPopup2 #MBRDOrder {
	float: right;
}
[data-ismobweb="true"] #MBRDCartdata .col {
	padding-left: 0;
	width: 50%;
}
[data-ismobweb="true"] #MBRDCartdata>div:before {
	width: 50%;
	left: 50%;
}
[data-ismobweb="true"] .BRD-popup-container .itemlist-item,
[data-ismobweb="true"] #MBRDCartdata {
	height: 230px;
	max-height: 230px;
	overflow-y: scroll;
}
[data-ismobweb="true"] #MBRDPendingdata .itemlist-item {
	height: 149px;
}
[data-ismobweb="true"] #MBRDPopup2 .qs-popup-content {
	height: calc(100% - 110px);
}
#MBRDPendingdata .itemlist-item-productimage_wrapper {
	margin: 0 1em;
}