.product-grid {
	overflow:hidden;
}

.items {
	overflow:hidden;
	font-size:0px;
}

.grid-item {
	position:relative;
	zoom:1;
	font-size:10px;
}

.grid-item-image {
	height:160px;
	line-height:160px;
	position:relative;
	overflow:hidden;
}

.ie6 .grid-item-image {
	width:100%;
}


.grid-item-image img {
	max-width:100%;
	max-height:160px;
	vertical-align:bottom;
}



.grid-item-image .burst-new,
.grid-item-image .burst-fave,
.grid-item-image .burst-back {
	width:35px;
	height:35px;
	position:absolute;
	top:0px;
	left:0px;
	background:yellow;
}

.grid-item-image .burst-new {
	background: url(/media_stat/images/bursts/brst_sm_new.png) no-repeat center center;
}

.grid-item-image .burst-back {
	background: url(/media_stat/images/bursts/brst_sm_bis.png) no-repeat center center;
}

.grid-item-image .burst-fave {
	background: url(/media_stat/images/bursts/brst_sm_fave.png) no-repeat center center;
}

.ie6 .grid-item-image .burst-new {
	background: url(/media_stat/images/bursts/brst_sm_new.gif) no-repeat center center;
}

.ie6 .grid-item-image .burst-back {
	background: url(/media_stat/images/bursts/brst_sm_bis.gif) no-repeat center center;
}

.ie6 .grid-item-image .burst-fave {
	background: url(/media_stat/images/bursts/brst_sm_fave.gif) no-repeat center center;
}

.grid-item-rating {
	margin:5px 0;
	height:26px;
}

.grid-item-rating a {
	display:block;
}

.grid-item-rating a img {
	display:block;
	margin:auto;
}

.grid-item-saving {
	height:2em;
	font-size:24px;
	line-height:1em;
	color:#c00;
    font-family: 'BebasNeueRegular';
}

.grid-item-saving .mixnmatch {
	color:#f7ad5f;
}

.grid-item-saving b {
	font-weight:normal;
}

.grid-item-price {
	font-size:15px;
	height:54px;
	overflow:hidden;
}

.ie6 .grid-item-price {
	height:60px;
}

.grid-item-price-description {
	font-size:11px;
	height:2.6em;
	line-height:1.3em;
	position:relative;
	overflow:hidden;
}

.grid-item-price-description span {
	display:inline-block;
	position:absolute;
	bottom:0;
    left:0;
    width:100%;	
}

.grid-item-price .normal-price {
	height:22px;
	font-weight:bold;
	color: #333;
}

.grid-item-price .save-price {
	height:22px;
	color:#c00;
	font-weight:bold;
}

.grid-item-price .was-price,
.grid-item-price .about-price {
		color:#666666;
		line-height:1.4em;
}

.grid-item-price .product-group-price-link,
.grid-item-price .was-price,
.grid-item-price .about-price {
		font-size:11px;
}

.grid-item-price .product-group-price-link {
	color:#c00;
	text-decoration:underline;
	font-weight:bold;
	display:block;
}

.grid-item-name {
	font-size:11px;
	line-height:1.3em;
	height:5.2em;
	margin-bottom:4px;
	overflow:hidden;
}

.grid-item-name a {
	color:#333333;
	text-decoration:none;
}

.grid-item-name a:hover {
	color:#360;
	text-decoration:underline;
}

.grid-item-status {
	font-size:11px;
	font-weight:bold;
	height:15px;
	color:#6baa4e;
	
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);		
	opacity:0;
	
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;	
}

.grid-item-status-visible {
	opacity:1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);		
}

.grid-item-status .ok {
	color:#6baa4e;
	background:url('/media_stat/images/search/checkmark_green_15x10.png') left center no-repeat;
	padding-left:20px;	
}

.grid-item-status .error {
	color:#c00;
}

.grid-item-status .warning {
	color:#c00;
}

.ie6 .grid-item-status {
	height:15px;
}

.grid-item-separator {
	display:none;
}

.grid-item-controls button {
	box-sizing:content-box;
	border:none;
	color:white;
	font-weight:bold;
	font-size:12px;
	height:27px;
	width:95px;
	padding:0px;
	margin:0px;
	cursor:pointer;
}

.grid-item-controls .addtocart {
	background:url('/media_stat/images/search/add_to_cart_no_icon.png') no-repeat right top white;
}

.grid-item-controls .addtocart:hover {
	background:url('/media_stat/images/search/add_to_cart_no_icon_r.png') no-repeat right top white;
}

.grid-item-controls button.customize {
	margin-top:43px;
	background:url('/media_stat/images/search/customize_blue.png') no-repeat right top white;
}

.grid-item-controls button.customize:hover {
	background:url('/media_stat/images/search/customize_blue_r.png') no-repeat right top white;
}

.grid-item-container .in-cart .grid-item-controls .addtocart,
.grid-item-disabled .grid-item-controls .addtocart {
		background:url('/media_stat/images/search/add_to_cart_no_icon_s.png') no-repeat right top white;
}

.grid-item-container .in-cart .grid-item-controls .addtocart:hover,
.grid-item-disabled .grid-item-controls .addtocart:hover {
		background:url('/media_stat/images/search/add_to_cart_no_icon_sr.png') no-repeat right top white;
}

.grid-item-container .in-cart .grid-item-controls button.customize,
.grid-item-disabled .grid-item-controls button.customize {
		background:url('/media_stat/images/search/customize_blue_s.png') no-repeat right top white;
}

.grid-item-container .in-cart .grid-item-controls button.customize:hover,
.grid-item-disabled .grid-item-controls button.customize:hover {
		background:url('/media_stat/images/search/customize_blue_sr.png') no-repeat right top white;
}

 
.grid-item-disabled button.customize {
	color:#aaa;
}
 

.grid-item-controls-content {
	display:inline-block;
	width:100%;
	line-height:1em;
}

.grid-item-controls-content .subtotal {
	visibility:hidden;
	height:1.5em;
	font-size:10px;
}

.grid-item-controls-content .subtotal-updated {
	visibility:visible;
}

.grid-item-controls-content .subtotal .value {
	font-weight:bold;
}

.grid-item-unavailable {
	opacity:0.5;
} 

.grid-item-unavailable-text {
	font-size:13px;
	color:#f89e3e;
	height:72px;
	line-height:1.5em;
	overflow:hidden;
	display:none;
}

.grid-item-unavailable .grid-item-unavailable-text {
	display:block;
}

.grid-item-unavailable .grid-item-price,
.grid-item-unavailable .grid-item-price-description {
		visibility:hidden;
}

.grid-item-unavailable .grid-item-controls {
	font-weight:bold;
	color:#f89e3e;
	font-size:13px;
}
.grid-item-unavailable .grid-item-controls-content {
	line-height:1.5em;
}

.grid-view .grid-item-container {
	width:201px;
	float:left;
	border-bottom: 1px solid #e9e9e9;
}

.grid-view .grid-item {
	margin:18px 0;
	padding:0 10px;
	text-align:center;
	color:#333333;
	background:url('/media_stat/images/search/rightdotted.png') repeat-y right top white;
}

.grid-view .grid-item-saving {
	height:2em;
}

.grid-view .grid-item-price .normal-price,
.grid-view .grid-item-price .save-price,
.grid-view .grid-item-price .was-price,
.grid-view .grid-item-price .about-price {
		display:block;
}

.grid-view .grid-item-controls {
	height:72px;
	line-height:72px;
}

.grid-view .grid-item-controls-content {
	vertical-align:bottom;
}


/* list-vew special rules */

.list-view .grid-item-container {
	border-bottom: 1px solid #e9e9e9;
	padding:18px 0;
	position:relative;
	zoom:1;
}


.list-view .grid-item {
	height:155px;
	padding:0 150px 0 220px; 
	margin-top:0;
	text-align:left;
}

.list-view .grid-item-image {
	position:absolute;
	left:0;
	top:0;
	text-align:center;
	line-height:120px;
	height:120px;
	width:220px;
}

.list-view .grid-item-image img {
	max-width:200px;
	max-height:120px;
}

.ie6 .list-view .grid-item-image img {
	height:120px;
}

.list-view .grid-item-name {
	font-size:15px;
	max-height:5.2em;
	height:auto;
}

.list-view .grid-item-rating {
	position:absolute;
	left:0;
	bottom:0;
	width:220px;
	text-align:center;
}

.list-view .grid-item-saving {
	max-height:1em;
	height:auto;
	font-size:34px;
}

.list-view .grid-item-controls {
	position:absolute;
	right:0px;
	width:150px;
	top:0px;
	height:100%;
	background:url('/media_stat/images/search/rightdotted.png') repeat-y left top white;
	text-align:center;
	line-height:180px;
}

.list-view .grid-item-controls-content {
	vertical-align:baseline;
}

.list-view .grid-item-status {
	font-size:11px;
}

.items .clear {
	position:relative;
	border-top:1px solid #e9e9e9;
	top:-1px;
	height:0px;
	overflow:hidden;
}


.grid-view .featurebox .grid-item-controls {
	position:absolute;
	height:0px;
	bottom:184px;
	left:0;
	width:100%;
	background:rgba(255,255,255,0.8);
	overflow:hidden;
	
	-webkit-transition:height 0.2s ease-in-out;
	-moz-transition:height 0.23s ease-in-out;
	-o-transition:height 0.2s ease-in-out;
	-ms-transition:height 0.2s ease-in-out;	
	transition:height 0.2s ease-in-out;	
} 

.grid-view .featurebox:hover .grid-item-controls {
	height:72px;
}

.list-view .featurebox .grid-item {
	padding-right:0;
}

.list-view .featurebox .grid-item .grid-item-controls {
	width:0;
	background:rgba(255,255,255,0.8);
	overflow:hidden;
	left:0;
	
	-webkit-transition:width 0.2s ease-in-out;
	-moz-transition:width 0.23s ease-in-out;
	-o-transition:width 0.2s ease-in-out;
	-ms-transition:width 0.2s ease-in-out;	
	transition:width 0.2s ease-in-out;	
} 

.list-view .featurebox:hover .grid-item .grid-item-controls {
	width:150px;
}

.list-view .featurebox .grid-item .grid-item-status {
	text-align:left;
	position:static;
	width:auto;
}
