/* Loaded first, define css site variables here */

/* defaults */
:root {
	--sitemod_perrow: 4; /* prods per row */
	--sitemod_leftnavadj: 0px; /* allow wider leftnav */
	--sitemod_prodimg-maxheight: 185px; /* 208px max product image height */
	--sitemod_content-width: 100%; /* 100% width of "content" */
	--sitemod_content-minwidth: 970px; /* min width of "content" */
	--sitemod_content-maxwidth: 970px; /* 1680px max width of "content" */
	--sitemod_content-padding: 0 0; /* 0 10px "content" gutter */
}

/* >= 1280w, change to 5 across */
/*
@media screen and (min-width: 1280px){
	:root {
		--sitemod_perrow: 5;
	}
}
*/

/* < 1280w, change to 4 across */
@media screen and (max-width: 1279px){
	:root {
		--sitemod_perrow: 4;
	}
}
/* < 733w, change to 3 across */
@media screen and (max-width: 733px){
	:root {
		--sitemod_perrow: 3;
	}
}

/* < 557w, change to 2 across */
@media screen and (max-width: 557px){
	:root {
		--sitemod_perrow: 2;
	}
}
/* < 374px, change to 1 across */
@media screen and (max-width: 374px){
	:root {
		--sitemod_perrow: 1;
	}
}
