.youraccount h2 {
  border-bottom: 1px solid #ccc !important;
  font-size: 14px;
  font-family: Verdana;
  font-weight:bold;
  color: #333;
}
.container1 {
	/*width: 960px;*/
	padding: 0;	
}

/* ##### CONTENT STYLES ##### */


form {
	padding: 0;
	margin: 0;
	/*text-align: left;*/
}


#password1 {
	/*height: 17px;
	margin: 0 10px 5px 0;
	font-size: 12px;*/
	padding: 0 0 0 4px;
	/*display: block;*/
	border: 1px solid #aaa;
	-moz-box-shadow:    inset 0 1px 1px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
	box-shadow:         inset 0 1px 1px rgba(0,0,0,.2);	
}

.input-info{
	color: #888;
}
.input-w-intructions input {
	float: none;
	margin-bottom: 5px;
}

.input-w-intructions label {
	color: #424242;
	padding: 0 14px;	
	background: transparent  url('img/instruction-arrow.png') left 3px no-repeat;
}


.input-error {
	height: 17px;
	border: 1px solid #c30;
	-moz-box-shadow:    inset 0 1px 1px rgba(204,51,0,.2);
	-webkit-box-shadow: inset 0 1px 1px rgba(204,51,0,.2);
	box-shadow:         inset 0 1px 1px rgba(204,51,0,.2);
	color: #c30;
	background-color: #fbf2ef;
	background-image: url(img/alert-icon.png);
	background-position: 257px center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
}

.input-error .blur {
	color: #c30;
}

.input-error-group .subgroup {
	margin-bottom: 0;
	overflow: visible;
	width: auto;
	position:relative;
}

.case-sensitive{color: #999;}

.input-error-intructions {
	color: #fff;
	padding: 2px 14px;
	display: none;
	height: 18px;
	line-height: 20px;
	width: 210px;
	background-color: #c30;
	border-radius: 3px 3px 0 0;
	text-align: left;
	position:absolute;
	top:-21px;
	z-index:40;
}

.input-success {
	border: 1px solid #693;
	color: #693;	
	background: url(img/text-input-checkmark.png) no-repeat right center;
}


.disabled .input-disabled {
	width: 230px;
	height: 28px;
	color: #ccc;
	border: 1px solid #ddd;
	-moz-box-shadow:    inset 0 1px 1px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
	box-shadow:         inset 0 1px 1px rgba(0,0,0,.1);
}

.password {
	position: relative;
	overflow: visible;
	z-index: 200;
}

.password .subgroup {
	position: relative;
	display: inline-block;
}

.password-hinter {
	background: transparent;
	display: none;
	height: 140px;
	position: absolute;
	top: -121px;
	z-index: 20;
	overflow: hidden;
}

.password-hinter li{
	color: #888;
	font-size: 11px;
	line-height: 5px;
}

.password-instructions {
	padding: 18px 16px 0;
	display: inline-block;
	height: 97px;
	width: 242px;
	color: #777;
	background-color: #f8f8f8;
	border-radius: 3px 3px 0 0;
	border: 1px solid #ccc;
	position: relative;
	top: 160px;
}

.password-instructions ul {
	list-style-type: none;
	padding: 0;
}

.password-instructions li {
	text-align: left;
	margin: 0 0 10px 0;
}

.password-hinter li.invalid {
	text-decoration: none;
}

.password-hinter li.valid {
	color: #ccc;
	text-decoration: line-through;
}

#pw-length{
	font-size: 12px;
	color: #555;
}
#pw-length.valid{
	color: #ccc;
	text-decoration: line-through;
}

.subhead{
	font-size: 11px;
	padding: 10px 0 0 0;
}

.req {
	color: #cb2929;
	text-decoration: none;
}

.error {
	color: red;
	/*background: url(img/right-facing-error-arrow.png) no-repeat 0 center;*/
	text-decoration: none;
}

.password-instructions span {
	font-size: 12px;
	font-weight: bold;
	margin: 12px 0 12px 0;
	display: block;
/*	text-transform: uppercase;
*/	margin-left: 6px;
}


.blur {
	color: #999;
}


/* Password Strength */

#pwindicator {
    margin-top: 4px;
    width: 125px;
}

.bar {
    height: 2px;
    position: relative;
}

.pw-weak .bar {
    background: #ec0700;
    width: 25%;
}

.pw-weak .label {
    color: #ec0700;
}

.pw-mediocre .bar {
    background: #ffaf00;
    width: 50%;
}

.pw-mediocre .label {
    color: #ffaf00;
}

.pw-strong .bar {
    background: #9bc351;
    width: 75%;
}

.pw-strong .label {
    color: #9bc351;
}

.pw-very-strong .bar {
    background: #00b600;
    width: 100%;
}

.pw-very-strong .label {
    color: #00b600;
}


