.pdp-accordion {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:12px;
    color:#333;
    font-family:Verdana,sans-serif;
}

.pdp-accordion>li {
    border-bottom: 1px solid #e3e6d6 ;
}

.pdp-accordion>li:first-child {
    margin-top:10px;
}

.pdp-accordion>li>input[type="checkbox"] {
    display:none;
}


.pdp-accordion>li>.pdp-item-description-toggle {
    line-height:40px;
    display:block;
    cursor:pointer;
    font-weight:bold;
    text-decoration: none;
    color: #333;
}

.pdp-accordion>li>div {
    overflow:hidden;
    max-height:0;
    margin:0;
    padding-left:25px;
    transition:max-height 0.3s ease-out;    
    position:relative;
    top:-10px;
/*     padding-top:10px; */
}

.pdp-accordion>li>div>p {
    padding-bottom:10px;
}

.pdp-accordion-item-carrot {
  background-position:-167px -202px;width:17px;height:17px;
    display:inline-block;
    vertical-align:middle;
    margin-right:8px;
}

.no-touch .pdp-accordion>li>.pdp-item-description-toggle:hover .pdp-accordion-item-carrot {
    background-position:-167px -219px;width:17px;height:17px;
}

.pdp-accordion>li>.pdp-item-description-toggle[checked] .pdp-accordion-item-carrot {
  background-position:-150px -202px;width:17px;height:17px;
}

.no-touch .pdp-accordion>li>.pdp-item-description-toggle[checked]:hover .pdp-accordion-item-carrot {
  background-position:-150px -219px;width:17px;height:17px;
}

.pdp-accordion>li>.pdp-item-description-toggle[checked] ~ div {
  max-height:9000px;
}

/* accordion open in IE */
.pdp-accordion>li>.pdp-item-description-toggle>.pdp-accordion-item-carrot.down{
  background-position:-150px -202px;width:17px;height:17px;
}

.pdp-accordion>li>.pdp-accordion-item-carrot .right{
  background-position:-150px -202px;width:17px;height:17px;
}
/* accordion open in IE ends */

.pdp-accordion>li>div.pdp-accordion-content{
    max-height:1000px;
}

.pdp-accordion-item li {
    list-style-type:disc;
}

.pdp-accordion-item ul {
    padding-left:20px;
}

.pdp-accordion-item td {
  font-size: inherit;
  font-style: inherit;
}

.pdp-accordion-item h2 {
    padding-left:20px;
}

.pdp-accordion-item td>strong:first-child,
.pdp-accordion-item>div>strong:first-child {
    border:none;
    padding-top:0;
    margin-top:0;
}

/* class used in unavailable pages too */
.pdp-accordion-description{
    font-size:12px;
    color:#333;
    font-family:Verdana,sans-serif;
}

.pdp-accordion-item td>strong,
.pdp-accordion-item>div>strong,
.pdp-accordion-description-media strong{
    padding-top:10px;
    margin-top:10px;
    display:block;
    border-top:1px solid #E3E6D6 ;
}

.pdp-accordion-description-kosher {
    margin:10px 0;
}

.pdp-accordion-description-kosher img {
    vertical-align:middle;
}

.pdp-accordion-description-origin,
.pdp-accordion-description-frozen,
.pdp-accordion-description-heating {
    margin:0;
}

.pdp-accordion-description-media {
    margin-top:5px;
}

.pdp-accordion-description-frozen {
    background:url(/media_stat/images/template/bakery/snowflake_grey.gif) no-repeat top left;
    padding-left:25px;
}

.pdp-accordion-description-cheese101 {
    display:block;
}

.pdp-accordion-description-brand {
    display:block;
} 

.pdp-accordion-description-season b {
    font-weight:normal;
    
}

.pdp-accordion-recipes-item {
    display:block;
} 

.pdp-buying-guide {
    text-align:center;
}

.pdp-buying-guide-item {
    display:inline-block;
    vertical-align:baseline;
    width:100px;
}

.pdp-buying-guide-item span,
.pdp-buying-guide-item b {
    display:block;
    width:100%;
    float:left;
}


.pdp-accordion-webratingscale-item {
    font-family:Verdana,sans-serif;
    font-size:9px;
    text-transform:uppercase;
}

.pdp-accordion-webratingscale-item {
}

.pdp-accordion-explanatory .qualityRating{
  margin-top:3px;
}