.pdp .availability-dialog {
	padding:10px 15px;
	border:2px solid #f93;
	border-radius:10px;
	margin-bottom:20px;
}

.pdp .availability-dialog h1 {
	font-family:Verdana,sans-serif;
	font-weight:bold;
	color:#f93;
	font-size:16px;
	margin:0 0 10px;
}

/*
.pdp .availability-dialog h1:before {
	content:"!";
	background:#f93;
	border-radius:50%;
	margin-right:15px;
	display:inline-block;
	width:16px;
	height:16px;
	color:white;
	text-align:center;
}*/

.pdp .availability-dialog h2 {
	font-family:Verdana,sans-serif;
	font-weight:bold;
	color:#666;
	font-size:14px;
	margin-bottom:0;
}

.pdp .availability-dialog p {
	font-family:Verdana,sans-serif;
	color:#333;
	font-size:12px;
	border-bottom:1px solid #e3e6d6;
	padding:0 0 5px 0;
	margin: 0 0 5px 0;
}

.pdp .availability-dialog p:last-of-type {
	border:0;
	padding:0;
	margin:0;
}
