.thxgiving-bundle {
  width:775px;
  font-family: Verdana,Geneva,sans-serif;
  color:#333;
  font-size:16px;
}

.thxgiving-title {
  font-size: 26px;
  line-height: 26px;
  font-weight:700;
  padding:17px 12px 0 12px;
  display:block;
  margin:0;
}

.thxgiving-bundle-title,
.thxgiving-bundle-price{
  display:inline-block;
  vertical-align:middle;
  margin-top:0;
  margin-bottom:25px;
  line-height: 28px;
}

.thxgiving-bundle-title {
  width:550px;
  padding-right:25px;
  overflow:hidden;
  word-wrap:break-word;

  font-size:26px;
  font-weight: 700;
}

.thxgiving-bundle-price {
  width:200px;
  text-align:right;

  color: #333333;
  font-weight: 700;
  font-size: 28px;
}

.thxgiving-top {
  background-color: #fcf8f4;
}

.thxgiving-descr {
  font: 400 16px;
  margin:0;
  padding:12px;
}

.thxgiving-images .main-image {
  display:inline-block;
  width:775px;
  margin:0;
  padding:0;
  vertical-align: top;
}

.thxgiving-includes {
  width:500px;
  font-size:16px;
  padding:0 12px;
  display:inline-block;
  box-sizing: border-box;
  word-wrap:break-word;
}

.includes-title {
  font-weight: 700;
  font-size:18px;
  text-transform: uppercase;
}

.include-item-title {
  font-size:18px;
  font-weight: 700;
  margin:10px 0;
}

.include-item-description.show,
.include-item-more.show{
  display:inline;
}

.include-item-description{
  margin:5px 0;
}

.thxgiving-actions {
  display:inline-block;
  vertical-align: top;
  width:265px;
  padding-left:10px;
  box-sizing: border-box;
}

.thxgiving-actions .action-item {
  color:#728D4B;
  font-size:16px;
  margin:1.5em 0;
  display:block;
}

.thxgiving-actions .action-item-content{
  vertical-align: top;
  display:inline-block;
  margin-left:15px;
  width:195px; /* 250px - 55px */
}

.thxgiving-actions .action-item:before{
  display:inline-block;
  font-size:40px;
  padding-right:0;
}

.thxgiving-actions .action-item.meal-details:before{
  font-size:45px;
  margin-left:5px;
}

.thxgiving-actions .action-item:hover {
  text-decoration: none;
}

.thxgiving-actions .action-item:hover .action-item-content{
  text-decoration:underline;
  cursor:pointer;
}

.thxgiving-actions .action-item.meal-details .action-item-content{
  width:195px;
  margin-left:5px;
  padding-top:7px;
}

.thxgiving-addtocart {
  padding:30px 12px;
  background-color: #fcf8f4;
  margin:20px 0;
}

.addtocart-left,
.addtocart-right{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.addtocart-left {
  width:500px;
  overflow: hidden;
}

.addtocart-right{
  width:225px;
  padding-top:60px;
}

.thxgiving-addtocart button.cssbutton[data-component].thxgiving-addtocart-button {
  width:162px;
  height: 38px;
  display: inline-block;
  margin:20px 0 0 0;
}

.thxgiving-addtocart .thxgiving-addtocart-button.icon-cart-before:before{
  padding-right:1em;
}

.thxgiving-addtocart .subtotal{
  margin-top:17px;
  line-height: 17px;
}

.thxgiving-addtocart .subtotal-inner{
  font-size:18px;
}

.thxgiving-addtocart .addtolist.cssbutton{
  font-size:12px;
}

.center-content{
  text-align:center;
}

.thxgiving-addtocart .agree {
  font-weight: 700;
  line-height: 16px;
  vertical-align: middle;
}

.thxgiving-addtocart .agree input{
  margin-right:10px;
  width:14px;
  height:14px;
}

.thxgiving-addtocart .atc-button-wrapper{
  display:block;
  margin: 10px 0;
  }

.thxgiving-addtocart input.qty{
  height:48px;
  width:54px;
  line-height:48px;
  font-size:18px;
  font-weight:700;
}

.thxgiving-top-media{
    font-family: Verdana,Geneva,sans-serif;
    font-size:16px;
    color:#333;
    padding:17px 12px 12px 12px;
}

.thxgiving-addtocart[data-addtocart-functionality="disabled"] [data-component="ATCButton"]{
  cursor:default;
  background:#AAA;
}

.thxgiving-addtocart button.cssbutton[data-component="ATCButton"],
.thxgiving-addtocart button.cssbutton.incart[data-component="ATCButton"]{
  color:#FFF;
  text-shadow:1px 1px #555555;
}

.thxgiving-addtocart .qtyinput {
  width: auto;
}

.thxgiving-addtocart .addtolist {
  margin: 0;
}

.thxgiving-recommendations li.portrait-item {
  width: 136px;
  max-width: 136px;
  padding: 0 9px 0 9px;
  margin: 0;
  border-right: 1px solid #ddd;
  display: table-cell;
}

.thxgiving-recommendations li.portrait-item.lastInLine {
  padding-right: 0;
  margin-right: 0;
  border: none;
}

.thxgiving-recommendations .recommendation-title {
  font-weight:700;
  margin-top:50px;
  margin-bottom:0;
}

.thxgiving-recommendations .recommendation-editorial {
  margin-top:0;
  margin-bottom:20px;
}

.thxgiving-recommendations .recommendation-editorial p{
  margin:0;
}

.bundle-meal-details-menu [fd-ajaxcontent].active-item{
  font-weight:bold;
}

.thxgiving-bundle-modify-title{
  font-size: 30px;
  text-transform:uppercase;
  color:#FF9933;
  font-weight: bold;
  margin: 15px 0;
  text-align: center;
}

.thxigiving-bundle .availability-dialog{
  border:2px solid #f93;
  border-radius:10px;
  box-sizing:border-box;
  display:inline-block;
  font-size:16px;
  font-weight:bold;
  margin-bottom:20px;
  padding:5px 5px;
  width:200px;
}

.thxgiving-addtocart .addtocart-right.soShow {
	margin-top: 0;
}

.thxgiving-addtocart .soShow .qtyinput input[type="text"].qty {
	width: 3em;
	border: 2px solid #c2c2c2;
	font-size: 16px;
	line-height: 24px;
	height: 32px;
}

