<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false" default-autowire="no" default-dependency-check="none">



   <bean id="applicationContext" 
    class="org.apache.axis2.extensions.spring.receivers.ApplicationContextHolder" lazy-init="default" autowire="default" dependency-check="default" />

   <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:comp/env/fdwsdatasource"/>
	</bean>
	
	<bean id="bounceDAO" class="com.freshdirect.analytics.dao.impl.BounceDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
	
	<bean id="rollDAO" class="com.freshdirect.analytics.dao.impl.RollDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
	
	<bean id="orderRateDAO" class="com.freshdirect.analytics.dao.impl.OrderRateDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
	
  <bean id="eventService" class="com.freshdirect.webservices.EventServiceImpl">
    <property name="bounceDAO" ref="bounceDAO"/>
    <property name="rollDAO" ref="rollDAO"/>
    <property name="orderRateDAO" ref="orderRateDAO"/>
  </bean>
  
  <bean id="plantDispatchDAO" class="com.freshdirect.analytics.dao.impl.PlantDispatchDAOImpl">
		<property name="dataSource" ref="dataSource"/>
	</bean>	
	
	
  <bean id="plantDispatchService" class="com.freshdirect.webservices.PlantDispatchServiceImpl">
    <property name="plantDispatchDAO" ref="plantDispatchDAO" />
  </bean>
  

</beans>
