{namespace test}

/**
 * @param cartLine	 	product details for cartLine  
 * @param subTotal 		cart subtotal
 * @param lineTotal		cartline subtotal
 * @param editUrl 		url for 'edit item in cart'
 * @param backUrl 		url for 'continue shopping'
 */
{template .cartConfirm}

	productName: {$cartLine.productName}<br/>
	productImage: {$cartLine.productImage}<br/>
	
	subTotal: {$subTotal}<br/>
	editUrl: {$editUrl}<br/>
	backUrl: {$backUrl}<br/>
	
	price: ${$cartLine.price}<br/>
	quantity: {$cartLine.quantity.quantity}<br/>
	cartline subtotal: {$lineTotal}<br/>
	
{/template}
