{namespace test}

/**
* @param r
* @param g
* @param b
* @param text
*/
{template .jsWidgetsColorMe}
<div style="background:rgb({$r}, {$g}, {$b})">{$text}</div>
{/template}

/**
* @param name
* @param gender
* @param company
* @param email
*/
{template .jsWidgetsUserDisplay}
<p><strong>Name</strong>: {$name}</p>
<p><strong>Gender</strong>: {$gender}</p>
<p><strong>Company</strong>: {$company}</p>
<p><strong>Email</strong>: {$email}</p>
{/template}

/**
* @param friendList
*/
{template .jsWidgetsFriends}
{if $friendList}
<strong>Friends:</strong>
<ul>
{foreach $friend in $friendList}
<li>{$friend.name}</li>
{/foreach}
</ul>
{/if}
{/template}

/**
* @param userData
* @param friends
*/
{template .jsWidgetsAjaxPopupExample1}
{call .jsWidgetsUserDisplay data="$userData"}{/call}
{call .jsWidgetsFriends data="$friends"}{/call}
{/template}
