{namespace test}

/**
 * @param productName			product name  
 * @param productImage 			product image url
 * @param productDetailImage 	product detail image url
 * @param productZoomImage 		product zoom image url
 * @param price 				product base price
 * @param quantity 				quantity object (min,max,inc,qu)
 */
{template .product_data}

	productName: {$productName}<br/>
	productImage: {$productImage}<br/>
	productDetailImage: {$productDetailImage}<br/>
	productZoomImage: {$productZoomImage}<br/>
	
	price: ${$price}<br/>
	quantity: {$quantity.quantity}<br/>
	quantity-formatted: {call common.printNum}{param number:$quantity.quantity /}{/call}<br/>
	quantity-min: {$quantity.qMin}<br/>
	quantity-max: {$quantity.qMax}<br/>
	quantity-inc: {$quantity.qInc}<br/>

{/template}


/**
 * @param productList		list of products
 */
{template .product_iterator}

	{foreach $p in $productList}
		<hr/>
		{call .product_data data="$p" /}<br/>
		<hr/>
	{ifempty}
		<hr/>
		EMPTY LIST!<br/>
		<hr/>
	{/foreach}
	
{/template}




/**
 * 
 */
{template .number_test}

	<br/>
	integer: {call common.printNum}{param number:123.00 /}{/call}<br/>
	float-almost-two: {call common.printNum}{param number:1.999 /}{/call}<br/>
	float-not-two: {call common.printNum}{param number:1.90 /}{/call}<br/>
	quarter: {call common.printNum}{param number:0.25 /}{/call}<br/>
	
	
{/template}
