{namespace test}

/**
 * @param x some parameter
 */
{template .testMain}

  [test.testMain calling test.sub1.test]<br/>
  {call test.sub1.test}
    {param x: $x /}
  {/call}

  [test.testMain calling test.sub2.test]<br/>
  {call test.sub2.test}
    {param x: $x /}
  {/call}

{/template}


/**
 * @param data some parameter
 */
{template .beanTest}
  catId:{$data.categoryId}<br/>
  prodId:{$data.productId}<br/>
  skuCode:{$data.skuCode}<br/>
  quantity:{$data.quantity}<br/>
{/template}

/**
 * @param propertyList
 */
{template .storeProperties}
{if $propertyList and length($propertyList) > 0}
<table>
  <th>Property name</th><th>Current value</th>
  {foreach $prop in $propertyList}
  <tr data-prop-name="{$prop.name}">
    <td class="propName">{$prop.name}</td>
    <td class="propValue">{$prop.value}</td>
  </tr>
  {/foreach}
</table>
{/if}
{/template}

