/* accessibility focus for close buttons */

input#PP_button:focus,
input#MP_button:focus,
button.action.cssbutton.transparent.white.icon-trash-new-before:focus,
button.action.cssbutton.transparent.white.icon-pencil-before:focus,
a.headerlink:focus
{
    outline: #5fb069 solid 2px !important;
   
}
input#signupbtn:focus,input#signinbtn:focus{
    background-color: #5fb067 !important;
    border-color: #306238 !important;
    box-shadow: 0 0 1px #aaaaaa, 0 0 8px #aaaaaa;
}