<?xml version='1.0' encoding='UTF-8'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" id="FDWebSite">

	<description>Guess what</description>
	<display-name>FDWebSite Application</display-name>

	<filter>
		<description>Monitors the execution time FDWebSite Requests</description>
		<display-name>FDWebSite Request Monitor</display-name>
		<filter-name>FDWebSiteMonitor</filter-name>
		<filter-class>com.freshdirect.framework.monitor.WebRequestMonitor</filter-class>
	</filter>
	<filter>
		<description>Monitors the warmup status and redirect user to warmup page if it's in progress.</description>
		<display-name>Warmup Monitor</display-name>
		<filter-name>WarmupMonitor</filter-name>
		<filter-class>com.freshdirect.webapp.filters.WarmupMonitorFilter</filter-class>
	</filter>
	<filter>
		<description>This filter takes predefined pretty urls for referals and translate them to ugly urls.</description>
		<display-name>ReferalURLRewriteFilter</display-name>
		<filter-name>URLRewriteFilter</filter-name>
		<filter-class>com.freshdirect.webapp.filters.URLRewriteFilter</filter-class>
	</filter>
	<filter>
		<description>If there is a trk=* in the query string this filter will set it on the fduser</description>
		<display-name>TrackingCodeFilter</display-name>
		<filter-name>TrackingCodeFilter</filter-name>
		<filter-class>com.freshdirect.webapp.filters.WebTrackingCodeFilter</filter-class>
	</filter>
	<filter>
		<description>User just logged in and signed up status flag flipping mechanic</description>
		<display-name>UpdateFDSessionUserFilter</display-name>
		<filter-name>UpdateFDSessionUserFilter</filter-name>
		<filter-class>com.freshdirect.webapp.filters.UpdateFDSessionUserFilter</filter-class>
	</filter>
	<filter>
		<description>This filter creates availability horizon and today's date as threadlocal</description>
		<display-name>OncePerRequestDateFilter</display-name>
		<filter-name>OncePerRequestDateFilter</filter-name>
		<filter-class>com.freshdirect.webapp.filters.OncePerRequestDateFilter</filter-class>
	</filter>
	<filter>
		<description>This filter adds the "Access-Control-Allow-Origin" header to the response, enabling CORS</description>
		<display-name>CORSFilter</display-name>
		<filter-name>CORSFilter</filter-name>
		<filter-class>com.freshdirect.webapp.filters.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FDWebSiteMonitor</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>WarmupMonitor</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>URLRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TrackingCodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UpdateFDSessionUserFilter</filter-name>
		<url-pattern>/social/success.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UpdateFDSessionUserFilter</filter-name>
		<url-pattern>/social/AccountCreateSuccess.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OncePerRequestDateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/assets/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>cms-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>com.freshdirect.cms.configuration com.freshdirect.storeapi.configuration</param-value>
		</init-param>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>cms-dispatcher</servlet-name>
		<url-pattern>/cms/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>com.freshdirect.webapp.util.json.FDJSONRPCServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.util.json.FDJSONRPCServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ClientCodeReportServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.util.ClientCodeReportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AccessTokenServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.oauth.provider.AccessTokenServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthorizationServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.oauth.provider.AuthorizationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestTokenServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.oauth.provider.RequestTokenServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserDataServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.oauth.provider.UserDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>referralregistration</servlet-name>
		<jsp-file>/registration/referee_signup.jsp</jsp-file>
	</servlet>

	<!-- <servlet> -->
	<!-- <servlet-name>referralregistration</servlet-name> -->
	<!-- <jsp-file>/registration/invite_signup.jsp</jsp-file> -->
	<!-- </servlet> -->
	<servlet>
		<servlet-name>SoyToJsServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.soy.SoyToJsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SoyToJsServlet</servlet-name>
		<url-pattern>/api/soy/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CartDataServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.cart.CartDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BackOfficeServlet</servlet-name>
		<url-pattern>/api/backoffice/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BackOfficeServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.backoffice.servlet.BackOfficeServicesServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.order.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/api/order/*</url-pattern>
	</servlet-mapping>
	
		

	<servlet-mapping>
		<servlet-name>CartDataServlet</servlet-name>
		<url-pattern>/api/cartdata/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddToCartServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.cart.AddToCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddToCartServlet</servlet-name>
		<url-pattern>/api/addtocart/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductRequestServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.product.ProductRequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductRequestServlet</servlet-name>
		<url-pattern>/api/productrequest/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductConfigServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.product.ProductConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductConfigServlet</servlet-name>
		<url-pattern>/api/productconfig/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProductPotatoServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.product.ProductPotatoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductPotatoServlet</servlet-name>
		<url-pattern>/api/potato/product</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShoppingListServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.shoppinglist.ShoppingListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingListServlet</servlet-name>
		<url-pattern>/api/shoppinglist/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuickShopFilterServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.quickshop.QuickShopFilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuickShopFilterServlet</servlet-name>
		<url-pattern>/api/qs/pastOrders</url-pattern>
	</servlet-mapping>

	<!-- TODO: QuickShop Top Items: Change QuickShopFilterServlet to the new 
		servlet -->
	<servlet-mapping>
		<servlet-name>QuickShopFilterServlet</servlet-name>
		<url-pattern>/api/qs/topItems</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QSFromListFilterServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.quickshop.QSFromListFilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QSFromListFilterServlet</servlet-name>
		<url-pattern>/api/qs/shoppingLists/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QSTempConfigServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.quickshop.QSTempConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QSTempConfigServlet</servlet-name>
		<url-pattern>/api/qs/tempConfig/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QSFromStarterListFilterServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.quickshop.QSFromStarterListFilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QSFromStarterListFilterServlet</servlet-name>
		<url-pattern>/api/qs/starterLists</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuickShopYmalServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.quickshop.QuickShopYmalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuickShopYmalServlet</servlet-name>
		<url-pattern>/api/qs/ymal</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuickShopReplacementServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.quickshop.QuickShopReplacementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuickShopReplacementServlet</servlet-name>
		<url-pattern>/api/qs/replacement</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QuickShopTabMetaServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.quickshop.QuickShopTabMetaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuickShopTabMetaServlet</servlet-name>
		<url-pattern>/api/qs/tabMeta</url-pattern>
	</servlet-mapping>
	<!-- New Quickshop 2.2 API endpoints -->
	<servlet>
		<servlet-name>ReorderFilterServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.reorder.QuickShopFilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReorderFilterServlet</servlet-name>
		<url-pattern>/api/reorder/pastOrders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReorderFilterServlet</servlet-name>
		<url-pattern>/api/reorder/topItems</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReorderFromListFilterServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.reorder.QSFromListFilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReorderFromListFilterServlet</servlet-name>
		<url-pattern>/api/reorder/shoppingLists/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReorderTabMetaServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.reorder.QuickShopTabMetaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReorderTabMetaServlet</servlet-name>
		<url-pattern>/api/reorder/tabMeta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReorderRecommendationServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.reorder.QuickShopRecommendationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReorderRecommendationServlet</servlet-name>
		<url-pattern>/api/reorder/recommendation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CmsFilteringServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.filtering.CmsFilteringServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CmsFilteringServlet</servlet-name>
		<url-pattern>/api/filter</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.login.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/api/login/*</url-pattern>
	</servlet-mapping>

	<servlet>
	   <servlet-name>OAuth2Authorization</servlet-name>
	   <jsp-file>/oauth/auth.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>OAuth2Authorization</servlet-name>
	  <url-pattern>/oauth/v2/authorize</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OAuth2AuthorizationServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.oauth2.OAuth2AuthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuth2AuthorizationServlet</servlet-name>
		<url-pattern>/api/oauth2/authorize</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OAuth2TokenServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.oauth2.OAuth2TokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuth2TokenServlet</servlet-name>
		<url-pattern>/api/oauth2/token</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OAuth2TokenInfoServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.oauth2.OAuth2TokenInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuth2TokenInfoServlet</servlet-name>
		<url-pattern>/api/oauth2/tokeninfo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewCartPotatoServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.viewcart.ViewCartPotatoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewCartPotatoServlet</servlet-name>
		<url-pattern>/api/viewcart/recommendation</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TestUnavailabilityServlet</servlet-name>
		<servlet-class>com.freshdirect.test.checkout.TestUnavailabilityServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestUnavailabilityServlet</servlet-name>
		<url-pattern>/test/checkout/unavailability</url-pattern>
	</servlet-mapping>

	<!-- Express Checkout -->
	<servlet>
		<servlet-name>SinglePageCheckoutServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.servlet.SinglePageCheckoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SinglePageCheckoutServlet</servlet-name>
		<url-pattern>/api/expresscheckout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>YourCartData</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.cart.servlet.CartDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YourCartData</servlet-name>
		<url-pattern>/api/expresscheckout/cartdata</url-pattern>
	</servlet-mapping>
   <servlet>
        <servlet-name>OrderInfoServlet</servlet-name>
        <servlet-class>com.freshdirect.webapp.ajax.order.OrderInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderInfoServlet</servlet-name>
        <url-pattern>/api/orderinfo</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>DeliveryAddressValidationDataServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.validation.servlet.DeliveryAddressValidationDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeliveryAddressValidationDataServlet</servlet-name>
		<url-pattern>/api/expresscheckout/addaddress/validate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeliveryAddressServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.location.servlet.DeliveryAddressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeliveryAddressServlet</servlet-name>
		<url-pattern>/api/expresscheckout/deliveryaddress</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaymentValidationDataServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.validation.servlet.PaymentValidationDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentValidationDataServlet</servlet-name>
		<url-pattern>/api/expresscheckout/addpayment/validate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaymentMethodServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.servlet.PaymentMethodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymentMethodServlet</servlet-name>
		<url-pattern>/api/expresscheckout/payment</url-pattern>
	</servlet-mapping>

	<!-- Ewallet Payment Integration -->
	<servlet>
		<servlet-name>EwalletPaymentServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.servlet.EwalletPaymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EwalletPaymentServlet</servlet-name>
		<url-pattern>/api/expresscheckout/addpayment/ewalletPayment</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TextMessageAlertSubmitDataServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.textmessagealert.servlet.TextMessageAlertSubmitDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TextMessageAlertSubmitDataServlet</servlet-name>
		<url-pattern>/api/expresscheckout/textalert/submit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TextMessageAlertCancelDataServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.textmessagealert.servlet.TextMessageAlertCancelDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TextMessageAlertCancelDataServlet</servlet-name>
		<url-pattern>/api/expresscheckout/textalert/cancel</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GiftCardServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.giftcard.servlet.GiftCardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GiftCardServlet</servlet-name>
		<url-pattern>/api/expresscheckout/giftcard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GoGreenServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.gogreen.servlet.GoGreenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoGreenServlet</servlet-name>
		<url-pattern>/api/expresscheckout/gogreen</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerServiceRepresentativeServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.csr.servlet.CustomerServiceRepresentativeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerServiceRepresentativeServlet</servlet-name>
		<url-pattern>/api/expresscheckout/csr</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PromotionServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.promotion.servlet.PromotionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PromotionServlet</servlet-name>
		<url-pattern>/api/expresscheckout/promotion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ETipServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.etip.servlet.ETipServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ETipServlet</servlet-name>
		<url-pattern>/api/expresscheckout/etip</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeliveryPassServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.deliverypass.servlet.DeliveryPassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeliveryPassServlet</servlet-name>
		<url-pattern>/api/expresscheckout/deliverypass</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TimeslotServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.timeslot.servlet.TimeslotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeslotServlet</servlet-name>
		<url-pattern>/api/expresscheckout/timeslot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RestrictionServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.restriction.servlet.RestrictionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RestrictionServlet</servlet-name>
		<url-pattern>/api/expresscheckout/restriction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AtpRestrictionServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.availability.servlet.AtpRestrictionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AtpRestrictionServlet</servlet-name>
		<url-pattern>/api/expresscheckout/atpfailure</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CouponServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.coupon.servlet.CouponServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CouponServlet</servlet-name>
		<url-pattern>/api/expressco/coupon</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModuleHandlingServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.modulehandling.ModuleHandlingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModuleHandlingServlet</servlet-name>
		<url-pattern>/api/modulehandling/load</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ModuleImageProductsServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.modulehandling.ModuleImageProductsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModuleImageProductsServlet</servlet-name>
		<url-pattern>/api/modulehandling/imageproduct</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LocationHandlerServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.location.LocationHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocationHandlerServlet</servlet-name>
		<url-pattern>/api/locationhandler</url-pattern>
	</servlet-mapping>

	<!-- Dev Tools -->
	<servlet>
		<servlet-name>StorePropertiesServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.dev.storeproperties.StorePropertiesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StorePropertiesServlet</servlet-name>
		<url-pattern>/api/dev/properties/store</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageStandingOrderServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.standingorder.ManageStandingOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageStandingOrderServlet</servlet-name>
		<url-pattern>/api/manageStandingOrder</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StandingOrderCartServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.standingorder.StandingOrderCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StandingOrderCartServlet</servlet-name>
		<url-pattern>/api/standingOrderCartServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StandingorderCronServlet</servlet-name>
		<servlet-class>com.freshdirect.fdstore.standingorders.service.StandingOrderCronServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StandingorderCronServlet</servlet-name>
		<url-pattern>/standigorder_cron</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeliveryPassOneClickServlet</servlet-name>
		<servlet-class>com.freshdirect.webapp.ajax.expresscheckout.deliverypass.servlet.DeliveryPassOneClickServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    <servlet-name>DeliveryPassOneClickServlet</servlet-name>
    <url-pattern>/api/freetrial</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<servlet-name>JavascriptServlet</servlet-name>
		<servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
		<init-param>
			<param-name>configLocation</param-name>
			<param-value>/com/freshdirect/webapp/config/jawr.properties</param-value>
		</init-param>
		<init-param>
			<param-name>mapping</param-name>
			<param-value>/jawr/js/</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CssServlet</servlet-name>
		<servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
		<init-param>
			<param-name>configLocation</param-name>
			<param-value>/com/freshdirect/webapp/config/jawr.properties</param-value>
		</init-param>
		<init-param>
			<param-name>mapping</param-name>
			<param-value>/jawr/css/</param-value>
		</init-param>
		<init-param>
			<param-name>type</param-name>
			<param-value>css</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>JavascriptServlet</servlet-name>
		<url-pattern>/jawr/js/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CssServlet</servlet-name>
		<url-pattern>/jawr/css/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com.freshdirect.webapp.util.json.FDJSONRPCServlet</servlet-name>
		<url-pattern>/api/json-rpc.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientCodeReportServlet</servlet-name>
		<url-pattern>/api/clientCodeReport.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AccessTokenServlet</servlet-name>
		<url-pattern>/oauth/access_token</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthorizationServlet</servlet-name>
		<url-pattern>/oauth/authorize</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestTokenServlet</servlet-name>
		<url-pattern>/oauth/request_token</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDataServlet</servlet-name>
		<url-pattern>/oauth/user_data</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>referralregistration</servlet-name>
		<url-pattern>/invite/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Warmup</servlet-name>
		<servlet-class>com.freshdirect.webapp.warmup.web.WarmupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Warmup</servlet-name>
		<url-pattern>/api/warmup</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
	<error-page>
		<!-- Missing resource -->
		<error-code>404</error-code>
		<location>/notfound.jsp</location>
	</error-page>
	<error-page>
		<!-- Missing resource -->
		<exception-type>com.freshdirect.fdstore.FDNotFoundException</exception-type>
		<location>/notfound.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error.jsp</location>
	</error-page>
	<jsp-config>
		<taglib>
			<taglib-uri>http://jawr.net/tags</taglib-uri>
			<taglib-location>/WEB-INF/shared/tld/jawr.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>freshdirect</taglib-uri>
			<taglib-location>/WEB-INF/shared/tld/freshdirect.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>template</taglib-uri>
			<taglib-location>/WEB-INF/shared/tld/struts-template.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>logic</taglib-uri>
			<taglib-location>/WEB-INF/shared/tld/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>bean</taglib-uri>
			<taglib-location>/WEB-INF/shared/tld/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>html</taglib-uri>
			<taglib-location>/WEB-INF/shared/tld/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>oscache</taglib-uri>
			<taglib-location>/WEB-INF/shared/tld/oscache.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>productBox</taglib-uri>
			<taglib-location>/WEB-INF/shared/tld/productbox.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>unbxd</taglib-uri>
			<taglib-location>/WEB-INF/shared/tld/unbxd.tld</taglib-location>
		</taglib>

	</jsp-config>
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
</web-app>
