html,body {
	height: 100%;
}

.holder {
	width: 970px;
	position: relative;
	zoom: 1;
}

.oas_feature_frame {
	padding: 5px 0px 10px;
}

.oas_feature_left {
	width: 683px;
	text-align: left;
}

.oas_feature_right {
	width: 273px;
}

.oas_feature_right .oas_feature_right_tab {
}

.oas_home_bottom {
	width: 970px;
	padding-top: 5px;
	padding-bottom: 10px;
}

