.oauth-body .error-container{
	background: #ee1620;
    width: 450px;
    margin: 0 auto;
    height: 50px;
    border-radius: 3px;
    margin-top: 20px;
    font-size: 15px;
    line-height: 50px;
    color: rgba(255,255,255,0.85);