.cancel-modify-confirm-popup#confirmpopup {
	position: fixed !important;
	background: #fff;
	width: 400px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 20px;
}
[data-ismobweb="true"] #confirmpopup {
	width: calc(100% - 40px);
}
.cancel-modify-confirm-popup .qs-popup-content {
	padding: 30px 40px;
}
.cancel-modify-confirm-popup .qs-popup-content p {
	font-size: 16px;
    color: #555555;
}
.cancel-modify-confirm-popup .qs-popup-header {
	display: none;
}

.cancel-modify-confirm-popup .qs-popup-content .buttons button {
	width: 100%;
    margin: 0;
}
.cancel-modify-confirm-popup .qs-popup-content .buttons button+button {
	margin-top: 20px;
}
.modify-order-bar, #locationbar-sticky-wrapper #locationbar.modify-order-bar {
	color: #ffffff;
	background-color: #f68139;
	height: 46px;
	max-height: 46px;
	box-sizing: border-box;
	border-top-color: #f68139;
}
.modify-order-bar .cssbutton.cancel-changes-link {
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(200, 92, 25, 0.5);
}
.modify-order-bar .cssbutton.cancel-changes-link {
	border: 1px solid #fff;
	font-size: 14px;
}
.modify-order-bar .cssbutton.save-changes-btn {
	border: solid 1px #fff;
	color: #e45e0b;
	text-shadow: none;
	font-size: 14px;
	/* margin-left: 5px; */
}
#location-modify-order-message .location-modify-order-btn-cont {
	padding-left: 30px;
}
#location-modify-order-bar {
	padding: 15px 0;
}

#location-modify-order-message {
    line-height: 50px;
    font-size: 16px;
    text-shadow: 1px 1px 0 #c85c19;
    top: -3px;
    width: 100%;
    position: fixed;
}
#location-modify-order-message .modify-order-container {
	width: 100%;
	margin: 0 auto;
}
.modify-order-bar .modify-delivery-label {
	text-shadow: 1px 1px 0 #c85c19;
}
.modify-order-bar .modify-delivery-time {
	text-shadow: 1px 1px 0 rgba(200, 92, 25, 0.5)
}

#locationbar-sticky-wrapper .locabar-right-sections {
	position: absolute;
	top: 3px;
	height: 42px;
	right: 0;
}
#location-modify-order-message ~ .locabar-right-sections #locabar_messages_trigger {
	display: none; /* hide during modify */
}
#locationbar-sticky-wrapper .locabar-user-section[data-signedin="true"],
#locationbar-sticky-wrapper .locabar-popupcart-section,
#locationbar-sticky-wrapper .locabar-right-sections .locabar-section {
	background-color: transparent !important;
	color: #fff !important;
	border: none;
}
#locationbar-sticky-wrapper .disableCart .locabar-user-section[data-signedin="true"],
#locationbar-sticky-wrapper .locabar-user-section[data-signedin="true"]:hover,
#locationbar-sticky-wrapper .disableCart .locabar-popupcart-section,
#locationbar-sticky-wrapper .locabar-popupcart-section:hover,
#locationbar-sticky-wrapper .locabar-right-sections .locabar-section:hover {
	background-color: #e77630 !important;
}
#locationbar-sticky-wrapper .disableCart .locabar-popupcart-section {
	border-left-color: #F68139;
	border-left-width: 1px;
	border-left-style: solid;
}
#locationbar-sticky-wrapper .locabar-right-sections .locabar-section {
	height: 41px;
}
#locationbar-sticky-wrapper .locabar_triggers_menuitem a {
	color: #fff;
}
#locationbar-sticky-wrapper .locabar-circle-cont {
	color: #f68139;
	background-color: #fff;
	border: 2px solid #f68139;
}
#locationbar-sticky-wrapper .locabar-cart {
	background-image: url(/media/layout/nav/globalnav/fdx/locabar-cart-white.svg);
}
#locationbar-sticky-wrapper .locabar-section .section-warning-small {
	background-image: url(/media/layout/nav/globalnav/fdx/locabar-warning-white.svg);
}
#locationbar-sticky-wrapper .locabar-arrow:after {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}
/* mobweb overrides */
[data-ismobweb="true"]  .modify-order-bar .cssbutton.save-changes-btn {
	margin: 0 13px;
}
[data-ismobweb="true"]  #location-modify-order-bar {
	font-size: 14px;
	line-height: 16px;
}
[data-ismobweb="true"]  .location-modify-order-message {
	float: left;
	text-align:left;
	padding-left: 15px;
}
[data-ismobweb="true"]  .location-modify-order-btn-cont {
	float: right;
	line-height: 30px;
}
[data-ismobweb="true"]  #location-modify-order-bar {
	padding: 10px 0 0 0;
}
#locationbar-sticky-wrapper #locabar_user_trigger > a,
#locationbar-sticky-wrapper #locabar_user_trigger > a:active,
#locationbar-sticky-wrapper #locabar_user_trigger > a:focus,
#locationbar-sticky-wrapper #locabar_user_trigger > a:visited {
	color: #fff;
}
#location-modify-order-message .location-modify-order-btn-cont > span + span {
	margin-left: 10px;
}