<?xml version="1.0" encoding="Utf-8"?>
<config>
	<variable>
		<name>TestCaseAccess</name>
		<!--<value>
			<type>Excel</type>
		</value>-->
		<value>
			<type>Designer</type>
			<parameters>
				<url>http://10.212.21.30:8085/api</url>
				<dbname>dev1</dbname>
				<username>tcdemo</username>
				<password>password</password>
			</parameters>
		</value>

	</variable>

	<variable>
		<name>DataAccess</name>
		<!--<value>
			<type>Excel</type>
		</value>-->
		<value>
			<type>DB</type>
			<parameters>
				<dbname>C:\\Users\\AS821610\\Desktop\\MyDatabase.accdb</dbname>
			</parameters>
		</value>

	</variable>

	<variable>
		<name>ResultReporter</name>
		<value>
			<array>
				<value>
					<type>ScreenDump</type>
					<parameters>
						<folder>D:/Ambika_Workspace/CBF-2.3/Logs/ScreenShots</folder>
					</parameters>
				</value>
				<value>
					<array>
						<value>
							<type>ExcelReport</type>
							<parameters>
								<folder>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/Logs</folder>
								<filename>ExecutionReport.xls</filename>
							</parameters>
						</value>
						<value>
							<type>HtmlEvent</type>
							<parameters>
								<folder>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/HtmlEvents</folder>
							</parameters>
						</value>
					</array>
				</value>
				<value>
					<type>ResultEventLogger</type>
					<parameters>
						<folder>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/Logs</folder>
						<filename>Events.xml</filename>
					</parameters>
				</value>
			</array>
		</value>
	</variable>

	<variable>
		<name>ResultsRootFolder</name>
		<value>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/Logs</value>
	</variable>

	<variable>
		<name>InterTestCaseDelay</name>
		<value>0</value>
	</variable>

	<variable>
		<name>AutoHome</name>
		<value>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/Test/Plan/TestApplication</value>
	</variable>

	<variable>
		<name>WorkFolder</name>
		<value>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/Logs</value>
	</variable>

	<variable>
		<name>PlanRoot</name>
		<value>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/Misc_ResultsViewer</value>
	</variable>

	<variable>
		<name>SearchCDTComponentFiles</name>
		<value>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/Test/Plan/TestApplication</value>
	</variable>

	<variable>
		<name>AppDriverBootStrap</name>
		<value>CBF.application.CompositeAppDriver</value>
	</variable>

	<variable>
		<name>EnableIterationSelection</name>
		<value>true</value>
	</variable>

	<variable>
		<name>EnableStepSelection</name>
		<value>true</value>
	</variable>

	<variable>
		<name>TestSet</name>
		<value>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/Test/Lab/TestApplication/TestSet.xls
		</value>
	</variable>

	<variable>
		<name>ObjectRepository</name>
		<value>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/Test/Plan/TestApplication/AppDriver/OR/uiMap.xls
		</value>
	</variable>

	<variable>
		<name>ResultsFolder</name>
		<value>D:/SVN/Solutions/CBF-JAVA/branches/GS-1.0/Logs</value>
	</variable>

	<variable>
		<name>SleepTimerSlabs</name>
		<value>2000,5000,10000,15000</value>
	</variable>

	<variable>
		<name>Browser</name>
		<value>IE</value>
	</variable>

	<variable>
		<name>BrowserDriverFolder</name>
		<value>D:/IEDriverServer.exe</value>
	</variable>
</config>
