#overlay
{
	position: absolute;
	left: 0px;
	top: 0px;
	
	width: 100%;
	height: 100%;
	
	background: url(../images/overlay1.gif);
	
	/* Set both opacity and filter, for MSIE and firefox compatability */
	opacity: .7;
	filter: alpha(opacity=70);
	
	/* z-index sets the layer order, so that the overlay rests on top.
	Bear in mind that the popup dialogue needs to be even higher! */
	z-index: 1000;
}

#dialogue #close a
{
	color: #DD0000;
	text-decoration: none;
	background: url("../images/close.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: none;
    height: 13px;
    position: absolute;
    right: 12px;
    top: 10px;
    width: 13px;
    z-index: 1103;
}
#ac_error
{
text-align:left;
font-weight:bold;
color:red;
}

#ac_info
{
text-align:left;
font-weight:bold;
color:blue;
}
#dialogue
{
	position: absolute;
	
	left: 50%;
	margin-left: -100px;
	top: 50px;
	
	width: 350px;
	padding: 20px;
	
	background-color: #FFFFFF;
	
	z-index: 2000;
}
#airclic_table
{
cellpadding:5px;
cellspacing:10px;
}
