/* colors, backgrounds, borders, link indication */ 

body {
 	background-color: #fff;
 	color: #000;
	font-family: 'Verdana', 'Trebuchet MS', 'Arial', 'Helvetica', 'sans-serif';
	font-size: 11px;
	margin: 0px;
 }
  
.apptitle {
	font-size: 150%;
	font-family: Verdana, Arial, Helvetica,sans-serif;
	background-color:#e7e7d6;	
	height:82px;
}

.poptitle {
	font-size: 100%;
	font-family: Verdana, Arial, Helvetica,sans-serif;
	background-color:#e7e7d6;	
	font-weight: bold;
	height:82px;
}

.appusertitle {
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica,sans-serif;
	background-color:#e7e7d6;
}

.appframe {
	vertical-align:top;
}

.navlist {
	background-color: #c00cc3d;
}

.navlist a {
	font-size: 90%;
	font-family: Verdana, Arial, Helvetica,sans-serif;
	text-decoration: none;	
	background-color: #c00cc3d;
}

.footer {
	font-size: 60%;
	font-family: Verdana, Arial, Helvetica,sans-serif;
}

.separator {
	clear: both;
}

.navtbl {
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 70%;
	font-weight: bold;
	padding:1px 1px 1px 1px;
	margin:1px 1px 1px 1px;
	table-layout:fixed;
	height:20px;
}

.filtertitle { 
	font-size: 8pt; font-family: Verdana, Arial, sans-serif; 
}

.filtercontrol { 
	font-size: 8pt; font-family: Verdana, Arial, sans-serif; 
}

.filterlabel {
	font-size: 11pt;font-weight: bold; font-family: Verdana, Arial, sans-serif; 
}

.formtitle {
	font-weight: bold;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 14pt;
	vertical-align: middle;
}
	
.datalistchx { 
	width : 1.0em ; 
	height : 0.8em ;   
}

.tableRegion tr.rowMouseOver {
	background-color: #b5cfff;
	cursor: pointer;
}

.screenpane {
	vertical-align:top;
	width:100%;
	height:80%;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
}

.screentitle {
	width:100%;
	height:20px;	
	vertical-align:top;
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 14px; 
	font-weight: bold; 
	text-align: center;
	background-color: #f7f7f7;
}

.screenmessages {
	width:100%;	
	height:20px;	
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 11px; 
	font-weight: bold; 
	text-align: center;
	color: blue;
}


.screencontent {
	width:100%;
	height:80%;
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 9pt;
	vertical-align:top;
	padding-top:2px;
	text-align: center;
}

.legend {	
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 9pt;
	vertical-align:top;
	padding-top:2px;
	text-align: center;
	font-weight: bold; 
}

.forms1 {
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 9pt; 
	font-weight: normal;
}

.forms1 {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}


.forms1 tr td {
	padding-top:10px;
	padding-left:10px;
}

.forms1 tr td input.small {
	width: 85px;
}

.forms1 tr td input.datebox {
	width: 85px;
}

.forms1 tr td select,.forms1 tr td select.small,.forms1 tr td select.verysmall {
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 8pt; 
}

.forms1 tr td select {
	width: 200px;
	
}

.forms1 tr td span {
	color: red;
	font-size: 7pt;
}

.forms1 tr td textarea {	
	font-size: 6pt; 
	font-family: Verdana, Arial, Helvetica,sans-serif; 
}

.forms1 tr td textarea.large {	
	font-size: 8pt; 
	font-family: Verdana, Arial, Helvetica,sans-serif; 
}

.forms1 tr td select.small {
	width: 85px;	
}

.forms1 tr td select.verysmall {
	width: 45px;
}

.forms1 tr td select.verylarge {
	width: 255px;
}

.errortxt {
	color: red;
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 11pt; 
}

.screenmessages div.apperrortxt {
	color: red;
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 9pt; 
}

.fileTabHeader {
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 9pt;	
	text-align: center;
	font-weight: bold; 
	background-color: #308dbb;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
}

.fileTabEvenRow {
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 7pt;	
	text-align: center;
	background-color: #dfe4e8;
	
}

.fileTabOddRow {
	font-family: Verdana, Arial, Helvetica,sans-serif; 
	font-size: 7pt;	
	text-align: center;
	background-color: #FFFFFF;
}

/* borderless */

.noborder {
      border-width: 0px;
}

/*example page setup*/
div.topTabs {
	/*height: 5%;*/
	width: 100%;
}
div.botTabs {
	/*height: 5%;*/
	clear: left;
}
div.child {
	height: 90%;
	width: 100%;
	overflow: auto;
}


/*this is the subtab bar (also depends on subtabs content to fill height)*/
.subs {
	float: left;
	height: auto;
	width: 100%;
	padding-top: 10px;
	text-align: center;
}
/*sub-subtabs*/
.subsub {
	float: left;
	height: auto;
	width: 100%;
	padding-top: 10px;
	text-align: center;
}
/*sub tabs left*/
.subs_left {
	float: left;
	padding-left: 20px;
}
/*sub tabs right*/
.subs_right {
	float: right;
	padding-right: 20px;
}


/*top tab styles*/
div.t_tab {
	width: auto;
	text-align: center;
	float: left;
}
/* cross-browser min width solution */
div.t_tab div.minwidth {
	width: 125px;
}

/*truck logo*/
.Tlogo  {
	position: absolute;
	left: 0px;
}
.Tlogo img {
	padding-left: 5px;
}
/*user info User / Level*/
.userinfo {
	float: right;
	text-align: left;
	font-size: 12px;
	background-color: #fff;
	padding-right: 15px;
	color: #999;
	padding: 5px;
	margin: 0px;
}
.userinfo .loginout {
	padding-bottom: 11px;
	text-align: right;
}
.userinfo input:hover {
	cursor: hand;
}
.userinfo input {
	color: #999;
	border: 1px solid #999;
	background-color: #fff;
	font-size: 10px;
	font-weight: bold;
}
.userinfo .nameTitle, .userinfo .levelTitle {
	display: block;
	font-style: italic;
	font-weight: bold;
	width: 50px;
	float: left;
	text-align: right;
	padding-right: 5px;
}

/*top tab spacers, height is logo height 75px*/
div.Tspacer {
	width: 30%;
	height: 75px;
	float: left;
}
/*top tab spacers, height is logo height 75px*/
div.t_tab_hspacer {
	height: 40px;
}
/*top tab angles l/r height comes from: A tag height + padding (20+(8*2)=36*/
.tab, .tableft, .tabright, .sub_tableft, .sub_tabright {
	border-style: solid;
	width: 0px;
	height: 0px;
	line-height: 0px;
	float: left;
}
.tableft {
	border-width: 36px 10px 0px 0px;
}
.tabright {
	border-width: 0px 10px 36px 0px ;
}
/*sub tab angles l/r height comes from: A tag height + padding (18+(4*2)=26*/
.sub_tableft {
	border-width: 26px 10px 0px 0px;
}
.sub_tabright {
	border-width: 0px 10px 26px 0px ;
}


/*subtab styles*/
div.subtab {
	text-align: center;
	float: left;
	width: auto;
}
/* cross-browser min width solution */
div.subtab div.minwidth {
	width: 110px;
}

/*prep tabs*/
div.t_tab a, div.subtab a {
	display: block;
	cursor: hand;
	text-decoration: none;
	font-family: 'Tw Cen MT Condensed Extra Bold', 'Arial Narrow', 'Tw Cen MT', 'Trebuchet MS', 'Helvetica', 'sans-serif';
	height: auto;
	width: auto;
}
div.t_tab a {
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	padding: 8px;
}
div.subtab a {
	font-size: 14px;
	padding: 4px;
}


/*table prep*/
.MNM001 table, .MNM002 table, .MNM003, .MNM004 table {
	width: 100%;
}
/*div prep*/

div.MNM001, div.MNM002, div.MNM003, div.MNM004 {
	border: 0px;
	margin: 0px;
}

/*operations styles*/
	/*these two are the l/r tab angles*/
	.tabL_MNM001 {
		border-color: #fff #000; 
	}
	.tabR_MNM001 {
		border-color: #000 #fff; 
	}
	/*
		these two are the l/r subtab angles
		don't use transparent here, IE6 doesn't support it
	 */
	.sub_tabL_MNM001 {
		border-color: #000 #666;
	}
	.sub_tabR_MNM001 {
		border-color: #666 #000; 
	}
	.subsub .sub_tabL_MNM001 {
		border-color: #999 #666;
	}
	.subsub .sub_tabR_MNM001 {
		border-color: #666 #999; 
	}
	/*this is the color of the tab*/
	div.MNM001 {
		background-color: #000;
	}
	/*NOT selected*/
	div.t_tab a.MNM001 {
		color: #666;
	}
	/*sub tab color*/
	div.MNM001 div.subtab a {
		color: #999;
	}
	/*selected*/
	div.MNM001 div.MNM001 a  {
		color: #fff;
	}
	/*selected, and hover*/
	div.MNM001 .subtab a:hover  {
		color: #fff;
	}
	/*subtab selected*/
	div.MNM001 div.activeT a  {
		color: #000;
	}
	/*sub-subtab selected*/
	div.MNM001 div.MNM001_subs a  {
		color: #666;
	}
	/*subtab selected IE hover fix*/
	div.MNM001 div.activeT a:hover {
		color: #000;
	}
	/*sub-subtab selected*/
	div.or_999 div.activeT a {
		color: #000;
	}
	/*sub-subtab selected IE hover fix*/
	div.or_999 div.activeT a:hover {
		color: #666;
	}
	/*subtabs, not active*/
	div.MNM001 .subtab { 
		background-color: #666;
	}
	/*
		these two are the l/r subtab angles of an active subtab
		these need to be after other colors
	 */
	.MNM001 div.MNM001_subs_L {
		border-color: #000 #999;
	}
	.MNM001 .activeL {
		border-color: #000 #fff;
	}
	.MNM001 div.MNM001_subs_R {
		border-color: #999 #000;
	}
	.MNM001 .activeR {
		border-color: #fff #000; 
	}
	/*
		these two are the l/r subtab angles of an active sub-subtab
		these need to be after other colors
	 */
	.or_999 .activeL {
		border-color: #999 #fff;
	}
	.or_999 .activeR {
		border-color: #fff #999;
	}

/*routing styles*/
	/*these two are the l/r tab angles*/
	.tabL_MNM002 {
		border-color: #fff #009; 
	}
	.tabR_MNM002 {
		border-color: #009 #fff; 
	}
	/*
		these two are the l/r subtab angles
		don't use transparent here, IE6 doesn't support it
	 */
	.sub_tabL_MNM002 {
		border-color: #009 #06c;
	}
	.sub_tabR_MNM002 {
		border-color: #06c #009; 
	}
	.subsub .sub_tabL_MNM002 {
		border-color: #39f #06c;
	}
	.subsub .sub_tabR_MNM002 {
		border-color: #06c #39f; 
	}
	/*this is the color of the tab*/
	div.MNM002 {
		background-color: #009;
	}
	/*NOT selected*/
	div.t_tab a.MNM002 {
		color: #06c;
	}
	/*sub tab color*/
	div.MNM002 div.subtab a {
		color: #39f;
	}
	/*selected*/
	div.MNM002 div.MNM002 a  {
		color: #fff;
	}
	/*selected, and hover*/
	div.MNM002 .subtab a:hover  {
		color: #fff;
	}
	/*subtab selected*/
	div.MNM002 div.activeT a  {
		color: #009;
	}
	/*sub-subtab selected*/
	div.MNM001 div.MNM002_subs a  {
		color: #fff;
	}
	/*subtab selected IE hover fix*/
	div.MNM002 div.activeT a:hover {
		color: #06c;
	}
	/*sub-subtab selected*/
	div.or_39f div.activeT a  {
		color: #009;
	}
	/*sub-subtab selected IE hover fix*/
	div.or_39f div.activeT a:hover {
		color: #39f;
	}
	/*subtabs, not active*/
	div.MNM002 .subtab { 
		background-color: #06c;
	}
	/*
		these two are the l/r subtab angles of an active subtab
		these need to be after other colors
	 */
	.MNM002 div.MNM002_subs_L {
		border-color: #009 #39f;
	}
	.MNM002 .activeL {
		border-color: #009 #fff;
	}
	.MNM002 div.MNM002_subs_R {
		border-color: #39f #009;
	}
	.MNM002 .activeR {
		border-color: #fff #009; 
	}
	/*
		these two are the l/r subtab angles of an active sub-subtab
		these need to be after other colors
	 */
	.or_39f .activeL {
		border-color: #39f #fff;
	}
	.or_39f .activeR {
		border-color: #fff #39f;
	}

/*geography styles*/
	/*these two are the l/r tab angles*/
	.tabL_MNM003 {
		border-color: #fff #060; 
	}
	.tabR_MNM003 {
		border-color: #060 #fff; 
	}
	/*
		these two are the l/r subtab angles
		don't use transparent here, IE6 doesn't support it
	 */
	.sub_tabL_MNM003 {
		border-color: #060 #390; 
	}
	.sub_tabR_MNM003 {
		border-color: #390 #060; 
	}
	.subsub .sub_tabL_MNM003 {
		border-color: #3c3 #390;
	}
	.subsub .sub_tabR_MNM003 {
		border-color: #390 #3c3; 
	}
	/*this is the color of the tab*/
	div.MNM003 {
		background-color: #060;
	}
	/*NOT selected*/
	div.t_tab a.MNM003 {
		color: #390;
	}
	/*sub tab color*/
	div.MNM003 div.subtab a {
		color: #3c3;
	}
	/*selected*/
	div.MNM003 div.MNM003 a  {
		color: #fff;
	}
	/*selected, and hover*/
	div.MNM003 .subtab a:hover  {
		color: #fff;
	}
	/*subtab selected*/
	div.MNM003 div.activeT a  {
		color: #060;
	}
	/*sub-subtab selected*/
	div.MNM003 div.MNM003_subs a  {
		color: #fff;
	}
	/*subtab selected IE hover fix*/
	div.MNM003 div.activeT a:hover {
		color: #390;
	}
	/*sub-subtab selected*/
	div.or_3c3 div.activeT a  {
		color: #060;
	}
	/*sub-subtab selected IE hover fix*/
	div.or_3c3 div.activeT a:hover {
		color: #3c3;
	}
	/*subtabs, not active*/
	div.MNM003 .subtab { 
		background-color: #390;
	}
	/*
		these two are the l/r subtab angles of an active subtab
		these need to be after other colors
	 */
	.MNM003 div.MNM003_subs_L {
		border-color: #060 #3c3;
	}
	.MNM003 .activeL {
		border-color: #060 #fff;
	}
	.MNM003 div.MNM003_subs_R {
		border-color: #3c3 #060;
	}
	.MNM003 .activeR {
		border-color: #fff #060; 
	}
	/*
		these two are the l/r subtab angles of an active sub-subtab
		these need to be after other colors
	 */
	.or_3c3 .activeL {
		border-color: #3c3 #fff;
	}
	.or_3c3 .activeR {
		border-color: #fff #3c3;
	}

	div.t_tab a:hover {
		color: #fff;
	}
	
	
/*operations styles*/
	/*these two are the l/r tab angles*/
	.tabL_MNM004 {
		border-color: #fff #f90; 
	}
	.tabR_MNM004 {
		border-color: #f90 #fff; 
	}
	/*
		these two are the l/r subtab angles
		don't use transparent here, IE6 doesn't support it
	 */
	.sub_tabL_MNM004 {
		border-color: #f90 #a50;
	}
	.sub_tabR_MNM004 {
		border-color: #a50 #f90; 
	}
	.subsub .sub_tabL_MNM004 {
		border-color: #999 #666;
	}
	.subsub .sub_tabR_MNM004 {
		border-color: #666 #999; 
	}
	/*this is the color of the tab*/
	div.MNM004 {
		background-color: #f90;
	}
	/*NOT selected*/
	div.t_tab a.MNM004 {
		color: #666;
	}
	/*sub tab color*/
	div.MNM004 div.subtab a {
		color: #ccc;
	}
	/*selected*/
	div.MNM004 div.MNM004 a  {
		color: #fff;
	}
	/*selected, and hover*/
	div.MNM004 .subtab a:hover  {
		color: #fff;
	}
	/*subtab selected*/
	div.MNM004 div.activeT a  {
		color: #f90;
	}
	/*sub-subtab selected*/
	div.MNM004 div.MNM004_subs a  {
		color: #666;
	}
	/*subtab selected IE hover fix*/
	div.MNM004 div.activeT a:hover {
		color: #f90;
	}
	/*sub-subtab selected*/
	div.or_999 div.activeT a {
		color: #f90;
	}
	/*sub-subtab selected IE hover fix*/
	div.or_999 div.activeT a:hover {
		color: #666;
	}
	/*subtabs, not active*/
	div.MNM004 .subtab { 
		background-color: #a50;
	}
	/*
		these two are the l/r subtab angles of an active subtab
		these need to be after other colors
	 */
	.MNM004 div.MNM004_subs_L {
		border-color: #f90 #999;
	}
	.MNM004 .activeL {
		border-color: #f90 #fff;
	}
	.MNM004 div.MNM004_subs_R {
		border-color: #999 #f90;
	}
	.MNM004 .activeR {
		border-color: #fff #f90; 
	}
	/*
		these two are the l/r subtab angles of an active sub-subtab
		these need to be after other colors
	 */
	.or_999 .activeL {
		border-color: #999 #fff;
	}
	.or_999 .activeR {
		border-color: #fff #999;
	}

/*this is the active subtab bgcolor*/
.activeL, div.activeT a, .activeR {
	background-color: #fff;
}


/* these are the active subtab bgcolors IF the subtab has sub-subtabs */
div.MNM001_subs a {
	background-color: #999;
	color: #fff;
}
div.MNM002_subs a {
	background-color: #39f;
	color: #009;
}
div.MNM003_subs a {
	background-color: #3c3;
	color: #060;
}

div.MNM004_subs a {
	background-color: #f90;
	color: #060;
}
/* over-rides for sub-subtab backgrounds */
div.or_fff { background-color: #fff; }
div.or_3c3 { background-color: #3c3; }
div.or_999 { background-color: #999; }

/* new content styles */


.contentroot div span, .contentroot div span input, .contentroot div span select { vertical-align: top; }
span.select_or { line-height: 25px; vertical-align: bottom; display: inline-block; }
.cont_row { clear: both; }


.cont_row_bottomline { 
	clear: both;
	margin-bottom: 10px;
}

/*top left functions bar */
.cont_topleft_old {
	float: left;
	padding-left: 20px;
}
/*top left functions bar */
.cont_topleft {
	position: relative;
	float: left;
	top: 20px;
	left: 20px;
}

/*top right functions bar */
.cont_topright_old {
	float: right;
	width: 50%;
	/*margin-top: -45px;*/
}
/*top right functions bar */
.cont_topright {
	float: left;
	width: 100%;
	margin-top: -10px;
}


/*generic item spacing*/
.cont_Litem, .cont_Ritem {
}

/*generic item in top left bar*/
.cont_Litem_old {
	float: left;
	padding-top: 12px;
}
/*generic item in top left bar*/
.cont_Litem {
	float: left;
	padding-right: 12px;
}
/*generic item in top right bar*/
.cont_Ritem_old {
	float: right;
}
/*generic item in top right bar*/
.cont_Ritem {
	float: right;
	width: 99%;
}

.cont_Litem img {
	border: 0px;
}
/*date input box*/
.cont_Litem input.text {
	height: 12px;
	padding: 0px;
	font-size: 11px;
	position: relative;
	top: -3px;
}
/*error messaging*/
.err_messages {
	font-weight: bold;
	color: #c00;
	font-size: 10px;
	padding: 10px 10px 0px 20px;
	width: 80%;
/*	margin-top: -40px;*/
}
/* 2nd row bar with yellow background */
.cont_topleft_2ndrow div {
	background-color: #ffc;
	color: #666;
	padding: 15px 5px 10px 10px;
}
/* controls spacing after each item in 2nd row */
.cont_topleft_2ndrow div span {
	padding-right: 15px;
}
.i_AddNew a {
	color: #060;
	font-weight: bold;
}
.i_Delete a {
	color: #900;
	font-weight: bold;
}
.i_Copy a {
	color: #03c;
	font-weight: bold;
}
.i_Dispatch a {
	color: #f90;
	font-weight: bold;
}
.i_Refresh a {
	color: #f9c;
	font-weight: bold;
}
/* default color */
.i_Confirm {
	color: #666;
	font-weight: bold;
}
/*confirm link*/
.i_Confirm a.confirm {
	color: #369;
	font-weight: bold;
}
/*unconfirm link*/
.i_Confirm a.unconfirm {
	color: #999;
	font-weight: bold;
}
.accessdenied {
	clear: both;
	height: 105%;
	width: 105%;
	margin: -10px;
	position: absolute;
	top: -20px;
	left: -2px;
	border: 1px solid black;
	background: url(./../images/AccessDenied_b.jpg) no-repeat;
	background-color: #000;
	overflow: hidden;
	cursor: pointer;
}
.accessdenied div { display: block; height: 1000px; width: 1000px; }



/* Building Details */

/* content holder */
.buildingdtl_content {
	margin: 0px 10px;
	padding: 0 0 0 15%;
	text-align: left;
}

.georestriction_content {
	margin: 0px 10px;
	padding: 0 0 0 15%;
	text-align: left;
}

/* indented tables */
.t_Hours {
	margin-left: 40px;
}

/* width spacing div */
.wspacer { width: 10px; }

/* debug */
.buildingID { display: none; }


/* building info error messaging */
.bld_err_messages {
	font-weight: bold;
	color: #c00;
	font-size: 10px;
}

/* title override */
.scrTitle, .eXtremeTable span.title {
	font-size: 20px;
	padding-right: 20px;
	color: #444;
	padding-top: 0px;
}
/*fixes for extermeTable styles on route page*/
div.eXor .eXtremeTable table {
	float: right;
	clear: right;
}
div.eXor_Active, div.eXor_AdHoc { margin-left: 10px; width: 98%; }

/* left-align over-rides */
.eXtremeTable td {
	text-align: left;
}

/* Service Time Scenario over-rides */
	/* IE fixes */
	#ec_table input { 
		width: expression(this.type=="text"?'90%':'');
		width: expression(this.type=="checkbox"?'25px':'');
		height: expression(this.type=="checkbox"?'auto':'');
		width: 90%;
	}

	/* FF-compat fixes */
	#ec_table input[type="checkbox"] { 
		height: auto;
		width: 25px;
	}

	#ec_table td, #ec_table td.tableHeader, #ec_table td.tableHeaderSort {
		width: auto;
	}
/* Service Time Scenario over-rides */

/* borderless */
.noborder {
	border-width: 0px;
}

/* specific planning page styles */
#page_Planning #daterange, #page_Planning #zone {
	width: 200px;
}

.dispatch_link {
	color: #f90;
}

.refresh_link {
	color: #09c;
}

/* zone type max/req over-rides*/
#ec_table td.tableBody td {
	width: 30px;
	text-align: center;
	}
#ec_table td.tableHeader table td, #ec_table.tableRegion .tableBody td table td {
	text-align: center;
}
/* zone type max/req over-rides*/

/* dispatch table over-rides */
	#ec_table td table, td.tableHeader table {
		width: 100%;
	}
/* dispatch table over-rides */

/* dispatch add/edit tweaks */
	.dipatch_AddEdit_center_fleft {
		float: left;
	}
	.dipatch_AddEdit_center_fright {
		float: right;
		width: 125px;
	}
	.dipatch_AddEdit_row {
		height: 25px;
		line-height: 25px;
		width: 280px;
	}
/* dispatch add/edit tweaks */

/* float simple classes */
	.fleft { float: left; }
	.fright { float: right; }
/* float simple classes */

.employee_on 
{
	background-color: #009933;
}
.employee_off 
{
	background-color: #FF0000;
}
.employee_no 
{
	background-color: #FF9966;
}
.employee_out 
{
	background-color: #308dbb;
}

.timeslot_closed, .dynamic_disabled {
	border : 1px solid #aaa;
	padding: 0px 0px 0px 0px;
	font-size: 75%;
	background-color: red;
}

.timeslot_open, .dynamic_enabled {
	border : 1px solid #aaa;
	padding: 0px 0px 0px 0px;
	font-size: 75%;
	background-color: #089F00;
}

.timeslot_closedpartial, .dynamic_enabledpartial {
	border : 1px solid #aaa;
	padding: 0px 0px 0px 0px;
	font-size: 75%;
	background-color: orange;
}

#serviceTimeOperator {
	width:40px;
}

.holidaylabel {
	float:left;
	font-weight:bold;
	text-align:center;
}

.dispatchsummary {
 	height:475px;
 	overflow-y:auto;
 	background-color:#F2F2F2;
 	border:1px solid #000;
 	margin:5px"
}

.dispatchSummaryContent {
 	width: 200px;
   	font-size: 12px;
    height: 142px;
    overflow-y: scroll;
    border: 1px solid #383; 
    margin: 5px;
    background-color:#F2F5F2;
    padding-left: 3px;
}

.dispatchStatistices {
   	font-size: 12px;
    height: 142px;
    overflow-y: scroll;
    border: 1px solid #383; 
    margin: 5px;
    background-color:#F2F5F2;
    padding-left: 3px;
}

.dispatchReadyRoutes {
	width: 400px;
	font-size: 12px;
	height: 142px;
	overflow-y: scroll;
	border: 1px solid #383; 
	margin: 5px;
	background-color:#F2F5F2;
	padding-left: 3px;
}

.asset_gps 
{
	background-color: #B1CFA8;
}
.asset_ezpass 
{
	background-color: #4FCF26;
}
.asset_motkit 
{
	background-color: #2A7F0F;
}
.asset_additionalnextels 
{
	background-color: #677F5F;
}