<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>[%d{dd.MM.yyyy}, %d{HH:mm:ss.SSS}] %-5level [%thread][%logger]: %m%n</pattern>
    </layout>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>application.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>application.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>[%d{dd.MM.yyyy}, %d{HH:mm:ss.SSS}] %-5level [%thread][%logger]: %m%n</pattern>
    </layout>
  </appender>

  <logger name="com.freshdirect.cmsadmin">
    <level value="info" />
  </logger>

  <logger name="org.springframework.cache">
    <level value="trace" />
  </logger>

  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <logger name="org.hibernate.type" level="TRACE"/>

  <root>
    <level value="error" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
