/* STORE ADMIN CSS */
<style type="text/css">

/* COLORS */
.basecolor 	{ background-color: #E7E7D6; }
.contrast 	{ background-color: #CFCDA7; }
.separator	{ background-color: #CCCCCC; }
.shadow		{ background-color: #555555; }
.hilite			{ background-color: #FFFFFF; }
.header		{ background-color: #000000; }
.tab_on		{ background-color: #000000; }

/* BUTTON COLORS */
.cancel		{ background-color: #CC0000; }
.save		{ background-color: #006600; }
.preview	{ background-color: #0000CC; }
.remove		{ background-color: #999999; }
.add_move	{ background-color: #009999; }
.admin		{ background-color: #660099; }

/* LOOK N FEEL */
body {
margin: 4px;
padding: 4px;
height:100%;

background-color: #E7E7D6;
/* CRM: E7E7D6 - EEEDDF #E9E8D6;  #F6EDE2 D4DEEF #A5B5D5 */
background-attachment: fixed;
background-repeat: no-repeat;
background-position: bottom right;

font-family: Trebuchet MS, Arial, Verdana, sans-serif;
color: #666666;
font-size: 8pt;
scrollbar-base-color: #FFFFFF; 
scrollbar-face-color: #FFFFFF; 
scrollbar-track-color: #FFFFFF; 
scrollbar-arrow-color: #666666;
scrollbar-highlight-color: #CCCCCC; 
scrollbar-3dlight-color: #999999; 
scrollbar-shadow-color: #666666;
scrollbar-darkshadow-color: #666666;
}

.pulldownNav {
background-color:#FFFFFF;
font-size:9pt;
font-face:Trebuchet MS, Arial, Verdana, sans-serif;
color:#333333;
}

.pulldown1 {
background-color:#FFFFFF;
font-size:9pt;
font-face:Trebuchet MS, Arial, Verdana, sans-serif;
color:#333333;
}

.pulldown2 {
background-color:#FFFFFF;
font-size:10pt;
font-face:Trebuchet MS, Arial, Verdana, sans-serif;
color:#333333;
}

.textbox1 {
background-color:#FFFFFF;
font-size:9pt;
font-face:Trebuchet MS, Arial, Verdana, sans-serif;
color:#333333;
}

.textbox2 {
background-color:#FFFFFF;
font-size:10pt;
font-face:Trebuchet MS, Arial, Verdana, sans-serif;
color:#333333;
}

table.section TH { background-color: #333366; text-align: left; line-height:15pt; } /* CCCC99 */

/* TEXT PROPERTIES */
a:link 		{ color: #006633; text-decoration: none; }
a:visited 	{ color: #006633; text-decoration: none; }
a:active 	{ color: #FF9900; text-decoration: none; }
a:hover 	{ color: #009900; text-decoration: underline; }
/*  background:#DBF0E6; padding-left:3px; padding-right:3px; */

.title		{ font-size: 13pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; }

/* Menu */
.menu		{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#666666; }
.menuOn		{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#FFFFFF;}

.menu.link 		{ color: #666666; text-decoration: none; }
a.menu:link 	{ color: #666666; text-decoration: none; }
a.menu:visited 	{ color: #666666; text-decoration: none; }
a.menu:active 	{ color: #666666; text-decoration: none; }
a.menu:hover 	{ color: #999999; text-decoration: underline; }




/* NAVIGATION */
.path			{ background-color: #FFFFFF; padding: 2px; }
.breadcrumb		{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#666666; }

/* Tree */
.tree			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; }
a.tree:link         { color: #006633; text-decoration: none; }
a.tree:visited 		{ color: #006633; text-decoration: none; }
a.tree:active		{ color: #FF9900; text-decoration: none; }
a.tree:hover		{ color: #003300; text-decoration: none; background:#FFE375; } /* DBF0E6 */

.treeTitle			{ font-size: 13pt; font-family: Trebuchet MS, Arial, sans-serif; color:#FFFFFF; }
a.treeTitle:link 	{ color: #FFFFFF; text-decoration: none; }
a.treeTitle:visited { color: #FFFFFF; text-decoration: none; }
a.treeTitle:active 	{ color: #FF9900; text-decoration: none; }
a.treeTitle:hover 	{ color: #FFCC00; text-decoration: none; }

.treeHeader		{ font-size: 12pt; font-family: Trebuchet MS, Arial, sans-serif; color:#003300; }

.dept			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; line-height: 15pt; }
.cat			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; line-height: 15pt; text-indent: 3%; }
.subcat			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; line-height: 15pt; text-indent: 6%; }
.prod			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; line-height: 15pt; text-indent: 18%; }

/* margin-left: 7%; 5 6 7 */

/* tabs */
.tab			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#999966; font-weight: bold; }
a.tab:link 		{ color: #999966; text-decoration: none; }
a.tab:visited	{ color: #999966; text-decoration: none; }
a.tab:active 	{ color: #999966; text-decoration: none; }
a.tab:hover 	{ background-color: #CCCC99; color: #333333; text-decoration: none; }

.tabDetails		{ font-size: 8pt; font-family: Trebuchet MS, Arial, sans-serif; color:#FFFFFF; }

.tab_off		{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#999966; font-weight: bold; border: 1px solid #CCCC99; border-bottom: none; }

.tab_d			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#FFFFFF; font-weight: bold; background-color: #990033; }
a.tab_d:link 	{ color: #FFFFFF; text-decoration: none; }
a.tab_d:visited	{ color: #FFFFFF; text-decoration: none; }
a.tab_d:active 	{ color: #FFFFFF; text-decoration: none; }
a.tab_d:hover 	{ background-color: #555555; color: #FFFFFF; text-decoration: none; }

.tab_c			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#FFFFFF; font-weight: bold; background-color: #CC6600; }
a.tab_c:link 	{ color: #FFFFFF; text-decoration: none; }
a.tab_c:visited	{ color: #FFFFFF; text-decoration: none; }
a.tab_c:active 	{ color: #FFFFFF; text-decoration: none; }
a.tab_c:hover 	{ background-color: #555555; color: #FFFFFF; text-decoration: none; }

.tab_p			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#FFFFFF; font-weight: bold; background-color: #92C100; }
a.tab_p:link 	{ color: #FFFFFF; text-decoration: none; }
a.tab_p:visited	{ color: #FFFFFF; text-decoration: none; }
a.tab_p:active 	{ color: #FFFFFF; text-decoration: none; }
a.tab_p:hover 	{ background-color: #555555; color: #FFFFFF; text-decoration: none; }
/* NAVIGATION */


/* Specifics */
.button				{ font-size: 8pt; font-family: Trebuchet MS, Arial, sans-serif; color:#999999; font-weight: bold; }
.button.link        { color: #FFFFFF; text-decoration: none; }
a.button:link       { color: #FFFFFF; text-decoration: none; }
a.button:visited    { color: #FFFFFF; text-decoration: none; }
a.button:active		{ color: #FFFFFF; text-decoration: none; }
a.button:hover	    { background-color: #FFFF00; color: #000000; text-decoration: none; }

.icon		    { font-size: 8pt; font-family: Trebuchet MS, Arial, sans-serif; color:#FFFFFF; background-color: #339999; line-height: 9pt; }
a.icon:link	  	{ color: #FFFFFF; text-decoration: none; }
a.icon:visited	{ color: #FFFFFF; text-decoration: none; }
a.icon:active 	{ color: #FFFFFF; text-decoration: none; }
a.icon:hover 	{ background-color: #CCFFCC; color: #000000; text-decoration: none; } /* 339999 996699 #E0E3D0*/


/* contents */
.colHeader			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; font-weight: bold; }
.colHeader.link 	{ color: #333333; text-decoration: none; }
a.colHeader:link 	{ color: #333333; text-decoration: none; }
a.colHeader:visited	{ color: #333333; text-decoration: none; }
a.colHeader:active 	{ color: #333333; text-decoration: none; }
a.colHeader:hover 	{ color: #CC6633; text-decoration: underline overline; }
					
.colDetails		{ font-size: 8pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; }
.legend			{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; }

/* attributes */
.sectionHeader	{ font-size: 9pt; font-family: Trebuchet MS, Arial, sans-serif; color:#FFFFFF; font-weight: bold; }
.section		{ font-size: 10pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; line-height:18pt; }
.sectionSubHeader	{ font-size: 8pt; font-family: Trebuchet MS, Arial, sans-serif; color:#000000; font-weight: bold; }

/* media */
.mediaText		{ font-size: 10pt; font-family: Trebuchet MS, Arial, sans-serif; color:#000099; }

/* POPUP */
.pop      { font-size: 8pt; font-family: Trebuchet MS, Arial, sans-serif; color:#000000; }
.popHeader     { font-size: 11pt; font-family: Trebuchet MS, Arial, sans-serif; color:#333333; font-weight: bold; }

/* SYSTEM */
.notice   { font-size: 8pt; font-family: Trebuchet MS, Arial, sans-serif; color:#996600; line-height:12pt; }
.warning  { font-size: 8pt; font-family: Trebuchet MS, Arial, sans-serif; color:#FF6600; line-height:12pt; }
.error         { font-size: 8pt; font-family: Trebuchet MS, Arial, sans-serif; color:#CC0000; line-height:12pt; }
</style>