<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Athena</display-name>
	
	  <filter>
                <filter-name>monitoring</filter-name>
                <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
        </filter>
        <filter-mapping>
                <filter-name>monitoring</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping>
        <listener>
                <listener-class>net.bull.javamelody.SessionListener</listener-class>
        </listener>
        
	<servlet>
		<servlet-name>context</servlet-name>
		<servlet-class>com.freshdirect.athena.AthenaContextLoaderServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>athena</servlet-name>
		<servlet-class>com.freshdirect.athena.AthenaServlet</servlet-class>
		<load-on-startup>25</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>dashboard</servlet-name>
		<servlet-class>com.freshdirect.athena.DashboardServlet</servlet-class>
		<load-on-startup>25</load-on-startup>
	</servlet>
	
	<servlet>
	    <servlet-name>athenaui</servlet-name>
	    <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
	    <init-param>
			<param-name>application</param-name>
			<param-value>com.freshdirect.athena.ui.AthenaAdminApplication</param-value>		
	    </init-param>
	    
	    <init-param>
			<param-name>productionMode</param-name>
	 		<param-value>true</param-value>
	    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/dashboard/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>athenaui</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
        <servlet-name>athenaui</servlet-name>
        <url-pattern>/VAADIN/*</url-pattern>
    </servlet-mapping>
    
  <servlet-mapping>
		<servlet-name>athena</servlet-name>
		<url-pattern>/api/*</url-pattern>
   </servlet-mapping>
	
	
	<locale-encoding-mapping-list>
		<locale-encoding-mapping>
			<locale>en</locale>
			<encoding>UTF-8</encoding>
		</locale-encoding-mapping>
	</locale-encoding-mapping-list>	
</web-app>
