{namespace quickshop}

/**
 * @param data some data
 */
{template .breadcrumbs}
{foreach $dataItem in $data}
{if $dataItem}
<li><label tabindex="0" for="{$dataItem.filteringUrlValue}"><span class="offscreen">delete</span>{$dataItem.name}<span class="offscreen">filter</span></label></li>
{/if}
{/foreach}
{/template}