{namespace quickshop}

/**
 * @param data some data
 */
{template .breadcrumbs}
{foreach $dataItem in $data}
{if $dataItem}
<li><span tabindex="0" aria-label="remove {$dataItem.name} filter" data-for="{$dataItem.filteringUrlValue}">{$dataItem.name}</span></li>
{/if}
{/foreach}
{/template}