{namespace quickshop}

/**
 * @param id item id
 * @param dataItem item data
 * @param filterName item data
 */
{template .checklistItem}	
{let $disabled:($dataItem.counter < 1) /}
  <span class="{if $disabled }noitem{/if}">
	  <input id="{$id}" type="checkbox" name="{$filterName}" value="{$dataItem.filteringUrlValue}" {($dataItem.selected) ? 'checked="checked"' : ''}>
  	<label for="{($disabled) ? '' : $id}"><span>{$dataItem.name}</span> ({$dataItem.counter})</label>
  </span>
{/template}
