{namespace quickshop}

/**
 */
{template .pastOrdersHelp autoescape="true"}
<div class="qs-empty-result">
<p class="selection"><b>No products meet your selected preferences.</b></p>
<p class="no-orders"><b>Reorder your favorite items faster.</b><br>
We remember everything you've ordered, exactly the way you like it, so you can shop from your past orders with ease.
<br>Place an order.
<br>Return to "Reorder."
<br>Shop in minutes.
</p>
</div>
{/template}

