{namespace quickshop}

/**
 * @param recipeName recipe name in the list header
 * @param recipeUrl recipe url in the list header
 */
{template .recipeHeader autoescape="true"}
{if $recipeName}
<p class="qs-recipe-name">"{$recipeName}"</p>
{/if}
{if $recipeUrl and $recipeUrl != 'null'}
<p class="qs-recipe-url"><a href="{$recipeUrl}" class="recipe">View recipe instructions</a></p>
{/if}
{/template}
