{namespace quickshop}

/**
 * @param title title in the list header
 */
{template .shopFromListHeader autoescape="true"}
<h2>{$title}</h2>
{/template}

/**
 * @param title title in the list header
 */
{template .shopFromListHeaderQS22 autoescape="true"}
<p>Viewing items from your:</p>
<h2>&ldquo;{$title}&rdquo; List</h2>
{/template}
