html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	background: transparent;
}

:focus {
	outline: 0;
}

body {
	background-color: #fff;
	color: #2a2a2a;
}

a {
	color: #2a2a2a;
	text-decoration: none;
}

h1 {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 16px;
	padding: 20px 20px 0 20px;
}

h3 {
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
	background-color: #f3eee6;
	padding: 10px 0 10px 20px;
	margin: 4px 0 10px 0;
}

h4 {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px solid #f3eee6;
	padding: 0px 0 6px 20px;
	margin: -2px 0 6px 0;
}

p {
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 11px;
	padding: 4px 0 4px 10px;
}

td {
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 11px;
	padding: 1px;
	
}

.nutrition td {

}

.warning {
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 11px;
	color: red;
	margin-top: 10px;
}

div {
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 11px;
}

#main {
	width: 320px;
	padding-bottom: 10px;
}

#header {
	width: 320px;
}

.productImage {
	padding: 0;
}

.notice {
	padding: 6px 0 0 20px;
}

.productIcons {
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
}

.icon {
	vertical-align: middle;
	padding: 10px 10px 10px 0px;
}

.origin {
	padding-left: 20px;
}

.detail {
	width: 320px;
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 10px;
}

.detail p {
	padding: 0 20px 0 20px;
}

.detail li {
	padding-right: 20px;
}

.nutrition {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

.title18 {
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 18px;
}

.text8 {
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 8px;
}

.text9 {
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 9px;
}

.iPhoneHide {
	display: none;
}

.frozen td {
	text-align: left;
	vertical-align: top;
}

.more {
	width: 320px;
	font-family: Helvetica, Arial;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 10px;
}

.more p {
	margin: 0 10px 0 10px;
}
